Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

Added more descriptive comments
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
Due: common

Make metrics non-optional
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/metrics.rs
Due: none

Minor updates
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
Due: none

Delete redundant methods
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
Due: common

wip just helpers
  charts/bridgetester.just
  charts/deploy.just
Due: none

test
  charts/ibc-test.just
  dev/values/rollup/ibc-bridge-test.yaml
  justfile
Due: none

Revert "test(bridge withdrawer): remove unit tests and add blackbox tests (#1…"
  Cargo.lock
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/ethereum.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mock_cometbft.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mock_sequencer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mod.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/main.rs
Due: none

fix(charts, bridge): fix ci test
  charts/deploy.just
  charts/evm-stack/Chart.yaml
  charts/evm-stack/values.yaml
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  dev/values/rollup/dev.yaml
Due: none

lint
  charts/evm-stack/Chart.lock
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
Due: none

some updates
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
Due: none

justfile changes
  .gitignore
  charts/bridgetester.just
  charts/deploy.just
  charts/ibc-test.just
  dev/kubetail.just
  justfile
Due: none

test
  charts/evm-bridge-withdrawer/values.yaml
Due: none

refactor: output private key into file instead of console
  crates/astria-cli/src/commands/sequencer.rs
Due: cli

new protos definitions for trusted block builder
  crates/astria-core/src/generated/astria.execution.v1alpha2.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.serde.rs
  proto/executionapis/astria/execution/v1alpha2/execution.proto
Due: none

update
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
Due: none

update name
  charts/evm-bridge-withdrawer/Chart.yaml
Due: none

remove another format
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
Due: none

fix smoke-cli
  charts/deploy.just
Due: none

fix?
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

try building charts before lint
  .github/workflows/lint.yml
Due: none

add a sleep
  charts/deploy.just
Due: none

fix(charts, bridge): fix ci test (#1310)
  .github/workflows/lint.yml
  charts/deploy.just
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/evm-stack/values.yaml
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  dev/values/rollup/dev.yaml
Due: none

chore(bridge-withdrawer): cleanup nonce handling (#1292)
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/metrics.rs
Due: none

feat(sequencer, core): Add fee reporting (#1305)
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/test_utils.rs
  crates/astria-core/src/lib.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/sequence/action.rs
  crates/astria-sequencer/src/state_ext.rs
Due: composer, sequencer, common

Migrate from vec to Bytes
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/test_utils.rs
  crates/astria-composer/tests/blackbox/grpc_collector.rs
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/reconstruct.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/astria.execution.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.bridge.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.rs
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-core/src/protocol/bridge/v1alpha1/mod.rs
  crates/astria-core/src/protocol/mod.rs
  crates/astria-core/src/protocol/test_utils.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  crates/astria-core/src/sequencerblock/v1alpha1/celestia.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer-relayer/tests/blackbox/helpers/mock_sequencer_server.rs
  crates/astria-sequencer-utils/src/blob_parser.rs
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/transaction/checks.rs
  tools/protobuf-compiler/src/main.rs
Due: conductor, composer, sequencer, sequencer-relayer, common

Implement Protobuf for tx actions
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-sequencer/src/utils.rs
Due: sequencer, common

ENG-670 Add instrumentation to bridge-withdrawer
  crates/astria-bridge-withdrawer/src/api.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
Due: none

ENG-670: Add CLI instrumentation
  crates/astria-cli/src/commands/bridge/collect.rs
  crates/astria-cli/src/commands/sequencer.rs
Due: cli

ENG-670: Add instrumentation
  crates/astria-conductor/src/celestia/fetch.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/verify.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/channel.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/sequencer/mod.rs
Due: conductor

removed commented out code
  crates/astria-sequencer/src/assets/state_ext.rs
Due: sequencer

fix after rebase
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
Due: sequencer

clippy
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

fix type in sequencer utils
  crates/astria-sequencer-utils/src/genesis_example.rs
Due: sequencer

refactor(sequencer): remove global state
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/address/mod.rs
  crates/astria-sequencer/src/address/state_ext.rs
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/assets/mod.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/ibc/ibc_relayer_change.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/test_utils.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

require that native asset always be trace prefixed in genesis
  crates/astria-core/src/sequencer.rs
Due: common

clippy
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
Due: sequencer

refactor(sequencer): remove global state (#1317)
  crates/astria-core/src/sequencer.rs
  crates/astria-sequencer-utils/src/genesis_example.rs
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/address/mod.rs
  crates/astria-sequencer/src/address/state_ext.rs
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/assets/mod.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/ibc/ibc_relayer_change.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/test_utils.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer, common

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  composer: any of: crates/astria-composer, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  astria-merkle: any of: crates/astria-merkle/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  common: any of: crates/astria-core/src/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
