Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: merkle
      name: astria-merkle
      paths:
        - crates/astria-merkle/**
    - component_id: common
      name: common
      paths:
        - crates/astria-core/src/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-core/src/generated/**'
  - 'crates/astria-build-info/**'
  - 'crates/astria-grpc-mock/**'
  - 'crates/astria-grpc-mock-test/**'
  - 'crates/astria-grpc-mock-test-codegen/**'
  - 'crates/astria-test-utils/**'

fix(withdrawer): support withdrawer address that differs from bridge address (#1262)
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/convert.rs
Due: none

save
  crates/astria-composer/local.env.example
  crates/astria-composer/src/collectors/grpc.rs
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/grpc.rs
  crates/astria-composer/src/metrics.rs
  sequencer-key.txt
Due: composer

chore(cli): remove unused rollup cli code (#1275)
  crates/astria-cli/src/cli/rollup.rs
Due: cli

chore(test): use a temporary file to not pollute the workspace (#1269)
  charts/deploy.just
Due: none

(core, sequencer)!: generate serde traits impls for all protocol protobufs (#1260)
  Cargo.lock
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-core/src/crypto.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.execution.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.protocol.accounts.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.protocol.asset.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.protocol.bridge.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria_vendored.penumbra.core.component.ibc.v1.serde.rs
  crates/astria-core/src/generated/astria_vendored.tendermint.abci.rs
  crates/astria-core/src/generated/astria_vendored.tendermint.abci.serde.rs
  crates/astria-core/src/generated/astria_vendored.tendermint.crypto.rs
  crates/astria-core/src/generated/astria_vendored.tendermint.crypto.serde.rs
  crates/astria-core/src/generated/astria_vendored.tendermint.types.rs
  crates/astria-core/src/generated/astria_vendored.tendermint.types.serde.rs
  crates/astria-core/src/generated/astria_vendored.tendermint.version.rs
  crates/astria-core/src/generated/astria_vendored.tendermint.version.serde.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/authority/component.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/test_utils.rs
  crates/astria-sequencer/src/utils.rs
  tools/protobuf-compiler/src/main.rs
Due: sequencer, cli, common

minor updates
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/primitive/v1/mod.rs
Due: conductor, common

Declutter state test
  crates/astria-conductor/src/executor/state.rs
Due: conductor

rework tests to use astria-cli-rs instead of astria-cli-go
  .github/workflows/docker-build.yml
  charts/deploy.just
  charts/ibc-test.just
  justfile
Due: none

update github workflow
  .github/workflows/docker-build.yml
Due: none

remove no longer necessary charts
  charts/bridge-test/.helmignore
  charts/bridge-test/Chart.yaml
  charts/bridge-test/files/scripts/test-ibc-transfer.sh
  charts/bridge-test/templates/_helpers.tpl
  charts/bridge-test/templates/configmap.yaml
  charts/bridge-test/templates/job.yaml
  charts/bridge-test/values.yaml
  dev/bridgetester.just
  dev/containerfiles/bridgetesterutility.Dockerfile
Due: none

add back snapshot tests for proto defined json memos
  crates/astria-core/src/protocol/memos/snapshots/astria_core__protocol__memos__v1alpha1__test__bridge_unlock_memo_snapshot.snap
  crates/astria-core/src/protocol/memos/snapshots/astria_core__protocol__memos__v1alpha1__test__ics20_transfer_deposit_memo_snapshot.snap
  crates/astria-core/src/protocol/memos/snapshots/astria_core__protocol__memos__v1alpha1__test__ics20_withdrawal_from_rollup_memo_snapshot.snap
  crates/astria-core/src/protocol/memos/v1alpha1.rs
Due: common

add comments on the memo protos
  crates/astria-core/src/generated/astria.protocol.memos.v1alpha1.rs
  proto/protocolapis/astria/protocol/memos/v1alpha1/types.proto
Due: none

clarify error message for unset deposit address
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

fix comment explaining mult factor
  charts/ibc-test.just
Due: none

refactor(core, proto)!: define bridge memos in proto (#1285)
  .github/workflows/docker-build.yml
  Cargo.lock
  charts/bridge-test/.helmignore
  charts/bridge-test/Chart.yaml
  charts/bridge-test/files/scripts/test-ibc-transfer.sh
  charts/bridge-test/templates/_helpers.tpl
  charts/bridge-test/templates/configmap.yaml
  charts/bridge-test/templates/job.yaml
  charts/bridge-test/values.yaml
  charts/deploy.just
  charts/ibc-test.just
  crates/astria-bridge-contracts/Cargo.toml
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-core/src/bridge.rs
  crates/astria-core/src/generated/astria.protocol.memos.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.memos.v1alpha1.serde.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/lib.rs
  crates/astria-core/src/protocol/memos/mod.rs
  crates/astria-core/src/protocol/memos/snapshots/astria_core__protocol__memos__v1alpha1__test__bridge_unlock_memo_snapshot.snap
  crates/astria-core/src/protocol/memos/snapshots/astria_core__protocol__memos__v1alpha1__test__ics20_transfer_deposit_memo_snapshot.snap
  crates/astria-core/src/protocol/memos/snapshots/astria_core__protocol__memos__v1alpha1__test__ics20_withdrawal_from_rollup_memo_snapshot.snap
  crates/astria-core/src/protocol/memos/v1alpha1.rs
  crates/astria-core/src/protocol/mod.rs
  crates/astria-core/src/serde.rs
  crates/astria-core/src/snapshots/astria_core__bridge__test__bridge_unlock_memo_snapshot.snap
  crates/astria-core/src/snapshots/astria_core__bridge__test__ics20_transfer_deposit_memo_snapshot.snap
  crates/astria-core/src/snapshots/astria_core__bridge__test__ics20_withdrawal_from_rollup_memo_snapshot.snap
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  dev/bridgetester.just
  dev/containerfiles/bridgetesterutility.Dockerfile
  justfile
  proto/protocolapis/astria/protocol/memos/v1alpha1/types.proto
Due: sequencer, common

Commit suggestion
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
Due: conductor

Apply Janis
  crates/astria-core/src/execution/v1alpha2/mod.rs
Due: common

release: version cuts for dusk-9
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: conductor, composer, sequencer, sequencer-relayer

fix(proto)!: Change execution API to use primitive RollupId (#1291)
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.serde.rs
  proto/executionapis/astria/execution/v1alpha2/execution.proto
Due: conductor, common

Update evm-rollup geth devTag
  charts/evm-rollup/values.yaml
Due: none

Update evm-rollup and evm-stack versions
  charts/evm-rollup/Chart.yaml
  charts/evm-stack/Chart.yaml
Due: none

Update chart lock
  charts/evm-stack/Chart.lock
Due: none

Update chart.lock
  charts/evm-stack/Chart.lock
Due: none

Apply suggestions
  charts/evm-rollup/Chart.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

chore(chart): Update EVM-Rollup Geth devTag (#1300)
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

bump app and chart versions
  charts/sequencer-faucet/Chart.yaml
  charts/sequencer-faucet/values.yaml
Due: none

remove ethers from astria core
  Cargo.lock
  crates/astria-core/Cargo.toml
Due: none

fix memo imports
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
Due: none

refactor(ci): execute ics20 test from statefulset celestia container
  .github/workflows/docker-build.yml
  charts/celestia-local/Chart.yaml
  charts/celestia-local/templates/statefulsets.yaml
  charts/deploy.just
  charts/ibc-test.just
  justfile
Due: none

chore: remove spurious entry in gitignore (#1276)
  .gitignore
Due: none

chore(core): remove ed25519_consensus from public API (#1277)
  crates/astria-core/src/crypto.rs
Due: common

add ignore annotations on tests that need anvil
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mod.rs
  crates/astria-bridge-withdrawer/tests/blackbox/main.rs
Due: none

clean up black test imports
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/ethereum.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mod.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
Due: none

release: version cuts for dusk-9 (#1299)
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: conductor, composer, sequencer, sequencer-relayer

release: cut bridge withdrawer release
  Cargo.lock
  crates/astria-bridge-withdrawer/Cargo.toml
Due: none

release: cut bridge withdrawer release (#1303)
  Cargo.lock
  crates/astria-bridge-withdrawer/Cargo.toml
Due: none

release(charts)!: update charts with new binary releases
  charts/composer/Chart.yaml
  charts/composer/values.yaml
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
  charts/evm-bridge-withdrawer/values.yaml
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/files/scripts/start-relayer.sh
  charts/sequencer-relayer/templates/_helpers.tpl
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer-relayer/values.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/values.yaml
Due: none

evm stack chart lint update
  charts/evm-stack/Chart.yaml
Due: none
