Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

move Auctioneer frontend to lib.rs, flatten business logic
  crates/astria-auctioneer/src/auctioneer/auction/allocation_rule.rs
  crates/astria-auctioneer/src/auctioneer/auction/factory.rs
  crates/astria-auctioneer/src/auctioneer/auction/mod.rs
  crates/astria-auctioneer/src/auctioneer/auction/worker.rs
  crates/astria-auctioneer/src/auctioneer/inner/mod.rs
  crates/astria-auctioneer/src/auctioneer/mod.rs
  crates/astria-auctioneer/src/lib.rs
Due: none

feat(core): add Protobuf for FilteredSequencerBlock
  crates/astria-core/src/sequencerblock/v1/block.rs
Due: common

remove debug info events
  crates/astria-sequencer/src/service/mempool/mod.rs
Due: sequencer

bump tokio-utils to get access to CancellationToken::run_until_cancelled
  Cargo.lock
  Cargo.toml
Due: none

remove metrics from factory, inner auctioneer to quiet clippy
  crates/astria-auctioneer/src/auctioneer/auction/factory.rs
  crates/astria-auctioneer/src/auctioneer/mod.rs
  crates/astria-auctioneer/src/lib.rs
Due: none

markdown
  crates/astria-auctioneer/CHANGELOG.md
  crates/astria-core/CHANGELOG.md
Due: none

fix import, doc on const
  crates/astria-sequencer/src/grpc/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer

add more thorough unit tests, revise existing ones
  crates/astria-sequencer/src/action_handler/impls/bridge_lock.rs
  crates/astria-sequencer/src/action_handler/impls/bridge_sudo_change.rs
  crates/astria-sequencer/src/action_handler/impls/bridge_unlock.rs
  crates/astria-sequencer/src/action_handler/impls/fee_asset_change.rs
  crates/astria-sequencer/src/action_handler/impls/fee_change.rs
  crates/astria-sequencer/src/action_handler/impls/ibc_relayer_change.rs
  crates/astria-sequencer/src/action_handler/impls/ibc_sudo_change.rs
  crates/astria-sequencer/src/action_handler/impls/ics20_withdrawal.rs
  crates/astria-sequencer/src/action_handler/impls/init_bridge_account.rs
  crates/astria-sequencer/src/action_handler/impls/sudo_address_change.rs
  crates/astria-sequencer/src/action_handler/impls/validator_update.rs
  crates/astria-sequencer/src/action_handler/mod.rs
  crates/astria-sequencer/src/benchmark_and_test_utils.rs
Due: sequencer

update changelog
  crates/astria-sequencer/CHANGELOG.md
Due: sequencer

update tag
  charts/sequencer/values.yaml
Due: none

fix feature-gating of upgrade module
  crates/astria-core/src/upgrades/v1/mod.rs
  crates/astria-core/src/upgrades/v1/upgrades.rs
Due: common

add new protobuf path to CI file list and buf check in justfile
  .github/workflows/reusable-run-checker.yml
  justfile
Due: none

remove timeouts, connect_timeouts for streaming endpoints
  crates/astria-auctioneer/src/streaming_utils.rs
Due: none

remove unused import
  crates/astria-auctioneer/src/streaming_utils.rs
Due: none

replace inline parsing enum; parse already in config
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

add unit tests for happy path
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

add error path test
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

move abci listen url def to config module
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

clippy
  crates/astria-sequencer/src/config.rs
Due: sequencer

rename abci_listener_url -> abci_listen_url
  charts/sequencer/templates/configmaps.yaml
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

unify currency pairs protobuf types
  crates/astria-core/src/generated/astria.protocol.transaction.v1.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.serde.rs
  crates/astria-core/src/protocol/transaction/v1/action/mod.rs
  proto/protocolapis/astria/protocol/transaction/v1/action.proto
Due: common

change uds to unix everywhere; unix is the scheme name
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

fix module name in changelog, turn comments into doc comments, tighten visibility, remove unused traits
  crates/astria-core/CHANGELOG.md
  crates/astria-sequencer/src/app/event_bus.rs
Due: sequencer

avoid passing state into builder_queue
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
Due: sequencer

remove is_init flag from event bus, relying on watch channel behavior; mark all event subscriptions as unchanged
  crates/astria-sequencer/src/app/event_bus.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer

replace manual formatting by Itertools::format
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/grpc/mod.rs
Due: sequencer

use recent formatting rules
  crates/astria-auctioneer/src/bid/mod.rs
  crates/astria-auctioneer/src/streaming_utils.rs
Due: none

fmt toml
  crates/astria-sequencer/Cargo.toml
Due: sequencer

reorder imports in auctioneer
  crates/astria-auctioneer/Cargo.toml
Due: none

bring back connect timeout
  Cargo.lock
  crates/astria-auctioneer/src/streaming_utils.rs
Due: none

import as _
  crates/astria-composer/tests/blackbox/executor.rs
Due: composer

requested changes
  Cargo.lock
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

refactor(sequencer): split run method to eliminate long-lived spans (#1898)
  crates/astria-sequencer/src/main.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

add unit test
  crates/astria-sequencer/src/bridge/query.rs
Due: sequencer

fix(sequencer): remove unwrap from app utilized mempool logic (#1772)
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
Due: sequencer

fix(conductor): remove panic source on shutdown
  crates/astria-conductor/CHANGELOG.md
  crates/astria-conductor/src/conductor/inner.rs
  crates/astria-conductor/src/conductor/mod.rs
Due: conductor

requested changes, fix test flakiness
  crates/astria-composer/tests/blackbox/executor.rs
Due: composer

requested changes
  crates/astria-composer/tests/blackbox/executor.rs
Due: composer

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  composer: any of: crates/astria-composer, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  astria-merkle: any of: crates/astria-merkle/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  common: any of: crates/astria-core/src/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
