Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

chore: CLI bridge smoke test (#1267)
  .github/workflows/docker-build.yml
Due: none

fix lint
  crates/astria-cli/src/commands/bridge/collect.rs
Due: cli

fix: cli commands in just file
  charts/deploy.just
Due: none

fix: cli commands in just file (#1268)
  charts/deploy.just
Due: none

feat(cli): add cmd to collect withdrawal events and submit as actions (#1261)
  .github/workflows/docker-build.yml
  Cargo.lock
  charts/deploy.just
  crates/astria-cli/Cargo.toml
  crates/astria-cli/src/cli/bridge.rs
  crates/astria-cli/src/cli/mod.rs
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/bridge/collect.rs
  crates/astria-cli/src/commands/bridge/mod.rs
  crates/astria-cli/src/commands/bridge/submit.rs
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/main.rs
Due: cli

chore(test): use a temporary name to not pollute the workspace
  charts/deploy.just
Due: none

move withdrawl action construction to contracts crate
  crates/astria-bridge-contracts/Cargo.toml
  crates/astria-bridge-contracts/src/lib.rs
Due: none

update CLI to use crate functionality
  Cargo.lock
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-cli/src/commands/bridge/collect.rs
Due: cli

remove extra spaces
  .github/workflows/docker-build.yml
Due: none

remove extra line
  .github/workflows/docker-build.yml
Due: none

allow getting sequencer or ics20 or both
  charts/deploy.just
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-cli/src/commands/bridge/collect.rs
Due: cli

fix bridge withdrawer
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/test_utils.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
Due: none

global values to reduce duplicative fields
  charts/composer/templates/_helpers.tpl
  charts/composer/templates/configmap.yaml
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
  charts/evm-faucet/templates/configmap.yaml
  charts/evm-faucet/templates/deployment.yaml
  charts/evm-faucet/templates/ingress.yaml
  charts/evm-faucet/templates/service.yaml
  charts/evm-faucet/values.yaml
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-rollup/templates/_helpers.tpl
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/templates/ingress.yaml
  charts/evm-rollup/templates/prometheusrule.yaml
  charts/evm-rollup/templates/service.yaml
  charts/evm-rollup/templates/servicemonitor.yaml
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/values.yaml
  dev/values/rollup/dev.yaml
Due: none

unbreak ics20 withdrawals
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/config.rs
Due: none

clippy
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-cli/src/commands/bridge/collect.rs
Due: cli

don't write key to file
  charts/deploy.just
Due: none

add cache for immutable check-tx results in sequencer
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/mempool.rs
  crates/astria-sequencer/src/metrics.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

clean up grpc connection
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
Due: none

clean up check for empty
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
Due: none

some comments, fixed error message
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
Due: none

escape evm address correctly for memo field
  charts/bridge-test/files/scripts/test-ibc-transfer.sh
Due: none

add todos
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
Due: none

feat(cli, bridge-withdrawer)!: share code between cli and service (#1270)
  Cargo.lock
  charts/deploy.just
  crates/astria-bridge-contracts/Cargo.toml
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/test_utils.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/config.rs
  crates/astria-cli/src/commands/bridge/collect.rs
Due: cli

generics for otel vals
  charts/composer/templates/_helpers.tpl
  charts/composer/templates/configmap.yaml
  charts/composer/templates/service.yaml
  charts/deploy.just
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
  charts/evm-faucet/Chart.yaml
  charts/evm-stack/values.yaml
  charts/sequencer-relayer/templates/configmaps.yaml
  dev/values/rollup/dev.yaml
Due: none

unfix toml
  crates/astria-bridge-withdrawer/Cargo.toml
Due: none

remove unused test code
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/lib.rs
Due: none

remove unnecessary lint
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/state.rs
Due: none

increase timeout for brige withdrawer
  .github/workflows/docker-build.yml
Due: none

fix charts
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
  dev/values/withdrawer/values.yaml
Due: none

fix(bridge-withdrawer)!: fix nonce handling (#1215)
  .github/workflows/docker-build.yml
  Cargo.lock
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
  charts/evm-bridge-withdrawer/values.yaml
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-bridge-withdrawer/local.env.example
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
  crates/astria-bridge-withdrawer/src/config.rs
  crates/astria-bridge-withdrawer/src/lib.rs
  crates/astria-bridge-withdrawer/src/metrics.rs
  dev/values/withdrawer/values.yaml
Due: none

chore(sequencer): add mempool benchmarks (#1238)
  Cargo.lock
  Cargo.toml
  crates/astria-merkle/Cargo.toml
  crates/astria-merkle/benches/benchmark.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/benches/benchmark.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/mempool/mod.rs
Due: sequencer, astria-merkle

chore(test): use a temporary file to not pollute the workspace (#1269)
  charts/deploy.just
Due: none

remove unneeded rollup.rs
  crates/astria-cli/src/cli/rollup.rs
Due: cli

chore: remove spurious entry in gitignore
  .gitignore
Due: none

chore(core): remove ed25519_consensus from public API
  crates/astria-core/src/crypto.rs
Due: common

fix chart maintainers list
  charts/evm-rollup/Chart.yaml
  charts/hermes/Chart.yaml
Due: none

chore(cli): remove unused rollup cli code (#1275)
  crates/astria-cli/src/cli/rollup.rs
Due: cli

version bump
  charts/evm-rollup/Chart.yaml
Due: none

better default for just command
  dev/bridgetester.just
Due: none

feature(charts): hermes chart fixes, bech32 updates, ibc bridge test (#1130)
  .github/workflows/docker-build.yml
  charts/README.md
  charts/bridge-test/.helmignore
  charts/bridge-test/Chart.yaml
  charts/bridge-test/files/scripts/test-ibc-transfer.sh
  charts/bridge-test/templates/_helpers.tpl
  charts/bridge-test/templates/configmap.yaml
  charts/bridge-test/templates/job.yaml
  charts/bridge-test/values.yaml
  charts/celestia-local/files/scripts/init-celestia-appd.sh
  charts/celestia-local/files/scripts/start-celestia-appd.sh
  charts/celestia-local/templates/configmap.yaml
  charts/celestia-local/templates/deployment.yaml
  charts/celestia-local/templates/ingress.yaml
  charts/celestia-local/templates/service.yaml
  charts/celestia-local/values.yaml
  charts/deploy.just
  charts/evm-rollup/Chart.yaml
  charts/hermes/Chart.yaml
  charts/hermes/files/config.toml
  charts/hermes/templates/deployment.yaml
  charts/hermes/values.yaml
  dev/bridgetester.just
  dev/containerfiles/bridgetesterutility.Dockerfile
  dev/values/hermes/local.yaml
  dev/values/rollup/ibc-bridge-test.yaml
  dev/values/validators/all.yml
  justfile
Due: none

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  composer: any of: crates/astria-composer, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  astria-merkle: any of: crates/astria-merkle/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  common: any of: crates/astria-core/src/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
