Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

flattened fee components inner into all the fee types
  Cargo.lock
  crates/astria-core/Cargo.toml
  crates/astria-core/src/protocol/fees/v1alpha1.rs
  crates/astria-core/src/protocol/genesis/v1alpha1.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
Due: common

fix charts
  charts/composer/templates/configmap.yaml
  crates/astria-composer/local.env.example
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

fix charts
  charts/composer/values.yaml
Due: none

fix charts pls
  charts/composer/values.yaml
Due: none

fix chartssss
  charts/composer/values.yaml
Due: none

changes to sequencer after previous commit
  crates/astria-core/src/protocol/genesis/snapshots/astria_core__protocol__genesis__v1alpha1__tests__genesis_state_is_unchanged.snap
  crates/astria-core/src/protocol/genesis/v1alpha1.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action_group/tests.rs
  crates/astria-sequencer-utils/src/genesis_example.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_genesis_snapshot.snap
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app/mempool.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_block_fees.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/fees/mod.rs
  crates/astria-sequencer/src/fees/state_ext.rs
  crates/astria-sequencer/src/fees/storage/values.rs
  crates/astria-sequencer/src/transaction/checks.rs
Due: sequencer, common

various minor updates to fee-handling
  crates/astria-core/src/protocol/fees/v1alpha1.rs
  crates/astria-core/src/protocol/genesis/v1alpha1.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_genesis_snapshot.snap
  crates/astria-sequencer/src/app/tests_block_fees.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/bridge/component.rs
  crates/astria-sequencer/src/bridge/mod.rs
  crates/astria-sequencer/src/fees/component.rs
  crates/astria-sequencer/src/fees/mod.rs
  crates/astria-sequencer/src/fees/state_ext.rs
  crates/astria-sequencer/src/fees/storage/keys.rs
  crates/astria-sequencer/src/fees/storage/mod.rs
  crates/astria-sequencer/src/fees/storage/snapshots/astria_sequencer__fees__storage__keys__tests__keys_should_not_change.snap
  crates/astria-sequencer/src/sequence/component.rs
  crates/astria-sequencer/src/sequence/state_ext.rs
  crates/astria-sequencer/src/sequence/storage/keys.rs
  crates/astria-sequencer/src/sequence/storage/mod.rs
  crates/astria-sequencer/src/sequence/storage/snapshots/astria_sequencer__sequence__storage__keys__tests__keys_should_not_change-2.snap
  crates/astria-sequencer/src/sequence/storage/snapshots/astria_sequencer__sequence__storage__keys__tests__keys_should_not_change.snap
  crates/astria-sequencer/src/test_utils.rs
  crates/astria-sequencer/src/transaction/checks.rs
Due: sequencer, common

avoid cloning when calculating base deposit fee
  crates/astria-sequencer/src/app/tests_block_fees.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/fees/mod.rs
Due: sequencer

set chain-id in client.toml
  charts/noble-local/files/init-noble.sh
Due: none

fix doc comments from @SuperFluffy
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action/group/mod.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
Due: composer, common

use derived PartialEq and Eq
  crates/astria-sequencer/src/mempool/transactions_container.rs
Due: sequencer

feat(sequencer)!: enforce block ordering by transaction group (#1618)
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action/group/mod.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action/group/tests.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action/mod.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_block_ordering.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
Due: composer, sequencer, common

address comments besides mock expectations
  Cargo.lock
  charts/composer/templates/configmap.yaml
  charts/composer/values.yaml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/local.env.example
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/tests/blackbox/helper/mock_abci_sequencer.rs
  crates/astria-composer/tests/blackbox/helper/mock_grpc_sequencer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

fix charts
  charts/composer/templates/configmap.yaml
Due: none

fix charts
  charts/composer/values.yaml
  charts/evm-stack/Chart.yaml
Due: none

chartssss
  charts/evm-stack/Chart.yaml
Due: none

use fork of pbjson
  Cargo.lock
  crates/astria-core/Cargo.toml
  crates/astria-core/src/primitive/v1/mod.rs
Due: common

remove base64 encoding from telemetry
  Cargo.lock
  crates/astria-conductor/src/celestia/convert.rs
  crates/astria-conductor/src/celestia/fetch.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/reconstruct.rs
  crates/astria-conductor/src/celestia/verify.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-sequencer-relayer/src/relayer/write/conversion.rs
  crates/astria-sequencer/src/accounts/mod.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/authority/storage/values.rs
  crates/astria-sequencer/src/bridge/storage/values/address_bytes.rs
  crates/astria-sequencer/src/bridge/storage/values/ibc_prefixed_denom.rs
  crates/astria-sequencer/src/bridge/storage/values/rollup_id.rs
  crates/astria-sequencer/src/grpc/storage/values/block_hash.rs
  crates/astria-sequencer/src/grpc/storage/values/rollup_ids.rs
  crates/astria-sequencer/src/grpc/storage/values/sequencer_block_header.rs
  crates/astria-sequencer/src/ibc/storage/values.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-telemetry/Cargo.toml
  crates/astria-telemetry/src/display.rs
Due: conductor, sequencer, sequencer-relayer, common

fix kubetail service name
  dev/kubetail.just
Due: none

add helper command to build
  charts/ibc-test.just
Due: none

add tracing, missing envar
  charts/noble-local/files/start-noble.sh
Due: none

expand config comment and undo accidental move of test
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/config.rs
Due: sequencer-relayer

fix private key
  charts/noble-local/containerfiles/noble.Dockerfile
  dev/values/hermes/local.yaml
  dev/values/rollup/ibc-bridge-test.yaml
Due: none

wip, working
  charts/deploy.just
  charts/noble-local/files/init-noble.sh
  dev/values/hermes/local.yaml
  dev/values/rollup/dev.yaml
  dev/values/validators/all.yml
Due: none

requested changes
  crates/astria-core/src/generated/astria.protocol.fees.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.fees.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.serde.rs
  crates/astria-core/src/protocol/fees/v1alpha1.rs
  crates/astria-core/src/protocol/genesis/snapshots/astria_core__protocol__genesis__v1alpha1__tests__genesis_state_is_unchanged.snap
  crates/astria-core/src/protocol/genesis/v1alpha1.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action_group/tests.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer-utils/src/genesis_example.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app/mempool.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/fees/mod.rs
  crates/astria-sequencer/src/fees/state_ext.rs
  crates/astria-sequencer/src/fees/storage/values.rs
  crates/astria-sequencer/src/fees/tests_block_fees.rs
  crates/astria-sequencer/src/test_utils.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/src/transaction/query.rs
  proto/protocolapis/astria/protocol/fees/v1alpha1/types.proto
  proto/protocolapis/astria/protocol/genesis/v1alpha1/types.proto
  proto/protocolapis/astria/protocol/transactions/v1alpha1/action.proto
Due: sequencer, common

small changes
  crates/astria-sequencer/src/fees/tests_block_fees.rs
Due: sequencer

various renames
  crates/astria-sequencer/src/fees/mod.rs
  crates/astria-sequencer/src/fees/state_ext.rs
  crates/astria-sequencer/src/fees/tests.rs
Due: sequencer

implement sign and verify commands
  crates/astria-cli/src/sequencer/threshold/dkg.rs
  crates/astria-cli/src/sequencer/threshold/mod.rs
  crates/astria-cli/src/sequencer/threshold/sign.rs
  crates/astria-cli/src/sequencer/threshold/verify.rs
Due: cli

cargo.toml
  crates/astria-cli/Cargo.toml
Due: cli

code/ux improvements and add readme
  crates/astria-cli/src/sequencer/threshold/README.md
  crates/astria-cli/src/sequencer/threshold/dkg.rs
  crates/astria-cli/src/sequencer/threshold/mod.rs
  crates/astria-cli/src/sequencer/threshold/sign.rs
Due: cli

fmt
  crates/astria-cli/Cargo.toml
  crates/astria-cli/src/sequencer/threshold/README.md
  crates/astria-cli/src/sequencer/threshold/dkg.rs
  crates/astria-cli/src/sequencer/threshold/verify.rs
Due: cli

clippy
  crates/astria-cli/src/sequencer/threshold/README.md
  crates/astria-cli/src/sequencer/threshold/dkg.rs
  crates/astria-cli/src/sequencer/threshold/mod.rs
  crates/astria-cli/src/sequencer/threshold/sign.rs
  crates/astria-cli/src/sequencer/threshold/verify.rs
Due: cli

hermes consistent pod name
  charts/deploy.just
  charts/hermes/templates/statefulsets.yaml
Due: none

rollup apps monitoring and alerts
  charts/composer/Chart.yaml
  charts/composer/templates/_helpers.tpl
  charts/composer/templates/deployment.yaml
  charts/composer/templates/service.yaml
  charts/composer/templates/servicemonitor.yaml
  charts/composer/values.yaml
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-bridge-withdrawer/templates/_helpers.tpl
  charts/evm-bridge-withdrawer/templates/prometheusrule.yaml
  charts/evm-bridge-withdrawer/templates/service.yaml
  charts/evm-bridge-withdrawer/templates/servicemonitor.yaml
  charts/evm-bridge-withdrawer/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

bump chart version
  charts/evm-rollup/Chart.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

fix(charts): rollup application monitoring (#1601)
  charts/composer/Chart.yaml
  charts/composer/templates/_helpers.tpl
  charts/composer/templates/deployment.yaml
  charts/composer/templates/service.yaml
  charts/composer/templates/servicemonitor.yaml
  charts/composer/values.yaml
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-bridge-withdrawer/templates/_helpers.tpl
  charts/evm-bridge-withdrawer/templates/prometheusrule.yaml
  charts/evm-bridge-withdrawer/templates/service.yaml
  charts/evm-bridge-withdrawer/templates/servicemonitor.yaml
  charts/evm-bridge-withdrawer/values.yaml
  charts/evm-rollup/Chart.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

working e2e
  charts/deploy.just
Due: none

fix charts
  charts/composer/Chart.yaml
Due: none

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  composer: any of: crates/astria-composer, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  astria-merkle: any of: crates/astria-merkle/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  common: any of: crates/astria-core/src/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
