Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: merkle
      name: astria-merkle
      paths:
        - crates/astria-merkle/**
    - component_id: common
      name: common
      paths:
        - crates/astria-core/src/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-core/src/generated/**'
  - 'crates/astria-build-info/**'
  - 'crates/astria-grpc-mock/**'
  - 'crates/astria-grpc-mock-test/**'
  - 'crates/astria-grpc-mock-test-codegen/**'
  - 'crates/astria-test-utils/**'

(core, sequencer)!: generate serde traits impls for all protocol protobufs (#1260)
  Cargo.lock
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-core/src/crypto.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.execution.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.protocol.accounts.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.protocol.asset.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.protocol.bridge.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria_vendored.penumbra.core.component.ibc.v1.serde.rs
  crates/astria-core/src/generated/astria_vendored.tendermint.abci.rs
  crates/astria-core/src/generated/astria_vendored.tendermint.abci.serde.rs
  crates/astria-core/src/generated/astria_vendored.tendermint.crypto.rs
  crates/astria-core/src/generated/astria_vendored.tendermint.crypto.serde.rs
  crates/astria-core/src/generated/astria_vendored.tendermint.types.rs
  crates/astria-core/src/generated/astria_vendored.tendermint.types.serde.rs
  crates/astria-core/src/generated/astria_vendored.tendermint.version.rs
  crates/astria-core/src/generated/astria_vendored.tendermint.version.serde.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/authority/component.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/test_utils.rs
  crates/astria-sequencer/src/utils.rs
  tools/protobuf-compiler/src/main.rs
Due: sequencer, cli, common

black box test works
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/state.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/ethereum.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mock_cometbft.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mod.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/main.rs
Due: none

native erc20 tests
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/ethereum.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mock_cometbft.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mock_sequencer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mod.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/main.rs
Due: none

fix tests
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/ethereum.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mod.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/main.rs
Due: none

ibc timeout nonsense
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/ethereum.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mock_cometbft.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mod.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/main.rs
Due: none

updates to hermes chart and ibc test
  charts/bridge-test/templates/job.yaml
  charts/bridge-test/values.yaml
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-rollup/values.yaml
  dev/containerfiles/bridgetesterutility.Dockerfile
  dev/values/rollup/ibc-bridge-test.yaml
Due: none

fix(withdrawer): support withdrawer address that differs from bridge address (#1262)
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/convert.rs
Due: none

erc20 tests
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/ethereum.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mod.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/main.rs
Due: none

remove submitter tests
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
Due: none

tests work
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/ethereum.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/main.rs
Due: none

make the crab happy
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/ethereum.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
Due: none

cleanup
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mod.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/main.rs
Due: none

update chart stuff
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
  charts/evm-bridge-withdrawer/values.yaml
Due: none

fix weird merge conflict remnant
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
Due: none

clean up comment
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
Due: none

less noisy logs?
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
Due: none

remove unit tests
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
Due: none

make the crab happy
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/metrics.rs
Due: none

Add conductor chain ID validation
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/tests/blackbox/firm_only.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
  crates/astria-conductor/tests/blackbox/soft_only.rs
Due: conductor

fix(proto)!: ics20 withdrawal return address is string
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
  crates/astria-bridge-withdrawer/src/lib.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.serde.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Due: sequencer, common

Fix typo
  crates/astria-conductor/local.env.example
Due: conductor

fix(core, bridge, sequencer)!: separate rollup and sequencer return addresses
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
  crates/astria-bridge-withdrawer/src/lib.rs
  crates/astria-core/src/bridge.rs
  crates/astria-core/src/serde.rs
  crates/astria-core/src/snapshots/astria_core__bridge__test__bridge_unlock_memo_snapshot.snap
  crates/astria-core/src/snapshots/astria_core__bridge__test__ics20_withdrawal_from_rollup_memo_snapshot.snap
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer, common

use packet sender as bridge address for refunds of rollup initialized ics20 withdrawals
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
  crates/astria-core/src/bridge.rs
  crates/astria-core/src/serde.rs
  crates/astria-core/src/snapshots/astria_core__bridge__test__ics20_withdrawal_from_rollup_memo_snapshot.snap
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer, common

address comments
  charts/sequencer/templates/configmaps.yaml
  crates/astria-sequencer/justfile
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/vote_extension.rs
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/grpc/slinky.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

fix(core, bridge, sequencer)!: dismabiguate return addresses (#1266)
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
  crates/astria-bridge-withdrawer/src/lib.rs
  crates/astria-core/src/bridge.rs
  crates/astria-core/src/snapshots/astria_core__bridge__test__bridge_unlock_memo_snapshot.snap
  crates/astria-core/src/snapshots/astria_core__bridge__test__ics20_withdrawal_from_rollup_memo_snapshot.snap
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer, common

feat(cli): add bridge cmd to collect withdrawal events
  Cargo.lock
  crates/astria-cli/Cargo.toml
  crates/astria-cli/src/cli/bridge.rs
  crates/astria-cli/src/cli/mod.rs
  crates/astria-cli/src/commands/bridge.rs
  crates/astria-cli/src/commands/mod.rs
Due: cli

clippy and cleanup
  crates/astria-cli/src/commands/bridge.rs
Due: cli

set bridge address in withdrawal actions
  crates/astria-cli/src/commands/bridge.rs
Due: cli

add comments on args, give better arg names, add arg to stream from<>to
  crates/astria-cli/src/commands/bridge.rs
Due: cli

fix bad compile
  crates/astria-cli/src/commands/bridge.rs
Due: cli

always write already collected actions to file
  crates/astria-cli/src/commands/bridge.rs
Due: cli

use correct return_address, updated ics20 memo
  crates/astria-cli/src/commands/bridge.rs
Due: cli

feat(cli): add bridge cmd to submit withdrawal events
  crates/astria-cli/src/cli/bridge.rs
  crates/astria-cli/src/cli/mod.rs
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/bridge/collect.rs
  crates/astria-cli/src/commands/bridge/mod.rs
  crates/astria-cli/src/commands/bridge/submit.rs
Due: cli

fmt
  crates/astria-cli/src/cli/sequencer.rs
Due: cli

feat(cli): add bridge cmd to submit withdrawal events (#1263)
  crates/astria-cli/src/cli/bridge.rs
  crates/astria-cli/src/cli/mod.rs
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/bridge/collect.rs
  crates/astria-cli/src/commands/bridge/mod.rs
  crates/astria-cli/src/commands/bridge/submit.rs
Due: cli

add tracing output
  Cargo.lock
  crates/astria-cli/Cargo.toml
  crates/astria-cli/src/commands/bridge/collect.rs
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/main.rs
Due: cli

add better instrumentation to withdrawal submission
  crates/astria-cli/src/commands/bridge/submit.rs
Due: cli

fix compile
  crates/astria-cli/src/commands/bridge/submit.rs
Due: cli

add smoke test
  .github/workflows/docker-build.yml
Due: none
