Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: merkle
      name: astria-merkle
      paths:
        - crates/astria-merkle/**
    - component_id: common
      name: common
      paths:
        - crates/astria-core/src/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-core/src/generated/**'
  - 'crates/astria-build-info/**'
  - 'crates/astria-grpc-mock/**'
  - 'crates/astria-grpc-mock-test/**'
  - 'crates/astria-grpc-mock-test-codegen/**'
  - 'crates/astria-test-utils/**'

chore(charts): update to 1.0 (#1758)
  charts/composer/Chart.yaml
  charts/composer/values.yaml
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
  charts/evm-bridge-withdrawer/values.yaml
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/values.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/values.yaml
Due: none

requested changes and various improvements
  crates/astria-grpc-mock/README.md
  crates/astria-grpc-mock/src/lib.rs
  crates/astria-grpc-mock/src/matcher.rs
  crates/astria-grpc-mock/src/mock.rs
  crates/astria-grpc-mock/src/mock_server.rs
  crates/astria-grpc-mock/src/response.rs
Due: none

move action_handler to its own component
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/mod.rs
  crates/astria-sequencer/src/action_handler/actions.rs
  crates/astria-sequencer/src/action_handler/mod.rs
  crates/astria-sequencer/src/action_handler/tests/bridge_sudo_change.rs
  crates/astria-sequencer/src/action_handler/tests/bridge_unlock.rs
  crates/astria-sequencer/src/action_handler/tests/fee_change.rs
  crates/astria-sequencer/src/action_handler/tests/ics20_withdrawal.rs
  crates/astria-sequencer/src/action_handler/tests/mod.rs
  crates/astria-sequencer/src/action_handler/transaction.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/authority/mod.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/bridge/mod.rs
  crates/astria-sequencer/src/fees/action.rs
  crates/astria-sequencer/src/fees/mod.rs
  crates/astria-sequencer/src/fees/tests.rs
  crates/astria-sequencer/src/ibc/ibc_relayer_change.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/mod.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/rollup_data/action.rs
  crates/astria-sequencer/src/rollup_data/mod.rs
  crates/astria-sequencer/src/service/mempool/mod.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

update changelog
  crates/astria-sequencer/CHANGELOG.md
Due: sequencer

rustfmt
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/fees/tests.rs
  crates/astria-sequencer/src/service/mempool/mod.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

add doc comment for clarity on module purpose
  crates/astria-sequencer/src/action_handler/mod.rs
Due: sequencer

reflect PR name change in changelog
  crates/astria-sequencer/CHANGELOG.md
Due: sequencer

fix(bridge-withdrawer, cli)!: allow non 18 base contract decimals
  charts/deploy.just
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-withdrawer/CHANGELOG.md
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/config.rs
  crates/astria-cli/src/bridge/collect.rs
Due: cli

accidental add
  charts/deploy.just
Due: none

small updates
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
  charts/evm-bridge-withdrawer/values.yaml
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-withdrawer/local.env.example
  crates/astria-cli/src/bridge/collect.rs
Due: cli

update test
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
Due: none

fix smoke-cli
  charts/deploy.just
Due: none

add to actual dev
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
Due: none

fixes
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/ibc-test.just
Due: none

add instrumentation
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/address/state_ext.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/state_ext.rs
  crates/astria-sequencer/src/assets/query.rs
  crates/astria-sequencer/src/assets/state_ext.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/authority/component.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/fees/action.rs
  crates/astria-sequencer/src/fees/component.rs
  crates/astria-sequencer/src/fees/query.rs
  crates/astria-sequencer/src/fees/state_ext.rs
  crates/astria-sequencer/src/grpc/state_ext.rs
  crates/astria-sequencer/src/ibc/component.rs
  crates/astria-sequencer/src/ibc/host_interface.rs
  crates/astria-sequencer/src/ibc/ibc_relayer_change.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/mempool/mempool_state.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mempool/mod.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

fix and cleanup unit tests
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app/mempool.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_block_ordering.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
Due: sequencer

chart and clippy
  charts/sequencer/Chart.yaml
  crates/astria-core/src/slinky/types.rs
Due: common

fix smoke tests
  charts/sequencer/values.yaml
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/grpc/slinky.rs
Due: sequencer

fmt
  crates/astria-sequencer/src/app/mod.rs
Due: sequencer

update dev values
  dev/values/validators/all-without-native.yml
  proto/protocolapis/astria/protocol/genesis/v1alpha1/types.proto
Due: none

protos
  crates/astria-core/src/generated/astria.protocol.genesis.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1alpha1.serde.rs
Due: none

fix(bridge-withdrawer, cli)!: use decimals from erc20 contract
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
  charts/evm-bridge-withdrawer/values.yaml
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-withdrawer/local.env.example
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/config.rs
  crates/astria-cli/src/bridge/collect.rs
  dev/values/rollup/dev.yaml
  dev/values/rollup/ibc-bridge-test.yaml
Due: cli

format + changelogs
  crates/astria-bridge-contracts/CHANGELOG.md
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-withdrawer/CHANGELOG.md
  crates/astria-cli/CHANGELOG.md
Due: cli

rust test compile
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
Due: none

chore: update codeowners (#1756)
  CODEOWNERS
Due: none

lints
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  crates/astria-bridge-contracts/CHANGELOG.md
Due: none

make parked nonces replaceable
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
Due: sequencer

update changelog and make tests uniform
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/mempool/transactions_container.rs
Due: sequencer

add removal tracking logic
  crates/astria-sequencer/app-genesis-state.json
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/metrics.rs
  crates/astria-sequencer/src/service/mempool/mod.rs
Due: sequencer

add removal tracking logic
  crates/astria-core/src/protocol/abci.rs
Due: common

remove extra file
  crates/astria-sequencer/app-genesis-state.json
Due: sequencer

nits
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/mempool/mod.rs
Due: sequencer

update test address
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-contracts/src/snapshots/astria_bridge_contracts__tests__memo_snapshot.snap
Due: none

chore(sequencer): separate test utils from shared benchmark and test utils (#1613)
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app/benchmark_and_test_utils.rs
  crates/astria-sequencer/src/app/benchmarks.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app/mempool.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_block_fees.rs
  crates/astria-sequencer/src/app/tests_block_ordering.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/benchmark_and_test_utils.rs
  crates/astria-sequencer/src/benchmark_utils.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/fees/state_ext.rs
  crates/astria-sequencer/src/fees/tests.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/grpc/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/mempool/mempool_state.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/service/mempool/tests.rs
  crates/astria-sequencer/src/test_utils.rs
  crates/astria-sequencer/src/transaction/checks.rs
Due: sequencer

verify vote extensions in validate_proposal
  crates/astria-sequencer/justfile
  crates/astria-sequencer/src/app/vote_extension.rs
Due: sequencer

update verify_vote_extension to not read from state
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/vote_extension.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

clean up conductor chain id tests
  crates/astria-conductor/tests/blackbox/firm_only.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-conductor/tests/blackbox/soft_only.rs
Due: conductor

modify consensus_params in justfile, not genesis parser
  crates/astria-sequencer-utils/src/genesis_parser.rs
  crates/astria-sequencer/justfile
Due: sequencer

format imports
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
Due: conductor

call decimals by default, fallback to 18 otherwise
  Cargo.lock
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
  charts/evm-bridge-withdrawer/values.yaml
  charts/evm-stack/Chart.yaml
  crates/astria-bridge-contracts/CHANGELOG.md
  crates/astria-bridge-contracts/Cargo.toml
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-withdrawer/CHANGELOG.md
  crates/astria-bridge-withdrawer/local.env.example
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/config.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-cli/CHANGELOG.md
  crates/astria-cli/src/bridge/collect.rs
  dev/values/rollup/dev.yaml
  dev/values/rollup/ibc-bridge-test.yaml
Due: cli
