Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

cargo.lock?
  Cargo.lock
Due: none

clippy
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/mod.rs
Due: none

further update to relayer doc
  specs/sequencer-relayer.md
Due: none

update metric_name macro to handle a collection of names
  crates/astria-bridge-withdrawer/src/metrics_init.rs
  crates/astria-composer/src/metrics_init.rs
  crates/astria-conductor/src/metrics_init.rs
  crates/astria-sequencer-relayer/src/metrics_init.rs
  crates/astria-sequencer/src/metrics_init.rs
  crates/astria-telemetry/src/macros.rs
Due: conductor, composer, sequencer, sequencer-relayer, common

fix clippy
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/tests.rs
Due: none

unit tests, fix address deser
  crates/astria-core/src/primitive/v1/asset.rs
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-core/src/serde.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer, common

remove commented out code
  crates/astria-core/src/primitive/v1/mod.rs
Due: common

feat(withdrawer): bridged ERC20 token withdrawals (#1149)
  .gitattributes
  .github/workflows/test.yml
  .gitmodules
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-bridge-withdrawer/build.rs
  crates/astria-bridge-withdrawer/ethereum/out/AstriaBridgeableERC20.sol/AstriaBridgeableERC20.json
  crates/astria-bridge-withdrawer/ethereum/out/AstriaMintableERC20.sol/AstriaMintableERC20.json
  crates/astria-bridge-withdrawer/ethereum/out/AstriaWithdrawer.sol/AstriaWithdrawer.json
  crates/astria-bridge-withdrawer/ethereum/out/IAstriaWithdrawer.sol/IAstriaWithdrawer.json
  crates/astria-bridge-withdrawer/ethereum/src/AstriaBridgeableERC20.sol
  crates/astria-bridge-withdrawer/ethereum/src/AstriaWithdrawer.sol
  crates/astria-bridge-withdrawer/ethereum/src/IAstriaWithdrawer.sol
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/astria_withdrawer.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/generated/astria_bridgeable_erc20.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/generated/astria_withdrawer.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/generated/astria_withdrawer_interface.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/generated/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/test_utils.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
Due: none

address comments
  crates/astria-bridge-withdrawer/priv.key
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Due: common

add comment to protos
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Due: none

fix sequencer
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/component.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/transaction/checks.rs
Due: sequencer

remove invalid tests
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/tests.rs
Due: none

provide address method on signed tx, stricter builder for transaction params
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/mod.rs
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-core/src/protocol/test_utils.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/mempool.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: composer, sequencer, cli, common

clippy
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
Due: common

replace contracts with astria-bridge-contracts submodule
  .gitmodules
  crates/astria-bridge-withdrawer/build.rs
  crates/astria-bridge-withdrawer/ethereum/.gitignore
  crates/astria-bridge-withdrawer/ethereum/README.md
  crates/astria-bridge-withdrawer/ethereum/foundry.toml
  crates/astria-bridge-withdrawer/ethereum/local.env.example
  crates/astria-bridge-withdrawer/ethereum/out/AstriaBridgeableERC20.sol/AstriaBridgeableERC20.json
  crates/astria-bridge-withdrawer/ethereum/out/AstriaMintableERC20.sol/AstriaMintableERC20.json
  crates/astria-bridge-withdrawer/ethereum/out/AstriaWithdrawer.sol/AstriaWithdrawer.json
  crates/astria-bridge-withdrawer/ethereum/out/IAstriaWithdrawer.sol/IAstriaWithdrawer.json
  crates/astria-bridge-withdrawer/ethereum/script/AstriaWithdrawer.s.sol
  crates/astria-bridge-withdrawer/ethereum/src/AstriaBridgeableERC20.sol
  crates/astria-bridge-withdrawer/ethereum/src/AstriaWithdrawer.sol
  crates/astria-bridge-withdrawer/ethereum/src/IAstriaWithdrawer.sol
Due: none

Update crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
Due: none

update .gitmodules, remove unneeded deps
  .gitmodules
Due: none

update workflow to use submodules
  .github/workflows/test.yml
Due: none

fix gitmodules
  .gitmodules
Due: none

fmt
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/generated/astria_bridgeable_erc20.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/generated/astria_withdrawer.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/generated/astria_withdrawer_interface.rs
Due: none

addr cleanup in withdrawer
  crates/astria-bridge-withdrawer/local.env.example
  crates/astria-bridge-withdrawer/src/lib.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/tests.rs
Due: none

Added chain_id check on composer startup. Formatted.
  crates/astria-composer/tests/blackbox/helper/mock_sequencer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

minor syntax changes, added comments for test cases
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/tests/blackbox/helper/mock_sequencer.rs
Due: composer

merge upstream changes
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/generated/astria_bridgeable_erc20.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/generated/astria_withdrawer.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/generated/astria_withdrawer_interface.rs
Due: none

address pr comments
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/tests.rs
Due: none

remove comment from config
  crates/astria-bridge-withdrawer/src/config.rs
Due: none

cargo fmt the generated contracts
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/generated/astria_bridgeable_erc20.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/generated/astria_withdrawer.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/generated/astria_withdrawer_interface.rs
Due: none

sync logic
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/generated/astria_bridgeable_erc20.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/generated/astria_withdrawer.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/generated/astria_withdrawer_interface.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/mod.rs
Due: none

small fixes
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/mod.rs
Due: none

break apart sync logic
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/mod.rs
Due: none

get next nonce from sync and add docs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/mod.rs
Due: none

use sync to fetch nonce
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/mod.rs
Due: none

feat(bridge-withdrawer): bridge withdrawer startup (#1160)
  crates/astria-bridge-withdrawer/local.env.example
  crates/astria-bridge-withdrawer/src/config.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/tests.rs
Due: none

wip bridge protocol doc
  specs/bridge.md
Due: none

update chart for genesis change
  charts/sequencer/Chart.yaml
  charts/sequencer/files/cometbft/config/genesis.json
Due: none

feat(sequencer): implement refund to rollup logic upon ics20 transfer refund (#1161)
  crates/astria-bridge-withdrawer/local.env.example
  crates/astria-bridge-withdrawer/src/config.rs
  crates/astria-bridge-withdrawer/src/lib.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/tests.rs
  crates/astria-core/src/bridge.rs
  crates/astria-core/src/lib.rs
  crates/astria-core/src/primitive/v1/asset.rs
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-core/src/serde.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer, common

feat(sequencer)!: implement bridge sudo and withdrawer addresses (#1142)
  charts/sequencer/Chart.yaml
  charts/sequencer/files/cometbft/config/genesis.json
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/tests.rs
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_genesis_snapshot.snap
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/component.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/bridge/mod.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/genesis.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/test-genesis-app-state.json
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Due: sequencer, cli, common

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  composer: any of: crates/astria-composer, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  astria-merkle: any of: crates/astria-merkle/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  common: any of: crates/astria-core/src/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
