Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

bump charts version
  charts/celestia-node/Chart.yaml
  charts/evm-rollup/Chart.lock
  charts/evm-rollup/Chart.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

test sharing auth token via token service
  charts/celestia-node/files/scripts/start-node.sh
  charts/celestia-node/templates/statefulset.yaml
  charts/celestia-node/values.yaml
Due: none

add node condition
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/values.yaml
Due: none

add script output to configmap
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/templates/statefulsets.yaml
Due: none

avoid potential deadlock
  crates/astria-sequencer/src/mempool/mod.rs
Due: sequencer

local deployment works
  charts/evm-rollup/files/scripts/start-conductor.sh
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  dev/values/rollup/dev.yaml
Due: none

use rollup name instead of namespaces for conductor
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/templates/statefulsets.yaml
Due: none

Update crates/astria-sequencer/src/app/action_handler.rs
  crates/astria-sequencer/src/app/action_handler.rs
Due: sequencer

fix yaml key
  dev/values/rollup/ibc-bridge-test.yaml
Due: none

builds but panics
  Cargo.lock
  Cargo.toml
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/app/mod.rs
  dev/values/validators/single.yml
  justfile
Due: sequencer

set block timestamp in begin_block
  crates/astria-sequencer/src/app/mod.rs
  dev/values/validators/single.yml
Due: sequencer

Small changes to `execute_ics20_transfer()`
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

fix expected withdraw amount in tests
  charts/ibc-test.just
Due: none

fmt and lint
  crates/astria-sequencer/src/app/mod.rs
  dev/values/validators/single.yml
Due: sequencer

toml formatting
  Cargo.lock
  Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: sequencer

use new sequencer image
  dev/values/validators/single.yml
Due: none

Apply suggestions from code review
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/src/executor/mod.rs
Due: composer

Small updates
  crates/astria-composer/src/executor/mod.rs
Due: composer

change reqwest for isahc in relayer blackbox tests
  Cargo.lock
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/tests/blackbox/helpers/test_sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Due: sequencer-relayer

Chore: Upgrade celestia-node to v0.14.1 (#1360)
  charts/celestia-local/Chart.yaml
  charts/celestia-local/values.yaml
  charts/celestia-node/Chart.yaml
  charts/celestia-node/values.yaml
  charts/evm-rollup/Chart.lock
  charts/evm-rollup/Chart.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

increased timeout on relayer blackbox test
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Due: sequencer-relayer

Add support for celestia-node v0.15.0
  crates/astria-conductor/src/celestia/fetch.rs
Due: conductor

Add bridge-withdrawer instrumentation
  crates/astria-bridge-withdrawer/src/api.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
Due: none

One more instrument macro
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
Due: none

Add conductor instrumentation
  crates/astria-conductor/src/celestia/fetch.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/verify.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/channel.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/sequencer/mod.rs
Due: conductor

Add instrumentation to non-async w/ logging, minor span clarifications
  crates/astria-conductor/src/celestia/mod.rs
Due: conductor

span clarification
  crates/astria-conductor/src/celestia/mod.rs
Due: conductor

Refactor `try_from_block_info_and_data`
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
Due: common

clarify naming
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
Due: common

fix(conductor): update for celestia-node v0.15.0 (#1367)
  crates/astria-conductor/src/celestia/fetch.rs
Due: conductor

format
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  dev/values/rollup/dev.yaml
Due: conductor

fix(ci): enable bridge withdrawer building with tag
  .github/workflows/build.yml
  .github/workflows/docker-build.yml
  .github/workflows/release.yml
  .github/workflows/reusable-docker-build.yml
Due: none

fix image tag
  .github/workflows/reusable-docker-build.yml
Due: none

rollback release changes
  .github/workflows/release.yml
Due: none

Sequencer-relayer instrumentation
  crates/astria-sequencer-relayer/src/api.rs
  crates/astria-sequencer-relayer/src/relayer/celestia_client/builder.rs
  crates/astria-sequencer-relayer/src/relayer/celestia_client/mod.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/read.rs
  crates/astria-sequencer-relayer/src/relayer/submission.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
Due: sequencer-relayer

formatting
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
Due: sequencer-relayer

fix(relayer): change `reqwest` for `isahc` in relayer blackbox tests (ENG-699) (#1366)
  Cargo.lock
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/tests/blackbox/helpers/test_sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Due: sequencer-relayer

refactor(core): shorten `try_from_block_info_and_data()` (#1371)
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
Due: common

bump chart version
  charts/sequencer/Chart.yaml
Due: none

Apply suggestions from code review
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
Due: sequencer

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  composer: any of: crates/astria-composer, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  astria-merkle: any of: crates/astria-merkle/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  common: any of: crates/astria-core/src/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
