Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

implement transaction fee query
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/src/transaction/query.rs
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Due: sequencer, common

fix import
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
Due: none

add context to errors
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/signer.rs
Due: none

chore(bridge-withdrawer): add missing errors and clean up names (#1178)
  crates/astria-bridge-withdrawer/build.rs
  crates/astria-bridge-withdrawer/src/api.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/batch.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/generated/astria_bridgeable_erc20.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/generated/astria_withdrawer.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/generated/astria_withdrawer_interface.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/generated/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/test_utils.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/state.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/signer.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
  crates/astria-bridge-withdrawer/src/lib.rs
  crates/astria-bridge-withdrawer/src/main.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/signer.rs
Due: none

with geth 1.13 image
  charts/deploy.just
  charts/evm-rollup/values.yaml
Due: none

use geth image from pr build
  charts/bridge-test/values.yaml
  dev/values/rollup/ibc-bridge-test.yaml
Due: none

fail gh action if job fails
  .github/workflows/docker-build.yml
Due: none

debugging
  .github/workflows/docker-build.yml
Due: none

attempting kubectl wait using while, which works previously in the job
  .github/workflows/docker-build.yml
Due: none

lint
  charts/bridge-test/values.yaml
Due: none

try polling since kubectl wait hangs
  .github/workflows/docker-build.yml
Due: none

lints
  charts/bridge-test/Chart.yaml
  charts/evm-rollup/Chart.yaml
Due: none

chart version bumps to appease the lint gods
  charts/evm-rollup/Chart.yaml
  charts/sequencer/Chart.yaml
Due: none

shorter timeout
  .github/workflows/docker-build.yml
Due: none

last commit didnt trigger action?
  .github/workflows/docker-build.yml
Due: none

revert
  .github/workflows/docker-build.yml
Due: none

trying to trigger action
  charts/bridge-test/Chart.yaml
Due: none

hm
  charts/bridge-test/Chart.yaml
Due: none

set TAG envar
  .github/workflows/docker-build.yml
Due: none

simplify gh job
  .github/workflows/docker-build.yml
Due: none

check status
  .github/workflows/docker-build.yml
Due: none

else not elif
  .github/workflows/docker-build.yml
Due: none

WIP
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-sequencer/src/genesis.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer, common

fix typos
  specs/execution-api.md
Due: none

fix typos
  specs/sequencer-inclusion-proofs.md
Due: none

fix typo
  specs/data-flow-and-verification.md
Due: none

fix typo
  specs/conductor.md
Due: none

doc(conductor): update outdated spec (#1194)
  specs/conductor.md
Due: none

impl serde for all denom types, provide snapshot tests
  crates/astria-core/src/primitive/v1/asset/denom.rs
  crates/astria-core/src/primitive/v1/asset/snapshots/astria_core__primitive__v1__asset__denom__serde_impl__tests__snapshots-2.snap
  crates/astria-core/src/primitive/v1/asset/snapshots/astria_core__primitive__v1__asset__denom__serde_impl__tests__snapshots-3.snap
  crates/astria-core/src/primitive/v1/asset/snapshots/astria_core__primitive__v1__asset__denom__serde_impl__tests__snapshots-4.snap
  crates/astria-core/src/primitive/v1/asset/snapshots/astria_core__primitive__v1__asset__denom__serde_impl__tests__snapshots.snap
Due: common

sequencer: genesis serde in terms of core types
  crates/astria-sequencer/src/genesis.rs
  crates/astria-sequencer/src/snapshots/astria_sequencer__genesis__test__snapshots.snap
Due: sequencer

add get_transaction_fee to client
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/tests/http.rs
Due: common

clippy
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/query.rs
Due: sequencer, common

add chain_id validation for conductor
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/sequencer/builder.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-conductor/src/sequencer/tests.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-conductor/tests/blackbox/soft_only.rs
Due: conductor

fix bridge-withdrawer build script
  README.md
  crates/astria-bridge-withdrawer/build.rs
Due: none

fix(astria-bridge-withdrawer): use correct file paths in build script (#1198)
  README.md
  crates/astria-bridge-withdrawer/build.rs
Due: none

check that the genesis file contains only addresses with configured prefix
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-sequencer/src/genesis.rs
  crates/astria-sequencer/src/snapshots/astria_sequencer__genesis__test__snapshots.snap
Due: sequencer, common

update all tests that use a genesis, initialize the base prefix globally
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/address/mod.rs
  crates/astria-sequencer/src/address/query.rs
  crates/astria-sequencer/src/address/state_ext.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/genesis.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

update address construction where necessary, stateless checks on all actions that have addresses
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/address/mod.rs
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/ibc/ibc_relayer_change.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/mempool.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

remove unused code
  crates/astria-sequencer/src/address/mod.rs
  crates/astria-sequencer/src/address/query.rs
  crates/astria-sequencer/src/address/state_ext.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/lib.rs
Due: sequencer

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  composer: any of: crates/astria-composer, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  astria-merkle: any of: crates/astria-merkle/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  common: any of: crates/astria-core/src/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
