Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

add ExtendedCommitInfoWithCurrencyPairMapping to celestia validated SubmittedMetadata
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/reconstruct.rs
  crates/astria-conductor/src/celestia/verify.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-core/src/sequencerblock/v1/celestia.rs
Due: conductor, common

abort auctions using its cancellation token
  crates/astria-auctioneer/src/auction/builder.rs
  crates/astria-auctioneer/src/auction/manager.rs
  crates/astria-auctioneer/src/auction/mod.rs
Due: none

update median function
  crates/astria-sequencer/src/app/vote_extension.rs
Due: sequencer

save
  charts/sequencer/values.yaml
Due: none

move tracking of current blocks into the auction manager
  crates/astria-auctioneer/src/auction/manager.rs
  crates/astria-auctioneer/src/auctioneer/inner/running.rs
  crates/astria-auctioneer/src/auctioneer/inner/starting.rs
  crates/astria-auctioneer/src/block/mod.rs
Due: none

add logs
  crates/astria-auctioneer/src/optimistic_block_client.rs
  crates/astria-auctioneer/src/optimistic_execution_client.rs
  crates/astria-auctioneer/src/optimistic_executor/mod.rs
Due: none

fix(sequencer): provide unit tests and fixes for vote extensions (#1836)
  Cargo.lock
  crates/astria-core/src/connect/types.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/vote_extension.rs
Due: sequencer, common

don't error out waiting for collectors or executor
  crates/astria-composer/src/composer.rs
  crates/astria-composer/tests/blackbox/executor.rs
Due: composer

update changelog
  crates/astria-composer/CHANGELOG.md
Due: composer

propagate errors, wait for collectors and executor concurrently
  crates/astria-composer/src/composer.rs
Due: composer

remove debugging line
  crates/astria-composer/tests/blackbox/executor.rs
Due: composer

replace the joinset of live auctions by a single auction task
  crates/astria-auctioneer/src/auction/builder.rs
  crates/astria-auctioneer/src/auction/manager.rs
  crates/astria-auctioneer/src/auction/mod.rs
  crates/astria-auctioneer/src/auctioneer/inner/running.rs
  crates/astria-auctioneer/src/auctioneer/inner/starting.rs
  crates/astria-auctioneer/src/block/mod.rs
Due: none

submit auction winners without a retry
  crates/astria-auctioneer/src/auction/mod.rs
Due: none

fetch pending nonces on a schedule and uncouple from auction winner submission
  crates/astria-auctioneer/src/auction/builder.rs
  crates/astria-auctioneer/src/auction/manager.rs
  crates/astria-auctioneer/src/auction/mod.rs
  crates/astria-auctioneer/src/auctioneer/inner/mod.rs
  crates/astria-auctioneer/src/auctioneer/inner/running.rs
  crates/astria-auctioneer/src/auctioneer/inner/starting.rs
  crates/astria-auctioneer/src/auctioneer/mod.rs
  crates/astria-auctioneer/src/sequencer_channel.rs
Due: none

include a restart mechanism for all streams after they have concluded
  Cargo.lock
  crates/astria-auctioneer/Cargo.toml
  crates/astria-auctioneer/src/auctioneer/inner/starting.rs
  crates/astria-auctioneer/src/lib.rs
  crates/astria-auctioneer/src/rollup_channel.rs
  crates/astria-auctioneer/src/sequencer_channel.rs
  crates/astria-auctioneer/src/streaming_utils.rs
Due: none

remove auctioneer runstates
  crates/astria-auctioneer/src/auctioneer/inner.rs
  crates/astria-auctioneer/src/auctioneer/inner/mod.rs
  crates/astria-auctioneer/src/auctioneer/inner/running.rs
  crates/astria-auctioneer/src/auctioneer/inner/starting.rs
  crates/astria-auctioneer/src/auctioneer/mod.rs
Due: none

save
  charts/auctioneer/values.yaml
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-rollup/values.yaml
  dev/values/auctioneer/values.yaml
  justfile
Due: none

move auctions, manager into the auctioneer module
  crates/astria-auctioneer/src/auctioneer/inner/auction/allocation_rule.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/builder.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/manager.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/mod.rs
  crates/astria-auctioneer/src/auctioneer/inner/mod.rs
  crates/astria-auctioneer/src/auctioneer/mod.rs
  crates/astria-auctioneer/src/lib.rs
Due: none

track the running auction inside auctioneer
  crates/astria-auctioneer/src/auctioneer/inner/auction/factory.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/manager.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/mod.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/running.rs
  crates/astria-auctioneer/src/auctioneer/inner/mod.rs
Due: none

turn auction::Running into a future
  crates/astria-auctioneer/src/auctioneer/inner/auction/running.rs
  crates/astria-auctioneer/src/auctioneer/inner/mod.rs
Due: none

clippy and toml formatting
  crates/astria-auctioneer/Cargo.toml
  crates/astria-auctioneer/src/auctioneer/inner/auction/mod.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/running.rs
  crates/astria-auctioneer/src/auctioneer/inner/mod.rs
  crates/astria-auctioneer/src/bundle/mod.rs
  crates/astria-auctioneer/src/main.rs
  crates/astria-auctioneer/src/rollup_channel.rs
  crates/astria-auctioneer/src/sequencer_channel.rs
  crates/astria-auctioneer/src/streaming_utils.rs
Due: none

feat(core)!: provide a newtype for block hashes
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/reconstruct.rs
  crates/astria-conductor/src/celestia/reporting.rs
  crates/astria-conductor/src/celestia/verify.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-core/src/sequencerblock/v1/block.rs
  crates/astria-core/src/sequencerblock/v1/celestia.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/grpc/state_ext.rs
  crates/astria-sequencer/src/grpc/storage/values/block_hash.rs
Due: conductor, sequencer, common

update auctioneer to make use of the block hash type
  crates/astria-auctioneer/src/auctioneer/inner/auction/factory.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/mod.rs
  crates/astria-auctioneer/src/block/mod.rs
  crates/astria-auctioneer/src/bundle/mod.rs
Due: none

re-instrument all handlers in primary auctioneer event loop
  crates/astria-auctioneer/src/auctioneer/inner/auction/mod.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/running.rs
  crates/astria-auctioneer/src/auctioneer/inner/mod.rs
Due: none

track result of cancelled auctions
  crates/astria-auctioneer/src/auctioneer/inner/mod.rs
Due: none

starting new auctions doesn't need cloned blocks
  crates/astria-auctioneer/src/auctioneer/inner/auction/factory.rs
  crates/astria-auctioneer/src/auctioneer/inner/mod.rs
Due: none

auction factory does not need mutable access or instrumentation
  crates/astria-auctioneer/src/auctioneer/inner/auction/factory.rs
Due: none

flatten all auction construction directly into the factory
  crates/astria-auctioneer/src/auctioneer/inner/auction/builder.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/factory.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/mod.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/running.rs
Due: none

swap the module relationship between auction future and worker task
  crates/astria-auctioneer/src/auctioneer/inner/auction/mod.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/running.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/worker.rs
Due: none

rename Auction to Worker, Running to Auction
  crates/astria-auctioneer/src/auctioneer/inner/auction/factory.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/mod.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/running.rs
  crates/astria-auctioneer/src/auctioneer/inner/mod.rs
Due: none

instrument all auction handlers, separate auction ID from block hashes
  crates/astria-auctioneer/src/auctioneer/inner/auction/factory.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/mod.rs
  crates/astria-auctioneer/src/auctioneer/inner/mod.rs
  crates/astria-auctioneer/src/block/mod.rs
Due: none

add decimals to extended commit info injected tx
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-core/src/connect/utils.rs
  crates/astria-core/src/generated/astria.protocol.connect.v1.rs
  crates/astria-core/src/generated/astria.protocol.connect.v1.serde.rs
  crates/astria-core/src/protocol/connect.rs
  crates/astria-core/src/protocol/test_utils.rs
  crates/astria-core/src/sequencerblock/v1/block.rs
  crates/astria-sequencer-utils/src/blob_parser.rs
  crates/astria-sequencer/src/app/vote_extension.rs
  proto/protocolapis/astria/protocol/connect/v1/transaction.proto
Due: conductor, sequencer, common

remove connect timeouts
  crates/astria-auctioneer/src/rollup_channel.rs
  crates/astria-auctioneer/src/sequencer_channel.rs
Due: none

chore(sequencer): change name of `source_action_index` to `position_in_transaction` (#1746)
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/fees/action.rs
  crates/astria-sequencer/src/fees/mod.rs
  crates/astria-sequencer/src/fees/state_ext.rs
  crates/astria-sequencer/src/fees/tests.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/src/transaction/state_ext.rs
Due: sequencer

requested changes
  crates/astria-sequencer/src/action_handler/impls/ics20_withdrawal.rs
  crates/astria-sequencer/src/action_handler/impls/transaction.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
Due: sequencer

chore(sequencer): consolidate all action handling to one module (#1759)
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/mod.rs
  crates/astria-sequencer/src/action_handler/impls/bridge_lock.rs
  crates/astria-sequencer/src/action_handler/impls/bridge_sudo_change.rs
  crates/astria-sequencer/src/action_handler/impls/bridge_unlock.rs
  crates/astria-sequencer/src/action_handler/impls/fee_asset_change.rs
  crates/astria-sequencer/src/action_handler/impls/fee_change.rs
  crates/astria-sequencer/src/action_handler/impls/ibc_relayer_change.rs
  crates/astria-sequencer/src/action_handler/impls/ibc_sudo_change.rs
  crates/astria-sequencer/src/action_handler/impls/ics20_withdrawal.rs
  crates/astria-sequencer/src/action_handler/impls/init_bridge_account.rs
  crates/astria-sequencer/src/action_handler/impls/mod.rs
  crates/astria-sequencer/src/action_handler/impls/rollup_data_submission.rs
  crates/astria-sequencer/src/action_handler/impls/sudo_address_change.rs
  crates/astria-sequencer/src/action_handler/impls/test_utils.rs
  crates/astria-sequencer/src/action_handler/impls/transaction.rs
  crates/astria-sequencer/src/action_handler/impls/transfer.rs
  crates/astria-sequencer/src/action_handler/impls/validator_update.rs
  crates/astria-sequencer/src/action_handler/mod.rs
  crates/astria-sequencer/src/app/action_handler.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/tests_block_fees.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/authority/mod.rs
  crates/astria-sequencer/src/bridge/mod.rs
  crates/astria-sequencer/src/fees/mod.rs
  crates/astria-sequencer/src/fees/tests.rs
  crates/astria-sequencer/src/ibc/mod.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/rollup_data/mod.rs
  crates/astria-sequencer/src/service/mempool/mod.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

instrument grpc at the request/response level
  Cargo.lock
  crates/astria-auctioneer/Cargo.toml
  crates/astria-auctioneer/src/rollup_channel.rs
  crates/astria-auctioneer/src/sequencer_channel.rs
  crates/astria-auctioneer/src/streaming_utils.rs
Due: none

emit events for failed stream connection requests; also bring back connection timeouts so the spans actually end
  crates/astria-auctioneer/src/rollup_channel.rs
  crates/astria-auctioneer/src/sequencer_channel.rs
  crates/astria-auctioneer/src/streaming_utils.rs
Due: none

REMOVE FROM PR: emit span events in tracing subscriber
  crates/astria-telemetry/src/lib.rs
Due: common

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  composer: any of: crates/astria-composer, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  astria-merkle: any of: crates/astria-merkle/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  common: any of: crates/astria-core/src/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
