Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

release(conductor): 2.0.0-rc.1 with execution api v2
  Cargo.lock
  crates/astria-auctioneer/Cargo.toml
  crates/astria-conductor/CHANGELOG.md
  crates/astria-conductor/Cargo.toml
Due: conductor

use tag instead of devtag
  charts/just/deploy.just
Due: none

use tag instead of devTag in smoke tests
  charts/just/deploy.just
Due: none

spawn task to evict old orders
  crates/astria-auctioneer/src/bundle.rs
  crates/astria-auctioneer/src/orderpool/in_memory.rs
  crates/astria-auctioneer/src/orderpool/mod.rs
Due: none

lint
  crates/astria-conductor/CHANGELOG.md
Due: conductor

initial work on grpc queries for mempool
  buf.yaml
  crates/astria-core/src/generated/astria.mempool.v1alpha1.rs
  crates/astria-core/src/generated/astria.mempool.v1alpha1.serde.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/protocol/abci.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/state_ext.rs
  crates/astria-sequencer/src/app/storage/keys.rs
  crates/astria-sequencer/src/app/storage/mod.rs
  crates/astria-sequencer/src/app/storage/values/executed_transaction_hashes.rs
  crates/astria-sequencer/src/app/storage/values/mod.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_block_ordering.rs
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/grpc/mempool.rs
  crates/astria-sequencer/src/grpc/mod.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/mempool/mod.rs
  justfile
  proto/mempoolapis/LICENSE
  proto/mempoolapis/astria/mempool/v1alpha1/get_mempool_request.proto
  proto/mempoolapis/astria/mempool/v1alpha1/get_parked_transactions_request.proto
  proto/mempoolapis/astria/mempool/v1alpha1/get_pending_transactions_request.proto
  proto/mempoolapis/astria/mempool/v1alpha1/get_removal_cache_request.proto
  proto/mempoolapis/astria/mempool/v1alpha1/get_transaction_status_request.proto
  proto/mempoolapis/astria/mempool/v1alpha1/mempool.proto
  proto/mempoolapis/astria/mempool/v1alpha1/mempool_service.proto
  proto/mempoolapis/astria/mempool/v1alpha1/parked_transactions.proto
  proto/mempoolapis/astria/mempool/v1alpha1/pending_transactions.proto
  proto/mempoolapis/astria/mempool/v1alpha1/removal_cache.proto
  proto/mempoolapis/astria/mempool/v1alpha1/submit_transaction_request.proto
  proto/mempoolapis/astria/mempool/v1alpha1/submit_transaction_response.proto
  proto/mempoolapis/astria/mempool/v1alpha1/transaction_status.proto
Due: sequencer, common

don't bother with auctioneer cut
  Cargo.lock
  crates/astria-auctioneer/Cargo.toml
Due: none

prefer collect since it will only be performed once in the lifetime of the application
  crates/astria-composer/src/collectors/geth.rs
Due: composer

make sure orderpool lines aren't too long
  crates/astria-auctioneer/src/orderpool/mod.rs
Due: none

address review comments
  Cargo.lock
  crates/astria-account-monitor/local.env.example
  crates/astria-account-monitor/src/account_monitor.rs
  crates/astria-account-monitor/src/config.rs
  crates/astria-account-monitor/src/main.rs
  crates/astria-account-monitor/src/metrics.rs
Due: none

remove extraneous check from action
  crates/astria-sequencer/src/action_handler/impls/currency_pairs_change.rs
Due: sequencer

requested changes
  crates/astria-composer/CHANGELOG.md
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/tests/blackbox/api.rs
  crates/astria-composer/tests/blackbox/executor.rs
  crates/astria-composer/tests/blackbox/geth_collector.rs
  crates/astria-composer/tests/blackbox/grpc_collector.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-test-utils/src/mock/geth.rs
Due: composer

remove manual references
  crates/astria-composer/src/collectors/geth.rs
Due: composer

handle auctions being stopped or finishing
  crates/astria-auctioneer/src/orderpool/mod.rs
Due: none

address review comments
  crates/astria-account-monitor/src/account_monitor.rs
  crates/astria-account-monitor/src/config.rs
  crates/astria-account-monitor/src/main.rs
  crates/astria-core-address/src/lib.rs
Due: none

chore(bridge-withdrawer): add metric for recording last observed rollup height (#2111)
  crates/astria-bridge-withdrawer/CHANGELOG.md
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/metrics.rs
Due: none

release(conductor): 2.0.0-rc.1 with execution api v2 (#2127)
  Cargo.lock
  crates/astria-conductor/CHANGELOG.md
  crates/astria-conductor/Cargo.toml
Due: conductor

update with conductor release
  charts/evm-rollup/templates/_helpers.tpl
Due: none

some copy updates on documentation
  charts/evm-rollup/values.yaml
  dev/values/rollup/dev.yaml
  dev/values/rollup/evm-restart-test.yaml
Due: none

feat(chart): split up config variables in rollup chart, add default genesis files (#2046)
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/genesis/custom.genesis.json
  charts/evm-rollup/files/genesis/flame-devnet.genesis.json
  charts/evm-rollup/files/genesis/flame-mainnet.genesis.json
  charts/evm-rollup/files/genesis/flame-testnet.genesis.json
  charts/evm-rollup/files/scripts/create-snapshot.sh
  charts/evm-rollup/files/scripts/init-geth.sh
  charts/evm-rollup/files/scripts/restore-snapshot.sh
  charts/evm-rollup/templates/_helpers.tpl
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/templates/cronjobs.yaml
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/evm-stack/values.yaml
  charts/just/deploy.just
  dev/values/rollup/dev.yaml
  dev/values/rollup/evm-restart-test.yaml
Due: none

further work on grpc queries for mempool
  crates/astria-core/src/generated/astria.mempool.v1alpha1.rs
  crates/astria-core/src/generated/astria.mempool.v1alpha1.serde.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/state_ext.rs
  crates/astria-sequencer/src/app/storage/mod.rs
  crates/astria-sequencer/src/app/storage/values/executed_transaction_hashes.rs
  crates/astria-sequencer/src/app/storage/values/mod.rs
  crates/astria-sequencer/src/grpc/mempool.rs
  crates/astria-sequencer/src/grpc/mod.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/service/mempool/mod.rs
  crates/astria-sequencer/src/service/mempool/tests.rs
  proto/mempoolapis/astria/mempool/v1alpha1/get_mempool_request.proto
  proto/mempoolapis/astria/mempool/v1alpha1/get_parked_transactions_request.proto
  proto/mempoolapis/astria/mempool/v1alpha1/get_pending_transactions_request.proto
  proto/mempoolapis/astria/mempool/v1alpha1/get_removal_cache_request.proto
  proto/mempoolapis/astria/mempool/v1alpha1/get_transaction_status_request.proto
  proto/mempoolapis/astria/mempool/v1alpha1/mempool.proto
  proto/mempoolapis/astria/mempool/v1alpha1/mempool_service.proto
  proto/mempoolapis/astria/mempool/v1alpha1/parked_transactions.proto
  proto/mempoolapis/astria/mempool/v1alpha1/pending_transactions.proto
  proto/mempoolapis/astria/mempool/v1alpha1/removal_cache.proto
  proto/mempoolapis/astria/mempool/v1alpha1/submit_transaction_request.proto
  proto/mempoolapis/astria/mempool/v1alpha1/submit_transaction_response.proto
  proto/mempoolapis/astria/mempool/v1alpha1/transaction_status.proto
Due: sequencer

snapshot
  crates/astria-sequencer/src/app/storage/snapshots/astria_sequencer__app__storage__keys__tests__executed_transaction_hashes_key.snap
Due: sequencer

add issue link, update changelog, update core snapshot
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/grpc/mod.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
Due: sequencer

add snapshot
  crates/astria-core/src/protocol/snapshots/astria_core__protocol__abci__tests__AbciErrorCode::18.snap
Due: common

minor updates
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/grpc/mempool.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/mempool/mod.rs
Due: sequencer

correct transaction id and place tx in cometbft removal cache
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/service/mempool/mod.rs
Due: sequencer

update changelog
  crates/astria-sequencer/CHANGELOG.md
Due: sequencer

add test, fix logic
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
Due: sequencer

add cache
  lint/alias_trait_imports/src/lib.rs
Due: none

fix changes from merge
  crates/astria-sequencer/src/app/vote_extension.rs
  crates/astria-sequencer/src/authority/component.rs
  crates/astria-sequencer/src/grpc/price_feed.rs
  crates/astria-sequencer/src/proposal/block_size_constraints.rs
  crates/astria-sequencer/src/service/info/mod.rs
Due: sequencer

md lint
  lint/alias_trait_imports/README.md
Due: none

fix false positive
  crates/astria-core/src/upgrades/v1/upgrades.rs
  lint/alias_trait_imports/src/lib.rs
Due: common

add test
  lint/alias_trait_imports/ui/iter_trait_object.rs
Due: none

feat(charts): rollup chart support for forma
  charts/evm-rollup/files/genesis/forma-testnet.genesis.json
  charts/evm-rollup/templates/_helpers.tpl
Due: none

start
  charts/evm-rollup/templates/_helpers.tpl
Due: none

feat(charts)!: flame major upgrade
  charts/evm-rollup/files/genesis/flame-mainnet.genesis.json
  charts/evm-rollup/files/genesis/flame-testnet.genesis.json
  charts/evm-rollup/templates/_helpers.tpl
Due: none

inner task
  crates/astria-account-monitor/src/account_monitor.rs
  crates/astria-account-monitor/src/config.rs
  crates/astria-account-monitor/src/main.rs
Due: none

generate signing key from mnemonic
  Cargo.lock
  crates/astria-cli/Cargo.toml
  crates/astria-cli/src/sequencer/account.rs
Due: cli

changelog
  crates/astria-cli/CHANGELOG.md
Due: cli

lint
  crates/astria-cli/src/sequencer/account.rs
Due: cli

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  composer: any of: crates/astria-composer, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  astria-merkle: any of: crates/astria-merkle/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  common: any of: crates/astria-core/src/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
