Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

chore(chart): update geth tag (#1485)
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

chore(sequencer): change test addresses to versions with known private keys (#1487)
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_genesis_snapshot.snap
  crates/astria-sequencer/src/app/test_utils.rs
Due: sequencer

nit
  Cargo.lock
Due: none

update commet for has_balance_to_cover()
  crates/astria-sequencer/src/mempool/transactions_container.rs
Due: sequencer

rebase onto main
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/accounts/mod.rs
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app/benchmarks.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/mempool/mempool_state.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/metrics.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

feat(sequencer): have app recost transactions on fee or asset change (#1411)
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/metrics.rs
Due: sequencer

enable benchmakrs
  crates/astria-sequencer/src/mempool/mod.rs
Due: sequencer

refactor tests
  crates/astria-sequencer/src/app/tests_app/mempool.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
Due: sequencer

feat(sequencer): make mempool balance aware (#1408)
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/accounts/mod.rs
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app/benchmarks.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app/mempool.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/mempool/mempool_state.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/metrics.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

minor improvements
  charts/evm-stack/Chart.lock
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/tests/blackbox/firm_only.rs
  crates/astria-conductor/tests/blackbox/soft_only.rs
Due: conductor

patch penumbra dep to fork
  Cargo.lock
  Cargo.toml
Due: none

Slight improvements
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor.rs
Due: conductor

update hermes commit in chart
  charts/hermes/values.yaml
Due: none

working chart
  charts/deploy.just
  charts/graph-node/Chart.yaml
  charts/graph-node/templates/_helpers.tpl
  charts/graph-node/templates/configmap.yaml
  charts/graph-node/templates/deployment.yaml
  charts/graph-node/templates/persistent-volume-claims.yaml
  charts/graph-node/templates/services.yaml
  charts/graph-node/values.yaml
Due: none

use rollup within dev-cluster
  charts/graph-node/values.yaml
Due: none

bump hermes chart
  charts/hermes/Chart.yaml
Due: none

Add a couple more instrument macros
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
Due: sequencer

Fix merge issues
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/mempool/mempool_state.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/utils.rs
Due: sequencer

grpc height hack to fix ibc invalid proof error
  Cargo.lock
  Cargo.toml
  charts/hermes/Chart.yaml
  charts/hermes/values.yaml
Due: none

add service monitor
  charts/graph-node/templates/servicemonitor.yaml
  charts/graph-node/values.yaml
Due: none

Fix issues from merge
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/fees.rs
  crates/astria-sequencer/src/transaction/test_fees.rs
Due: sequencer

rustfmt
  crates/astria-sequencer/src/transaction/test_fees.rs
Due: sequencer

Parameterize imagePullPolicy for evm-stack components
  charts/composer/templates/deployment.yaml
  charts/composer/values.yaml
  charts/evm-bridge-withdrawer/templates/deployment.yaml
  charts/evm-bridge-withdrawer/values.yaml
  charts/evm-faucet/templates/deployment.yaml
  charts/evm-faucet/values.yaml
  charts/evm-rollup/templates/_helpers.tpl
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/values.yaml
  dev/argocd/pr-preview-envs/evm-appset.yaml
Due: none

Parameterize imagePullPolicy for remaining components
  charts/hermes/templates/deployment.yaml
  charts/hermes/values.yaml
  charts/sequencer-faucet/templates/deployment.yaml
  charts/sequencer-faucet/values.yaml
Due: none

Bump chart versions
  charts/composer/Chart.yaml
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-faucet/Chart.yaml
  charts/evm-rollup/Chart.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/hermes/Chart.yaml
  charts/sequencer-faucet/Chart.yaml
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
Due: none

change penumbra patch
  Cargo.lock
  Cargo.toml
Due: none

Cargo.lock same as main
  Cargo.lock
Due: none

update
  Cargo.lock
Due: none

dont save 0x in withdraw event id
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
Due: none

Bump chart versions again
  charts/evm-rollup/Chart.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

empty
  justfile
Due: none

empty
  crates/astria-sequencer/src/api_state_ext.rs
Due: sequencer

Requested changes
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
Due: conductor

fix: build docker when workflow explicitly includes component
  .github/workflows/docker-build.yml
  .github/workflows/reusable-docker-build.yml
Due: none

Minor improvements
  crates/astria-conductor/src/conductor.rs
Due: conductor

Cleanup preview-env manifests after verifying smoke-tests
  dev/argocd/pr-preview-envs/evm-appset.yaml
  dev/argocd/pr-preview-envs/sequencer-appset.yaml
Due: none

Add some useful helpers for helm/argo manifests
  dev/argo.just
  dev/helm.just
  justfile
Due: none

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  composer: any of: crates/astria-composer, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  astria-merkle: any of: crates/astria-merkle/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  common: any of: crates/astria-core/src/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
