Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

ci??
  .github/workflows/test.yml
Due: none

env updates and log
  crates/astria-bridge-withdrawer/ethereum/local.env.example
  crates/astria-bridge-withdrawer/local.env.example
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/builder.rs
Due: none

install foundry in ci
  .github/workflows/test.yml
Due: none

fix result check
  crates/astria-cli/src/commands/sequencer.rs
Due: cli

put solc back
  .github/workflows/test.yml
Due: none

don't cache pip
  .github/workflows/test.yml
Due: none

chore(charts): fix service monitor labels (#1112)
  charts/evm-rollup/Chart.yaml
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/servicemonitor.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/servicemonitor.yaml
Due: none

chore(charts): update evm chart to have better default request limits
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
Due: none

update chart version after merge
  charts/evm-rollup/Chart.yaml
Due: none

chore(charts): update evm chart to have better default request limits (#1114)
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
Due: none

chore: provide newtypes for verification key and signature (#1111)
  Cargo.lock
  Cargo.toml
  crates/astria-cli/Cargo.toml
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/executor/builder.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-core/Cargo.toml
  crates/astria-core/src/crypto.rs
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-sequencer-client/Cargo.toml
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/mempool.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: conductor, composer, sequencer, cli, common

add retry strategy to branch on gRPC status codes
  crates/astria-conductor/src/executor/client.rs
Due: conductor

go faster
  crates/astria-conductor/src/celestia/verify.rs
Due: conductor

add an env var to configure sequencer rate-limiting
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/verify.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
Due: conductor

increase request throughput, monitor by rps
  crates/astria-conductor/src/celestia/verify.rs
Due: conductor

clippy
  crates/astria-conductor/src/celestia/verify.rs
Due: conductor

feat(conductor): rate limit sequencer cometbft requests
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/verify.rs
Due: conductor

bump chart and template for conductor
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/configmap.yaml
Due: none

address review comments, typos
  crates/astria-conductor/src/celestia/verify.rs
Due: conductor

fix incorrectly typed configmap
  charts/evm-rollup/templates/configmap.yaml
Due: none

change tx hash output to base64-encoded
  crates/astria-sequencer/src/app/mod.rs
Due: sequencer

chore(sequencer): refactor mempool (#1092)
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/mempool.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mempool.rs
Due: sequencer, common

feat(conductor)!: rate limit sequencer cometbft requests (#1068)
  Cargo.lock
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/configmap.yaml
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/verify.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
Due: conductor

actually use custom backup strategy
  crates/astria-conductor/src/executor/client.rs
Due: conductor

don't retry on data loss grpc code
  crates/astria-conductor/src/executor/client.rs
Due: conductor

feat(conductor): add retry to execution API gRPCs (#1115)
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
Due: conductor

chore(charts): fix relayer servicemonitor
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/servicemonitor.yaml
  charts/sequencer/Chart.yaml
Due: none

address comment
  crates/astria-cli/src/commands/sequencer.rs
Due: cli

fix(cli): fix tx submission result check (#1113)
  crates/astria-cli/src/commands/sequencer.rs
Due: cli

chart dep update
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
Due: none

address comments
  Cargo.lock
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-bridge-withdrawer/src/withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/signer.rs
Due: none

update for dusk-7
  crates/astria-cli/src/cli/mod.rs
  crates/astria-cli/src/cli/rollup.rs
Due: cli

fix(charts): fix relayer servicemonitor (#1116)
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/servicemonitor.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
Due: none

fix(charts): relayer valid service label
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/servicemonitor.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
Due: none

fix(charts): relayer valid service label (#1117)
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/servicemonitor.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
Due: none

fmt proto
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/service.proto
Due: none

fix tests
  crates/astria-sequencer/src/grpc/sequencer.rs
Due: sequencer

clippy
  crates/astria-sequencer/src/grpc/sequencer.rs
Due: sequencer

fix just run-cometbft
  crates/astria-sequencer/justfile
Due: sequencer

fix(sequencer): fix `just run-cometbft` command (#1119)
  crates/astria-sequencer/justfile
Due: sequencer

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  composer: any of: crates/astria-composer, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  astria-merkle: any of: crates/astria-merkle/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  common: any of: crates/astria-core/src/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
