Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

fix genesis log
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

maybe fix chart genesis
  charts/sequencer/files/cometbft/config/genesis.json
Due: none

maybe fix charts
  charts/sequencer/files/cometbft/config/genesis.json
  dev/values/validators/all.yml
Due: none

return get_account_balances() to original implementation to avoid allocation
  crates/astria-sequencer/src/accounts/state_ext.rs
Due: sequencer

Copy Preview Env manifest parameter overrides to separate values files for helm
  dev/values/rollup/preview-env.yaml
  dev/values/validators/preview-env.yaml
Due: none

review comments
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  proto/protocolapis/astria/protocol/genesis/v1alpha1/types.proto
Due: sequencer, common

regenerate protobuf
  crates/astria-core/src/generated/astria.protocol.genesis.v1alpha1.rs
Due: none

feat(proto, core, sequencer)!: permit bech32 compatible addresses (#1425)
  charts/sequencer/Chart.yaml
  charts/sequencer/files/cometbft/config/genesis.json
  charts/sequencer/values.yaml
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.serde.rs
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-core/src/primitive/v1/snapshots/astria_core__primitive__v1__tests__snapshots-2.snap
  crates/astria-core/src/protocol/genesis/snapshots/astria_core__protocol__genesis__v1alpha1__tests__genesis_state_is_unchanged.snap
  crates/astria-core/src/protocol/genesis/v1alpha1.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-sequencer-utils/src/genesis_example.rs
  crates/astria-sequencer/src/address/state_ext.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_genesis_snapshot.snap
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/test_utils.rs
  crates/astria-sequencer/src/transaction/checks.rs
  proto/protocolapis/astria/protocol/genesis/v1alpha1/types.proto
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Due: sequencer, cli, common

Requested changes
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/fees.rs
  crates/astria-sequencer/src/transaction/test_fees.rs
Due: sequencer

Fix snapshot
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
Due: sequencer

Add ingress annotations
  dev/values/rollup/preview-env.yaml
  dev/values/validators/preview-env.yaml
Due: none

clean up code
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/accounts/mod.rs
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/service/mempool.rs
Due: sequencer

lint
  crates/astria-sequencer/src/accounts/query.rs
Due: sequencer

release(composer, conductor, sequencer, bridge-withdrawer, cli): end of iteration release cuts
  Cargo.lock
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-cli/Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: conductor, composer, sequencer, cli

fix volume rollupName value
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/storageclasses.yaml
  charts/evm-rollup/templates/volumes.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

fix merge
  charts/sequencer/files/cometbft/config/genesis.json
  charts/sequencer/values.yaml
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-withdrawer/priv.key
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.serde.rs
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-core/src/primitive/v1/snapshots/astria_core__primitive__v1__tests__snapshots-2.snap
  crates/astria-core/src/protocol/genesis/snapshots/astria_core__protocol__genesis__v1alpha1__tests__genesis_state_is_unchanged.snap
  crates/astria-core/src/protocol/genesis/v1alpha1.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-sequencer-utils/genesis-example.json
  crates/astria-sequencer-utils/src/genesis_example.rs
  crates/astria-sequencer/src/address/state_ext.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_genesis_snapshot.snap
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/vote_extension.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/test_utils.rs
  crates/astria-sequencer/src/transaction/checks.rs
  proto/protocolapis/astria/protocol/genesis/v1alpha1/types.proto
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Due: sequencer, cli, common

add unit test
  crates/astria-sequencer/src/app/vote_extension.rs
Due: sequencer

cleanup
  crates/astria-bridge-withdrawer/priv.key
Due: none

cleanup
  crates/astria-sequencer-utils/genesis-example.json
Due: sequencer

chore: update penumbra deps to 0.80.3
  Cargo.lock
  Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: sequencer

clippy
  charts/sequencer/Chart.yaml
  crates/astria-sequencer/src/app/vote_extension.rs
Due: sequencer

test global template
  charts/evm-rollup/templates/volumes.yaml
Due: none

global templating
  charts/evm-rollup/templates/storageclasses.yaml
  charts/evm-rollup/templates/volumes.yaml
Due: none

fix templating
  charts/evm-rollup/templates/storageclasses.yaml
  charts/evm-rollup/templates/volumes.yaml
Due: none

feat(sequencer, bridge-withdrawer)!: enforce withdrawals consumed (#1391)
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-core/src/generated/astria.protocol.memos.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.memos.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.serde.rs
  crates/astria-core/src/protocol/memos/snapshots/astria_core__protocol__memos__v1alpha1__test__bridge_unlock_memo_snapshot.snap
  crates/astria-core/src/protocol/memos/snapshots/astria_core__protocol__memos__v1alpha1__test__ics20_withdrawal_from_rollup_memo_snapshot.snap
  crates/astria-core/src/protocol/memos/v1alpha1.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  proto/protocolapis/astria/protocol/memos/v1alpha1/types.proto
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Due: sequencer, common

fix hash encoding
  crates/astria-bridge-contracts/src/lib.rs
Due: none

chore(bridge-withdrawer): Add instrumentation (#1324)
  crates/astria-bridge-withdrawer/src/api.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
Due: none

chore(charts): bump celestia versions (#1431)
  charts/celestia-local/files/scripts/init-celestia-appd.sh
  charts/celestia-local/files/scripts/start-bridge.sh
  charts/celestia-local/templates/configmap.yaml
  charts/celestia-local/values.yaml
  charts/celestia-node/Chart.yaml
  charts/celestia-node/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

chore: memoize `address_bytes` of verification key (#1444)
  crates/astria-core/src/crypto.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/authority/mod.rs
  crates/astria-sequencer/src/benchmark_utils.rs
Due: sequencer, common

fix(charts)!: sequencer-relayer chart correct startup env var (#1437)
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/files/scripts/start-relayer.sh
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
Due: none

chore(conductor): Add instrumentation (#1330)
  crates/astria-conductor/src/celestia/fetch.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/verify.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/channel.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/sequencer/mod.rs
Due: conductor

fix(cli, bridge-withdrawer): dont fail entire block due to bad withdraw event (#1409)
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-cli/src/commands/bridge/collect.rs
Due: cli

Update crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
Due: none

Update crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-contracts/src/lib.rs
Due: none

chore: ibc e2e smoke test (#1284)
  charts/README.md
  charts/ibc-test.just
  dev/kubetail.just
  dev/values/rollup/ibc-bridge-test.yaml
  justfile
Due: none

fix black box test
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
Due: none

chore(ci): include `ibc-bridge-test` in `docker` CI target (#1438)
  .github/workflows/docker-build.yml
Due: none

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  composer: any of: crates/astria-composer, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  astria-merkle: any of: crates/astria-merkle/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  common: any of: crates/astria-core/src/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
