Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: merkle
      name: astria-merkle
      paths:
        - crates/astria-merkle/**
    - component_id: common
      name: common
      paths:
        - crates/astria-core/src/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-core/src/generated/**'
  - 'crates/astria-build-info/**'
  - 'crates/astria-grpc-mock/**'
  - 'crates/astria-grpc-mock-test/**'
  - 'crates/astria-grpc-mock-test-codegen/**'
  - 'crates/astria-test-utils/**'

minor changes
  crates/astria-core/src/sequencerblock/v1alpha1/optimistic_block.rs
Due: common

add ASTRIA_SEQUENCER_NO_OPTIMISTIC_BLOCK to configmaps
  charts/sequencer/templates/configmaps.yaml
  charts/sequencer/values.yaml
Due: none

move optimistic block protos to v1
  crates/astria-core/src/generated/astria.sequencerblock.v1.optimisticblock.v1alpha1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1.optimisticblock.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.serde.rs
  proto/sequencerblockapis/astria/sequencerblock/v1/optimistic_block.proto
Due: none

remove debug trait from OptimisticBlockChannels
  crates/astria-sequencer/src/app/mod.rs
Due: sequencer

send commited block from finalize_block
  crates/astria-sequencer/src/app/mod.rs
Due: sequencer

feat(bridge-withdrawer): metric to track total settled funds (#1693)
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/metrics.rs
Due: none

chore(cli): remove unused code
  crates/astria-cli/src/cli/bridge.rs
  crates/astria-cli/src/commands/sequencer.rs
Due: cli

chore(cli): remove unused code (#1723)
  crates/astria-cli/src/cli/bridge.rs
  crates/astria-cli/src/commands/sequencer.rs
Due: cli

move optimistic block protos to v1
  crates/astria-core/src/generated/astria.sequencerblock.v1.optimisticblock.v1alpha1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1.optimisticblock.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.serde.rs
  crates/astria-core/src/generated/mod.rs
  proto/sequencerblockapis/astria/sequencerblock/v1/optimisticblock/v1alpha1/optimistic_block.proto
Due: none

domain types
  Cargo.lock
  crates/astria-auctioneer/Cargo.toml
  crates/astria-auctioneer/src/auction/bid.rs
  crates/astria-auctioneer/src/auction/driver.rs
  crates/astria-auctioneer/src/auction/mod.rs
  crates/astria-auctioneer/src/block/mod.rs
  crates/astria-auctioneer/src/optimistic_executor/mod.rs
  crates/astria-auctioneer/src/optimistic_executor/optimistic_block_stream/mod.rs
  crates/astria-auctioneer/src/optimistic_executor/optimistic_execution_client.rs
Due: none

add block streams and auction fut
  Cargo.lock
  crates/astria-auctioneer/Cargo.toml
  crates/astria-auctioneer/src/auction/bid.rs
  crates/astria-auctioneer/src/auction/builder.rs
  crates/astria-auctioneer/src/auction/driver.rs
  crates/astria-auctioneer/src/auction/mod.rs
  crates/astria-auctioneer/src/auction_driver/builder.rs
  crates/astria-auctioneer/src/auction_driver/mod.rs
  crates/astria-auctioneer/src/auctioneer/inner.rs
  crates/astria-auctioneer/src/block/mod.rs
  crates/astria-auctioneer/src/config.rs
  crates/astria-auctioneer/src/lib.rs
  crates/astria-auctioneer/src/optimistic_executor/builder.rs
  crates/astria-auctioneer/src/optimistic_executor/committed_block_stream/builder.rs
  crates/astria-auctioneer/src/optimistic_executor/committed_block_stream/mod.rs
  crates/astria-auctioneer/src/optimistic_executor/executed_block_stream/builder.rs
  crates/astria-auctioneer/src/optimistic_executor/executed_block_stream/mod.rs
  crates/astria-auctioneer/src/optimistic_executor/mod.rs
  crates/astria-auctioneer/src/optimistic_executor/optimistic_block_stream/mod.rs
  crates/astria-auctioneer/src/optimistic_executor/optimistic_execution_client.rs
  crates/astria-auctioneer/src/optimistic_executor/sequencer_client.rs
Due: none

auctioneer binary scaffolding
  Cargo.lock
  Cargo.toml
  crates/astria-auctioneer/Cargo.toml
  crates/astria-auctioneer/README.md
  crates/astria-auctioneer/build.rs
  crates/astria-auctioneer/justfile
  crates/astria-auctioneer/local.env.example
  crates/astria-auctioneer/src/auction_driver/builder.rs
  crates/astria-auctioneer/src/auction_driver/mod.rs
  crates/astria-auctioneer/src/auctioneer/inner.rs
  crates/astria-auctioneer/src/auctioneer/mod.rs
  crates/astria-auctioneer/src/build_info.rs
  crates/astria-auctioneer/src/config.rs
  crates/astria-auctioneer/src/lib.rs
  crates/astria-auctioneer/src/main.rs
  crates/astria-auctioneer/src/metrics.rs
Due: none

bump versions to use v1
  Cargo.lock
  Cargo.toml
  crates/astria-auctioneer/Cargo.toml
  crates/astria-auctioneer/src/auction/bid.rs
  crates/astria-auctioneer/src/auction/driver.rs
  crates/astria-auctioneer/src/block/mod.rs
  crates/astria-auctioneer/src/optimistic_executor/optimistic_block_stream/mod.rs
  crates/astria-auctioneer/src/optimistic_executor/sequencer_client.rs
Due: none

add auctioneer chart and just commands
  charts/auctioneer/Chart.yaml
  charts/auctioneer/templates/_helpers.tpl
  charts/auctioneer/templates/configmap.yaml
  charts/auctioneer/templates/deployment.yaml
  charts/auctioneer/templates/secretproviderclass.yaml
  charts/auctioneer/templates/service.yaml
  charts/auctioneer/templates/servicemonitor.yaml
  charts/auctioneer/values.yaml
  charts/deploy.just
  dev/values/auctioneer/values.yaml
Due: none

chore: remove redundant bin entries from all packages
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-cli/Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: conductor, composer, sequencer, sequencer-relayer, cli

move fee change tests to and remove macro-generated tests
  crates/astria-sequencer/src/fees/action.rs
  crates/astria-sequencer/src/fees/tests.rs
Due: sequencer

chore: remove redundant bin entries from all crates' Cargo.toml (#1725)
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-cli/Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: conductor, composer, sequencer, sequencer-relayer, cli

ci: add test for rollup refund
  .github/workflows/docker-build.yml
  charts/ibc-test.just
Due: none

fix test env
  crates/astria-sequencer/src/service/info/mod.rs
Due: sequencer

write native asset as ibc asset; only attempt reading it if accounts are set
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/assets/state_ext.rs
Due: sequencer

unmerge writing ibc and native assets
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/assets/state_ext.rs
Due: sequencer

feat(core, sequencer): make native asset optional
  crates/astria-core/src/protocol/genesis/v1.rs
  crates/astria-sequencer/src/app/mod.rs
Due: sequencer, common

update chart, rename commands
  charts/ibc-test.just
  charts/sequencer/Chart.yaml
  charts/sequencer/values.yaml
Due: none

remove nria as fee-asset
  dev/values/validators/all-without-native.yml
Due: none

add smoke-test
  .github/workflows/docker-build.yml
  charts/ibc-test.just
  dev/values/validators/all-without-native.yml
Due: none

feat(ci): add non native asset Ibc test (#1724)
  .github/workflows/docker-build.yml
  charts/ibc-test.just
  charts/sequencer/Chart.yaml
  charts/sequencer/values.yaml
  dev/values/validators/all-without-native.yml
Due: none

remove transaction id from fee event
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/fees/mod.rs
  crates/astria-sequencer/src/fees/state_ext.rs
Due: sequencer

chore(sequencer): move and improve transaction fee estimation (#1722)
  crates/astria-sequencer/src/fees/query.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/src/transaction/query.rs
Due: sequencer

fix(bridge-withdrawer)!: correctly identify rollup return address in ics20 withdrawal actions (#1714)
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
Due: none

feat(sequencer): make fees optional at genesis (#1664)
  crates/astria-core/src/protocol/genesis/v1.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/fees/component.rs
Due: sequencer, common

ci: add test for rollup refund (#1728)
  .github/workflows/docker-build.yml
  charts/ibc-test.just
Due: none

fix justfile
  charts/ibc-test.just
Due: none

fix
  crates/astria-sequencer/src/fees/query.rs
Due: sequencer

feat(core, sequencer)!: make native asset optional (#1703)
  .github/workflows/docker-build.yml
  charts/ibc-test.just
  charts/sequencer/Chart.yaml
  charts/sequencer/values.yaml
  crates/astria-core/src/protocol/genesis/v1.rs
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/service/info/mod.rs
  dev/values/validators/all-without-native.yml
Due: sequencer, common

Add `sign` and `submit` subcommands to `sequencer` CLI (#1696)
  Cargo.lock
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mock_cometbft.rs
  crates/astria-cli/Cargo.toml
  crates/astria-cli/src/sequencer/mod.rs
  crates/astria-cli/src/sequencer/sign.rs
  crates/astria-cli/src/sequencer/submit.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-core/src/protocol/test_utils.rs
  crates/astria-core/src/protocol/transaction/v1/mod.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/tests_block_ordering.rs
  crates/astria-sequencer/src/fees/query.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mempool/mod.rs
  crates/astria-sequencer/src/service/mempool/tests.rs
Due: composer, sequencer, cli, common

release: v1.0.0-rc.2 releases
  Cargo.lock
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-cli/Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: conductor, composer, sequencer, sequencer-relayer, cli

release: v1.0.0-rc.2 (#1731)
  Cargo.lock
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-cli/Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: conductor, composer, sequencer, sequencer-relayer, cli

faster celestia block time
  charts/celestia-local/Chart.yaml
  charts/celestia-local/files/scripts/init-celestia-appd.sh
  charts/celestia-local/templates/configmap.yaml
  charts/celestia-local/values.yaml
  charts/ibc-test.just
Due: none

refactor(sequencer): use stream for allowed assets, fix query
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/fees/action.rs
  crates/astria-sequencer/src/fees/query.rs
  crates/astria-sequencer/src/fees/state_ext.rs
Due: sequencer

add changelogs to markdown lint and fix warnings
  .github/workflows/lint.yml
  .markdownlint-cli2.jsonc
  README.md
  crates/astria-bridge-withdrawer/CHANGELOG.md
  crates/astria-cli/CHANGELOG.md
  crates/astria-composer/CHANGELOG.md
  crates/astria-conductor/CHANGELOG.md
  crates/astria-config/CHANGELOG.md
  crates/astria-core/CHANGELOG.md
  crates/astria-eyre/CHANGELOG.md
  crates/astria-grpc-mock/CHANGELOG.md
  crates/astria-merkle/CHANGELOG.md
  crates/astria-sequencer-relayer/CHANGELOG.md
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-telemetry/CHANGELOG.md
  justfile
Due: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common
