Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: merkle
      name: astria-merkle
      paths:
        - crates/astria-merkle/**
    - component_id: common
      name: common
      paths:
        - crates/astria-core/src/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-core/src/generated/**'
  - 'crates/astria-build-info/**'
  - 'crates/astria-grpc-mock/**'
  - 'crates/astria-grpc-mock-test/**'
  - 'crates/astria-grpc-mock-test-codegen/**'
  - 'crates/astria-test-utils/**'

change to use in_current_span
  crates/astria-sequencer/src/app/mod.rs
Due: sequencer

fix(sequencer): improve and fix instrumentation (#1255)
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/address/state_ext.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/asset/state_ext.rs
  crates/astria-sequencer/src/authority/component.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/bridge/component.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/ibc/component.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/sequence/action.rs
  crates/astria-sequencer/src/sequence/component.rs
  crates/astria-sequencer/src/sequence/state_ext.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/state_ext.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

update bytes crate
  Cargo.lock
Due: none

update ics23 crate
  Cargo.lock
Due: none

chore: update `bytes` and `ics23` crates (#1279)
  Cargo.lock
Due: none

fix abci error code
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-core/src/protocol/abci.rs
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/asset/query.rs
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/transaction/query.rs
Due: composer, sequencer, common

remove tendermint code from AbciErrorCode
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-core/src/protocol/abci.rs
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/asset/query.rs
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/transaction/query.rs
Due: composer, sequencer, common

reinstate AbciErrorCode::info
  crates/astria-core/src/protocol/abci.rs
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/asset/query.rs
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/transaction/query.rs
Due: sequencer, common

feat: breakup charts
  charts/composer/Chart.yaml
  charts/composer/templates/_helpers.tpl
  charts/composer/templates/configmap.yaml
  charts/composer/templates/deployment.yaml
  charts/composer/templates/secretproviderclass.yaml
  charts/composer/templates/service.yaml
  charts/composer/templates/servicemonitor.yaml
  charts/composer/values.yaml
  charts/deploy.just
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
  charts/evm-faucet/Chart.yaml
  charts/evm-faucet/templates/_helper.tpl
  charts/evm-faucet/templates/configmap.yaml
  charts/evm-faucet/templates/deployment.yaml
  charts/evm-faucet/templates/ingress.yaml
  charts/evm-faucet/templates/secretproviderclass.yaml
  charts/evm-faucet/templates/service.yaml
  charts/evm-faucet/values.yaml
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-rollup/files/scripts/init-geth.sh
  charts/evm-rollup/templates/_helpers.tpl
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/templates/prometheusrule.yaml
  charts/evm-rollup/templates/secretproviderclass.yaml
  charts/evm-rollup/templates/service.yaml
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/evm-stack/values.yaml
  charts/sequencer-relayer/templates/configmaps.yaml
  dev/values/rollup/dev.yaml
Due: none

fixes
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/evm-stack/values.yaml
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer-relayer/values.yaml
  charts/sequencer/values.yaml
  dev/values/rollup/dev.yaml
Due: none

don't panic on startup
  crates/astria-bridge-withdrawer/src/main.rs
Due: none

fix lint
  charts/composer/values.yaml
Due: none

fix(bridge-withdrawer): don't panic on init (#1281)
  crates/astria-bridge-withdrawer/src/main.rs
Due: none

work pls
  .github/workflows/lint.yml
Due: none

chart versions
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
Due: none

strings
  charts/evm-bridge-withdrawer/values.yaml
Due: none

feat(cli)!: ensure signing keys are never leaked as plaintext
  Cargo.lock
  charts/deploy.just
  crates/astria-cli/Cargo.toml
  crates/astria-cli/README.md
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/bridge/submit.rs
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-cli/src/lib.rs
  crates/astria-cli/src/utils.rs
Due: cli

remove silly tests
  crates/astria-cli/src/commands/sequencer.rs
Due: cli

update ibc-bridge-test values, upgrade astria cli version
  dev/bridgetester.just
  dev/containerfiles/bridgetesterutility.Dockerfile
  dev/values/rollup/ibc-bridge-test.yaml
Due: none

fixes
  charts/deploy.just
  charts/sequencer/values.yaml
Due: none

update
  .github/workflows/reusable-run-checker.yml
  charts/deploy.just
Due: none

run checker
  .github/workflows/reusable-run-checker.yml
Due: none

fix?
  charts/deploy.just
  dev/bridgetester.just
  dev/values/rollup/ibc-bridge-test.yaml
Due: none

feat(composer)!: Add chain_id check on executor build (#1175)
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/tests/blackbox/helper/mock_sequencer.rs
Due: composer

update
  dev/bridgetester.just
Due: none

fix ibc smoke test?
  dev/containerfiles/bridgetesterutility.Dockerfile
Due: none

hopefully
  dev/bridgetester.just
Due: none

chore(charts): seq-faucet bech32m update
  charts/sequencer-faucet/templates/configmap.yaml
  charts/sequencer-faucet/templates/deployment.yaml
  charts/sequencer-faucet/values.yaml
Due: none

divan debugging changes
  crates/astria-merkle/benches/benchmark.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/benches/divan.rs
  crates/astria-sequencer/src/mempool/mod.rs
Due: sequencer, astria-merkle

added separate crate
  Cargo.lock
  Cargo.toml
  crates/astria-sequencer/src/mempool/benches.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/mempool-benchmark/Cargo.toml
  crates/mempool-benchmark/benches/divan.rs
Due: sequencer

Change execution API to use primitive RollupId type
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.serde.rs
  crates/astria-core/src/primitive/v1/mod.rs
  proto/executionapis/astria/execution/v1alpha2/execution.proto
Due: conductor, common

rustfmt
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
Due: conductor

several stylistic improvements to submission state code
  crates/astria-sequencer-relayer/src/relayer/celestia_client/mod.rs
  crates/astria-sequencer-relayer/src/relayer/celestia_client/tests.rs
  crates/astria-sequencer-relayer/src/relayer/submission.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
Due: sequencer-relayer

Edit geth devTag
  charts/evm-rollup/values.yaml
Due: none

Change EVM chart version
  charts/evm-rollup/Chart.yaml
Due: none

fix ws endpoint and test action helpers
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/ethereum.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
Due: none

fix toml lint
  crates/astria-bridge-withdrawer/Cargo.toml
Due: none

toml fix?
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-core/Cargo.toml
Due: none

Fix EVM Geth devTag
  charts/evm-rollup/values.yaml
Due: none
