Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

fix tests
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/state.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
Due: none

Re-implement skipping soft update commitment check once firm check is completed
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
Due: conductor

minor changes
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
Due: conductor

update tag
  charts/evm-rollup/values.yaml
Due: none

chore(charts): update for new geth update (#1226)
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-rollup/values.yaml
Due: none

fix problems after merge
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
Due: none

send generic sequencer actions to composer
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/src/collectors/grpc.rs
  crates/astria-composer/src/collectors/mod.rs
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  proto/composerapis/astria/composer/v1alpha1/grpc_collector.proto
Due: composer

clean up retries
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/state.rs
Due: none

comment
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
Due: none

fix clippy
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/state.rs
Due: none

add comment for lint
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/state.rs
Due: none

Streamline chain_id mismatch implementation and testing
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
Due: composer

Suggested change from @SuperFluffy
  crates/astria-composer/src/executor/mod.rs
Due: composer

Add helper function for asserting chain ID error
  crates/astria-composer/src/executor/tests.rs
Due: composer

files
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/anvil.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mock_cometbft.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mock_sequencer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mod.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/main.rs
Due: none

test migration
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mock_cometbft.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mock_sequencer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
Due: none

fix testS
  crates/astria-sequencer-client/src/tests/http.rs
Due: common

rename arg
  crates/astria-sequencer/src/bridge/query.rs
Due: sequencer

clippy
  crates/astria-sequencer/src/bridge/query.rs
Due: sequencer

update celestia node chart
  charts/celestia-node/Chart.yaml
  charts/celestia-node/files/scripts/set-token.sh
  charts/celestia-node/files/scripts/start-node.sh
  charts/celestia-node/templates/configmap.yaml
  charts/celestia-node/templates/statefulset.yaml
  charts/celestia-node/values.yaml
  charts/evm-rollup/Chart.lock
  charts/evm-rollup/Chart.yaml
Due: none

major update
  charts/deploy.just
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
  charts/evm-bridge-withdrawer/values.yaml
  crates/astria-sequencer/src/asset/query.rs
  crates/astria-sequencer/src/service/info/mod.rs
  dev/values/withdrawer/values.yaml
Due: sequencer

use rust cli for bridge stuff
  .github/workflows/docker-build.yml
  charts/deploy.just
Due: none

testy stuff
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  crates/astria-sequencer/src/service/info/mod.rs
  justfile
Due: sequencer

fully remove go cli
  .github/workflows/docker-build.yml
  charts/deploy.just
Due: none

clean up comments
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
Due: none

fix tests
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
Due: none

clean up comment
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
Due: none

fix bad merge
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
Due: none

more bad merge fix
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
Due: none

clean up spawn
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
Due: none

minor improvements requested by @superfluffy
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
Due: composer

black box helpers
  Cargo.lock
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/anvil.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/ethereum.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mock_cometbft.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mock_sequencer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mod.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/main.rs
Due: none

add slinky proto files and generated rust
  crates/astria-core/src/generated/cosmos.app.v1alpha1.rs
  crates/astria-core/src/generated/cosmos.app.v1alpha1.serde.rs
  crates/astria-core/src/generated/slinky.abci.v1.rs
  crates/astria-core/src/generated/slinky.abci.v1.serde.rs
  crates/astria-core/src/generated/slinky.marketmap.module.v1.rs
  crates/astria-core/src/generated/slinky.marketmap.module.v1.serde.rs
  crates/astria-core/src/generated/slinky.marketmap.v1.rs
  crates/astria-core/src/generated/slinky.marketmap.v1.serde.rs
  crates/astria-core/src/generated/slinky.oracle.module.v1.rs
  crates/astria-core/src/generated/slinky.oracle.module.v1.serde.rs
  crates/astria-core/src/generated/slinky.oracle.v1.rs
  crates/astria-core/src/generated/slinky.oracle.v1.serde.rs
  crates/astria-core/src/generated/slinky.service.v1.rs
  crates/astria-core/src/generated/slinky.service.v1.serde.rs
  crates/astria-core/src/generated/slinky.types.v1.rs
  crates/astria-core/src/generated/slinky.types.v1.serde.rs
  proto/vendored/cosmos_sdk/cosmos/app/v1alpha1/module.proto
  proto/vendored/cosmos_sdk/cosmos/msg/v1/msg.proto
  proto/vendored/cosmos_sdk/cosmos_proto/cosmos.proto
  proto/vendored/slinky/abci/v1/vote_extensions.proto
  proto/vendored/slinky/marketmap/module/v1/module.proto
  proto/vendored/slinky/marketmap/v1/genesis.proto
  proto/vendored/slinky/marketmap/v1/market.proto
  proto/vendored/slinky/marketmap/v1/params.proto
  proto/vendored/slinky/marketmap/v1/query.proto
  proto/vendored/slinky/marketmap/v1/tx.proto
  proto/vendored/slinky/oracle/module/v1/module.proto
  proto/vendored/slinky/oracle/v1/genesis.proto
  proto/vendored/slinky/oracle/v1/query.proto
  proto/vendored/slinky/oracle/v1/tx.proto
  proto/vendored/slinky/service/v1/oracle.proto
  proto/vendored/slinky/types/v1/currency_pair.proto
  tools/protobuf-compiler/src/main.rs
Due: none

review
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
  charts/evm-bridge-withdrawer/values.yaml
  dev/values/validators/all.yml
  dev/values/withdrawer/values.yaml
Due: none

feat(charts): bridge-withdrawer, smoke test, various chart improvements (#1141)
  .github/workflows/docker-build.yml
  .github/workflows/release.yml
  charts/README.md
  charts/deploy.just
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-bridge-withdrawer/templates/_helpers.tpl
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
  charts/evm-bridge-withdrawer/templates/deployment.yaml
  charts/evm-bridge-withdrawer/templates/secretproviderclass.yaml
  charts/evm-bridge-withdrawer/templates/service.yaml
  charts/evm-bridge-withdrawer/templates/servicemonitor.yaml
  charts/evm-bridge-withdrawer/values.yaml
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/templates/service.yaml
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/values.yaml
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer-relayer/templates/statefulset.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/configmaps.yaml
  crates/astria-sequencer/src/asset/query.rs
  crates/astria-sequencer/src/service/info/mod.rs
  dev/kubernetes/namespace.yml
  dev/values/cilium.yml
  dev/values/rollup/dev.yaml
  dev/values/validators/all.yml
  dev/values/withdrawer/values.yaml
  justfile
Due: sequencer

add slinky grpc service and genesis state
  crates/astria-core/src/generated/mod.rs
  crates/astria-sequencer/src/genesis.rs
  crates/astria-sequencer/src/grpc/mod.rs
  crates/astria-sequencer/src/grpc/slinky.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

feat(sequencer): implement abci query for bridge account info (#1189)
  crates/astria-core/src/generated/astria.protocol.bridge.v1alpha1.rs
  crates/astria-core/src/protocol/bridge/v1alpha1/mod.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/service/info/mod.rs
  proto/protocolapis/astria/protocol/bridge/v1alpha1/types.proto
Due: sequencer, common

impl most of slinky grpc methods
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/grpc/slinky.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/slinky/component.rs
  crates/astria-sequencer/src/slinky/mod.rs
  crates/astria-sequencer/src/slinky/state_ext.rs
Due: sequencer

release(sequencer): 0.14.1 patch release
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
Due: sequencer

add oracle option to config and connect on startup
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/snapshots/astria_sequencer__genesis__test__genesis_state_is_unchanged.snap
Due: sequencer

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  composer: any of: crates/astria-composer, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  astria-merkle: any of: crates/astria-merkle/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  common: any of: crates/astria-core/src/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
