Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

more minor fixes
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

unused import
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

Minor improvements and verbage changes
  crates/astria-sequencer/src/app/tests_block_fees.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
Due: sequencer

Fix warning
  crates/astria-sequencer/src/app/tests_block_fees.rs
Due: sequencer

Add error context
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
Due: none

Requested changes
  crates/astria-conductor/src/conductor/inner.rs
  crates/astria-conductor/src/conductor/mod.rs
Due: conductor

Verbage change
  crates/astria-conductor/src/conductor/inner.rs
Due: conductor

fix, refactor(sequencer): refactor ics20 logic (#1495)
  crates/astria-core/src/primitive/v1/asset/denom.rs
  crates/astria-core/src/protocol/test_utils.rs
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  crates/astria-sequencer-utils/src/blob_parser.rs
  crates/astria-sequencer/src/accounts/mod.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/address/state_ext.rs
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_block_fees.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/assets/state_ext.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/utils.rs
  crates/astria-telemetry/src/display.rs
Due: sequencer, common

release: biweekly release cuts
  Cargo.lock
  crates/astria-bridge-contracts/Cargo.toml
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-cli/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-core/Cargo.toml
  crates/astria-sequencer-client/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: conductor, sequencer, cli, common

rework oracle types (#1484)
  Cargo.lock
  crates/astria-core/src/display.rs
  crates/astria-core/src/lib.rs
  crates/astria-core/src/primitive/mod.rs
  crates/astria-core/src/protocol/genesis/v1alpha1.rs
  crates/astria-core/src/slinky/abci.rs
  crates/astria-core/src/slinky/market_map.rs
  crates/astria-core/src/slinky/mod.rs
  crates/astria-core/src/slinky/oracle.rs
  crates/astria-core/src/slinky/service.rs
  crates/astria-core/src/slinky/types.rs
  crates/astria-sequencer-utils/Cargo.toml
  crates/astria-sequencer-utils/src/genesis_example.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/vote_extension.rs
  crates/astria-sequencer/src/grpc/slinky.rs
  crates/astria-sequencer/src/slinky/oracle/component.rs
  crates/astria-sequencer/src/slinky/oracle/currency_pair_strategy.rs
  crates/astria-sequencer/src/slinky/oracle/state_ext.rs
Due: sequencer, common

release(charts): iteration release updates
  charts/composer/Chart.yaml
  charts/composer/values.yaml
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-bridge-withdrawer/values.yaml
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/sequencer/Chart.yaml
  charts/sequencer/values.yaml
Due: none

add new geth release
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
Due: none

fixes
  charts/composer/Chart.yaml
  charts/evm-stack/Chart.lock
Due: none

release(charts): biweekly iteration releases
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-bridge-withdrawer/values.yaml
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/sequencer/Chart.yaml
  charts/sequencer/values.yaml
Due: none

version update
  charts/evm-stack/Chart.yaml
Due: none

Requested changes
  crates/astria-sequencer/src/app/tests_block_fees.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/mod.rs
  crates/astria-sequencer/src/transaction/checks.rs
Due: sequencer

Fix changes from merge
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
Due: sequencer

Add more detailed error statement
  crates/astria-sequencer/src/accounts/state_ext.rs
Due: sequencer

Fix from merge
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

fix tests
  crates/astria-sequencer/src/app/tests_app/mempool.rs
  crates/astria-sequencer/src/slinky/oracle/state_ext.rs
Due: sequencer

chore(ci): bump rust version to 1.81
  .github/workflows/lint.yml
  .github/workflows/reusable-build.yml
  .github/workflows/test.yml
  Cargo.lock
  containerfiles/Dockerfile
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-conductor/src/block_cache.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-telemetry/src/metrics/builders.rs
  justfile
  lint/tracing_debug_field/Cargo.toml
  lint/tracing_debug_field/rust-toolchain
Due: conductor, sequencer, common

fix: ignore `RUSTSEC-2024-0370` (#1483)
  .cargo/audit.toml
  crates/astria-telemetry/src/metrics/builders.rs
Due: common

Requested changes
  crates/astria-conductor/src/conductor/inner.rs
Due: conductor

requested change
  crates/astria-conductor/src/conductor/inner.rs
Due: conductor

Add fields
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/address/state_ext.rs
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/assets/state_ext.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/mempool/mempool_state.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/sequence/state_ext.rs
  crates/astria-sequencer/src/state_ext.rs
  crates/astria-sequencer/src/transaction/checks.rs
Due: sequencer

feat(conductor): implement restart logic (#1463)
  crates/astria-conductor/src/conductor/inner.rs
  crates/astria-conductor/src/conductor/mod.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
Due: conductor

Requested changes
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
Due: none

requested changes
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
  crates/astria-conductor/tests/blackbox/soft_only.rs
Due: conductor

Requested changes
  crates/astria-core/src/primitive/v1/asset/denom.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
Due: sequencer, common

minor clarification
  crates/astria-core/src/primitive/v1/asset/denom.rs
Due: common

Delete unused snapshot
  crates/astria-sequencer/src/bridge/snapshots/astria_sequencer__bridge__bridge_lock_action__tests__get_deposit_byte_length_snapshot.snap
Due: sequencer

update to statefulsets
  charts/graph-node/templates/deployment.yaml
Due: none

update delete pvc command to be more specific to the graph-node
  charts/deploy.just
  charts/graph-node/values.yaml
Due: none

readme
  README.md
  charts/README.md
Due: none

deploy-all deploys astrotrek
  charts/deploy.just
Due: none

add namespace overrides
  charts/graph-node/templates/deployment.yaml
Due: none

configurable ports
  charts/graph-node/templates/deployment.yaml
  charts/graph-node/templates/services.yaml
  charts/graph-node/values.yaml
Due: none

Requested changes
  charts/evm-rollup/templates/configmap.yaml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor/inner.rs
  crates/astria-conductor/src/conductor/mod.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/sequencer/builder.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-conductor/tests/blackbox/firm_only.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-conductor/tests/blackbox/soft_only.rs
Due: conductor

Clean up tests
  crates/astria-conductor/tests/blackbox/firm_only.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
  crates/astria-conductor/tests/blackbox/soft_only.rs
Due: conductor

can use config file to override default args for nonce command
  crates/astria-cli/src/cli/config.rs
  crates/astria-cli/src/cli/mod.rs
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-cli/src/config.rs
  crates/astria-cli/src/lib.rs
  crates/astria-cli/src/main.rs
Due: cli

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  composer: any of: crates/astria-composer, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  astria-merkle: any of: crates/astria-merkle/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  common: any of: crates/astria-core/src/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
