Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: merkle
      name: astria-merkle
      paths:
        - crates/astria-merkle/**
    - component_id: common
      name: common
      paths:
        - crates/astria-core/src/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-core/src/generated/**'
  - 'crates/astria-build-info/**'
  - 'crates/astria-grpc-mock/**'
  - 'crates/astria-grpc-mock-test/**'
  - 'crates/astria-grpc-mock-test-codegen/**'
  - 'crates/astria-test-utils/**'

bump chart version
  charts/evm-rollup/Chart.yaml
Due: none

sanity check test
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/ethereum.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mod.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/main.rs
Due: none

refactor(core, bridge-withdrawer)!: move bridge-unlock memo to core (#1245)
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
  crates/astria-core/src/bridge.rs
  crates/astria-core/src/snapshots/astria_core__bridge__test__bridge_unlock_memo_snapshot.snap
Due: common

fix memo import
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
Due: none

feat(core)!: lowerCamelCase for protobuf json mapping
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.serde.rs
  crates/astria-core/src/generated/astria.primitive.v1.serde.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.serde.rs
  crates/astria-core/src/generated/celestia.blob.v1.serde.rs
  crates/astria-core/src/generated/cosmos.auth.v1beta1.serde.rs
  crates/astria-core/src/generated/cosmos.base.abci.v1beta1.serde.rs
  crates/astria-core/src/generated/cosmos.base.node.v1beta1.serde.rs
  crates/astria-core/src/generated/cosmos.base.tendermint.v1beta1.serde.rs
  crates/astria-core/src/generated/cosmos.crypto.multisig.v1beta1.serde.rs
  crates/astria-core/src/generated/cosmos.tx.v1beta1.serde.rs
  crates/astria-core/src/generated/tendermint.p2p.serde.rs
  crates/astria-core/src/generated/tendermint.types.serde.rs
  tools/protobuf-compiler/src/main.rs
Due: conductor

fix(conductor): don't panic during panic
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
Due: conductor

add history.state flag
  charts/evm-rollup/templates/statefulsets.yaml
Due: none

fix startup
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
Due: none

all hail the crab lord
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
Due: none

fix comment
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
Due: none

update smoke test
  charts/deploy.just
Due: none

fix: rollup archive node configurations (#1249)
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/statefulsets.yaml
Due: none

refactor(bridge-withdrawer)!: refactor startup to a separate subtask and remove balance check from startup (#1190)
  charts/deploy.just
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
  crates/astria-bridge-withdrawer/local.env.example
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/state.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
  crates/astria-bridge-withdrawer/src/config.rs
Due: none

feat(core)!: lowerCamelCase for protobuf json mapping (#1250)
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.serde.rs
  crates/astria-core/src/generated/astria.primitive.v1.serde.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.serde.rs
  crates/astria-core/src/generated/celestia.blob.v1.serde.rs
  crates/astria-core/src/generated/cosmos.auth.v1beta1.serde.rs
  crates/astria-core/src/generated/cosmos.base.abci.v1beta1.serde.rs
  crates/astria-core/src/generated/cosmos.base.node.v1beta1.serde.rs
  crates/astria-core/src/generated/cosmos.base.tendermint.v1beta1.serde.rs
  crates/astria-core/src/generated/cosmos.crypto.multisig.v1beta1.serde.rs
  crates/astria-core/src/generated/cosmos.tx.v1beta1.serde.rs
  crates/astria-core/src/generated/tendermint.p2p.serde.rs
  crates/astria-core/src/generated/tendermint.types.serde.rs
  tools/protobuf-compiler/src/main.rs
Due: conductor

feat(core, proto)!: make bridge unlock memo to string
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Due: sequencer, common

fix(conductor): don't panic during panic (#1252)
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
Due: conductor

update protos
  crates/astria-core/src/generated/slinky.marketmap.v1.serde.rs
  crates/astria-core/src/generated/slinky.oracle.v1.serde.rs
  crates/astria-core/src/generated/slinky.service.v1.serde.rs
Due: none

feat(core, proto)!: make bridge unlock memo string (#1244)
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Due: sequencer, common

fix(sequencer-utils): fixes issue in `parse_blob` tests (#1243)
  Cargo.lock
  crates/astria-sequencer-utils/Cargo.toml
  crates/astria-sequencer-utils/tests/parse_blob.rs
Due: sequencer

chore(sequencer)!: add metrics (#1248)
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/metrics.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/mempool.rs
Due: sequencer

fix(charts): add resources for sequencer/cometbft
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/statefulsets.yaml
  charts/sequencer/values.yaml
  dev/values/validators/all.yml
Due: none

fix(charts): add resources for sequencer/cometbft (#1254)
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/statefulsets.yaml
  charts/sequencer/values.yaml
  dev/values/validators/all.yml
Due: none

blockscout works locally
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/evm-stack/values.yaml
  dev/values/rollup/dev.yaml
Due: none

improve instrumentation including fix for App::execute_transaction
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/address/state_ext.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/asset/state_ext.rs
  crates/astria-sequencer/src/authority/component.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/bridge/component.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/component.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/sequence/component.rs
  crates/astria-sequencer/src/sequence/state_ext.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/state_ext.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

fix(lint): upgrade rust toolchain nightly version
  README.md
  justfile
Due: none

missed merge conflict
  crates/astria-core/src/bridge.rs
Due: common

feat(chart): external ingress
  charts/external-ingress/Chart.yaml
  charts/external-ingress/templates/_helpers.tpl
  charts/external-ingress/templates/ingress.yaml
  charts/external-ingress/templates/services.yaml
  charts/external-ingress/values.yaml
Due: none

test passes except shutdown
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/lib.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/ethereum.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/main.rs
Due: none

watcher logs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
Due: none

fix hanging tests
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/main.rs
Due: none

test works
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
Due: none

fix hermes smoke tests
  dev/bridgetester.just
  dev/values/hermes/local.yaml
  dev/values/validators/all.yml
Due: none

feat(core): serde impls for astria_vendored
  crates/astria-core/src/generated/astria.composer.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.execution.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.protocol.accounts.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.protocol.asset.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.protocol.bridge.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria_vendored.penumbra.core.component.ibc.v1.serde.rs
  crates/astria-core/src/generated/astria_vendored.tendermint.abci.rs
  crates/astria-core/src/generated/astria_vendored.tendermint.abci.serde.rs
  crates/astria-core/src/generated/astria_vendored.tendermint.crypto.rs
  crates/astria-core/src/generated/astria_vendored.tendermint.crypto.serde.rs
  crates/astria-core/src/generated/astria_vendored.tendermint.types.rs
  crates/astria-core/src/generated/astria_vendored.tendermint.types.serde.rs
  crates/astria-core/src/generated/astria_vendored.tendermint.version.rs
  crates/astria-core/src/generated/astria_vendored.tendermint.version.serde.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  tools/protobuf-compiler/src/main.rs
Due: common

update sequencer in terms of the bespoke ValidatorUpdate
  Cargo.lock
  crates/astria-core/src/crypto.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/authority/component.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/test_utils.rs
  crates/astria-sequencer/src/utils.rs
Due: sequencer, common

update cli
  crates/astria-cli/src/commands/sequencer.rs
Due: cli

clippy
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
Due: common

clippy
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/authority/state_ext.rs
Due: sequencer

specify bridge address in withdrawer actions
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/convert.rs
Due: none

remove fields from tracing instrumentation in sequencer
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/address/state_ext.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/asset/state_ext.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/mempool.rs
  crates/astria-sequencer/src/sequence/action.rs
  crates/astria-sequencer/src/sequence/state_ext.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/state_ext.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

review comments
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-sequencer/src/authority/state_ext.rs
Due: sequencer, common
