Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: merkle
      name: astria-merkle
      paths:
        - crates/astria-merkle/**
    - component_id: common
      name: common
      paths:
        - crates/astria-core/src/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-core/src/generated/**'
  - 'crates/astria-build-info/**'
  - 'crates/astria-grpc-mock/**'
  - 'crates/astria-grpc-mock-test/**'
  - 'crates/astria-grpc-mock-test-codegen/**'
  - 'crates/astria-test-utils/**'

fix partial pbjson docs
  crates/astria-grpc-mock/src/matcher.rs
Due: none

fix(sequencer)!: rewrite check_tx to be more efficient and fix regression (#1515)
  crates/astria-core/src/protocol/abci.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/metrics.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/service/mempool/mod.rs
  crates/astria-sequencer/src/service/mempool/tests.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer, common

add comment
  crates/astria-sequencer/src/app/mod.rs
Due: sequencer

simplify bech32m test
  charts/cli-test.just
Due: none

refactor(sequencer): generate `SequencerBlock` after transaction execution in proposal phase (#1562)
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/tests_app/mempool.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

add parked size limit
  crates/astria-core/src/protocol/abci.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mempool/mod.rs
  crates/astria-sequencer/src/service/mempool/tests.rs
Due: sequencer, common

add to charts
  charts/sequencer/templates/configmaps.yaml
  crates/astria-sequencer/local.env.example
Due: sequencer

initial tracing additions
  crates/astria-cli/src/lib.rs
  crates/astria-cli/src/sequencer/account.rs
  crates/astria-cli/src/sequencer/address.rs
  crates/astria-cli/src/sequencer/balance.rs
  crates/astria-cli/src/sequencer/block_height.rs
  crates/astria-cli/src/utils.rs
Due: cli

improve comment
  crates/astria-sequencer/src/mempool/mod.rs
Due: sequencer

fix charts
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/configmaps.yaml
  charts/sequencer/values.yaml
Due: none

chart lint fix;
  charts/sequencer/values.yaml
Due: none

noble changes
  charts/ibc-test.just
  dev/values/hermes/local.yaml
  dev/values/validators/all.yml
Due: none

chore(deps): bump penumbra to 0.80.5
  Cargo.lock
  Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: sequencer

do rust better
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/service/mempool/mod.rs
Due: sequencer

fix default config
  crates/astria-sequencer/local.env.example
Due: sequencer

fix merge issues
  crates/astria-sequencer/src/app/mod.rs
Due: sequencer

fix after rebase
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/service/mempool/mod.rs
Due: sequencer

action not actions
  proto/protocolapis/astria/protocol/transaction/v1alpha1/transaction.proto
Due: none

chore: rename bridge withdrawer to settlor
  .github/workflows/build.yml
  .github/workflows/docker-build.yml
  Cargo.lock
  Cargo.toml
  charts/evm-settlor/Chart.yaml
  charts/evm-settlor/templates/_helpers.tpl
  charts/evm-settlor/templates/configmaps.yaml
  charts/evm-settlor/templates/deployment.yaml
  charts/evm-settlor/templates/secretproviderclass.yaml
  charts/evm-settlor/templates/service.yaml
  charts/evm-settlor/templates/servicemonitor.yaml
  charts/evm-settlor/values.yaml
  charts/evm-stack/Chart.yaml
  charts/ibc-test.just
  crates/astria-settlor/Cargo.toml
  crates/astria-settlor/build.rs
  crates/astria-settlor/justfile
  crates/astria-settlor/local.env.example
  crates/astria-settlor/src/api.rs
  crates/astria-settlor/src/bridge_withdrawer/batch.rs
  crates/astria-settlor/src/bridge_withdrawer/ethereum/mod.rs
  crates/astria-settlor/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-settlor/src/bridge_withdrawer/mod.rs
  crates/astria-settlor/src/bridge_withdrawer/startup.rs
  crates/astria-settlor/src/bridge_withdrawer/state.rs
  crates/astria-settlor/src/bridge_withdrawer/submitter/builder.rs
  crates/astria-settlor/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-settlor/src/bridge_withdrawer/submitter/signer.rs
  crates/astria-settlor/src/build_info.rs
  crates/astria-settlor/src/config.rs
  crates/astria-settlor/src/lib.rs
  crates/astria-settlor/src/main.rs
  crates/astria-settlor/src/metrics.rs
  crates/astria-settlor/tests/blackbox/helpers/ethereum.rs
  crates/astria-settlor/tests/blackbox/helpers/mock_cometbft.rs
  crates/astria-settlor/tests/blackbox/helpers/mock_sequencer.rs
  crates/astria-settlor/tests/blackbox/helpers/mod.rs
  crates/astria-settlor/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-settlor/tests/blackbox/main.rs
Due: none

fix failing test
  crates/astria-sequencer/src/app/tests_block_ordering.rs
Due: sequencer

impl threshold dkg cli
  Cargo.lock
  crates/astria-cli/Cargo.toml
  crates/astria-cli/src/sequencer/mod.rs
  crates/astria-cli/src/sequencer/threshold/dkg.rs
  crates/astria-cli/src/sequencer/threshold/mod.rs
Due: cli

provide transactions container trait
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
Due: sequencer

noble updates uusdc
  charts/noble-local/files/init-noble.sh
  charts/noble-local/values.yaml
  dev/values/hermes/local.yaml
Due: none

check if this fixes things
  crates/astria-core/src/protocol/transactions/v1alpha1/snapshots/astria_core__protocol__transactions__v1alpha1__tests__signed_transaction_hash.snap.new
  proto/protocolapis/astria/protocol/transactions/v1alpha1/action.proto
  proto/protocolapis/astria/protocol/transactions/v1alpha1/transaction.proto
Due: common

remove new snap
  crates/astria-core/src/protocol/transactions/v1alpha1/snapshots/astria_core__protocol__transactions__v1alpha1__tests__signed_transaction_hash.snap.new
Due: common

please be the last changes back dear god
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/main.rs
  crates/astria-composer/src/executor/bundle_factory/tests.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/test_utils.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

fix hardcoded sequencer test
  crates/astria-sequencer/src/app/tests_block_fees.rs
Due: sequencer

remove unused proto imports
  proto/protocolapis/astria/protocol/transactions/v1alpha1/transaction.proto
Due: none

apply buf lint suggestion
  proto/protocolapis/astria/protocol/transactions/v1alpha1/transaction.proto
Due: none

add gauge for size of parked post tx insertion into parked
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/metrics.rs
Due: sequencer

fix comment
  crates/astria-sequencer/src/mempool/mod.rs
Due: sequencer

feat(sequencer)!: add limit to total amount of transactions in parked (#1638)
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/configmaps.yaml
  charts/sequencer/values.yaml
  crates/astria-core/src/protocol/abci.rs
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/metrics.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mempool/mod.rs
  crates/astria-sequencer/src/service/mempool/tests.rs
Due: sequencer, common

change mempool to return next open nonce instead of top of pending
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
Due: sequencer

change something
  charts/evm-rollup/values.yaml
Due: none

use usdc
  charts/noble-local/files/init-noble.sh
  charts/noble-local/files/start-noble.sh
  charts/noble-local/values.yaml
Due: none

respond to comments by @Fraser999
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_block_ordering.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
Due: sequencer

rename storage keys
  crates/astria-core/src/primitive/v1/asset/denom.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/accounts/storage/keys.rs
  crates/astria-sequencer/src/address/state_ext.rs
  crates/astria-sequencer/src/address/storage/keys.rs
  crates/astria-sequencer/src/app/state_ext.rs
  crates/astria-sequencer/src/app/storage/keys.rs
  crates/astria-sequencer/src/assets/state_ext.rs
  crates/astria-sequencer/src/assets/storage/keys.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/authority/storage/keys.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/bridge/storage/keys.rs
  crates/astria-sequencer/src/grpc/state_ext.rs
  crates/astria-sequencer/src/grpc/storage/keys.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/ibc/storage/keys.rs
  crates/astria-sequencer/src/sequence/state_ext.rs
  crates/astria-sequencer/src/sequence/storage/keys.rs
  crates/astria-sequencer/src/storage/keys.rs
Due: sequencer, common
