Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: merkle
      name: astria-merkle
      paths:
        - crates/astria-merkle/**
    - component_id: common
      name: common
      paths:
        - crates/astria-core/src/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-core/src/generated/**'
  - 'crates/astria-build-info/**'
  - 'crates/astria-grpc-mock/**'
  - 'crates/astria-grpc-mock-test/**'
  - 'crates/astria-grpc-mock-test-codegen/**'
  - 'crates/astria-test-utils/**'

feat(ci): provide demo/preview environments (#1406)
  charts/celestia-local/Chart.yaml
  charts/celestia-local/templates/_helpers.tpl
  charts/celestia-local/templates/ingress.yaml
  charts/celestia-local/templates/volumes.yaml
  charts/celestia-local/values.yaml
  charts/composer/Chart.yaml
  charts/composer/templates/deployment.yaml
  charts/composer/values.yaml
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-bridge-withdrawer/templates/deployment.yaml
  charts/evm-bridge-withdrawer/values.yaml
  charts/evm-faucet/Chart.yaml
  charts/evm-faucet/templates/deployment.yaml
  charts/evm-faucet/values.yaml
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/_helpers.tpl
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/hermes/Chart.yaml
  charts/hermes/templates/deployment.yaml
  charts/hermes/values.yaml
  charts/sequencer-faucet/Chart.yaml
  charts/sequencer-faucet/templates/deployment.yaml
  charts/sequencer-faucet/values.yaml
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/statefulset.yaml
  charts/sequencer-relayer/values.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/statefulsets.yaml
  charts/sequencer/values.yaml
  dev/argo.just
  dev/argocd/pr-preview-envs/evm-appset.yaml
  dev/argocd/pr-preview-envs/sequencer-appset.yaml
  dev/helm.just
  justfile
Due: none

Fix typo in required label for sequencer preview-env
  dev/argocd/pr-preview-envs/sequencer-appset.yaml
Due: none

bump penumbra
  Cargo.lock
  Cargo.toml
Due: none

fix(ci): typo for required field in sequencer preview-env (#1500)
  dev/argocd/pr-preview-envs/sequencer-appset.yaml
Due: none

fix astria core doc tests
  crates/astria-core/src/display.rs
Due: common

Requested changes
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
Due: conductor

More sophisticated `simple_firm_only()` test
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
  crates/astria-conductor/tests/blackbox/soft_only.rs
Due: conductor

Requested changes
  crates/astria-eyre/Cargo.toml
  crates/astria-eyre/src/lib.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/ibc/host_interface.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

Minor change
  crates/astria-eyre/src/lib.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/ibc/host_interface.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

Requested changes
  crates/astria-eyre/src/lib.rs
Due: none

fix: build docker when workflow explicitly includes component (#1498)
  .github/workflows/docker-build.yml
  .github/workflows/reusable-docker-build.yml
Due: none

change event id to 128
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
Due: sequencer

ci(cli): build image for cli
  .github/workflows/docker-build.yml
Due: none

configure tests to use docker image
  .github/workflows/docker-build.yml
  charts/deploy.just
  charts/ibc-test.just
Due: none

fix dependencies of tests
  .github/workflows/docker-build.yml
Due: none

remove install of cli from tests workflow
  .github/workflows/docker-build.yml
Due: none

add log index to event id
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
Due: none

fix tests for erc20
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mod.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/main.rs
Due: none

fix wrong line change
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
Due: sequencer

updates
  .github/workflows/docker-build.yml
  charts/deploy.just
  justfile
Due: none

change wrap_err
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

update penumbra
  Cargo.lock
  Cargo.toml
Due: none

docker-build workflow fix
  .github/workflows/docker-build.yml
  .github/workflows/reusable-docker-build.yml
Due: none

Calculate deposit byte length based only on asset and dest. chain address
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
Due: sequencer

Fix compile?
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
Due: sequencer

Fix slice issue for rust 1.76
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
Due: sequencer

Fixes from merge
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

fix ibc event id lenght
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
Due: sequencer

trigger manual docker-build workflow (#1499)
  .github/workflows/docker-build.yml
  .github/workflows/reusable-docker-build.yml
Due: none

fix error msgs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
Due: sequencer

Add deposit builder
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_block_fees.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/transaction/checks.rs
Due: sequencer, common

add ingress
  charts/graph-node/templates/ingress.yaml
  charts/graph-node/templates/servicemonitor.yaml
  charts/graph-node/values.yaml
Due: none

Bump chart versions
  charts/evm-rollup/Chart.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

fix(bridge-contracts): fix memo transaction hash encoding (#1428)
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mod.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/main.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
Due: sequencer

make sure set
  charts/deploy.just
Due: none

set tag for ibc-bridge
  charts/deploy.just
Due: none

bump penumbra and hermes
  Cargo.lock
  Cargo.toml
  charts/hermes/values.yaml
Due: none

a fix
  .github/workflows/docker-build.yml
Due: none
