Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

remove balance check, clean up startup
  crates/astria-bridge-withdrawer/local.env.example
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/state.rs
  crates/astria-bridge-withdrawer/src/config.rs
Due: none

context
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

fix metric and remove unused metric
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/metrics.rs
Due: sequencer

fmt
  crates/astria-sequencer/src/app/mod.rs
Due: sequencer

maybe fix genesis in chart
  charts/sequencer/files/cometbft/config/genesis.json
Due: none

lint chart
  charts/sequencer/values.yaml
Due: none

cleanup
  .gitignore
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/app-genesis-state.json
  crates/astria-sequencer/src/app/vote_extension.rs
  crates/astria-sequencer/src/slinky/oracle/component.rs
  proto/vendored/cosmos_sdk/cosmos/msg/v1/msg.proto
Due: sequencer

fix unit test
  crates/astria-sequencer/src/transaction/checks.rs
Due: sequencer

charts
  charts/sequencer/files/cometbft/config/genesis.json
Due: none

feat(sequencer): implement transaction fee query (#1196)
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/protocol/abci.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/src/transaction/query.rs
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Due: sequencer, common

fmt
  crates/astria-sequencer/src/app/vote_extension.rs
  crates/astria-sequencer/src/slinky/marketmap/component.rs
Due: sequencer

remove clippy allow
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/state.rs
Due: none

fix(sequencer) fix wrong metric and remove unused metric (#1240)
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/metrics.rs
Due: sequencer

add oracle config values to chart
  charts/sequencer/templates/configmaps.yaml
Due: none

maybe fix chart
  charts/sequencer/templates/configmaps.yaml
Due: none

store native asset ibc->trace mapping in init_chain
  crates/astria-sequencer/src/app/mod.rs
Due: sequencer

enforce native asset is not in ibc/id form
  crates/astria-sequencer/src/app/mod.rs
Due: sequencer

update snapshot tests
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_genesis_snapshot.snap
Due: sequencer

breakout evm-faucet
  charts/evm-faucet/Chart.yaml
  charts/evm-faucet/templates/_helper.tpl
  charts/evm-faucet/templates/configmap.yaml
  charts/evm-faucet/templates/deployment.yaml
  charts/evm-faucet/templates/ingress.yaml
  charts/evm-faucet/templates/secretproviderclass.yaml
  charts/evm-faucet/templates/service.yaml
  charts/evm-faucet/values.yaml
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/templates/service.yaml
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/evm-stack/values.yaml
  dev/values/rollup/dev.yaml
Due: none

don't upgrade all of Cargo.lock
  Cargo.lock
Due: none

refactor(bridge-withdrawer): move generated contract bindings to crate (#1237)
  .github/workflows/test.yml
  .gitmodules
  Cargo.lock
  Cargo.toml
  crates/astria-bridge-contracts/Cargo.toml
  crates/astria-bridge-contracts/README.md
  crates/astria-bridge-contracts/src/generated/astria_bridgeable_erc20.rs
  crates/astria-bridge-contracts/src/generated/astria_withdrawer.rs
  crates/astria-bridge-contracts/src/generated/i_astria_withdrawer.rs
  crates/astria-bridge-contracts/src/generated/mod.rs
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-bridge-withdrawer/build.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/generated/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/test_utils.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  justfile
  tools/solidity-compiler/Cargo.lock
  tools/solidity-compiler/Cargo.toml
  tools/solidity-compiler/README.md
  tools/solidity-compiler/src/main.rs
Due: none

fix state
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/state.rs
Due: none

refactor(sequencer): fix prepare proposal metrics (#1211)
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/metrics.rs
Due: sequencer

fix issue in parse_blob test
  Cargo.lock
  crates/astria-sequencer-utils/Cargo.toml
  crates/astria-sequencer-utils/tests/parse_blob.rs
Due: sequencer

address comments
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
Due: none

remove dynamic strings
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
Due: none

minor cleanup?
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
Due: none

all hail the crab
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
Due: none

update charts to remove balance fix
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
Due: none

version bump
  charts/evm-bridge-withdrawer/Chart.yaml
Due: none

basic start
  charts/composer/Chart.yaml
  charts/composer/templates/_helpers.tpl
  charts/composer/templates/configmap.yaml
  charts/composer/templates/deployment.yaml
  charts/composer/templates/secretproviderclass.yaml
  charts/composer/templates/service.yaml
  charts/composer/templates/servicemonitor.yaml
  charts/composer/values.yaml
  charts/evm-faucet/values.yaml
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-rollup/files/scripts/init-geth.sh
  charts/evm-rollup/templates/_helpers.tpl
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/templates/ingress.yaml
  charts/evm-rollup/templates/prometheusrule.yaml
  charts/evm-rollup/templates/secretproviderclass.yaml
  charts/evm-rollup/templates/service.yaml
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/evm-stack/values.yaml
  dev/values/rollup/dev.yaml
Due: none

smoke test passes
  charts/composer/templates/_helpers.tpl
  charts/composer/values.yaml
  charts/deploy.just
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-rollup/files/scripts/init-geth.sh
  charts/evm-rollup/templates/_helpers.tpl
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/values.yaml
  dev/values/rollup/dev.yaml
Due: none

add bridge withdrawer to stack
  charts/deploy.just
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/evm-stack/values.yaml
  dev/values/rollup/dev.yaml
Due: none

fix(sequencer)!: store native asset ibc->trace mapping in init_chain (#1242)
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_genesis_snapshot.snap
Due: sequencer

refactor(core, bridge): move memo to core
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
  crates/astria-core/src/bridge.rs
  crates/astria-core/src/snapshots/astria_core__bridge__test__bridge_unlock_memo_snapshot.snap
Due: common

clippy
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
  crates/astria-core/src/bridge.rs
Due: common

augment sequencer metrics
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/metrics.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/mempool.rs
Due: sequencer

fix faucet
  charts/deploy.just
  charts/evm-faucet/templates/configmap.yaml
  dev/values/rollup/dev.yaml
Due: none

new line
  charts/composer/values.yaml
Due: none

fix: add state.scheme=hash to archive configuration
  charts/evm-rollup/templates/statefulsets.yaml
Due: none

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  composer: any of: crates/astria-composer, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  astria-merkle: any of: crates/astria-merkle/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  common: any of: crates/astria-core/src/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
