Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

run fmt and lint
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-core/src/composer/mod.rs
  crates/astria-core/src/composer/v1alpha1/mod.rs
Due: conductor, common

clean ups
  charts/sequencer/values.yaml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/client.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/simulator.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/metrics.rs
  crates/astria-composer/src/mock_grpc.rs
  crates/astria-composer/src/rollup.rs
  crates/astria-composer/tests/blackbox/api.rs
  crates/astria-composer/tests/blackbox/geth_collector.rs
  crates/astria-composer/tests/blackbox/grpc_collector.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-core/src/composer/v1alpha1/mod.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.serde.rs
  crates/astria-grpc-mock/src/matcher.rs
  proto/composerapis/astria/composer/v1alpha1/trusted_builder.proto
Due: composer, common

fix tests
  crates/astria-composer/src/executor/tests.rs
Due: composer

use release namespace
  charts/sequencer/templates/configmaps.yaml
Due: none

fmt + lint
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/grpc.rs
  crates/astria-composer/src/sequencer_hooks.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/client.rs
Due: composer, sequencer

execution api updates for trusted builder
  charts/evm-rollup/values.yaml
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-core/src/composer/mod.rs
  crates/astria-core/src/composer/v1alpha1/mod.rs
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.serde.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/lib.rs
  proto/composerapis/astria/composer/v1alpha1/trusted_builder.proto
  proto/executionapis/astria/execution/v1alpha2/execution.proto
Due: conductor, common

update charts for trusted builder
  charts/composer/templates/configmap.yaml
  charts/evm-rollup/templates/service.yaml
  charts/evm-rollup/values.yaml
  dev/values/rollup/dev.yaml
Due: none

save
  charts/composer/values.yaml
  charts/evm-rollup/values.yaml
  crates/astria-sequencer/src/app/mod.rs
Due: sequencer

remove message hash
  crates/astria-composer/src/executor/mod.rs
  crates/astria-core/src/composer/v1alpha1/mod.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.serde.rs
  proto/composerapis/astria/composer/v1alpha1/trusted_builder.proto
Due: composer, common

initial version of trusted builder mvp
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-composer/justfile
  crates/astria-composer/local.env.example
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/client.rs
  crates/astria-composer/src/executor/mock_grpc.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/simulator.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/metrics.rs
  crates/astria-composer/tests/blackbox/api.rs
  crates/astria-composer/tests/blackbox/geth_collector.rs
  crates/astria-composer/tests/blackbox/grpc_collector.rs
  crates/astria-composer/tests/blackbox/helper/mock_grpc.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mock_grpc.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-core/src/composer/v1alpha1/mod.rs
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/protocol/mod.rs
  crates/astria-core/src/protocol/test_utils.rs
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  crates/astria-sequencer/src/proposal/commitment.rs
Due: conductor, composer, sequencer, common

some minor changes
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/simulator.rs
Due: composer

it compiles
  charts/composer/templates/configmap.yaml
  charts/sequencer/templates/configmaps.yaml
  charts/sequencer/values.yaml
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/simulator.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/client.rs
  crates/astria-sequencer/src/service/consensus.rs
  dev/values/rollup/dev.yaml
Due: composer, sequencer

update astria-geth image name
  charts/evm-rollup/templates/_helpers.tpl
  dev/values/rollup/dev.yaml
Due: none

Fix tests
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
Due: sequencer, common

fix(charts)!: sequencer-relayer chart correct startup env var
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/files/scripts/start-relayer.sh
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
Due: none

fix(charts)!: sequencer-relayer chart correct startup env var (#1437)
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/files/scripts/start-relayer.sh
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
Due: none

minor renames and re-export
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/metrics.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-conductor/src/metrics.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-sequencer-relayer/src/metrics.rs
  crates/astria-sequencer-relayer/src/relayer/write/conversion.rs
  crates/astria-sequencer-relayer/tests/blackbox/helpers/test_sequencer_relayer.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/metrics.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-telemetry/src/lib.rs
  crates/astria-telemetry/src/metrics/builders.rs
  crates/astria-telemetry/src/metrics/into_f64.rs
Due: conductor, composer, sequencer, sequencer-relayer, common

chore: ibc e2e smoke test (#1284)
  charts/README.md
  charts/ibc-test.just
  dev/kubetail.just
  dev/values/rollup/ibc-bridge-test.yaml
  justfile
Due: none

include ibc-bridge-test in docker ci target
  .github/workflows/docker-build.yml
Due: none

expose composer grpc port in an ingress
  charts/composer/templates/configmap.yaml
  charts/composer/templates/ingress.yaml
  charts/composer/values.yaml
Due: none

update charts
  charts/deploy.just
  charts/evm-stack/values.yaml
  charts/sequencer/files/cometbft/config/genesis.json
  charts/sequencer/values.yaml
  dev/values/rollup/dev.yaml
  dev/values/validators/node0.yml
  dev/values/validators/node1.yml
  dev/values/validators/node2.yml
Due: none

feat(proto, core, sequencer)!: permit bech32 compatible addresses
  charts/sequencer/files/cometbft/config/genesis.json
  charts/sequencer/values.yaml
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.serde.rs
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-core/src/primitive/v1/snapshots/astria_core__primitive__v1__tests__snapshots-2.snap
  crates/astria-core/src/protocol/genesis/snapshots/astria_core__protocol__genesis__v1alpha1__tests__genesis_state_is_unchanged.snap
  crates/astria-core/src/protocol/genesis/v1alpha1.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  crates/astria-sequencer-utils/src/genesis_example.rs
  crates/astria-sequencer/src/address/state_ext.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_genesis_snapshot.snap
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/test_utils.rs
  crates/astria-sequencer/src/transaction/checks.rs
  proto/protocolapis/astria/protocol/genesis/v1alpha1/types.proto
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Due: sequencer, cli, common

bump sequencer chart
  charts/sequencer/Chart.yaml
Due: none

remove return type from wait_for_tx_inclusion()
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-cli/src/commands/bridge/submit.rs
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/tests/http.rs
Due: cli, common

Requested changes
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-core/src/generated/astria.primitive.v1.rs
  crates/astria-core/src/generated/astria.primitive.v1.serde.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.serde.rs
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/src/transaction/state_ext.rs
  proto/primitives/astria/primitive/v1/types.proto
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/block.proto
Due: composer, sequencer, common

recompile protos
  crates/astria-core/src/generated/astria_vendored.slinky.abci.v1.rs
  crates/astria-core/src/generated/astria_vendored.slinky.marketmap.v1.rs
  crates/astria-core/src/generated/astria_vendored.slinky.oracle.v1.rs
  crates/astria-core/src/generated/astria_vendored.slinky.service.v1.rs
Due: none

fix compiled protos
  crates/astria-core/src/generated/astria_vendored.slinky.abci.v1.serde.rs
  crates/astria-core/src/generated/astria_vendored.slinky.marketmap.v1.serde.rs
  crates/astria-core/src/generated/astria_vendored.slinky.oracle.v1.serde.rs
  crates/astria-core/src/generated/astria_vendored.slinky.service.v1.serde.rs
  tools/protobuf-compiler/src/main.rs
Due: none

Apply suggestions from code review
  crates/astria-sequencer-relayer/src/relayer/mod.rs
Due: sequencer-relayer

Minor fixes
  crates/astria-sequencer-relayer/src/relayer/mod.rs
Due: sequencer-relayer

Revert to string
  crates/astria-core/src/generated/astria.primitive.v1.rs
  crates/astria-core/src/generated/astria.primitive.v1.serde.rs
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/snapshots/astria_core__protocol__transaction__v1alpha1__test__signed_transaction_hash.snap
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  proto/primitives/astria/primitive/v1/types.proto
Due: sequencer, common

add suggestions from @fraser999
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
Due: sequencer

Minor changes
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-core/src/primitive/v1/mod.rs
Due: composer, common

get noble running
  charts/deploy.just
  charts/hermes/templates/deployment.yaml
  charts/hermes/values.yaml
  charts/ibc-test.just
  charts/noble-local/containerfiles/noble.Dockerfile
  charts/noble-local/files/init-noble.sh
  charts/noble-local/files/seeds/dev_account_seed.json
  charts/noble-local/files/seeds/ibc_account_seed.json
  charts/noble-local/files/seeds/tf1_owner_seed.json
  charts/noble-local/files/seeds/tf2_owner_seed.json
  charts/noble-local/files/seeds/validator_seed.json
  charts/noble-local/values.yaml
Due: none

formatting
  charts/ibc-test.just
Due: none

address comments
  Cargo.lock
  crates/astria-core/Cargo.toml
  crates/astria-core/src/protocol/genesis/v1alpha1.rs
  crates/astria-core/src/slinky/market_map.rs
  crates/astria-core/src/slinky/oracle.rs
  crates/astria-core/src/slinky/types.rs
  crates/astria-sequencer/src/app/mod.rs
Due: sequencer, common

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  composer: any of: crates/astria-composer, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  astria-merkle: any of: crates/astria-merkle/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  common: any of: crates/astria-core/src/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
