Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

reflect pr title
  crates/astria-sequencer/CHANGELOG.md
Due: sequencer

allow restore from snapshot and scheduled snapshot creation for geth nodes
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/scripts/create-snapshot.sh
  charts/evm-rollup/files/scripts/init-geth.sh
  charts/evm-rollup/files/scripts/restore-snapshot.sh
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/templates/cronjobs.yaml
  charts/evm-rollup/templates/secretproviderclass.yaml
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/values.yaml
Due: none

update evm-rollup in evm-stack
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

snapshot restore should be disabled by default
  charts/evm-rollup/values.yaml
Due: none

bump evm-stack version
  charts/evm-stack/Chart.yaml
Due: none

clarify and refactor transaction cost estimation
  crates/astria-sequencer/src/transaction/checks.rs
Due: sequencer

only need to remove the geth dir
  charts/evm-rollup/files/scripts/restore-snapshot.sh
Due: none

fixes and changes from testing
  charts/evm-rollup/files/scripts/create-snapshot.sh
  charts/evm-rollup/files/scripts/restore-snapshot.sh
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/values.yaml
Due: none

expose evm-rollup grpc port
  charts/evm-rollup/templates/service.yaml
Due: none

feat(charts): snapshot startup for sequencer
  charts/sequencer/files/scripts/init-cometbft.sh
  charts/sequencer/templates/statefulsets.yaml
  charts/sequencer/values.yaml
Due: none

disable snapshotload default
  charts/sequencer/values.yaml
Due: none

update sequencer chart version
  charts/sequencer/Chart.yaml
Due: none

fix(sequencer)!: use bridge address to determine asset in bridge unlock cost estimation instead of signer (#1905)
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/transaction/checks.rs
Due: sequencer

chore(clippy): ignore CometBFT as an identifier
  clippy.toml
Due: none

chore(clippy): ignore CometBFT as an identifier (#1913)
  clippy.toml
Due: none

change Allocation to sign a google.protobuf.Any
  crates/astria-auctioneer/src/bid/mod.rs
  crates/astria-core/src/generated/astria.auction.v1alpha1.rs
  crates/astria-core/src/generated/astria.auction.v1alpha1.serde.rs
  proto/executionapis/astria/auction/v1alpha1/bid.proto
Due: none

fix clippy lints
  crates/astria-auctioneer/src/auctioneer/auction/factory.rs
  crates/astria-auctioneer/src/auctioneer/auction/worker.rs
  crates/astria-auctioneer/src/bid/mod.rs
  crates/astria-auctioneer/src/config.rs
  crates/astria-sequencer/src/grpc/mod.rs
Due: sequencer

run fmt + lint
  crates/astria-core/src/sequencerblock/optimistic/v1alpha1.rs
  proto/executionapis/astria/auction/v1alpha1/bid.proto
Due: common

fmt
  crates/astria-auctioneer/src/auctioneer/inner/auction/mod.rs
  crates/astria-auctioneer/src/auctioneer/inner/mod.rs
  crates/astria-auctioneer/src/block/mod.rs
  crates/astria-auctioneer/src/sequencer_channel.rs
  crates/astria-core/src/sequencerblock/v1/optimistic.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer, common

don't assume rollu block hash is 32 bytes
  crates/astria-auctioneer/src/auctioneer/auction/mod.rs
  crates/astria-auctioneer/src/bid/mod.rs
  crates/astria-auctioneer/src/block/mod.rs
Due: none

bump sequencer chart
  charts/sequencer/Chart.yaml
Due: none

fix custom lint
  crates/astria-auctioneer/src/auctioneer/auction/worker.rs
Due: none

chore(charts): Auctioneer: Expose grpc port of the evm-rollup (#1910)
  charts/evm-rollup/templates/service.yaml
Due: none

add ASTRIA_NO_OPTIMISTIC_BLOCKS variable in the sequencer configmap
  charts/sequencer/templates/configmaps.yaml
Due: none

fmt
  crates/astria-auctioneer/src/auctioneer/inner/auction/mod.rs
  crates/astria-auctioneer/src/block/mod.rs
  crates/astria-auctioneer/src/bundle/mod.rs
  crates/astria-core/src/sequencerblock/v1/block.rs
  crates/astria-sequencer/src/grpc/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/mempool/mod.rs
Due: sequencer, common

spawn grpc server from sequencer
  crates/astria-sequencer/src/grpc/mod.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

feat(chart): add auctioneer chart and just commands (#1902)
  charts/auctioneer/Chart.yaml
  charts/auctioneer/templates/_helpers.tpl
  charts/auctioneer/templates/configmap.yaml
  charts/auctioneer/templates/deployment.yaml
  charts/auctioneer/templates/prometheusrule.yaml
  charts/auctioneer/templates/secretproviderclass.yaml
  charts/auctioneer/templates/service.yaml
  charts/auctioneer/templates/servicemonitor.yaml
  charts/auctioneer/values.yaml
  charts/deploy.just
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  dev/values/auctioneer/values.yaml
  dev/values/rollup/dev.yaml
Due: none

rename bundle apis
  crates/astria-auctioneer/local.env.example
  crates/astria-auctioneer/src/auctioneer/inner/auction/allocation_rule.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/factory.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/mod.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/worker.rs
  crates/astria-auctioneer/src/auctioneer/inner/mod.rs
  crates/astria-auctioneer/src/bid/mod.rs
  crates/astria-auctioneer/src/block/mod.rs
  crates/astria-auctioneer/src/lib.rs
  crates/astria-auctioneer/src/rollup_channel.rs
  crates/astria-core/src/generated/astria.auction.v1alpha1.rs
  crates/astria-core/src/generated/astria.auction.v1alpha1.serde.rs
  crates/astria-core/src/generated/mod.rs
  proto/executionapis/astria/auction/v1alpha1/bid.proto
  proto/executionapis/astria/auction/v1alpha1/optimistic_execution.proto
  proto/executionapis/astria/bundle/v1alpha1/bundle.proto
Due: none

move SequencerBlockCommit out of astria_core::sequencerblock::v1 and into sequencerblock::optimistic::v1alpha1
  crates/astria-auctioneer/src/auctioneer/auction/mod.rs
  crates/astria-auctioneer/src/auctioneer/mod.rs
  crates/astria-auctioneer/src/sequencer_channel.rs
  crates/astria-core/src/sequencerblock/mod.rs
  crates/astria-core/src/sequencerblock/optimistic/mod.rs
  crates/astria-core/src/sequencerblock/optimistic/v1alpha1.rs
  crates/astria-core/src/sequencerblock/v1/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer, common

cleanup optimistic service business logic a bit
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer

feat(auctioneer): add new service
  Cargo.lock
  Cargo.toml
  crates/astria-auctioneer/Cargo.toml
  crates/astria-auctioneer/README.md
  crates/astria-auctioneer/build.rs
  crates/astria-auctioneer/justfile
  crates/astria-auctioneer/local.env.example
  crates/astria-auctioneer/src/auctioneer/inner/auction/allocation_rule.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/factory.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/mod.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/worker.rs
  crates/astria-auctioneer/src/auctioneer/inner/mod.rs
  crates/astria-auctioneer/src/auctioneer/mod.rs
  crates/astria-auctioneer/src/block/mod.rs
  crates/astria-auctioneer/src/build_info.rs
  crates/astria-auctioneer/src/bundle/mod.rs
  crates/astria-auctioneer/src/config.rs
  crates/astria-auctioneer/src/lib.rs
  crates/astria-auctioneer/src/main.rs
  crates/astria-auctioneer/src/metrics.rs
  crates/astria-auctioneer/src/rollup_channel.rs
  crates/astria-auctioneer/src/sequencer_channel.rs
  crates/astria-auctioneer/src/sequencer_key.rs
  crates/astria-auctioneer/src/streaming_utils.rs
  crates/astria-core/src/generated/astria.bundle.v1alpha1.rs
  crates/astria-core/src/generated/astria.bundle.v1alpha1.serde.rs
  justfile
  proto/executionapis/astria/bundle/v1alpha1/bundle.proto
Due: none

explain runner, facade difference
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer

ci(auctioneer): add auctioneer to docker-build workflow (#1903)
  .github/workflows/docker-build.yml
Due: none

update sequencer block hash in core to use newtype hash
  crates/astria-core/src/sequencerblock/v1/optimistic.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer, common

Move auctioneer docs to lib.rs, fmt
  crates/astria-auctioneer/src/auctioneer/auction/factory.rs
  crates/astria-auctioneer/src/auctioneer/auction/mod.rs
  crates/astria-auctioneer/src/auctioneer/auction/worker.rs
  crates/astria-auctioneer/src/auctioneer/mod.rs
  crates/astria-auctioneer/src/bid/mod.rs
  crates/astria-auctioneer/src/lib.rs
Due: none

clean up grpc shutdown logic and ensure optimistic task doesn't get awaited twice
  crates/astria-sequencer/src/grpc/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer

create or update changelogs
  crates/astria-auctioneer/CHANGELOG.md
  crates/astria-core/CHANGELOG.md
  crates/astria-sequencer/CHANGELOG.md
Due: sequencer

typo
  crates/astria-core/src/sequencerblock/v1/optimistic.rs
Due: common

add optimistic block APIs to sequencer
  Cargo.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/configmaps.yaml
  charts/sequencer/values.yaml
  crates/astria-core/src/sequencerblock/v1/mod.rs
  crates/astria-core/src/sequencerblock/v1/optimistic.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/app/event_bus.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/grpc/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/mempool/mod.rs
Due: sequencer, common

replace bespoke auctioneer commit by core commit
  crates/astria-auctioneer/src/auctioneer/inner/auction/mod.rs
  crates/astria-auctioneer/src/auctioneer/inner/mod.rs
  crates/astria-auctioneer/src/block/mod.rs
  crates/astria-auctioneer/src/sequencer_channel.rs
Due: none

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  composer: any of: crates/astria-composer, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  astria-merkle: any of: crates/astria-merkle/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  common: any of: crates/astria-core/src/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
