Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: merkle
      name: astria-merkle
      paths:
        - crates/astria-merkle/**
    - component_id: common
      name: common
      paths:
        - crates/astria-core/src/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-core/src/generated/**'
  - 'crates/astria-build-info/**'
  - 'crates/astria-grpc-mock/**'
  - 'crates/astria-grpc-mock-test/**'
  - 'crates/astria-grpc-mock-test-codegen/**'
  - 'crates/astria-test-utils/**'

fix to allow benchmarks to run on macOS
  crates/astria-sequencer/benches/benchmark.rs
Due: sequencer

fix mempool benchmarks
  crates/astria-sequencer/src/benchmark_utils.rs
Due: sequencer

improve mempool benchmark initialization
  crates/astria-sequencer/src/app/benchmarks.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
Due: sequencer

update
  charts/auctioneer/values.yaml
  charts/evm-rollup/values.yaml
Due: none

add astria-auctioneer to shortnames
  justfile
Due: none

proto changes, add stop/restart logic
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/values.yaml
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor/inner.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/sequencer/builder.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-conductor/tests/blackbox/firm_only.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
  crates/astria-conductor/tests/blackbox/soft_only.rs
  crates/astria-core/src/execution/v1/mod.rs
  crates/astria-core/src/generated/astria.execution.v1.rs
  crates/astria-core/src/generated/astria.execution.v1.serde.rs
  proto/executionapis/astria/execution/v1/execution.proto
Due: conductor, common

update all imports to use optimistic, not optimisticblock
  crates/astria-auctioneer/src/block/mod.rs
  crates/astria-auctioneer/src/bundle/mod.rs
  crates/astria-auctioneer/src/rollup_channel.rs
  crates/astria-auctioneer/src/sequencer_channel.rs
Due: none

add soft and firm test, update change log and valus
  charts/evm-stack/values.yaml
  crates/astria-conductor/CHANGELOG.md
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
Due: conductor

version updates
  Cargo.lock
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.yaml
  crates/astria-conductor/Cargo.toml
Due: conductor

update chart.lock
  charts/evm-stack/Chart.lock
Due: none

more conservative use of error level logging
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/address/state_ext.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/state_ext.rs
  crates/astria-sequencer/src/assets/state_ext.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/authority/component.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/fees/action.rs
  crates/astria-sequencer/src/fees/mod.rs
  crates/astria-sequencer/src/fees/query.rs
  crates/astria-sequencer/src/fees/state_ext.rs
  crates/astria-sequencer/src/grpc/state_ext.rs
  crates/astria-sequencer/src/ibc/component.rs
  crates/astria-sequencer/src/ibc/ibc_relayer_change.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/mempool/mempool_state.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

fix unit tests
  crates/astria-core/src/connect/utils.rs
Due: common

update ExecutableBlock construction to be infallible
  crates/astria-conductor/src/executor/mod.rs
Due: conductor

unset running auction after completion
  crates/astria-auctioneer/src/auctioneer/inner/mod.rs
Due: none

return the connection error in restarting stream
  crates/astria-auctioneer/src/rollup_channel.rs
  crates/astria-auctioneer/src/sequencer_channel.rs
  crates/astria-auctioneer/src/streaming_utils.rs
Due: none

Update sequencer-app.md
  specs/sequencer-app.md
Due: none

Update conductor.md
  specs/conductor.md
Due: none

fix allocation rule never taking bids with zero-bids
  crates/astria-auctioneer/src/auctioneer/inner/auction/allocation_rule.rs
Due: none

use Arcs when passing bundles to running auction; instrument first price mechanism
  crates/astria-auctioneer/src/auctioneer/inner/auction/allocation_rule.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/factory.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/mod.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/worker.rs
  crates/astria-auctioneer/src/auctioneer/inner/mod.rs
Due: none

make the auction bundle channel unbounded
  crates/astria-auctioneer/src/auctioneer/inner/auction/allocation_rule.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/factory.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/mod.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/worker.rs
Due: none

more fine-toother run through logging levels
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/address/state_ext.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/state_ext.rs
  crates/astria-sequencer/src/assets/state_ext.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/fees/action.rs
  crates/astria-sequencer/src/fees/mod.rs
  crates/astria-sequencer/src/fees/query.rs
  crates/astria-sequencer/src/fees/state_ext.rs
  crates/astria-sequencer/src/grpc/state_ext.rs
  crates/astria-sequencer/src/ibc/ibc_relayer_change.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

changes from main
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/action_handler/impls/bridge_lock.rs
  crates/astria-sequencer/src/action_handler/impls/fee_asset_change.rs
  crates/astria-sequencer/src/action_handler/impls/fee_change.rs
  crates/astria-sequencer/src/action_handler/impls/ibc_sudo_change.rs
  crates/astria-sequencer/src/action_handler/impls/ics20_withdrawal.rs
  crates/astria-sequencer/src/action_handler/impls/rollup_data_submission.rs
  crates/astria-sequencer/src/action_handler/impls/sudo_address_change.rs
  crates/astria-sequencer/src/action_handler/impls/transaction.rs
  crates/astria-sequencer/src/action_handler/impls/transfer.rs
  crates/astria-sequencer/src/action_handler/impls/validator_update.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
Due: sequencer

replace the mpsc command channel by two oneshot channels to trigger auction steps
  crates/astria-auctioneer/src/auctioneer/inner/auction/factory.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/mod.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/worker.rs
Due: none

separate the trigger to start the auction timer from the bids
  crates/astria-auctioneer/src/auctioneer/inner/auction/worker.rs
Due: none

small refactor: start_processing_bids -> start_bids
  crates/astria-auctioneer/src/auctioneer/inner/auction/factory.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/mod.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/worker.rs
  crates/astria-auctioneer/src/auctioneer/inner/mod.rs
Due: none

add some todos to the auction
  crates/astria-auctioneer/src/auctioneer/inner/auction/worker.rs
Due: none

update 10-15-24 audit to final report (#1828)
  audits/Astria Shared Sequencer - Zellic Audit Report (10-15-24).pdf
  audits/Astria Shared Sequencer - Zellic Audit Report Draft (10-15-24).pdf
Due: none

not receiving winning bids does not constitute an error for auctioneer: just log and return
  crates/astria-auctioneer/src/auctioneer/inner/auction/worker.rs
Due: none

skip_all not only skip(self)
  crates/astria-auctioneer/src/auctioneer/inner/mod.rs
Due: none

remove unnecessary result
  crates/astria-sequencer/src/fees/mod.rs
  crates/astria-sequencer/src/fees/state_ext.rs
Due: sequencer

address comment
  crates/astria-conductor/src/celestia/block_verifier.rs
Due: conductor

remove unnecessary panic
  crates/astria-sequencer/src/fees/mod.rs
Due: sequencer

chore(ci): CLI docker just command matches CI package name (#1831)
  justfile
Due: none

feat(sequencer, core, conductor): pass oracle data to rollup via execution API (#1840)
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/reconstruct.rs
  crates/astria-conductor/src/celestia/verify.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-core/src/connect/mod.rs
  crates/astria-core/src/connect/utils.rs
  crates/astria-core/src/generated/astria.protocol.connect.v1.rs
  crates/astria-core/src/generated/astria.protocol.connect.v1.serde.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1.serde.rs
  crates/astria-core/src/protocol/connect.rs
  crates/astria-core/src/protocol/test_utils.rs
  crates/astria-core/src/sequencerblock/v1/block.rs
  crates/astria-core/src/sequencerblock/v1/celestia.rs
  crates/astria-sequencer-utils/src/blob_parser.rs
  crates/astria-sequencer/src/app/vote_extension.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  proto/protocolapis/astria/protocol/connect/v1/transaction.proto
  proto/sequencerblockapis/astria/sequencerblock/v1/block.proto
Due: conductor, sequencer, common

feat(sequencer): allow querying fee components (#1748)
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/fees/query.rs
  crates/astria-sequencer/src/service/info/abci_query_router.rs
  crates/astria-sequencer/src/service/info/mod.rs
Due: sequencer

add rollup_start_block_height field to GenesisInfo
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/tests/blackbox/firm_only.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
  crates/astria-conductor/tests/blackbox/soft_only.rs
  crates/astria-core/src/execution/v1/mod.rs
  crates/astria-core/src/generated/astria.execution.v1.rs
  crates/astria-core/src/generated/astria.execution.v1.serde.rs
  proto/executionapis/astria/execution/v1/execution.proto
Due: conductor, common

update normalize_by_pair to be optional
  crates/astria-core/src/connect/market_map.rs
  crates/astria-core/src/protocol/genesis/v1.rs
  crates/astria-sequencer-utils/src/genesis_example.rs
  crates/astria-sequencer/src/connect/market_map/storage/values/market_map.rs
Due: sequencer, common

update height mapping calculation, flush out tests
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/tests/blackbox/firm_only.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
  crates/astria-conductor/tests/blackbox/soft_only.rs
Due: conductor

minor updates
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer

address review comments
  crates/astria-sequencer/src/app/event_bus.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer
