Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

Restore smoketest urls
  charts/deploy.just
Due: none

Change appset labels to prevent conflict with originals currently running
  dev/argocd/preview-appsets/rollup.yaml
  dev/argocd/preview-appsets/sequencer.yaml
Due: none

separate conversion from get_logs
  crates/astria-bridge-contracts/src/lib.rs
Due: none

separate getlog from conversion error
  crates/astria-bridge-contracts/src/lib.rs
Due: none

cli and withdrawer fixed
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-cli/src/commands/bridge/collect.rs
Due: cli

fix the crab
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-cli/src/commands/bridge/collect.rs
Due: cli

sanity check unit tests
  Cargo.lock
  crates/astria-bridge-contracts/Cargo.toml
  crates/astria-bridge-contracts/src/lib.rs
Due: none

remove unused sha2 import
  Cargo.lock
  crates/astria-bridge-contracts/Cargo.toml
Due: none

review updates
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
Due: sequencer

format + state_ext fix
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
Due: sequencer

review suggestion
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
Due: sequencer

fixed comments from @noot
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/service/mempool.rs
Due: sequencer

lints
  crates/astria-sequencer/src/mempool/transactions_container.rs
Due: sequencer

Rework fee reporting
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_block_fees.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/assets/snapshots/astria_sequencer__assets__state_ext__tests__storage_keys_are_unchanged-2.snap
  crates/astria-sequencer/src/assets/state_ext.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/sequence/action.rs
  crates/astria-sequencer/src/sequence/mod.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/fees.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/src/transaction/query.rs
  crates/astria-sequencer/src/transaction/test_fees.rs
Due: sequencer

unused import
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
Due: sequencer

remove some updates to memo core
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-core/src/protocol/memos/v1alpha1.rs
Due: common

format
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-core/src/protocol/memos/v1alpha1.rs
Due: common

Apply suggestions from code review
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Due: sequencer

wip: celestia-app-v2.0.0, celestia-node-v0.15.0
  charts/celestia-local/files/scripts/init-celestia-appd.sh
  charts/celestia-local/files/scripts/start-bridge.sh
  charts/celestia-local/templates/configmap.yaml
  charts/celestia-local/values.yaml
Due: none

use celestia-node v0.16.0-rc0
  charts/celestia-local/values.yaml
Due: none

bump celestia-node version
  charts/celestia-node/values.yaml
Due: none

Testing updates
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/fees.rs
  crates/astria-sequencer/src/transaction/test_fees.rs
Due: sequencer

rename check_balance_and_get_fees for clarity
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

Remove debug code
  crates/astria-sequencer/src/transaction/checks.rs
Due: sequencer

Requested changes
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_block_fees.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/src/transaction/state_ext.rs
Due: sequencer

Update chart.lock
  charts/evm-stack/Chart.lock
Due: none

update ics logic for stateless to work, make consumption single state method
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
Due: sequencer

fix test
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

generate proto comments
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
Due: none

proto comment
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Due: none

minors
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
Due: sequencer

Update proto/protocolapis/astria/protocol/memos/v1alpha1/types.proto
  proto/protocolapis/astria/protocol/memos/v1alpha1/types.proto
Due: none

proto comment regen
  crates/astria-core/src/generated/astria.protocol.memos.v1alpha1.rs
Due: none

replace alias
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
Due: sequencer

format
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
Due: sequencer

feat(sequencer, bridge-withdrawer)!: enforce withdrawals consumed (#1391)
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-core/src/generated/astria.protocol.memos.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.memos.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.serde.rs
  crates/astria-core/src/protocol/memos/snapshots/astria_core__protocol__memos__v1alpha1__test__bridge_unlock_memo_snapshot.snap
  crates/astria-core/src/protocol/memos/snapshots/astria_core__protocol__memos__v1alpha1__test__ics20_withdrawal_from_rollup_memo_snapshot.snap
  crates/astria-core/src/protocol/memos/v1alpha1.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  proto/protocolapis/astria/protocol/memos/v1alpha1/types.proto
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Due: sequencer, common

smallest fix
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-cli/src/commands/bridge/collect.rs
Due: cli

droppped error
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
Due: none

fix error encoding
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
Due: none

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  composer: any of: crates/astria-composer, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  astria-merkle: any of: crates/astria-merkle/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  common: any of: crates/astria-core/src/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
