Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: merkle
      name: astria-merkle
      paths:
        - crates/astria-merkle/**
    - component_id: common
      name: common
      paths:
        - crates/astria-core/src/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-core/src/generated/**'
  - 'crates/astria-build-info/**'
  - 'crates/astria-grpc-mock/**'
  - 'crates/astria-grpc-mock-test/**'
  - 'crates/astria-grpc-mock-test-codegen/**'
  - 'crates/astria-test-utils/**'

minor renaming
  crates/astria-sequencer/src/grpc/optimistic.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

minor updates
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer

address review comments
  crates/astria-sequencer/src/app/event_bus.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

make task functions free standing
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer

rebase protos
  crates/astria-core/src/sequencerblock/v1/optimistic_block.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
  proto/sequencerblockapis/astria/sequencerblock/optimistic/v1alpha1/service.proto
  proto/sequencerblockapis/astria/sequencerblock/optimisticblock/v1alpha1/optimistic_block.proto
Due: sequencer, common

rename optimistic_block to optimistic
  crates/astria-core/src/sequencerblock/v1/mod.rs
  crates/astria-core/src/sequencerblock/v1/optimistic.rs
  crates/astria-sequencer/src/app/event_bus.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer, common

address review comments
  crates/astria-sequencer/src/app/event_bus.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/grpc/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

run fmt + lint
  crates/astria-sequencer/src/app/event_bus.rs
Due: sequencer

add a comment
  crates/astria-sequencer/src/grpc/mod.rs
Due: sequencer

use in_scope to emit events under a specific span
  crates/astria-sequencer/src/grpc/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer

fix comment
  crates/astria-sequencer/src/app/event_bus.rs
Due: sequencer

add documentation to event bus
  crates/astria-sequencer/src/app/event_bus.rs
  crates/astria-sequencer/src/grpc/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer

lint + fmt
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/sequencerblock/v1/optimistic.rs
  crates/astria-sequencer/src/grpc/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer, common

only stream new values for the optimistic block and block commitment
  crates/astria-sequencer/src/app/event_bus.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer

fix(sequencer): bump penumbra dep to commit with ibc height fix (#1856)
  Cargo.lock
  Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: sequencer

update url crate
  Cargo.lock
  crates/astria-bridge-contracts/CHANGELOG.md
  crates/astria-bridge-withdrawer/CHANGELOG.md
  crates/astria-cli/CHANGELOG.md
  crates/astria-composer/CHANGELOG.md
  crates/astria-conductor/CHANGELOG.md
  crates/astria-core/CHANGELOG.md
  crates/astria-sequencer-relayer/CHANGELOG.md
  crates/astria-sequencer/CHANGELOG.md
Due: conductor, composer, sequencer, sequencer-relayer, cli

requested changes
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
Due: sequencer-relayer

requested changes
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/executor/builder.rs
  crates/astria-conductor/src/executor/mod.rs
Due: conductor

fix height logic
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/tests/blackbox/firm_only.rs
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
  crates/astria-conductor/tests/blackbox/soft_only.rs
Due: conductor

rustfmt
  crates/astria-conductor/src/executor/state.rs
Due: conductor

chore: update `url` dependency (#1869)
  Cargo.lock
  crates/astria-bridge-contracts/CHANGELOG.md
  crates/astria-bridge-withdrawer/CHANGELOG.md
  crates/astria-cli/CHANGELOG.md
  crates/astria-composer/CHANGELOG.md
  crates/astria-conductor/CHANGELOG.md
  crates/astria-core/CHANGELOG.md
  crates/astria-sequencer-relayer/CHANGELOG.md
  crates/astria-sequencer/CHANGELOG.md
Due: conductor, composer, sequencer, sequencer-relayer, cli

make type alias for complicated type
  crates/astria-sequencer-relayer/src/relayer/mod.rs
Due: sequencer-relayer

charts changes to reflect changes in geth
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-rollup/values.yaml
  dev/values/rollup/dev.yaml
Due: none

fix extraDataOverride naming
  charts/evm-rollup/files/genesis/geth-genesis.json
Due: none

remove rollup start height from geth config
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-rollup/values.yaml
  dev/values/rollup/dev.yaml
Due: none

chore(ci): action to autoclose stale issues and prs (#1862)
  .github/workflows/scheduled.yml
Due: none

just use Ok while sending data over grpc stream instead of type casting to Result
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer

remove debug trait from OptimisticBlockChannels
  crates/astria-sequencer/src/app/mod.rs
Due: sequencer

fix lint issues
  crates/astria-core/src/sequencerblock/v1alpha1/optimistic_block.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer, common

update optimistic block imports
  crates/astria-core/src/sequencerblock/v1alpha1/optimistic_block.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer, common

implement optimistic block apis
  crates/astria-core/src/sequencerblock/mod.rs
  crates/astria-core/src/sequencerblock/v1alpha1/mod.rs
  crates/astria-core/src/sequencerblock/v1alpha1/optimistic_block.rs
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/grpc/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mempool/tests.rs
Due: sequencer, common

update sequencer chart version
  charts/sequencer/Chart.yaml
Due: none
