Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

changelog
  crates/astria-sequencer/CHANGELOG.md
Due: sequencer

fix(sequencer): ensure proposal execution uses latest info (#2024)
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/app/execution_state.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__execution_state__tests__check_if_prepared_invalidates_mismatch.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__execution_state__tests__check_if_prepared_on_prepared_valid_will_invalidate_mismatch.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__execution_state__tests__check_if_prepared_validates_successfully.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__execution_state__tests__set_execute_block_with_non_settable_states_errors.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__execution_state__tests__set_prepared_succeeds.snap
  crates/astria-sequencer/src/app/tests_app/mempool.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
Due: sequencer

fix(sequencer): change how verified consensus state is fetched in `RecoverIbcClient` (#2037)
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/action_handler/impls/recover_ibc_client.rs
Due: sequencer

release(sequencer, charts): Cut rc.2 release
  Cargo.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/_helpers.tpl
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/Cargo.toml
Due: sequencer

fix markdown lint
  crates/astria-sequencer/CHANGELOG.md
Due: sequencer

release(sequencer, charts): cut sequencer v2.0.0-rc.2 release (#2038)
  Cargo.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/_helpers.tpl
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/Cargo.toml
Due: sequencer

use sequencer block hash
  crates/astria-conductor/src/conductor/inner.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/test_utils.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-core/src/execution/v2/mod.rs
Due: conductor, common

bump charts
  charts/evm-rollup/Chart.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

fixes from merge
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

fix(sequencer): increase mempool removal cache size (#1969)
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/mempool/mod.rs
Due: sequencer

update logging logic to match #1940
  crates/astria-sequencer-client/src/extension_trait.rs
Due: common

use 'tag' instead of 'devTag' for sequencer images
  just/charts/deploy.just
Due: none

add minimum just version
  justfile
Due: none

fmt md
  crates/astria-sequencer/CHANGELOG.md
Due: sequencer

move changes to correct changelog section
  crates/astria-sequencer/CHANGELOG.md
Due: sequencer

update sequencer tag in deploy.just
  charts/evm-rollup/values.yaml
Due: none

release(sequencer): v2.0.0 major release
  Cargo.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/_helpers.tpl
  charts/sequencer/templates/configmaps.yaml
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/Cargo.toml
Due: sequencer

add sequencer block hash
  specs/execution-api.md
Due: none

release(sequencer): v2.0.0 major release (#2039)
  Cargo.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/_helpers.tpl
  charts/sequencer/templates/configmaps.yaml
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/Cargo.toml
Due: sequencer

raise flaky test timeout time
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
Due: conductor

fix flaky composer test
  crates/astria-composer/tests/blackbox/executor.rs
Due: composer

minor improvements
  specs/execution-api.md
Due: none

avoid hashing proposal data
  crates/astria-sequencer/src/app/execution_state.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__execution_state__tests__check_if_prepared_invalidates_mismatch.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__execution_state__tests__check_if_prepared_on_prepared_valid_will_invalidate_mismatch.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__execution_state__tests__check_if_prepared_validates_successfully.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__execution_state__tests__set_execute_block_with_non_settable_states_errors.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__execution_state__tests__set_prepared_succeeds.snap
  crates/astria-sequencer/src/app/tests_app/mod.rs
Due: sequencer

replace make_signer by signer::Builder
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/signer/mod.rs
Due: none

requested changes
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/verify.rs
  crates/astria-conductor/src/conductor/inner.rs
  crates/astria-conductor/src/conductor/mod.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/sequencer/builder.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-conductor/src/state.rs
  crates/astria-conductor/src/test_utils.rs
  crates/astria-core/src/execution/v2/mod.rs
Due: conductor, common

further requested changes
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/state.rs
Due: conductor

revert method names
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/authority/component.rs
  crates/astria-sequencer/src/component.rs
  crates/astria-sequencer/src/fees/component.rs
  crates/astria-sequencer/src/ibc/component.rs
Due: sequencer

fixes from merge
  crates/astria-sequencer/src/app/mod.rs
Due: sequencer

fix formatting issue
  crates/astria-sequencer/src/app/mod.rs
Due: sequencer

simplify frost builder pattern by transparent builder type
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/signer/frost.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/signer/mod.rs
Due: none

move all frost-related build steps into the frost module
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/signer/frost.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/signer/mod.rs
Due: none

wip
  charts/bridge-signer/Chart.yaml
  charts/bridge-signer/templates/_helpers.tpl
  charts/bridge-signer/templates/configmap.yaml
  charts/bridge-signer/templates/deployment.yaml
  charts/bridge-signer/templates/prometheusrule.yaml
  charts/bridge-signer/templates/secretproviderclass.yaml
  charts/bridge-signer/templates/service.yaml
  charts/bridge-signer/templates/servicemonitor.yaml
  charts/bridge-signer/values.yaml
  charts/deploy.just
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
  charts/evm-bridge-withdrawer/templates/deployment.yaml
  charts/evm-bridge-withdrawer/values.yaml
  charts/sequencer/values.yaml
  dev/values/rollup/dev.yaml
  justfile
Due: none

minor update to log message
  crates/astria-sequencer/src/upgrades/upgrades_handler.rs
Due: sequencer

move frost endpoint parsing to config, provide unit tests
  Cargo.lock
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/signer/frost.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/signer/mod.rs
  crates/astria-bridge-withdrawer/src/config.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/main.rs
Due: none

abstract signer initialization and perform all signer init steps concurrently
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/signer/frost.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/signer/mod.rs
Due: none

give signers a coherent names and modules structures
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/signer/frost.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/signer/key.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/signer/mod.rs
Due: none

prefer round_one/two everywhere, fix wrong Bytes import (prost, no axum)
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/signer/frost.rs
Due: none

update FormattedDuration display impl
  crates/astria-telemetry/src/display.rs
Due: common

fix conductor devtag
  charts/evm-rollup/values.yaml
Due: none

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  composer: any of: crates/astria-composer, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  astria-merkle: any of: crates/astria-merkle/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  common: any of: crates/astria-core/src/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
