Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: merkle
      name: astria-merkle
      paths:
        - crates/astria-merkle/**
    - component_id: common
      name: common
      paths:
        - crates/astria-core/src/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-core/src/generated/**'
  - 'crates/astria-build-info/**'
  - 'crates/astria-grpc-mock/**'
  - 'crates/astria-grpc-mock-test/**'
  - 'crates/astria-grpc-mock-test-codegen/**'
  - 'crates/astria-test-utils/**'

remove clippy too many lines
  crates/astria-sequencer-utils/src/genesis_example.rs
Due: sequencer

Remove instrumentation for clippy
  crates/astria-sequencer/src/address/state_ext.rs
Due: sequencer

fix(ci): use rust 1.76.0 to run clippy tests
  .github/workflows/test.yml
Due: none

release: biweekly release cut
  Cargo.lock
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: conductor, composer, sequencer, sequencer-relayer

always run clippy if the test workflow changes
  .github/workflows/reusable-run-checker.yml
Due: none

Migrate anyhow in StateReadExt to eyre
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/ibc/host_interface.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/state_ext.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

rust fmt
  crates/astria-sequencer/src/ibc/host_interface.rs
  crates/astria-sequencer/src/state_ext.rs
Due: sequencer

images registry
  charts/composer/values.yaml
  charts/evm-rollup/values.yaml
Due: none

images registry
  charts/composer/values.yaml
Due: none

test override geth image
  charts/evm-rollup/templates/_helpers.tpl
  charts/evm-rollup/values.yaml
Due: none

test
  charts/evm-rollup/templates/_helpers.tpl
Due: none

release: biweekly release cut (#1398)
  Cargo.lock
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: conductor, composer, sequencer, sequencer-relayer

test no-override
  charts/evm-rollup/values.yaml
Due: none

geth image override tag
  charts/evm-rollup/templates/_helpers.tpl
  charts/evm-rollup/values.yaml
Due: none

bump chart version
  charts/evm-rollup/Chart.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

chore: preview environment with astria-geth changes (#1401)
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/_helpers.tpl
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

release(charts): update with biweekly image cuts
  charts/composer/Chart.yaml
  charts/composer/values.yaml
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
  charts/evm-bridge-withdrawer/values.yaml
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/values.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/values.yaml
Due: none

fix sequencer chart version
  charts/sequencer/Chart.yaml
Due: none

chore(charts): seq-faucet bech32m update
  charts/sequencer-faucet/templates/configmap.yaml
  charts/sequencer-faucet/templates/deployment.yaml
  charts/sequencer-faucet/values.yaml
Due: none

configurable faucet asset
  charts/sequencer-faucet/templates/configmap.yaml
  charts/sequencer-faucet/templates/deployment.yaml
  charts/sequencer-faucet/values.yaml
Due: none

bump app and chart versions
  charts/sequencer-faucet/Chart.yaml
  charts/sequencer-faucet/values.yaml
Due: none

Chore(Charts): seq-faucet bech32m chart update (#1301)
  charts/sequencer-faucet/Chart.yaml
  charts/sequencer-faucet/templates/configmap.yaml
  charts/sequencer-faucet/templates/deployment.yaml
  charts/sequencer-faucet/values.yaml
Due: none

release(charts): update with biweekly image cuts (#1399)
  charts/composer/Chart.yaml
  charts/composer/values.yaml
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
  charts/evm-bridge-withdrawer/values.yaml
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/values.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/values.yaml
Due: none

fix(cli, tests): add force flag to overwrite withdrawal target path (#1393)
  charts/deploy.just
  crates/astria-cli/src/commands/bridge/collect.rs
Due: cli

fix(test): fail smoke test scripts eagerly if a command fails (#1394)
  charts/deploy.just
  charts/ibc-test.just
Due: none

fix(test): use correct conditions to dermine smoke test success (#1395)
  charts/deploy.just
Due: none

update genesis to have SlinkyGenesis field
  crates/astria-core/src/generated/astria.protocol.genesis.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1alpha1.serde.rs
  crates/astria-core/src/protocol/genesis/snapshots/astria_core__protocol__genesis__v1alpha1__tests__genesis_state_is_unchanged.snap
  crates/astria-core/src/protocol/genesis/v1alpha1.rs
  crates/astria-core/src/slinky/market_map.rs
  crates/astria-core/src/slinky/oracle.rs
  crates/astria-sequencer-utils/src/genesis_example.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/slinky/marketmap/component.rs
  crates/astria-sequencer/src/slinky/oracle/component.rs
  proto/protocolapis/astria/protocol/genesis/v1alpha1/types.proto
  proto/protocolapis/astria_vendored/slinky/oracle/v1/genesis.proto
  proto/protocolapis/astria_vendored/slinky/service/v1/oracle.proto
  proto/vendored/cosmos_sdk/cosmos_proto/cosmos.proto
  tools/protobuf-compiler/src/main.rs
Due: sequencer, common

address comments, var name cleanup
  Cargo.lock
  charts/sequencer/templates/configmaps.yaml
  crates/astria-core/src/generated/astria.protocol.genesis.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1alpha1.serde.rs
  crates/astria-core/src/protocol/genesis/snapshots/astria_core__protocol__genesis__v1alpha1__tests__genesis_state_is_unchanged.snap
  crates/astria-core/src/protocol/genesis/v1alpha1.rs
  crates/astria-core/src/slinky/abci.rs
  crates/astria-sequencer-utils/src/genesis_example.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/vote_extension.rs
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/slinky/marketmap/component.rs
  crates/astria-sequencer/src/slinky/oracle/component.rs
  proto/protocolapis/astria/protocol/genesis/v1alpha1/types.proto
Due: sequencer, common

fix(core): restructure modules to match proto
  crates/astria-core/src/generated/astria.protocol.genesis.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/generated/mod.rs
  tools/protobuf-compiler/src/main.rs
Due: none

fix(core): restructure modules to match proto (#1405)
  crates/astria-core/src/generated/astria.protocol.genesis.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/generated/mod.rs
  tools/protobuf-compiler/src/main.rs
Due: none

fmt protos
  proto/protocolapis/astria_vendored/slinky/marketmap/v1/query.proto
  proto/protocolapis/astria_vendored/slinky/oracle/v1/genesis.proto
  proto/protocolapis/astria_vendored/slinky/oracle/v1/query.proto
  proto/protocolapis/astria_vendored/slinky/service/v1/oracle.proto
Due: none

update buf cfg to ignore slinky lint warnings
  buf.yaml
Due: none

feat(sequencer): make mempool balance aware
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/metrics.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

Add traceability to rollup deposits
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.serde.rs
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_block_fees.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/src/transaction/state_ext.rs
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/block.proto
Due: sequencer, common

fix(sequencer): update mempool benchmarks (ENG-733) (#1385)
  crates/astria-sequencer/src/benchmark_utils.rs
Due: sequencer

Update geth devtag
  charts/evm-rollup/values.yaml
Due: none

Update chart versions
  charts/evm-rollup/Chart.yaml
  charts/evm-stack/Chart.yaml
Due: none

helm dependency update
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

Fix bridge_lock fee calculation
  crates/astria-sequencer/src/transaction/checks.rs
Due: sequencer
