Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: merkle
      name: astria-merkle
      paths:
        - crates/astria-merkle/**
    - component_id: common
      name: common
      paths:
        - crates/astria-core/src/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-core/src/generated/**'
  - 'crates/astria-build-info/**'
  - 'crates/astria-grpc-mock/**'
  - 'crates/astria-grpc-mock-test/**'
  - 'crates/astria-grpc-mock-test-codegen/**'
  - 'crates/astria-test-utils/**'

chore(sequencer): bump penumbra tag (#1740)
  Cargo.lock
  Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: sequencer

clean up auction fut
  crates/astria-auctioneer/src/auction/bid.rs
  crates/astria-auctioneer/src/auction/builder.rs
  crates/astria-auctioneer/src/auction/driver.rs
  crates/astria-auctioneer/src/auction/mod.rs
  crates/astria-auctioneer/src/auctioneer/inner.rs
  crates/astria-auctioneer/src/optimistic_executor/builder.rs
  crates/astria-auctioneer/src/optimistic_executor/mod.rs
Due: none

add relayer metrics for fee recording
  crates/astria-bridge-withdrawer/src/metrics.rs
  crates/astria-sequencer-relayer/src/metrics.rs
  crates/astria-sequencer-relayer/src/relayer/celestia_client/mod.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
  crates/astria-telemetry/Cargo.toml
  crates/astria-telemetry/src/metrics/into_f64.rs
Due: sequencer-relayer, common

update critical-section
  Cargo.lock
Due: none

fix local docker-build naming
  justfile
Due: none

chore: update `critical-section` dependency (#1745)
  Cargo.lock
Due: none

replace all query routes by constants
  crates/astria-sequencer/src/service/info/abci_query_router.rs
  crates/astria-sequencer/src/service/info/mod.rs
Due: sequencer

refactor some more tests
  crates/astria-sequencer/src/fees/action.rs
  crates/astria-sequencer/src/fees/state_ext.rs
Due: sequencer

minor improvements
  crates/astria-sequencer/src/fees/action.rs
  crates/astria-sequencer/src/fees/query.rs
Due: sequencer

fix action comments
  crates/astria-core/src/generated/astria.protocol.transaction.v1.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1alpha1.rs
  crates/astria-core/src/protocol/transaction/v1/action/mod.rs
  proto/protocolapis/astria/protocol/transaction/v1/action.proto
  proto/protocolapis/astria/protocol/transaction/v1alpha1/action.proto
Due: common

feat(sequencer): allow querying fee components
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/fees/query.rs
  crates/astria-sequencer/src/service/info/mod.rs
Due: sequencer

clippy (remove _fees postfix)
  crates/astria-sequencer/src/fees/query.rs
  crates/astria-sequencer/src/service/info/mod.rs
Due: sequencer

chore(all): add changelogs (#1700)
  .github/pull_request_template.md
  .github/workflows/lint.yml
  .markdownlint-cli2.jsonc
  README.md
  crates/astria-bridge-contracts/CHANGELOG.md
  crates/astria-bridge-withdrawer/CHANGELOG.md
  crates/astria-cli/CHANGELOG.md
  crates/astria-composer/CHANGELOG.md
  crates/astria-conductor/CHANGELOG.md
  crates/astria-config/CHANGELOG.md
  crates/astria-core/CHANGELOG.md
  crates/astria-eyre/CHANGELOG.md
  crates/astria-grpc-mock/CHANGELOG.md
  crates/astria-merkle/CHANGELOG.md
  crates/astria-sequencer-relayer/CHANGELOG.md
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-telemetry/CHANGELOG.md
  justfile
Due: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

Apply suggestions from code review
  specs/sequencer-app.md
Due: none

requested changes
  specs/sequencer-app.md
Due: none

minor change
  specs/sequencer-app.md
Due: none

add ibc-sudo-address-change command
  crates/astria-cli/src/sequencer/sudo/ibc_sudo_address_change.rs
  crates/astria-cli/src/sequencer/sudo/mod.rs
Due: cli

fix typos
  specs/sequencer-app.md
Due: none

fix(core, proto): fix action comments (#1747)
  crates/astria-core/src/generated/astria.protocol.transaction.v1.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1alpha1.rs
  crates/astria-core/src/protocol/transaction/v1/action/mod.rs
  proto/protocolapis/astria/protocol/transaction/v1/action.proto
  proto/protocolapis/astria/protocol/transaction/v1alpha1/action.proto
Due: common

add changelog entry
  crates/astria-sequencer/CHANGELOG.md
Due: sequencer

chore(spec): update sequencer-app docs (#1682)
  crates/astria-sequencer/CHANGELOG.md
  specs/sequencer-app.md
Due: sequencer

Change all non-deposit related instances of `source_action_index` to `position_in_transaction`
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.serde.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/fees/action.rs
  crates/astria-sequencer/src/fees/mod.rs
  crates/astria-sequencer/src/fees/state_ext.rs
  crates/astria-sequencer/src/fees/tests.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/src/transaction/state_ext.rs
Due: sequencer

release: v1.0 cut
  Cargo.lock
  crates/astria-bridge-withdrawer/CHANGELOG.md
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-composer/CHANGELOG.md
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/CHANGELOG.md
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/CHANGELOG.md
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/Cargo.toml
Due: conductor, composer, sequencer, sequencer-relayer

update changelogs, add astria-merkle
  Cargo.lock
  crates/astria-bridge-withdrawer/CHANGELOG.md
  crates/astria-composer/CHANGELOG.md
  crates/astria-conductor/CHANGELOG.md
  crates/astria-merkle/CHANGELOG.md
  crates/astria-merkle/Cargo.toml
  crates/astria-sequencer-relayer/CHANGELOG.md
  crates/astria-sequencer/CHANGELOG.md
Due: conductor, composer, sequencer, sequencer-relayer, astria-merkle

Compile protos
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.serde.rs
Due: none

fix codeowners
  CODEOWNERS
Due: none

release: v1.0 cut (#1751)
  CODEOWNERS
  Cargo.lock
  crates/astria-bridge-withdrawer/CHANGELOG.md
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-composer/CHANGELOG.md
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/CHANGELOG.md
  crates/astria-conductor/Cargo.toml
  crates/astria-merkle/CHANGELOG.md
  crates/astria-merkle/Cargo.toml
  crates/astria-sequencer-relayer/CHANGELOG.md
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/Cargo.toml
Due: conductor, composer, sequencer, sequencer-relayer, astria-merkle

added snapshot test for bridge memo
  Cargo.lock
  crates/astria-bridge-contracts/Cargo.toml
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-contracts/src/snapshots/astria_bridge_contracts__tests__memo_snapshot.snap
Due: none

add snapshot test for abci error codes
  crates/astria-core/src/protocol/abci.rs
  crates/astria-core/src/protocol/snapshots/astria_core__protocol__abci__tests__AbciErrorCode::1.snap
  crates/astria-core/src/protocol/snapshots/astria_core__protocol__abci__tests__AbciErrorCode::10.snap
  crates/astria-core/src/protocol/snapshots/astria_core__protocol__abci__tests__AbciErrorCode::11.snap
  crates/astria-core/src/protocol/snapshots/astria_core__protocol__abci__tests__AbciErrorCode::12.snap
  crates/astria-core/src/protocol/snapshots/astria_core__protocol__abci__tests__AbciErrorCode::13.snap
  crates/astria-core/src/protocol/snapshots/astria_core__protocol__abci__tests__AbciErrorCode::14.snap
  crates/astria-core/src/protocol/snapshots/astria_core__protocol__abci__tests__AbciErrorCode::15.snap
  crates/astria-core/src/protocol/snapshots/astria_core__protocol__abci__tests__AbciErrorCode::16.snap
  crates/astria-core/src/protocol/snapshots/astria_core__protocol__abci__tests__AbciErrorCode::17.snap
  crates/astria-core/src/protocol/snapshots/astria_core__protocol__abci__tests__AbciErrorCode::2.snap
  crates/astria-core/src/protocol/snapshots/astria_core__protocol__abci__tests__AbciErrorCode::3.snap
  crates/astria-core/src/protocol/snapshots/astria_core__protocol__abci__tests__AbciErrorCode::4.snap
  crates/astria-core/src/protocol/snapshots/astria_core__protocol__abci__tests__AbciErrorCode::5.snap
  crates/astria-core/src/protocol/snapshots/astria_core__protocol__abci__tests__AbciErrorCode::6.snap
  crates/astria-core/src/protocol/snapshots/astria_core__protocol__abci__tests__AbciErrorCode::7.snap
  crates/astria-core/src/protocol/snapshots/astria_core__protocol__abci__tests__AbciErrorCode::8.snap
  crates/astria-core/src/protocol/snapshots/astria_core__protocol__abci__tests__AbciErrorCode::9.snap
Due: common

added to changelog
  crates/astria-sequencer/CHANGELOG.md
Due: sequencer

chore(cli): update cli to default to dusk-11
  crates/astria-cli/src/lib.rs
  crates/astria-cli/src/sequencer/block_height.rs
  crates/astria-cli/src/sequencer/bridge_lock.rs
  crates/astria-cli/src/sequencer/ics20_withdrawal.rs
  crates/astria-cli/src/sequencer/init_bridge_account.rs
  crates/astria-cli/src/sequencer/sudo/fee_asset.rs
  crates/astria-cli/src/sequencer/sudo/ibc_relayer.rs
  crates/astria-cli/src/sequencer/sudo/sudo_address_change.rs
  crates/astria-cli/src/sequencer/sudo/validator_update.rs
  crates/astria-cli/src/sequencer/transfer.rs
Due: cli

update changelist
  crates/astria-cli/CHANGELOG.md
Due: cli

lint
  crates/astria-cli/CHANGELOG.md
Due: cli

chore: update codeowners
  CODEOWNERS
Due: none

chore: update tests for updated contracts
  charts/deploy.just
  charts/ibc-test.just
  dev/values/rollup/dev.yaml
  dev/values/rollup/ibc-bridge-test.yaml
Due: none

chore: update tests for updated contracts (#1757)
  charts/deploy.just
  charts/ibc-test.just
  dev/values/rollup/dev.yaml
  dev/values/rollup/ibc-bridge-test.yaml
Due: none

disable the locals which skips some checks on txs
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

chore(charts): disable locals in geth (#1680)
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

chore(charts): update to 1.0
  charts/composer/Chart.yaml
  charts/composer/values.yaml
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
  charts/evm-bridge-withdrawer/values.yaml
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/values.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/values.yaml
Due: none

stupid hermes cometbft issues
  charts/sequencer/values.yaml
Due: none
