Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

remove block hashes from mounts
  crates/astria-conductor/tests/blackbox/firm_only.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
  crates/astria-conductor/tests/blackbox/soft_only.rs
Due: conductor

remove block hash from 'get_block'
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
Due: conductor

first pass of smoke test
  charts/README.md
  charts/auctioneer-test.just
  charts/auctioneer/values.yaml
  charts/deploy.just
  charts/flame-rollup/values.yaml
  dev/values/rollup/auctioneer-test.yaml
  dev/values/validators/all.yml
Due: none

act on condition
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/scripts/init-geth.sh
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

address comments
  charts/evm-rollup/files/scripts/init-geth.sh
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/values.yaml
Due: none

indent
  charts/evm-rollup/values.yaml
Due: none

fix(charts): geth flags (#1957)
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/scripts/init-geth.sh
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

fix log
  charts/sequencer/values.yaml
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

lints
  charts/sequencer/Chart.yaml
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

update optimistic block bits
  proto/executionapis/astria/bundle/v1alpha1/optimistic_execution.proto
  proto/executionapis/astria/optimistic_execution/v1alpha1/base_block.proto
  proto/executionapis/astria/optimistic_execution/v1alpha1/execute_optimistic_block_stream_response.proto
  proto/sequencerblockapis/astria/sequencerblock/optimistic/v1alpha1/get_block_commitment_stream_request.proto
  proto/sequencerblockapis/astria/sequencerblock/optimistic/v1alpha1/get_block_commitment_stream_response.proto
  proto/sequencerblockapis/astria/sequencerblock/optimistic/v1alpha1/get_optimistic_block_stream_request.proto
  proto/sequencerblockapis/astria/sequencerblock/optimistic/v1alpha1/get_optimistic_block_stream_response.proto
  proto/sequencerblockapis/astria/sequencerblock/optimistic/v1alpha1/optimistic_block_service.proto
  proto/sequencerblockapis/astria/sequencerblock/optimistic/v1alpha1/sequencer_block_commit.proto
  proto/sequencerblockapis/astria/sequencerblock/optimistic/v1alpha1/service.proto
Due: none

generated updates
  crates/astria-core/src/generated/astria.execution.v1.rs
  crates/astria-core/src/generated/astria.primitive.v1.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1alpha1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.rs
Due: none

reset buf.yaml
  buf.yaml
Due: none

protos
  buf.yaml
Due: none

proto format
  proto/sequencerblockapis/astria/sequencerblock/optimistic/v1alpha1/optimistic_block_service.proto
Due: none

using sessions
  proto/executionapis/astria/execution/v2/execution.proto
Due: none

feat: enforce length constraints on destination_chain_address
  crates/astria-core/CHANGELOG.md
  crates/astria-core/src/protocol/transaction/v1/action/mod.rs
Due: common

Apply suggestions from code review
  crates/astria-sequencer-relayer/src/relayer/celestia_client/error.rs
  crates/astria-sequencer-relayer/src/relayer/celestia_client/mod.rs
Due: sequencer-relayer

requested changes
  crates/astria-sequencer-relayer/src/relayer/celestia_client/error.rs
  crates/astria-sequencer-relayer/src/relayer/celestia_client/mod.rs
  crates/astria-sequencer-relayer/tests/blackbox/helpers/mock_celestia_app_server.rs
  crates/astria-sequencer-relayer/tests/blackbox/helpers/test_sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Due: sequencer-relayer

remove commitment level, use 1-1-1 standard
  crates/astria-core/src/generated/astria.execution.v2.rs
  crates/astria-core/src/generated/astria.execution.v2.serde.rs
  proto/executionapis/astria/execution/v2/block.proto
  proto/executionapis/astria/execution/v2/block_identifier.proto
  proto/executionapis/astria/execution/v2/commitment_state.proto
  proto/executionapis/astria/execution/v2/execute_block_request.proto
  proto/executionapis/astria/execution/v2/execution.proto
  proto/executionapis/astria/execution/v2/execution_config.proto
  proto/executionapis/astria/execution/v2/execution_service.proto
  proto/executionapis/astria/execution/v2/execution_session.proto
  proto/executionapis/astria/execution/v2/get_block_request.proto
  proto/executionapis/astria/execution/v2/get_commitment_state_request.proto
  proto/executionapis/astria/execution/v2/new_execution_session_request.proto
  proto/executionapis/astria/execution/v2/update_commitment_state_request.proto
Due: none

requested changes from @superfluffy
  crates/astria-core/src/generated/astria.execution.v2.rs
  crates/astria-core/src/generated/astria.execution.v2.serde.rs
  proto/executionapis/astria/execution/v2/block.proto
  proto/executionapis/astria/execution/v2/execution_config.proto
Due: none

update geth chart and genesis bytecode
  charts/evm-rollup/values.yaml
  dev/values/rollup/dev.yaml
Due: none

bump chart version
  charts/evm-rollup/Chart.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

bump chart version
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

bump chart version
  charts/sequencer/Chart.yaml
Due: none

template correct fork in genesis
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/flame-rollup/Chart.yaml
  charts/flame-rollup/files/genesis/geth-genesis.json
Due: none

feat(sequencer, charts)!: support uds for abci (#1877)
  Cargo.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/files/cometbft/config/config.toml
  charts/sequencer/files/scripts/init-cometbft.sh
  charts/sequencer/templates/_helpers.tpl
  charts/sequencer/templates/configmaps.yaml
  charts/sequencer/templates/statefulsets.yaml
  charts/sequencer/values.yaml
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

fix(sequencer)!: fix fee storage enum ordering
  crates/astria-sequencer/src/fees/storage/values.rs
Due: sequencer

update geth devTag
  charts/evm-rollup/values.yaml
  dev/values/rollup/ibc-bridge-test.yaml
Due: none

update geth devTag
  charts/evm-rollup/values.yaml
Due: none

lint chart
  charts/sequencer/Chart.yaml
Due: none

remove unused file
  crates/astria-core/src/generated/astria.execution.v2.rs
  crates/astria-core/src/generated/astria.execution.v2.serde.rs
  proto/executionapis/astria/execution/v2/get_commitment_state_request.proto
Due: none

lint chart
  charts/evm-rollup/values.yaml
Due: none

snapshots update
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_at_genesis.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_execute_every_action.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_finalize_block.snap
Due: sequencer

address comments
  specs/oracle.md
Due: none

fix(sequencer)!: fix fee storage enum ordering (#1983)
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_at_genesis.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_execute_every_action.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_finalize_block.snap
  crates/astria-sequencer/src/fees/storage/values.rs
Due: sequencer

fix(charts): prague and verkle heights templating (#1981)
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/flame-rollup/Chart.yaml
  charts/flame-rollup/files/genesis/geth-genesis.json
Due: none

fix: nit + formatting
  crates/astria-core/src/protocol/transaction/v1/action/mod.rs
Due: common

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  composer: any of: crates/astria-composer, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  astria-merkle: any of: crates/astria-merkle/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  common: any of: crates/astria-core/src/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
