Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

WIP
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-sequencer/src/genesis.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer, common

impl serde for all denom types, provide snapshot tests
  crates/astria-core/src/primitive/v1/asset/denom.rs
  crates/astria-core/src/primitive/v1/asset/snapshots/astria_core__primitive__v1__asset__denom__serde_impl__tests__snapshots-2.snap
  crates/astria-core/src/primitive/v1/asset/snapshots/astria_core__primitive__v1__asset__denom__serde_impl__tests__snapshots-3.snap
  crates/astria-core/src/primitive/v1/asset/snapshots/astria_core__primitive__v1__asset__denom__serde_impl__tests__snapshots-4.snap
  crates/astria-core/src/primitive/v1/asset/snapshots/astria_core__primitive__v1__asset__denom__serde_impl__tests__snapshots.snap
Due: common

use address bytes without prefix to construct storage keys; provide snapshots
  crates/astria-sequencer/src/accounts/snapshots/astria_sequencer__accounts__state_ext__test__snapshots-2.snap
  crates/astria-sequencer/src/accounts/snapshots/astria_sequencer__accounts__state_ext__test__snapshots.snap
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_genesis_snapshot.snap
  crates/astria-sequencer/src/bridge/snapshots/astria_sequencer__bridge__state_ext__test__snapshots-2.snap
  crates/astria-sequencer/src/bridge/snapshots/astria_sequencer__bridge__state_ext__test__snapshots-3.snap
  crates/astria-sequencer/src/bridge/snapshots/astria_sequencer__bridge__state_ext__test__snapshots-4.snap
  crates/astria-sequencer/src/bridge/snapshots/astria_sequencer__bridge__state_ext__test__snapshots.snap
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/snapshots/astria_sequencer__ibc__state_ext__test__snapshots.snap
  crates/astria-sequencer/src/ibc/state_ext.rs
Due: sequencer

update address construction where necessary, stateless checks on all actions that have addresses
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/address/mod.rs
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/ibc/ibc_relayer_change.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/mempool.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

WIP: update charts
  charts/evm-rollup/templates/configmap.yaml
  charts/sequencer/Chart.yaml
  charts/sequencer/files/cometbft/config/genesis.json
  charts/sequencer/values.yaml
Due: none

typos
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/signer.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/genesis.rs
Due: sequencer

fix incorrectly named field in genesis
  charts/sequencer/files/cometbft/config/genesis.json
Due: none

bump evm chart
  charts/evm-rollup/Chart.yaml
Due: none

make astria-prefix const private
  crates/astria-core/src/crypto.rs
  crates/astria-core/src/primitive/v1/mod.rs
Due: common

make address prefixes configurable on comnposer
  crates/astria-composer/local.env.example
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

add subcommand to construct bech32m addresses from hex bytes and prefix
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/commands/sequencer.rs
Due: cli

expand base prefix global getter/setter to mention sequencer restart
  crates/astria-sequencer/src/address/mod.rs
Due: sequencer

sequencer: genesis serde in terms of core types
  crates/astria-sequencer/src/genesis.rs
  crates/astria-sequencer/src/snapshots/astria_sequencer__genesis__test__snapshots.snap
Due: sequencer

add address prefixes to values.yaml
  charts/sequencer/values.yaml
Due: none

use a better error message to state that address prefixes were unsupported
  crates/astria-sequencer/src/address/mod.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/ibc/ibc_relayer_change.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
Due: sequencer

update all tests that use a genesis, initialize the base prefix globally
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/address/mod.rs
  crates/astria-sequencer/src/address/query.rs
  crates/astria-sequencer/src/address/state_ext.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/genesis.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

remove unused code
  crates/astria-sequencer/src/address/mod.rs
  crates/astria-sequencer/src/address/query.rs
  crates/astria-sequencer/src/address/state_ext.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/lib.rs
Due: sequencer

fix racy sequencer address prefix setter
  crates/astria-sequencer/src/address/mod.rs
Due: sequencer

update after rebase
  crates/astria-core/src/bridge.rs
Due: common

chore(proto)!: remove non-bech32m address bytes
  crates/astria-core/src/generated/astria.primitive.v1.rs
  crates/astria-core/src/generated/astria.primitive.v1.serde.rs
  crates/astria-core/src/primitive/v1/mod.rs
  proto/primitives/astria/primitive/v1/types.proto
Due: common

fix strange import
  crates/astria-core/src/primitive/v1/mod.rs
Due: common

refactor(sequencer): fix prepare proposal metrics
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/metrics.rs
Due: sequencer

fix(sequencer): update out of sync local testing file
  crates/astria-sequencer/test-genesis-app-state.json
Due: sequencer

chore(core, proto)!: remove non-bech32m address bytes (#1186)
  crates/astria-core/src/generated/astria.primitive.v1.rs
  crates/astria-core/src/generated/astria.primitive.v1.serde.rs
  crates/astria-core/src/primitive/v1/mod.rs
  proto/primitives/astria/primitive/v1/types.proto
Due: common

chore(chart): update evm chart for new prefix field
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-rollup/values.yaml
Due: none

fmt
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
Due: none

wait for empty mempool
  Cargo.lock
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-bridge-withdrawer/local.env.example
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/config.rs
Due: none

config fixes
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-bridge-withdrawer/local.env.example
Due: none

address comments
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
Due: none

address some comments
  crates/astria-sequencer/src/transaction/query.rs
Due: sequencer

fix tests
  crates/astria-core/src/generated/astria.protocol.bridge.v1alpha1.rs
  crates/astria-sequencer/src/bridge/query.rs
Due: sequencer

address comments
  crates/astria-core/src/protocol/abci.rs
  crates/astria-sequencer/src/transaction/query.rs
Due: sequencer, common

add bridge sender address
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-rollup/values.yaml
Due: none

fix(sequencer-relayer): avoid hanging while waiting for submitter task to return (#1206)
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer-relayer/src/relayer/builder.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helpers/test_sequencer_relayer.rs
Due: sequencer-relayer

bump penumbra deps
  Cargo.lock
  Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: sequencer

chore: bump penumbra deps (#1216)
  Cargo.lock
  Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: sequencer

fix deployment
  charts/evm-rollup/files/genesis/geth-genesis.json
Due: none

chore(chart): update evm chart for new prefix field (#1214)
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-rollup/values.yaml
Due: none

chore(charts): update evm back to latest after geth merge
  charts/evm-rollup/values.yaml
Due: none

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  composer: any of: crates/astria-composer, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  astria-merkle: any of: crates/astria-merkle/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  common: any of: crates/astria-core/src/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
