Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: merkle
      name: astria-merkle
      paths:
        - crates/astria-merkle/**
    - component_id: common
      name: common
      paths:
        - crates/astria-core/src/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-core/src/generated/**'
  - 'crates/astria-build-info/**'
  - 'crates/astria-grpc-mock/**'
  - 'crates/astria-grpc-mock-test/**'
  - 'crates/astria-grpc-mock-test-codegen/**'
  - 'crates/astria-test-utils/**'

Squashed commit of the following:
  .github/workflows/docker-build.yml
  charts/deploy.just
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/values.yaml
  crates/astria-conductor/CHANGELOG.md
  crates/astria-conductor/local.env.example
  crates/astria-conductor/src/block_cache.rs
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor/inner.rs
  crates/astria-conductor/src/config.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/sequencer/block_stream.rs
  crates/astria-conductor/src/sequencer/builder.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-conductor/src/test_utils.rs
  crates/astria-conductor/tests/blackbox/firm_only.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mock_grpc.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
  crates/astria-conductor/tests/blackbox/soft_only.rs
  crates/astria-core/src/execution/mod.rs
  crates/astria-core/src/execution/v2/mod.rs
  crates/astria-core/src/generated/astria.bundle.v1alpha1.rs
  crates/astria-core/src/generated/astria.execution.v2.rs
  crates/astria-core/src/generated/astria.execution.v2.serde.rs
  dev/values/rollup/evm-restart-test.yaml
  dev/values/rollup/ibc-bridge-test.yaml
  proto/executionapis/astria/bundle/v1alpha1/optimistic_execution.proto
  proto/executionapis/astria/execution/v2/execution.proto
  specs/conductor.md
  specs/execution-api.md
Due: conductor, common

chore(sequencer): add missing storage key tests (#1989)
  crates/astria-sequencer/src/fees/storage/keys.rs
  crates/astria-sequencer/src/fees/storage/snapshots/astria_sequencer__fees__storage__keys__tests__bridge_transfer_fees_key.snap
Due: sequencer

use prev_verified_consensus_state instead of at latest height
  crates/astria-sequencer/src/ibc/recover_client.rs
Due: sequencer

put verified consensus state at client state height, not chain height
  crates/astria-sequencer/src/ibc/recover_client.rs
Due: sequencer

update FeeChange action
  crates/astria-core/src/generated/astria.protocol.transaction.v1.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.serde.rs
  crates/astria-core/src/protocol/transaction/v1/action/mod.rs
  crates/astria-sequencer-utils/src/genesis_example.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_genesis_snapshot.snap
  crates/astria-sequencer/src/fees/action.rs
  crates/astria-sequencer/src/fees/storage/snapshots/astria_sequencer__fees__storage__keys__tests__recover_client_fees_key.snap
  proto/protocolapis/astria/protocol/transaction/v1/action.proto
Due: sequencer, common

implement v2 execution api
  crates/astria-auctioneer/src/block/mod.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor/inner.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/metrics.rs
  crates/astria-conductor/src/test_utils.rs
  crates/astria-conductor/tests/blackbox/firm_only.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mock_grpc.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
  crates/astria-conductor/tests/blackbox/soft_only.rs
  crates/astria-core/src/execution/mod.rs
  crates/astria-core/src/execution/v1/mod.rs
  crates/astria-core/src/execution/v2/mod.rs
  crates/astria-core/src/generated/astria.bundle.v1alpha1.rs
  crates/astria-core/src/generated/astria.execution.v2.rs
  crates/astria-core/src/generated/astria.execution.v2.serde.rs
  crates/astria-core/src/generated/astria.optimistic_execution.v1alpha1.rs
  crates/astria-core/src/generated/mod.rs
  proto/executionapis/astria/bundle/v1alpha1/optimistic_execution.proto
  proto/executionapis/astria/execution/v2/execution.proto
  proto/executionapis/astria/optimistic_execution/v1alpha1/execute_optimistic_block_stream_response.proto
  specs/conductor.md
Due: conductor, common

update charts, changelog, and spec
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  crates/astria-conductor/CHANGELOG.md
  specs/conductor.md
Due: conductor

bump chart versions
  charts/evm-rollup/Chart.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

revert execution api spec changes
  specs/execution-api.md
Due: none

rustfmt and clippy
  crates/astria-sequencer/src/ibc/storage/values.rs
  crates/astria-sequencer/src/storage/stored_value.rs
  crates/astria-sequencer/src/test_utils.rs
Due: sequencer

fix formatting instance, remove old tests from grpc
  crates/astria-sequencer/src/app/storage/values/mod.rs
  crates/astria-sequencer/src/app/storage/values/snapshots/astria_sequencer__app__storage__values__tests__stored_value_app_variant.snap
  crates/astria-sequencer/src/grpc/storage/values/mod.rs
  crates/astria-sequencer/src/grpc/storage/values/snapshots/astria_sequencer__grpc__storage__values__tests__value_impl_block_hash_discriminant.snap
  crates/astria-sequencer/src/grpc/storage/values/snapshots/astria_sequencer__grpc__storage__values__tests__value_impl_proof_discriminant.snap
  crates/astria-sequencer/src/grpc/storage/values/snapshots/astria_sequencer__grpc__storage__values__tests__value_impl_rollup_ids_discriminant.snap
  crates/astria-sequencer/src/grpc/storage/values/snapshots/astria_sequencer__grpc__storage__values__tests__value_impl_rollup_transactions_discriminant.snap
  crates/astria-sequencer/src/grpc/storage/values/snapshots/astria_sequencer__grpc__storage__values__tests__value_impl_sequencer_block_header_discriminant.snap
Due: sequencer

lint proto
  crates/astria-core/src/generated/astria.protocol.genesis.v1.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1.serde.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.serde.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1alpha1.rs
  proto/protocolapis/astria/protocol/genesis/v1/types.proto
  proto/protocolapis/astria/protocol/transaction/v1/action.proto
Due: none

fix
  crates/astria-core/src/generated/astria.protocol.transaction.v1.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1alpha1.rs
Due: none

fix tests
  crates/astria-core/src/generated/astria.protocol.transaction.v1.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1alpha1.rs
  crates/astria-core/src/protocol/genesis/snapshots/astria_core__protocol__genesis__v1__tests__genesis_state.snap
  crates/astria-sequencer/app-genesis-state.json
  crates/astria-sequencer/src/ibc/mod.rs
Due: sequencer, common

cleanup
  crates/astria-core/src/generated/astria.protocol.transaction.v1.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1alpha1.rs
  crates/astria-sequencer/src/fees/action.rs
  crates/astria-sequencer/src/fees/storage/values.rs
  tools/protobuf-compiler/src/main.rs
Due: sequencer

refactor bridge logic, add check
  crates/astria-sequencer/src/action_handler/impls/bridge_lock.rs
  crates/astria-sequencer/src/action_handler/impls/bridge_transfer.rs
  crates/astria-sequencer/src/action_handler/impls/bridge_unlock.rs
  crates/astria-sequencer/src/action_handler/mod.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_execute_every_action.snap
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
Due: sequencer

rename to RecoverIbcClient, put proto under sudo section
  crates/astria-cli/src/sequencer/sudo/mod.rs
  crates/astria-cli/src/sequencer/sudo/recover_ibc_client.rs
  crates/astria-core/src/generated/astria.protocol.fees.v1.rs
  crates/astria-core/src/generated/astria.protocol.fees.v1.serde.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1.serde.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.serde.rs
  crates/astria-core/src/protocol/fees/v1.rs
  crates/astria-core/src/protocol/genesis/snapshots/astria_core__protocol__genesis__v1__tests__genesis_state.snap
  crates/astria-core/src/protocol/genesis/v1.rs
  crates/astria-core/src/protocol/transaction/v1/action/group/mod.rs
  crates/astria-core/src/protocol/transaction/v1/action/mod.rs
  crates/astria-sequencer-utils/src/genesis_example.rs
  crates/astria-sequencer/src/action_handler/impls/fee_change.rs
  crates/astria-sequencer/src/action_handler/impls/mod.rs
  crates/astria-sequencer/src/action_handler/impls/recover_ibc_client.rs
  crates/astria-sequencer/src/action_handler/impls/transaction.rs
  crates/astria-sequencer/src/app/benchmark_and_test_utils.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_at_genesis.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_execute_every_action.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_finalize_block.snap
  crates/astria-sequencer/src/fees/component.rs
  crates/astria-sequencer/src/fees/mod.rs
  crates/astria-sequencer/src/fees/query.rs
  crates/astria-sequencer/src/fees/storage/keys.rs
  crates/astria-sequencer/src/fees/storage/snapshots/astria_sequencer__fees__storage__keys__tests__recover_client_fees_key.snap
  crates/astria-sequencer/src/fees/storage/values.rs
  crates/astria-sequencer/src/transaction/checks.rs
  proto/protocolapis/astria/protocol/fees/v1/types.proto
  proto/protocolapis/astria/protocol/genesis/v1/types.proto
  proto/protocolapis/astria/protocol/transaction/v1/action.proto
Due: sequencer, cli, common

fmt
  crates/astria-core/src/protocol/genesis/v1.rs
  crates/astria-core/src/protocol/transaction/v1/action/mod.rs
  crates/astria-sequencer/src/fees/query.rs
Due: sequencer, common

fix snapshot test
  crates/astria-core/src/protocol/genesis/snapshots/astria_core__protocol__genesis__v1__tests__genesis_state.snap
Due: common

rename part1/part2 to roundOne/roundTwo
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/frost_signer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mock_bridge_signer.rs
  crates/astria-core/src/generated/astria.signer.v1.rs
  crates/astria-core/src/generated/astria.signer.v1.serde.rs
  proto/signerapis/astria/signer/v1/frost.proto
Due: none

remove chain id overwrite
  crates/astria-sequencer/src/action_handler/impls/recover_ibc_client.rs
Due: sequencer

rename subject_client_id to client_id_to_replace, smaller pr comments
  crates/astria-cli/src/sequencer/sudo/recover_ibc_client.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.serde.rs
  crates/astria-core/src/protocol/transaction/v1/action/mod.rs
  crates/astria-sequencer/src/action_handler/impls/fee_change.rs
  crates/astria-sequencer/src/action_handler/impls/recover_ibc_client.rs
  crates/astria-sequencer/src/action_handler/impls/transaction.rs
  crates/astria-sequencer/src/app/benchmark_and_test_utils.rs
  crates/astria-sequencer/src/fees/component.rs
  crates/astria-sequencer/src/fees/query.rs
  crates/astria-sequencer/src/fees/storage/keys.rs
  crates/astria-sequencer/src/fees/storage/snapshots/astria_sequencer__fees__storage__keys__tests__recover_ibc_client_fees_key.snap
  crates/astria-sequencer/src/service/info/mod.rs
  proto/protocolapis/astria/protocol/transaction/v1/action.proto
Due: sequencer, cli, common

add addition client equality checks
  crates/astria-sequencer/src/action_handler/impls/recover_ibc_client.rs
Due: sequencer

clippy
  crates/astria-sequencer/src/action_handler/impls/fee_change.rs
  crates/astria-sequencer/src/action_handler/impls/recover_ibc_client.rs
Due: sequencer

rename to client_id and replacement_client_id, replace chain id
  crates/astria-cli/src/sequencer/sudo/recover_ibc_client.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.serde.rs
  crates/astria-core/src/protocol/transaction/v1/action/mod.rs
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/action_handler/impls/recover_ibc_client.rs
  proto/protocolapis/astria/protocol/transaction/v1/action.proto
Due: sequencer, cli, common

protos
  crates/astria-core/src/generated/astria.protocol.transaction.v1.rs
Due: none

add comment
  crates/astria-sequencer/src/action_handler/impls/recover_ibc_client.rs
Due: sequencer

fix tests and conductor logic
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-rollup/values.yaml
  crates/astria-conductor/src/conductor/inner.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/src/test_utils.rs
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
  dev/values/rollup/dev.yaml
  dev/values/rollup/evm-restart-test.yaml
  dev/values/rollup/ibc-bridge-test.yaml
Due: conductor

revert refactoring changes
  crates/astria-sequencer/src/action_handler/impls/bridge_lock.rs
  crates/astria-sequencer/src/action_handler/impls/bridge_transfer.rs
  crates/astria-sequencer/src/action_handler/impls/bridge_unlock.rs
  crates/astria-sequencer/src/action_handler/mod.rs
Due: sequencer

change signer to enum
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/frost_signer.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/signer.rs
Due: none

Add cli command to manually submit rollup transaction
  crates/astria-cli/CHANGELOG.md
  crates/astria-cli/README.md
  crates/astria-cli/src/sequencer/mod.rs
  crates/astria-cli/src/sequencer/submit_rollup_tx.rs
Due: cli

rename config values, create signer module
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
  charts/evm-bridge-withdrawer/values.yaml
  crates/astria-bridge-withdrawer/local.env.example
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/signer/frost_signer.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/signer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/signer/sequencer_key.rs
  crates/astria-bridge-withdrawer/src/config.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
Due: none

fix make_signer
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
  charts/evm-bridge-withdrawer/values.yaml
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/signer/mod.rs
Due: none

fix lint
  crates/astria-core/src/protocol/transaction/v1/action/mod.rs
Due: common

make bridge withdrawer init non-async, update tests
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/signer/frost_signer.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/signer/mod.rs
  crates/astria-bridge-withdrawer/src/main.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mock_bridge_signer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
Due: none

feat(sequencer)!: implement `RecoverClient` action (#2008)
  Cargo.lock
  Cargo.toml
  crates/astria-cli/src/sequencer/sudo/mod.rs
  crates/astria-cli/src/sequencer/sudo/recover_ibc_client.rs
  crates/astria-core/src/generated/astria.protocol.fees.v1.rs
  crates/astria-core/src/generated/astria.protocol.fees.v1.serde.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1.serde.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.serde.rs
  crates/astria-core/src/protocol/fees/v1.rs
  crates/astria-core/src/protocol/genesis/snapshots/astria_core__protocol__genesis__v1__tests__genesis_state.snap
  crates/astria-core/src/protocol/genesis/v1.rs
  crates/astria-core/src/protocol/transaction/v1/action/group/mod.rs
  crates/astria-core/src/protocol/transaction/v1/action/mod.rs
  crates/astria-sequencer-utils/src/genesis_example.rs
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/action_handler/impls/fee_change.rs
  crates/astria-sequencer/src/action_handler/impls/mod.rs
  crates/astria-sequencer/src/action_handler/impls/recover_ibc_client.rs
  crates/astria-sequencer/src/action_handler/impls/transaction.rs
  crates/astria-sequencer/src/app/benchmark_and_test_utils.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_at_genesis.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_execute_every_action.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_finalize_block.snap
  crates/astria-sequencer/src/fees/component.rs
  crates/astria-sequencer/src/fees/mod.rs
  crates/astria-sequencer/src/fees/query.rs
  crates/astria-sequencer/src/fees/storage/keys.rs
  crates/astria-sequencer/src/fees/storage/snapshots/astria_sequencer__fees__storage__keys__tests__recover_client_fees_key.snap
  crates/astria-sequencer/src/fees/storage/snapshots/astria_sequencer__fees__storage__keys__tests__recover_ibc_client_fees_key.snap
  crates/astria-sequencer/src/fees/storage/values.rs
  crates/astria-sequencer/src/ibc/mod.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/transaction/checks.rs
  proto/protocolapis/astria/protocol/fees/v1/types.proto
  proto/protocolapis/astria/protocol/genesis/v1/types.proto
  proto/protocolapis/astria/protocol/transaction/v1/action.proto
Due: sequencer, cli, common

requested changes
  crates/astria-sequencer-relayer/src/relayer/celestia_client/mod.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Due: sequencer-relayer
