Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: merkle
      name: astria-merkle
      paths:
        - crates/astria-merkle/**
    - component_id: common
      name: common
      paths:
        - crates/astria-core/src/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-core/src/generated/**'
  - 'crates/astria-build-info/**'
  - 'crates/astria-grpc-mock/**'
  - 'crates/astria-grpc-mock-test/**'
  - 'crates/astria-grpc-mock-test-codegen/**'
  - 'crates/astria-test-utils/**'

split 'run_until_stopped' into two parts
  crates/astria-sequencer/src/main.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

Update bitnami postgresql chart dependency for evm-stack
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

Switch to OSS bitnami postgresql chart (#1899)
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

condolidate create, update, and remove market actions into 'ChangeMarkets'. Removed upsert markets
  crates/astria-core/src/generated/astria.protocol.fees.v1.rs
  crates/astria-core/src/generated/astria.protocol.fees.v1.serde.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1.serde.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.serde.rs
  crates/astria-core/src/protocol/fees/v1.rs
  crates/astria-core/src/protocol/genesis/v1.rs
  crates/astria-core/src/protocol/transaction/v1/action/group/mod.rs
  crates/astria-core/src/protocol/transaction/v1/action/mod.rs
  crates/astria-sequencer-utils/src/genesis_example.rs
  crates/astria-sequencer/src/action_handler/impls/change_markets.rs
  crates/astria-sequencer/src/action_handler/impls/create_markets.rs
  crates/astria-sequencer/src/action_handler/impls/fee_change.rs
  crates/astria-sequencer/src/action_handler/impls/mod.rs
  crates/astria-sequencer/src/action_handler/impls/remove_markets.rs
  crates/astria-sequencer/src/action_handler/impls/transaction.rs
  crates/astria-sequencer/src/action_handler/impls/update_markets.rs
  crates/astria-sequencer/src/action_handler/impls/upsert_markets.rs
  crates/astria-sequencer/src/app/benchmark_and_test_utils.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_at_genesis.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_execute_every_action.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_finalize_block.snap
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/fees/component.rs
  crates/astria-sequencer/src/fees/mod.rs
  crates/astria-sequencer/src/fees/query.rs
  crates/astria-sequencer/src/fees/storage/values.rs
  crates/astria-sequencer/src/transaction/checks.rs
  proto/protocolapis/astria/protocol/fees/v1/types.proto
  proto/protocolapis/astria/protocol/genesis/v1/types.proto
  proto/protocolapis/astria/protocol/transaction/v1/action.proto
Due: sequencer, common

update doc comment
  crates/astria-core/src/protocol/transaction/v1/action/mod.rs
Due: common

proto fmt
  proto/protocolapis/astria/protocol/transaction/v1/action.proto
Due: none

update snapshot
  crates/astria-core/src/protocol/genesis/snapshots/astria_core__protocol__genesis__v1__tests__genesis_state.snap
Due: common

update changelog
  crates/astria-sequencer/CHANGELOG.md
Due: sequencer

create price feed enum action and nest relevant actions inside
  crates/astria-core/src/generated/astria.protocol.fees.v1.rs
  crates/astria-core/src/generated/astria.protocol.fees.v1.serde.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1.serde.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.serde.rs
  crates/astria-core/src/protocol/fees/v1.rs
  crates/astria-core/src/protocol/genesis/snapshots/astria_core__protocol__genesis__v1__tests__genesis_state.snap
  crates/astria-core/src/protocol/genesis/v1.rs
  crates/astria-core/src/protocol/transaction/v1/action/group/mod.rs
  crates/astria-core/src/protocol/transaction/v1/action/mod.rs
  crates/astria-sequencer-utils/src/genesis_example.rs
  crates/astria-sequencer/src/action_handler/impls/add_currency_pairs.rs
  crates/astria-sequencer/src/action_handler/impls/fee_change.rs
  crates/astria-sequencer/src/action_handler/impls/mod.rs
  crates/astria-sequencer/src/action_handler/impls/price_feed.rs
  crates/astria-sequencer/src/action_handler/impls/remove_currency_pairs.rs
  crates/astria-sequencer/src/action_handler/impls/transaction.rs
  crates/astria-sequencer/src/app/benchmark_and_test_utils.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_at_genesis.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_execute_every_action.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_finalize_block.snap
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/fees/component.rs
  crates/astria-sequencer/src/fees/mod.rs
  crates/astria-sequencer/src/fees/query.rs
  crates/astria-sequencer/src/fees/storage/values.rs
  crates/astria-sequencer/src/transaction/checks.rs
  proto/protocolapis/astria/protocol/fees/v1/types.proto
  proto/protocolapis/astria/protocol/genesis/v1/types.proto
  proto/protocolapis/astria/protocol/transaction/v1/action.proto
Due: sequencer, common

chore(sequencer): remove misplaced logs (#1892)
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

feat(core): add Protobuf for FilteredSequencerBlock
  crates/astria-core/src/sequencerblock/v1/block.rs
Due: common

clean up grpc shutdown logic and ensure optimistic task doesn't get awaited twice
  crates/astria-sequencer/src/grpc/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer

remove debug info events
  crates/astria-sequencer/src/service/mempool/mod.rs
Due: sequencer

feat(auctioneer): add new service
  Cargo.lock
  Cargo.toml
  crates/astria-auctioneer/Cargo.toml
  crates/astria-auctioneer/README.md
  crates/astria-auctioneer/build.rs
  crates/astria-auctioneer/justfile
  crates/astria-auctioneer/local.env.example
  crates/astria-auctioneer/src/auctioneer/inner/auction/allocation_rule.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/factory.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/mod.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/worker.rs
  crates/astria-auctioneer/src/auctioneer/inner/mod.rs
  crates/astria-auctioneer/src/auctioneer/mod.rs
  crates/astria-auctioneer/src/block/mod.rs
  crates/astria-auctioneer/src/build_info.rs
  crates/astria-auctioneer/src/bundle/mod.rs
  crates/astria-auctioneer/src/config.rs
  crates/astria-auctioneer/src/lib.rs
  crates/astria-auctioneer/src/main.rs
  crates/astria-auctioneer/src/metrics.rs
  crates/astria-auctioneer/src/rollup_channel.rs
  crates/astria-auctioneer/src/sequencer_channel.rs
  crates/astria-auctioneer/src/sequencer_key.rs
  crates/astria-auctioneer/src/streaming_utils.rs
  crates/astria-core/src/generated/astria.bundle.v1alpha1.rs
  crates/astria-core/src/generated/astria.bundle.v1alpha1.serde.rs
  justfile
  proto/executionapis/astria/bundle/v1alpha1/bundle.proto
Due: none

add optimistic block APIs to sequencer
  Cargo.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/configmaps.yaml
  charts/sequencer/values.yaml
  crates/astria-core/src/sequencerblock/v1/mod.rs
  crates/astria-core/src/sequencerblock/v1/optimistic.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/app/event_bus.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/grpc/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/mempool/mod.rs
Due: sequencer, common

fmt
  crates/astria-auctioneer/src/auctioneer/inner/auction/mod.rs
  crates/astria-auctioneer/src/block/mod.rs
  crates/astria-auctioneer/src/bundle/mod.rs
  crates/astria-core/src/sequencerblock/v1/block.rs
  crates/astria-sequencer/src/grpc/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/mempool/mod.rs
  crates/astria-telemetry/src/lib.rs
Due: sequencer, common

explain runner, facade difference
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer

bump tokio-utils to get access to CancellationToken::run_until_cancelled
  Cargo.lock
  Cargo.toml
Due: none

spawn grpc server from sequencer
  crates/astria-sequencer/src/grpc/mod.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

emit span events for span construction, deletion
  crates/astria-telemetry/src/lib.rs
Due: common

cleanup optimistic service business logic a bit
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer

update evm-rollup charts
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  dev/values/rollup/dev.yaml
Due: none

add auctioneer charts
  charts/auctioneer/Chart.yaml
  charts/auctioneer/templates/_helpers.tpl
  charts/auctioneer/templates/configmap.yaml
  charts/auctioneer/templates/deployment.yaml
  charts/auctioneer/templates/prometheusrule.yaml
  charts/auctioneer/templates/secretproviderclass.yaml
  charts/auctioneer/templates/service.yaml
  charts/auctioneer/templates/servicemonitor.yaml
  charts/auctioneer/values.yaml
  charts/deploy.just
  dev/values/auctioneer/values.yaml
Due: none

update auctioneer image
  charts/auctioneer/values.yaml
Due: none

add auctioneer docker-build workflow
  .github/workflows/docker-build.yml
Due: none

fix bridge unlock cost calculation
  crates/astria-sequencer/src/transaction/checks.rs
Due: sequencer

update changelog, add unit test
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/transaction/checks.rs
Due: sequencer

clean up tests
  crates/astria-sequencer/src/transaction/checks.rs
Due: sequencer

ci(auctioneer): add auctioneer to docker-build workflow (#1903)
  .github/workflows/docker-build.yml
Due: none

replace bespoke auctioneer commit by core commit
  crates/astria-auctioneer/src/auctioneer/inner/auction/mod.rs
  crates/astria-auctioneer/src/auctioneer/inner/mod.rs
  crates/astria-auctioneer/src/block/mod.rs
  crates/astria-auctioneer/src/sequencer_channel.rs
Due: none

update sequencer block hash in core to use newtype hash
  crates/astria-core/src/sequencerblock/v1/optimistic.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer, common

fmt
  crates/astria-auctioneer/src/auctioneer/inner/auction/mod.rs
  crates/astria-auctioneer/src/auctioneer/inner/mod.rs
  crates/astria-auctioneer/src/block/mod.rs
  crates/astria-auctioneer/src/sequencer_channel.rs
  crates/astria-core/src/sequencerblock/v1/optimistic.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer, common

typo
  crates/astria-core/src/sequencerblock/v1/optimistic.rs
Due: common

feat(charts): update evm-rollup charts for auctioneer (#1901)
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  dev/values/rollup/dev.yaml
Due: none

feat(chart): add auctioneer chart and just commands (#1902)
  charts/auctioneer/Chart.yaml
  charts/auctioneer/templates/_helpers.tpl
  charts/auctioneer/templates/configmap.yaml
  charts/auctioneer/templates/deployment.yaml
  charts/auctioneer/templates/prometheusrule.yaml
  charts/auctioneer/templates/secretproviderclass.yaml
  charts/auctioneer/templates/service.yaml
  charts/auctioneer/templates/servicemonitor.yaml
  charts/auctioneer/values.yaml
  charts/deploy.just
  dev/values/auctioneer/values.yaml
Due: none

rename bundle apis
  proto/executionapis/astria/auction/v1alpha1/bid.proto
  proto/executionapis/astria/auction/v1alpha1/optimistic_execution.proto
Due: none

migrate all of auctioneer to bundle -> auction API
  crates/astria-auctioneer/local.env.example
  crates/astria-auctioneer/src/auctioneer/inner/auction/allocation_rule.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/factory.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/mod.rs
  crates/astria-auctioneer/src/auctioneer/inner/auction/worker.rs
  crates/astria-auctioneer/src/auctioneer/inner/mod.rs
  crates/astria-auctioneer/src/bid/mod.rs
  crates/astria-auctioneer/src/block/mod.rs
  crates/astria-auctioneer/src/lib.rs
  crates/astria-auctioneer/src/rollup_channel.rs
  crates/astria-core/src/generated/astria.auction.v1alpha1.rs
  crates/astria-core/src/generated/astria.auction.v1alpha1.serde.rs
  crates/astria-core/src/generated/mod.rs
  proto/executionapis/astria/auction/v1alpha1/bid.proto
  proto/executionapis/astria/bundle/v1alpha1/bundle.proto
Due: none

address buf lints
  crates/astria-core/src/generated/astria.auction.v1alpha1.serde.rs
  proto/executionapis/astria/auction/v1alpha1/bid.proto
Due: none

bump sequencer chart
  charts/sequencer/Chart.yaml
Due: none

clarify changelog
  crates/astria-sequencer/CHANGELOG.md
Due: sequencer
