Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: merkle
      name: astria-merkle
      paths:
        - crates/astria-merkle/**
    - component_id: common
      name: common
      paths:
        - crates/astria-core/src/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-core/src/generated/**'
  - 'crates/astria-build-info/**'
  - 'crates/astria-grpc-mock/**'
  - 'crates/astria-grpc-mock-test/**'
  - 'crates/astria-grpc-mock-test-codegen/**'
  - 'crates/astria-test-utils/**'

address comment
  specs/data-flow-and-verification.md
Due: none

make extended commit info third injected tx
  crates/astria-core/src/protocol/test_utils.rs
  crates/astria-core/src/sequencerblock/v1/block.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer, common

address ido's review
  charts/auctioneer/templates/_helpers.tpl
  charts/auctioneer/templates/deployment.yaml
  charts/auctioneer/templates/prometheusrule.yaml
  charts/auctioneer/templates/service.yaml
  charts/auctioneer/values.yaml
  charts/deploy.just
  charts/evm-rollup/templates/service.yaml
  dev/values/auctioneer/values.yaml
Due: none

add call to ibc::begin_block
  crates/astria-sequencer/src/app/app_abci.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
Due: sequencer

update blockscout version
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/evm-stack/values.yaml
Due: none

fix blockscout warnings and error
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  dev/values/rollup/dev.yaml
Due: none

fix(charts): local blockscout (#1720)
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/evm-stack/values.yaml
  dev/values/rollup/dev.yaml
Due: none

feat(charts): faster celestia blocktime In ibc-test (#1729)
  charts/celestia-local/Chart.yaml
  charts/celestia-local/files/scripts/init-celestia-appd.sh
  charts/celestia-local/templates/configmap.yaml
  charts/celestia-local/values.yaml
  charts/ibc-test.just
Due: none

fix every action snapshot
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
Due: sequencer

fix(docker): correct local docker-build tag naming (#1744)
  justfile
Due: none

chore(sequencer): implement retry logic for connecting to the oracle sidecar (#1788)
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

add docker build workflow
  .github/workflows/docker-build.yml
  charts/auctioneer/templates/deployment.yaml
Due: none

further refactor of fees
  crates/astria-core/src/protocol/fees/v1.rs
  crates/astria-core/src/protocol/genesis/v1.rs
  crates/astria-core/src/protocol/transaction/v1/action/group/tests.rs
  crates/astria-sequencer-utils/src/genesis_example.rs
  crates/astria-sequencer/src/app/benchmark_and_test_utils.rs
  crates/astria-sequencer/src/app/tests_app/mempool.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/fees/access.rs
  crates/astria-sequencer/src/fees/action.rs
  crates/astria-sequencer/src/fees/component.rs
  crates/astria-sequencer/src/fees/mod.rs
  crates/astria-sequencer/src/fees/query.rs
  crates/astria-sequencer/src/fees/state_ext.rs
  crates/astria-sequencer/src/fees/storage/keys.rs
  crates/astria-sequencer/src/fees/storage/mod.rs
  crates/astria-sequencer/src/fees/storage/snapshots/astria_sequencer__fees__storage__keys__tests__transfer_fees_key.snap
  crates/astria-sequencer/src/fees/storage/values.rs
  crates/astria-sequencer/src/fees/tests.rs
  crates/astria-sequencer/src/test_utils.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer, common

add depot project id
  .github/workflows/docker-build.yml
Due: none

add maintainers and update rollup version
  charts/auctioneer/Chart.yaml
  charts/evm-rollup/Chart.yaml
Due: none

add more tests
  crates/astria-sequencer/src/app/vote_extension.rs
Due: sequencer

celestia-app v2.2.0, celestia-node v0.18.2 config changes and version bump
  charts/celestia-local/Chart.yaml
  charts/celestia-local/values.yaml
  charts/celestia-node/Chart.yaml
  charts/celestia-node/files/config.toml
  charts/celestia-node/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

bump versions
  charts/celestia-local/Chart.yaml
  charts/celestia-local/values.yaml
  charts/celestia-node/Chart.yaml
  charts/celestia-node/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

refactor(core): make address, crypto crates
  Cargo.lock
  Cargo.toml
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-cli/src/sequencer/account.rs
  crates/astria-cli/src/sequencer/address.rs
  crates/astria-core-address/Cargo.toml
  crates/astria-core-address/src/lib.rs
  crates/astria-core-consts/Cargo.toml
  crates/astria-core-consts/src/lib.rs
  crates/astria-core-crypto/Cargo.toml
  crates/astria-core-crypto/src/lib.rs
  crates/astria-core/Cargo.toml
  crates/astria-core/src/lib.rs
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-core/src/protocol/bridge/v1/mod.rs
  crates/astria-core/src/protocol/genesis/v1.rs
  crates/astria-core/src/protocol/transaction/v1/action/mod.rs
  crates/astria-core/src/protocol/transaction/v1/mod.rs
  crates/astria-core/src/sequencerblock/v1/block.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/accounts/mod.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/authority/mod.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/authority/storage/values.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/bridge/storage/values/address_bytes.rs
  crates/astria-sequencer/src/fees/tests.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/grpc/storage/values/sequencer_block_header.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/ibc/storage/values.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/state_ext.rs
Due: sequencer, cli, common

refactor(core): move crypto module into crate
  Cargo.lock
  Cargo.toml
  crates/astria-cli/src/sequencer/account.rs
  crates/astria-core-consts/Cargo.toml
  crates/astria-core-consts/src/lib.rs
  crates/astria-core-crypto/CHANGELOG.md
  crates/astria-core-crypto/Cargo.toml
  crates/astria-core-crypto/src/lib.rs
  crates/astria-core/CHANGELOG.md
  crates/astria-core/Cargo.toml
  crates/astria-core/src/lib.rs
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
Due: sequencer, cli, common

attempt to fix tests
  crates/astria-core/src/protocol/test_utils.rs
  crates/astria-core/src/sequencerblock/v1/block.rs
Due: common

fix take_initial_elements_from_data
  crates/astria-core/src/sequencerblock/v1/block.rs
Due: common

refactor(core): move address logic to crate
  Cargo.lock
  Cargo.toml
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-core-address/CHANGELOG.md
  crates/astria-core-address/Cargo.toml
  crates/astria-core-address/src/lib.rs
  crates/astria-core-consts/CHANGELOG.md
  crates/astria-core-consts/Cargo.toml
  crates/astria-core-consts/src/lib.rs
  crates/astria-core/CHANGELOG.md
  crates/astria-core/Cargo.toml
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-core/src/protocol/bridge/v1/mod.rs
  crates/astria-core/src/protocol/genesis/v1.rs
  crates/astria-core/src/protocol/transaction/v1/action/mod.rs
  crates/astria-core/src/sequencerblock/v1/block.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/fees/tests.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
Due: sequencer, common

provide PR number and link for initial release
  crates/astria-core-crypto/CHANGELOG.md
Due: none

reexport const
  crates/astria-core-crypto/src/lib.rs
Due: none

fix just docker commands for Ubuntu
  justfile
Due: none

extend changelog
  crates/astria-core/CHANGELOG.md
Due: none

lint md
  crates/astria-core/CHANGELOG.md
Due: none

update audit ignore list
  .cargo/audit.toml
Due: none

refactor(cli): separate address command to tool
  .github/workflows/test.yml
  Cargo.toml
  crates/astria-cli/CHANGELOG.md
  crates/astria-cli/src/sequencer/address.rs
  crates/astria-cli/src/sequencer/mod.rs
  tools/astria-address/CHANGELOG.md
  tools/astria-address/Cargo.lock
  tools/astria-address/Cargo.toml
  tools/astria-address/README.md
  tools/astria-address/src/main.rs
  tools/astria-address/tests/make_address.rs
Due: cli

ensure deposits use trace prefixed assets
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
Due: sequencer

update changelog
  crates/astria-sequencer/CHANGELOG.md
Due: sequencer

update docker commands in justfile
  justfile
Due: none

separate impls into modules
  crates/astria-sequencer/src/action_handler/actions.rs
  crates/astria-sequencer/src/action_handler/impls/bridge_lock.rs
  crates/astria-sequencer/src/action_handler/impls/bridge_sudo_change.rs
  crates/astria-sequencer/src/action_handler/impls/bridge_unlock.rs
  crates/astria-sequencer/src/action_handler/impls/fee_asset_change.rs
  crates/astria-sequencer/src/action_handler/impls/fee_change.rs
  crates/astria-sequencer/src/action_handler/impls/ibc_relayer_change.rs
  crates/astria-sequencer/src/action_handler/impls/ibc_sudo_change.rs
  crates/astria-sequencer/src/action_handler/impls/ics20_withdrawal.rs
  crates/astria-sequencer/src/action_handler/impls/init_bridge_account.rs
  crates/astria-sequencer/src/action_handler/impls/mod.rs
  crates/astria-sequencer/src/action_handler/impls/rollup_data_submission.rs
  crates/astria-sequencer/src/action_handler/impls/sudo_address_change.rs
  crates/astria-sequencer/src/action_handler/impls/transfer.rs
  crates/astria-sequencer/src/action_handler/impls/validator_update.rs
  crates/astria-sequencer/src/action_handler/mod.rs
  crates/astria-sequencer/src/action_handler/tests/ics20_withdrawal.rs
Due: sequencer

refactor try_from_block_info_and_data into SequencerBlockBuilder
  crates/astria-core/src/protocol/test_utils.rs
  crates/astria-core/src/sequencerblock/v1/block.rs
  crates/astria-sequencer/src/app/mod.rs
Due: sequencer, common

refactor of fees
  crates/astria-core/src/protocol/fees/v1.rs
  crates/astria-core/src/protocol/genesis/v1.rs
  crates/astria-core/src/protocol/transaction/v1/action/group/tests.rs
  crates/astria-sequencer-utils/src/genesis_example.rs
  crates/astria-sequencer/src/app/benchmark_and_test_utils.rs
  crates/astria-sequencer/src/app/tests_app/mempool.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/fees/action.rs
  crates/astria-sequencer/src/fees/component.rs
  crates/astria-sequencer/src/fees/mod.rs
  crates/astria-sequencer/src/fees/query.rs
  crates/astria-sequencer/src/fees/state_ext.rs
  crates/astria-sequencer/src/fees/storage/keys.rs
  crates/astria-sequencer/src/fees/storage/mod.rs
  crates/astria-sequencer/src/fees/storage/snapshots/astria_sequencer__fees__storage__keys__tests__transfer_fees_key.snap
  crates/astria-sequencer/src/fees/storage/values.rs
  crates/astria-sequencer/src/fees/tests.rs
  crates/astria-sequencer/src/test_utils.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer, common

minor cleanups
  crates/astria-core/src/protocol/fees/v1.rs
  crates/astria-sequencer/src/app/benchmark_and_test_utils.rs
  crates/astria-sequencer/src/fees/action.rs
  crates/astria-sequencer/src/fees/mod.rs
  crates/astria-sequencer/src/fees/query.rs
  crates/astria-sequencer/src/fees/state_ext.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer, common

remove fee aliases
  Cargo.lock
  crates/astria-core/src/protocol/fees/v1.rs
  crates/astria-core/src/protocol/genesis/v1.rs
  crates/astria-core/src/protocol/transaction/v1/action/group/tests.rs
  crates/astria-core/src/protocol/transaction/v1/action/mod.rs
  crates/astria-sequencer-utils/Cargo.toml
  crates/astria-sequencer-utils/src/genesis_example.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/app/benchmark_and_test_utils.rs
  crates/astria-sequencer/src/app/tests_app/mempool.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/fees/action.rs
  crates/astria-sequencer/src/fees/storage/values.rs
  crates/astria-sequencer/src/fees/tests.rs
  crates/astria-sequencer/src/transaction/checks.rs
Due: sequencer, common

include cli in accepted justfile crates
  justfile
Due: none
