Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

update all tests
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/transaction/checks.rs
Due: sequencer

fix all tests
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/test_utils.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/src/transaction/state_ext.rs
Due: sequencer

combine stateful check and execute into one atomic operation
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/mod.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app/action_handler.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/fee_asset_change.rs
  crates/astria-sequencer/src/ibc/ibc_relayer_change.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/sequence/action.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/transaction/action_handler.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/src/transaction/state_ext.rs
Due: sequencer

rename GetAddressBytes -> AddressBytes, remove unnecessary checks at startup
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/mod.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

remove address_bytes field from mempool enqueuedtransaction
  crates/astria-sequencer/src/mempool/mod.rs
Due: sequencer

Fraser suggestion
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
Due: common

chore(core): Implement Protobuf trait for tx actions (#1320)
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-sequencer/src/utils.rs
Due: sequencer, common

clippy
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/test_utils.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/src/transaction/state_ext.rs
Due: sequencer

comment out unused code
  crates/astria-sequencer/src/app/action_handler.rs
Due: sequencer

add benchmark for sequencer prepare_proposal
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/app/benchmarks.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/benchmark_utils.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/test_utils.rs
Due: sequencer

add fixmes
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

remove unused import
  crates/astria-sequencer/src/app/action_handler.rs
Due: sequencer

rebase on top of superfluffy work
  crates/astria-core/src/protocol/abci.rs
  crates/astria-sequencer/.gitignore
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/service/mempool.rs
Due: sequencer, common

nit
  crates/astria-sequencer/.gitignore
Due: sequencer

test ibc withdraw to evm
  charts/evm-bridge-withdrawer/values.yaml
  charts/ibc-test.just
  dev/values/rollup/ibc-bridge-test.yaml
Due: none

increment chart version
  charts/evm-bridge-withdrawer/Chart.yaml
Due: none

fix chart dependency version
  charts/evm-stack/Chart.yaml
Due: none

update chart.lock
  charts/evm-stack/Chart.lock
Due: none

increment parent chart version after dependency was updated
  charts/evm-stack/Chart.yaml
Due: none

execution api updates for trusted builder
  charts/evm-rollup/values.yaml
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-core/src/composer/mod.rs
  crates/astria-core/src/composer/v1alpha1/mod.rs
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.serde.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/lib.rs
  proto/composerapis/astria/composer/v1alpha1/trusted_builder.proto
  proto/executionapis/astria/execution/v1alpha2/execution.proto
Due: conductor, common

run fmt and lint
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-core/src/composer/mod.rs
  crates/astria-core/src/composer/v1alpha1/mod.rs
Due: conductor, common

core: require bridge address everywhere
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
Due: common

refactor(core)!: require bridge unlock address be always set
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
Due: sequencer

update comments in proto and regenerate code
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Due: none

remove now redundant test
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
Due: sequencer

feat(sequencer)!: perform check_tx like regular block building
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

add new metric, remove obsolete metrics
  crates/astria-sequencer/src/metrics.rs
  crates/astria-sequencer/src/service/mempool.rs
Due: sequencer

clippy
  crates/astria-sequencer/src/service/mempool.rs
Due: sequencer

dont import into namespace
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/service/mempool.rs
Due: sequencer

rename execute to deliver
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/metrics.rs
  crates/astria-sequencer/src/service/mempool.rs
Due: sequencer

fix benchmarks
  crates/astria-sequencer/src/mempool/benchmarks.rs
Due: sequencer

fix metrics tests
  crates/astria-sequencer/src/metrics.rs
Due: sequencer

consistent just variables. comments. readme.
  charts/README.md
  charts/ibc-test.just
Due: none

default ibc-test just command to list commands. fix comment order.
  charts/ibc-test.just
Due: none

Fix fee reporting
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
Due: sequencer

Minor changes
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
Due: sequencer

rustfmt
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
Due: sequencer

Changes after rebase
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
Due: sequencer

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  composer: any of: crates/astria-composer, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  astria-merkle: any of: crates/astria-merkle/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  common: any of: crates/astria-core/src/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
