Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

Update versions
  charts/evm-rollup/Chart.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

Update stack version
  charts/evm-stack/Chart.yaml
Due: none

add comments
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/submission.rs
Due: sequencer-relayer

Bridge-withdrawer nonce handling cleanup
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/metrics.rs
Due: none

Minor updates to conditional metrics
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
Due: none

chore(sequencer-relayer)!: minimize resubmissions to Celestia (#1234)
  Cargo.lock
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/files/scripts/start-relayer.sh
  charts/sequencer-relayer/templates/_helpers.tpl
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/relayer/builder.rs
  crates/astria-sequencer-relayer/src/relayer/celestia_client/error.rs
  crates/astria-sequencer-relayer/src/relayer/celestia_client/mod.rs
  crates/astria-sequencer-relayer/src/relayer/celestia_client/tests.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/submission.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helpers/test_sequencer_relayer.rs
  specs/sequencer-relayer.md
Due: sequencer-relayer

configurable faucet asset
  charts/sequencer-faucet/templates/configmap.yaml
  charts/sequencer-faucet/templates/deployment.yaml
  charts/sequencer-faucet/values.yaml
Due: none

Apply suggestions from code review
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-core/src/execution/v1alpha2/mod.rs
Due: conductor, common

refactor(core, proto)!: define bridge memos in proto
  Cargo.lock
  crates/astria-bridge-contracts/Cargo.toml
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-core/src/bridge.rs
  crates/astria-core/src/generated/astria.protocol.memos.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.memos.v1alpha1.serde.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/lib.rs
  crates/astria-core/src/protocol/memos/mod.rs
  crates/astria-core/src/protocol/memos/v1alpha1.rs
  crates/astria-core/src/protocol/mod.rs
  crates/astria-core/src/serde.rs
  crates/astria-core/src/snapshots/astria_core__bridge__test__bridge_unlock_memo_snapshot.snap
  crates/astria-core/src/snapshots/astria_core__bridge__test__ics20_transfer_deposit_memo_snapshot.snap
  crates/astria-core/src/snapshots/astria_core__bridge__test__ics20_withdrawal_from_rollup_memo_snapshot.snap
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  proto/protocolapis/astria/protocol/memos/v1alpha1/types.proto
Due: sequencer, common

refactor(sequencer): fix prepare proposal metrics (#1211)
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/metrics.rs
Due: sequencer

refactor(bridge-withdrawer)!: refactor startup to a separate subtask and remove balance check from startup (#1190)
  charts/deploy.just
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
  crates/astria-bridge-withdrawer/local.env.example
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/state.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
  crates/astria-bridge-withdrawer/src/config.rs
Due: none

feat(charts): bridge-withdrawer, smoke test, various chart improvements (#1141)
  .github/workflows/docker-build.yml
  .github/workflows/release.yml
  charts/README.md
  charts/deploy.just
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-bridge-withdrawer/templates/_helpers.tpl
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
  charts/evm-bridge-withdrawer/templates/deployment.yaml
  charts/evm-bridge-withdrawer/templates/secretproviderclass.yaml
  charts/evm-bridge-withdrawer/templates/service.yaml
  charts/evm-bridge-withdrawer/templates/servicemonitor.yaml
  charts/evm-bridge-withdrawer/values.yaml
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/templates/service.yaml
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/values.yaml
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer-relayer/templates/statefulset.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/configmaps.yaml
  crates/astria-sequencer/src/asset/query.rs
  crates/astria-sequencer/src/service/info/mod.rs
  dev/kubernetes/namespace.yml
  dev/values/cilium.yml
  dev/values/rollup/dev.yaml
  dev/values/validators/all.yml
  dev/values/withdrawer/values.yaml
  justfile
Due: sequencer

refactor(bridge-withdrawer): move generated contract bindings to crate (#1237)
  .github/workflows/test.yml
  .gitmodules
  Cargo.lock
  Cargo.toml
  crates/astria-bridge-contracts/Cargo.toml
  crates/astria-bridge-contracts/README.md
  crates/astria-bridge-contracts/src/generated/astria_bridgeable_erc20.rs
  crates/astria-bridge-contracts/src/generated/astria_withdrawer.rs
  crates/astria-bridge-contracts/src/generated/i_astria_withdrawer.rs
  crates/astria-bridge-contracts/src/generated/mod.rs
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-bridge-withdrawer/build.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/generated/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/test_utils.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  justfile
  tools/solidity-compiler/Cargo.lock
  tools/solidity-compiler/Cargo.toml
  tools/solidity-compiler/README.md
  tools/solidity-compiler/src/main.rs
Due: none

release(sequencer): 0.14.1 patch release (#1233)
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
Due: sequencer

feat(core)!: lowerCamelCase for protobuf json mapping (#1250)
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.serde.rs
  crates/astria-core/src/generated/astria.primitive.v1.serde.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.serde.rs
  crates/astria-core/src/generated/celestia.blob.v1.serde.rs
  crates/astria-core/src/generated/cosmos.auth.v1beta1.serde.rs
  crates/astria-core/src/generated/cosmos.base.abci.v1beta1.serde.rs
  crates/astria-core/src/generated/cosmos.base.node.v1beta1.serde.rs
  crates/astria-core/src/generated/cosmos.base.tendermint.v1beta1.serde.rs
  crates/astria-core/src/generated/cosmos.crypto.multisig.v1beta1.serde.rs
  crates/astria-core/src/generated/cosmos.tx.v1beta1.serde.rs
  crates/astria-core/src/generated/tendermint.p2p.serde.rs
  crates/astria-core/src/generated/tendermint.types.serde.rs
  tools/protobuf-compiler/src/main.rs
Due: conductor

feat(sequencer): implement abci query for bridge account info (#1189)
  crates/astria-core/src/generated/astria.protocol.bridge.v1alpha1.rs
  crates/astria-core/src/protocol/bridge/v1alpha1/mod.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/service/info/mod.rs
  proto/protocolapis/astria/protocol/bridge/v1alpha1/types.proto
Due: sequencer, common

fix(sequencer)!: store native asset ibc->trace mapping in init_chain (#1242)
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_genesis_snapshot.snap
Due: sequencer

feat(sequencer-utils): generate example genesis state (#1224)
  crates/astria-core/src/lib.rs
  crates/astria-core/src/sequencer.rs
  crates/astria-core/src/snapshots/astria_core__sequencer__tests__genesis_state_is_unchanged.snap
  crates/astria-sequencer-utils/Cargo.toml
  crates/astria-sequencer-utils/README.md
  crates/astria-sequencer-utils/src/cli.rs
  crates/astria-sequencer-utils/src/genesis_example.rs
  crates/astria-sequencer-utils/src/lib.rs
  crates/astria-sequencer-utils/src/main.rs
  crates/astria-sequencer/README.md
  crates/astria-sequencer/justfile
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/bridge/component.rs
  crates/astria-sequencer/src/ibc/component.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/sequence/component.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/test-genesis-app-state.json
Due: sequencer, common

refactor(core, bridge-withdrawer)!: move bridge-unlock memo to core (#1245)
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
  crates/astria-core/src/bridge.rs
  crates/astria-core/src/snapshots/astria_core__bridge__test__bridge_unlock_memo_snapshot.snap
Due: common

fix(conductor): don't panic during panic (#1252)
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
Due: conductor

feat(sequencer): implement transaction fee query (#1196)
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/protocol/abci.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/src/transaction/query.rs
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Due: sequencer, common

fix: rollup archive node configurations (#1249)
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/statefulsets.yaml
Due: none

chore(cli)!: remove unmaintained rollup subcommand (#1235)
  Cargo.lock
  crates/astria-cli/Cargo.toml
  crates/astria-cli/README.md
  crates/astria-cli/justfile
  crates/astria-cli/src/cli/mod.rs
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/commands/rollup.rs
  crates/astria-cli/src/lib.rs
  crates/astria-cli/src/types.rs
  crates/astria-cli/test-utils/Cargo.toml
  crates/astria-cli/test-utils/src/lib.rs
  crates/astria-cli/tests/integration_test.rs
Due: cli

fix(sequencer) fix wrong metric and remove unused metric (#1240)
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/metrics.rs
Due: sequencer

feature(charts): hermes chart fixes, bech32 updates, ibc bridge test (#1130)
  .github/workflows/docker-build.yml
  charts/README.md
  charts/bridge-test/.helmignore
  charts/bridge-test/Chart.yaml
  charts/bridge-test/files/scripts/test-ibc-transfer.sh
  charts/bridge-test/templates/_helpers.tpl
  charts/bridge-test/templates/configmap.yaml
  charts/bridge-test/templates/job.yaml
  charts/bridge-test/values.yaml
  charts/celestia-local/files/scripts/init-celestia-appd.sh
  charts/celestia-local/files/scripts/start-celestia-appd.sh
  charts/celestia-local/templates/configmap.yaml
  charts/celestia-local/templates/deployment.yaml
  charts/celestia-local/templates/ingress.yaml
  charts/celestia-local/templates/service.yaml
  charts/celestia-local/values.yaml
  charts/deploy.just
  charts/evm-rollup/Chart.yaml
  charts/hermes/Chart.yaml
  charts/hermes/files/config.toml
  charts/hermes/templates/deployment.yaml
  charts/hermes/values.yaml
  dev/bridgetester.just
  dev/containerfiles/bridgetesterutility.Dockerfile
  dev/values/hermes/local.yaml
  dev/values/rollup/ibc-bridge-test.yaml
  dev/values/validators/all.yml
  justfile
Due: none

chore(sequencer)!: add metrics (#1248)
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/metrics.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/mempool.rs
Due: sequencer

feat(cli): add cmd to collect withdrawal events and submit as actions (#1261)
  .github/workflows/docker-build.yml
  Cargo.lock
  charts/deploy.just
  crates/astria-cli/Cargo.toml
  crates/astria-cli/src/cli/bridge.rs
  crates/astria-cli/src/cli/mod.rs
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/bridge/collect.rs
  crates/astria-cli/src/commands/bridge/mod.rs
  crates/astria-cli/src/commands/bridge/submit.rs
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/main.rs
Due: cli

fix(core, bridge, sequencer)!: dismabiguate return addresses (#1266)
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
  crates/astria-bridge-withdrawer/src/lib.rs
  crates/astria-core/src/bridge.rs
  crates/astria-core/src/snapshots/astria_core__bridge__test__bridge_unlock_memo_snapshot.snap
  crates/astria-core/src/snapshots/astria_core__bridge__test__ics20_withdrawal_from_rollup_memo_snapshot.snap
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer, common

chore: update `bytes` and `ics23` crates (#1279)
  Cargo.lock
Due: none

fix(bridge-withdrawer): don't panic on init (#1281)
  crates/astria-bridge-withdrawer/src/main.rs
Due: none

fix(sequencer): improve and fix instrumentation (#1255)
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/address/state_ext.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/asset/state_ext.rs
  crates/astria-sequencer/src/authority/component.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/bridge/component.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/ibc/component.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/sequence/action.rs
  crates/astria-sequencer/src/sequence/component.rs
  crates/astria-sequencer/src/sequence/state_ext.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/state_ext.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

chore(sequencer): add mempool benchmarks (#1238)
  Cargo.lock
  Cargo.toml
  crates/astria-merkle/Cargo.toml
  crates/astria-merkle/benches/benchmark.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/benches/benchmark.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/mempool/mod.rs
Due: sequencer, astria-merkle

feat(composer)!: Add chain_id check on executor build (#1175)
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/tests/blackbox/helper/mock_sequencer.rs
Due: composer

feat(cli, bridge-withdrawer)!: share code between cli and service (#1270)
  Cargo.lock
  charts/deploy.just
  crates/astria-bridge-contracts/Cargo.toml
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/test_utils.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/config.rs
  crates/astria-cli/src/commands/bridge/collect.rs
Due: cli

fix(sequencer-utils): fixes issue in `parse_blob` tests (#1243)
  Cargo.lock
  crates/astria-sequencer-utils/Cargo.toml
  crates/astria-sequencer-utils/tests/parse_blob.rs
Due: sequencer

feat(core, proto)!: make bridge unlock memo string (#1244)
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Due: sequencer, common

fix(bridge-withdrawer)!: fix nonce handling (#1215)
  .github/workflows/docker-build.yml
  Cargo.lock
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
  charts/evm-bridge-withdrawer/values.yaml
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-bridge-withdrawer/local.env.example
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
  crates/astria-bridge-withdrawer/src/config.rs
  crates/astria-bridge-withdrawer/src/lib.rs
  crates/astria-bridge-withdrawer/src/metrics.rs
  dev/values/withdrawer/values.yaml
Due: none

fix(charts): add resources for sequencer/cometbft (#1254)
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/statefulsets.yaml
  charts/sequencer/values.yaml
  dev/values/validators/all.yml
Due: none

save
  crates/astria-composer/src/collectors/grpc.rs
  crates/astria-composer/src/grpc.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  proto/composerapis/astria/composer/v1alpha1/grpc_collector.proto
  sequencer-key.txt
Due: composer

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  composer: any of: crates/astria-composer, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  astria-merkle: any of: crates/astria-merkle/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  common: any of: crates/astria-core/src/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
