Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

rename AstriaMintableERC20 to AstriaBridgeableERC20
  crates/astria-bridge-withdrawer/build.rs
  crates/astria-bridge-withdrawer/ethereum/src/AstriaBridgeableERC20.sol
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/generated/astria_bridgeable_erc20.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/generated/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/test_utils.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
Due: none

remove solc from ci
  .github/workflows/test.yml
  crates/astria-bridge-withdrawer/ethereum/out/AstriaBridgeableERC20.sol/AstriaBridgeableERC20.json
Due: none

bridge-test chart
  charts/README.md
  charts/bridge-test/.helmignore
  charts/bridge-test/Chart.yaml
  charts/bridge-test/templates/_helpers.tpl
  charts/bridge-test/templates/job.yaml
  charts/bridge-test/values.yaml
  charts/celestia-local/values.yaml
  charts/deploy.just
  charts/sequencer/values.yaml
Due: none

simplified version works :/
  crates/astria-bridge-withdrawer/local.env.example
  crates/astria-bridge-withdrawer/src/config.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/mod.rs
Due: none

WIP
  Cargo.lock
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/signer.rs
  crates/astria-core/Cargo.toml
  crates/astria-core/src/crypto.rs
  crates/astria-core/src/generated/astria.primitive.v1.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/genesis.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/mempool.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
  proto/primitives/astria/primitive/v1/types.proto
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Due: sequencer, common

updated relayer doc
  specs/sequencer-relayer.md
Due: none

startup logic
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/mod.rs
Due: none

feat(sequencer): implement `bridge/account_last_tx_hash` abci query (#1158)
  crates/astria-core/src/generated/astria.protocol.bridge.v1alpha1.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/protocol/bridge/mod.rs
  crates/astria-core/src/protocol/bridge/v1alpha1/mod.rs
  crates/astria-core/src/protocol/mod.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/bridge/mod.rs
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/transaction/mod.rs
  proto/protocolapis/astria/protocol/bridge/v1alpha1/types.proto
Due: sequencer, common

chore: bump penumbra deps (#1159)
  Cargo.lock
  Cargo.toml
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

cleanup err message
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/tests.rs
Due: none

rip out arrayvec, ensure that prefixes are valid hrp, make deprecated bytes and bech32m fields mutually exclusive
  Cargo.lock
  crates/astria-core/Cargo.toml
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-core/src/primitive/v1/snapshots/astria_core__primitive__v1__tests__snapshots.snap
  crates/astria-core/src/protocol/transaction/v1alpha1/snapshots/astria_core__protocol__transaction__v1alpha1__test__signed_transaction_hash.snap
Due: common

test(bridge-withdrawer): add submitter tests (#1133)
  Cargo.lock
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/tests.rs
Due: none

add comments on protobuf address message
  crates/astria-core/src/generated/astria.primitive.v1.rs
  proto/primitives/astria/primitive/v1/types.proto
Due: none

add missing dev values
  dev/values/validators/node0.yml
  dev/values/validators/single.yml
Due: none

feat(sequencer-relayer)!: add chain IDs for sequencer and Celestia to config env vars (#1063)
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer-relayer/values.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  crates/astria-sequencer-relayer/local.env.example
  crates/astria-sequencer-relayer/src/config.rs
  crates/astria-sequencer-relayer/src/relayer/builder.rs
  crates/astria-sequencer-relayer/src/relayer/celestia_client/builder.rs
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
  crates/astria-sequencer-relayer/src/sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/helpers/mock_celestia_app_server.rs
  crates/astria-sequencer-relayer/tests/blackbox/helpers/test_sequencer_relayer.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
  dev/values/validators/node0.yml
  dev/values/validators/single.yml
Due: sequencer-relayer

fix after merge and update snapshots
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/tests.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
Due: sequencer, common

use astria address prefix constant everywhere
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/signer.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/tests.rs
  crates/astria-cli/src/lib.rs
  crates/astria-core/src/crypto.rs
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/lib.rs
Due: sequencer, cli, common

clippy
  crates/astria-core/src/primitive/v1/mod.rs
Due: common

fix doctest, clippy
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/convert.rs
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-sequencer-client/src/extension_trait.rs
Due: cli, common

fix tests
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/tests.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
Due: sequencer

Adding helm chart, updating smoke test
  .github/workflows/docker-build.yml
  .github/workflows/release.yml
  charts/deploy.just
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-bridge-withdrawer/templates/_helpers.tpl
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
  charts/evm-bridge-withdrawer/templates/deployment.yaml
  charts/evm-bridge-withdrawer/templates/secretproviderclass.yaml
  charts/evm-bridge-withdrawer/templates/service.yaml
  charts/evm-bridge-withdrawer/templates/servicemonitor.yaml
  charts/evm-bridge-withdrawer/values.yaml
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/templates/service.yaml
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/values.yaml
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer-relayer/templates/statefulset.yaml
  charts/sequencer/values.yaml
  crates/astria-bridge-withdrawer/ethereum/README.md
  crates/astria-bridge-withdrawer/ethereum/cluster.env.example
  crates/astria-bridge-withdrawer/ethereum/out/AstriaWithdrawer.sol/AstriaWithdrawer.json
  crates/astria-bridge-withdrawer/local.env.example
  dev/values/rollup/dev.yaml
  dev/values/validators/all.yml
  dev/values/validators/node0.yml
  dev/values/validators/node1.yml
  dev/values/validators/node2.yml
  dev/values/withdrawer/values.yaml
Due: none

watcher tests work
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/tests.rs
Due: none

implement refund to rollup logic upon ics20 transfer refund
  crates/astria-core/src/bridge.rs
  crates/astria-core/src/lib.rs
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer, common

update
  charts/deploy.just
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/templates/storageclasses.yaml
  charts/evm-rollup/values.yaml
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/values.yaml
  crates/astria-bridge-withdrawer/ethereum/README.md
  dev/values/rollup/dev.yaml
  dev/values/validators/all.yml
  justfile
Due: none

test release updated
  .github/workflows/release.yml
Due: none

cleanup
  .github/workflows/reusable-run-checker.yml
  charts/README.md
  charts/deploy.just
  dev/kubernetes/namespace.yml
  dev/values/cilium.yml
Due: none

fix env example files
  crates/astria-bridge-withdrawer/ethereum/local.env.example
  crates/astria-bridge-withdrawer/local.env.example
Due: none

test revised push
  .github/workflows/release.yml
Due: none

test 2
  .github/workflows/release.yml
Due: none

doh
  .github/workflows/release.yml
Due: none

change back to main
  .github/workflows/release.yml
  .github/workflows/reusable-run-checker.yml
Due: none

ready
  charts/README.md
Due: none

add back in accidental removal
  charts/evm-rollup/values.yaml
Due: none

startup test works
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/tests.rs
Due: none

startup failure tests
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/tests.rs
Due: none

add sequencer_bridge_address cfg option to withdrawer
  crates/astria-bridge-withdrawer/local.env.example
  crates/astria-bridge-withdrawer/src/config.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/tests.rs
Due: none

address comments
  .gitattributes
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
Due: none

clippy
  Cargo.lock
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/mod.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

example env cleanup
  crates/astria-bridge-withdrawer/local.env.example
Due: none

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  composer: any of: crates/astria-composer, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  astria-merkle: any of: crates/astria-merkle/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  common: any of: crates/astria-core/src/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
