Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: merkle
      name: astria-merkle
      paths:
        - crates/astria-merkle/**
    - component_id: common
      name: common
      paths:
        - crates/astria-core/src/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-core/src/generated/**'
  - 'crates/astria-build-info/**'
  - 'crates/astria-grpc-mock/**'
  - 'crates/astria-grpc-mock-test/**'
  - 'crates/astria-grpc-mock-test-codegen/**'
  - 'crates/astria-test-utils/**'

fix(charts): configurable components block times variables (#1827)
  charts/celestia-local/Chart.yaml
  charts/celestia-local/files/scripts/init-celestia-appd.sh
  charts/celestia-local/values.yaml
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer-relayer/values.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
Due: none

bump celestia-node version
  charts/celestia-node/Chart.yaml
  charts/celestia-node/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

configurable interval, secretProvider template fix
  charts/evm-faucet/templates/configmap.yaml
  charts/evm-faucet/templates/deployment.yaml
  charts/evm-faucet/values.yaml
Due: none

bump chart version
  charts/evm-faucet/Chart.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

fix(charts, evm-faucet): configurable interval, secretProvider template fix (#1873)
  charts/evm-faucet/Chart.yaml
  charts/evm-faucet/templates/configmap.yaml
  charts/evm-faucet/templates/deployment.yaml
  charts/evm-faucet/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

run fmt + lint
  crates/astria-sequencer/src/app/event_bus.rs
Due: sequencer

fix comment
  crates/astria-sequencer/src/app/event_bus.rs
Due: sequencer

just use Ok while sending data over grpc stream instead of type casting to Result
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer

address review comments
  crates/astria-sequencer/src/app/event_bus.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

minor changes
  crates/astria-core/src/sequencerblock/v1alpha1/optimistic_block.rs
Due: common

move optimistic block protos to v1
  proto/sequencerblockapis/astria/sequencerblock/optimisticblock/v1alpha1/optimistic_block.proto
Due: none

add a comment
  crates/astria-sequencer/src/grpc/mod.rs
Due: sequencer

add ASTRIA_SEQUENCER_NO_OPTIMISTIC_BLOCK to configmaps
  charts/sequencer/templates/configmaps.yaml
  charts/sequencer/values.yaml
Due: none

make task functions free standing
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer

add some comments
  crates/astria-sequencer/src/app/event_bus.rs
Due: sequencer

add documentation to event bus
  crates/astria-sequencer/src/app/event_bus.rs
  crates/astria-sequencer/src/grpc/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer

update optimistic block imports
  crates/astria-core/src/sequencerblock/v1alpha1/optimistic_block.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer, common

only stream new values for the optimistic block and block commitment
  crates/astria-sequencer/src/app/event_bus.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer

minor updates
  crates/astria-sequencer/src/app/benchmark_and_test_utils.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

minor updates
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer

move optimistic block grpc wrappers to v1
  crates/astria-core/src/sequencerblock/mod.rs
  crates/astria-core/src/sequencerblock/v1/mod.rs
  crates/astria-core/src/sequencerblock/v1/optimistic_block.rs
  crates/astria-core/src/sequencerblock/v1alpha1/mod.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer, common

address review comments
  Cargo.lock
  charts/sequencer/templates/configmaps.yaml
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/app/benchmark_and_test_utils.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mempool/tests.rs
Due: sequencer

use in_scope to emit events under a specific span
  crates/astria-sequencer/src/grpc/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer

minor renaming
  crates/astria-sequencer/src/grpc/optimistic.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

address review comments
  crates/astria-sequencer/src/app/event_bus.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/grpc/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

rename optimistic_block to optimistic
  crates/astria-core/src/sequencerblock/v1/mod.rs
  crates/astria-core/src/sequencerblock/v1/optimistic.rs
  crates/astria-sequencer/src/app/event_bus.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer, common

rebase from pr 1707
  crates/astria-core/src/generated/astria.sequencerblock.v1.optimisticblock.v1alpha1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1.optimisticblock.v1alpha1.serde.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/sequencerblock/v1/optimistic_block.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer, common

lint + fmt
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/sequencerblock/v1/optimistic.rs
  crates/astria-sequencer/src/grpc/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer, common

fix lint issues
  crates/astria-core/src/sequencerblock/v1alpha1/optimistic_block.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer, common

implement optimistic block apis
  crates/astria-core/src/sequencerblock/mod.rs
  crates/astria-core/src/sequencerblock/v1alpha1/mod.rs
  crates/astria-core/src/sequencerblock/v1alpha1/optimistic_block.rs
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/grpc/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mempool/tests.rs
Due: sequencer, common

update sequencer chart version
  charts/sequencer/Chart.yaml
Due: none

send commited block from finalize_block
  crates/astria-sequencer/src/app/mod.rs
Due: sequencer

move optimistic block protos to v1
  crates/astria-core/src/generated/astria.sequencerblock.v1.optimisticblock.v1alpha1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1.optimisticblock.v1alpha1.serde.rs
Due: none

rebase protos
  crates/astria-core/src/sequencerblock/v1/optimistic_block.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
  proto/sequencerblockapis/astria/sequencerblock/optimistic/v1alpha1/service.proto
  proto/sequencerblockapis/astria/sequencerblock/optimisticblock/v1alpha1/optimistic_block.proto
Due: sequencer, common

remove debug trait from OptimisticBlockChannels
  crates/astria-sequencer/src/app/mod.rs
Due: sequencer

fix erroneous doc comment
  crates/astria-conductor/src/executor/state.rs
Due: conductor

impl Add/RemoveCurrencyPairs
  crates/astria-sequencer/src/action_handler/impls/add_currency_pairs.rs
  crates/astria-sequencer/src/action_handler/impls/remove_currency_pairs.rs
  crates/astria-sequencer/src/app/vote_extension.rs
  crates/astria-sequencer/src/connect/oracle/component.rs
  crates/astria-sequencer/src/connect/oracle/currency_pair_strategy.rs
  crates/astria-sequencer/src/connect/oracle/state_ext.rs
  crates/astria-sequencer/src/connect/oracle/storage/keys.rs
Due: sequencer

feat(charts): snapshot startup for sequencer
  charts/sequencer/files/scripts/init-cometbft.sh
  charts/sequencer/templates/statefulsets.yaml
  charts/sequencer/values.yaml
  dev/values/validators/single.yml
Due: none

works
  charts/sequencer/files/scripts/init-cometbft.sh
Due: none
