Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

fix(cli, bridge-withdrawer): dont fail entire block due to bad withdraw event (#1409)
  crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-cli/src/commands/bridge/collect.rs
Due: cli

Update crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
Due: none

Update crates/astria-bridge-contracts/src/lib.rs
  crates/astria-bridge-contracts/src/lib.rs
Due: none

fix hash encoding
  crates/astria-bridge-contracts/src/lib.rs
Due: none

fix black box test
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
Due: none

address comments
  Cargo.lock
  charts/sequencer/values.yaml
  crates/astria-core/src/lib.rs
  crates/astria-core/src/slinky/market_map.rs
  crates/astria-core/src/slinky/types.rs
  crates/astria-sequencer-utils/src/genesis_example.rs
  crates/astria-sequencer-utils/src/genesis_parser.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/app-genesis-state.json
  crates/astria-sequencer/src/app/vote_extension.rs
  crates/astria-sequencer/src/slinky/oracle/component.rs
  proto/protocolapis/astria_vendored/slinky/abci/v1/vote_extensions.proto
  proto/protocolapis/astria_vendored/slinky/marketmap/v1/genesis.proto
  proto/protocolapis/astria_vendored/slinky/marketmap/v1/market.proto
  proto/protocolapis/astria_vendored/slinky/marketmap/v1/params.proto
  proto/protocolapis/astria_vendored/slinky/marketmap/v1/query.proto
  proto/protocolapis/astria_vendored/slinky/oracle/v1/genesis.proto
  proto/protocolapis/astria_vendored/slinky/oracle/v1/query.proto
  proto/protocolapis/astria_vendored/slinky/service/v1/oracle.proto
  proto/protocolapis/astria_vendored/slinky/types/v1/currency_pair.proto
  tools/protobuf-compiler/src/main.rs
Due: sequencer, common

bump chart versions
  charts/celestia-local/Chart.yaml
  charts/celestia-node/Chart.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

Suggested changes from review
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
Due: none

Clippy allow struct_field_names for parity with `Shutdown`
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
Due: none

chore(conductor): Add instrumentation (#1330)
  crates/astria-conductor/src/celestia/fetch.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/verify.rs
  crates/astria-conductor/src/conductor.rs
  crates/astria-conductor/src/executor/channel.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/sequencer/mod.rs
Due: conductor

chore(bridge-withdrawer): Add instrumentation (#1324)
  crates/astria-bridge-withdrawer/src/api.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
Due: none

Migrate back to encode::hex instead of ethers
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_block_fees.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/transaction/state_ext.rs
Due: sequencer

Update snapshot
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
Due: sequencer

Cleanup
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_block_fees.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/state_ext.rs
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/block.proto
Due: sequencer

Requested changes from Janis
  crates/astria-core/src/generated/astria.primitive.v1.rs
  crates/astria-core/src/generated/astria.primitive.v1.serde.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.serde.rs
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_block_fees.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/src/transaction/state_ext.rs
  proto/primitives/astria/primitive/v1/types.proto
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/block.proto
Due: sequencer, common

Proto lint
  proto/primitives/astria/primitive/v1/types.proto
Due: none

handle bundle pushing error using wrap_err
  crates/astria-composer/src/executor/mod.rs
Due: composer

run fmt
  crates/astria-composer/tests/blackbox/grpc_collector.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

overrideTag
  charts/evm-rollup/templates/_helpers.tpl
Due: none

submit bundle only when new block is created
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/client.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/simulator.rs
Due: composer

run just fmt
  crates/astria-composer/src/executor/mod.rs
  crates/astria-core/src/composer/v1alpha1/mod.rs
Due: composer, common

save
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.serde.rs
  proto/composerapis/astria/composer/v1alpha1/grpc_collector.proto
Due: none

final additions
  charts/composer/templates/configmap.yaml
  charts/composer/values.yaml
  charts/evm-rollup/values.yaml
  charts/sequencer/values.yaml
  crates/astria-composer/local.env.example
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/executor/client.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/simulator.rs
  crates/astria-composer/src/metrics.rs
  crates/astria-sequencer/src/app/tests_app.rs
  proto/composerapis/astria/composer/v1alpha1/trusted_builder.proto
Due: composer, sequencer

use bytes
  crates/astria-composer/src/executor/mod.rs
  crates/astria-core/src/composer/v1alpha1/mod.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.serde.rs
  proto/composerapis/astria/composer/v1alpha1/trusted_builder.proto
Due: composer, common

cover deposits case
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/executor/client.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/simulator.rs
  crates/astria-core/src/composer/v1alpha1/mod.rs
  crates/astria-core/src/lib.rs
Due: composer, common

add sequencer hooks
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/grpc.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/sequencer_hooks.rs
Due: composer

minor fixes
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/tests/blackbox/geth_collector.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

use soft block hash instead of parent hash
  crates/astria-composer/src/executor/simulator.rs
  crates/astria-composer/src/executor/tests.rs
Due: composer

use Bytes instead of Vec<u8>
  crates/astria-composer/src/executor/mod.rs
  crates/astria-core/src/composer/v1alpha1/mod.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
Due: composer, common

trusted builder iteration 2
  Cargo.lock
  charts/deploy.just
  charts/evm-rollup/values.yaml
  charts/sequencer/templates/configmaps.yaml
  charts/sequencer/values.yaml
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/simulator.rs
  crates/astria-composer/src/grpc.rs
  crates/astria-composer/src/sequencer_hooks.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.serde.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/client.rs
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/sequencer.rs
  dev/values/rollup/dev.yaml
  dev/values/validators/all.yml
  dev/values/validators/node0.yml
  dev/values/validators/node1.yml
  dev/values/validators/node2.yml
  proto/composerapis/astria/composer/v1alpha1/grpc_collector.proto
Due: composer, sequencer

add message hash to proto
  crates/astria-composer/src/executor/mod.rs
  crates/astria-core/src/composer/v1alpha1/mod.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.serde.rs
  proto/composerapis/astria/composer/v1alpha1/trusted_builder.proto
Due: composer, common

update tests
  crates/astria-composer/src/executor/tests.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: composer, sequencer

save
  charts/composer/values.yaml
  charts/evm-rollup/templates/service.yaml
  charts/evm-rollup/values.yaml
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/simulator.rs
  crates/astria-composer/src/executor/tests.rs
Due: composer

revert dev.yaml changes
  dev/values/rollup/dev.yaml
Due: none

chart changes
  charts/sequencer/values.yaml
Due: none

save
  charts/celestia-node/values.yaml
  charts/composer/values.yaml
  charts/evm-rollup/values.yaml
  dev/values/rollup/dev.yaml
  dev/values/validators/node0.yml
  dev/values/validators/node1.yml
  dev/values/validators/node2.yml
Due: none

use string for message_hash
  crates/astria-composer/src/executor/mod.rs
  crates/astria-core/src/composer/v1alpha1/mod.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.serde.rs
  proto/composerapis/astria/composer/v1alpha1/trusted_builder.proto
Due: composer, common

setup sequencer to composer communication
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/sequencer_hooks.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.serde.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/client.rs
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  proto/composerapis/astria/composer/v1alpha1/grpc_collector.proto
Due: composer, sequencer

fix warnings
  crates/astria-composer/local.env.example
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/mock_grpc.rs
  crates/astria-composer/tests/blackbox/geth_collector.rs
  crates/astria-composer/tests/blackbox/grpc_collector.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mock_grpc.rs
  crates/astria-core/src/composer/v1alpha1/mod.rs
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-grpc-mock/src/matcher.rs
  crates/astria-sequencer/src/app/tests_app.rs
Due: conductor, composer, sequencer, common

some clean ups
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/simulator.rs
  crates/astria-composer/src/grpc.rs
  crates/astria-composer/src/sequencer_hooks.rs
  crates/astria-sequencer/src/app/mod.rs
Due: composer, sequencer

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  composer: any of: crates/astria-composer, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  astria-merkle: any of: crates/astria-merkle/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  common: any of: crates/astria-core/src/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
