Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: merkle
      name: astria-merkle
      paths:
        - crates/astria-merkle/**
    - component_id: common
      name: common
      paths:
        - crates/astria-core/src/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-core/src/generated/**'
  - 'crates/astria-build-info/**'
  - 'crates/astria-grpc-mock/**'
  - 'crates/astria-grpc-mock-test/**'
  - 'crates/astria-grpc-mock-test-codegen/**'
  - 'crates/astria-test-utils/**'

update chart versions
  charts/evm-rollup/Chart.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/sequencer/Chart.yaml
Due: none

further minor changes
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-sequencer/src/upgrades/upgrades_handler.rs
Due: conductor, sequencer

requested changes
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/action_handler/impls/validator_update.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_app/upgrades.rs
  crates/astria-sequencer/src/app/vote_extension.rs
  crates/astria-sequencer/src/authority/component.rs
  crates/astria-sequencer/src/authority/query.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/authority/storage/keys.rs
  crates/astria-sequencer/src/authority/storage/snapshots/astria_sequencer__authority__storage__keys__tests__validator_key.snap
  crates/astria-sequencer/src/authority/storage/snapshots/astria_sequencer__authority__storage__keys__tests__validator_prefix.snap
  crates/astria-sequencer/src/authority/storage/snapshots/astria_sequencer__authority__storage__values__tests__value_impl_validator_count.snap
  crates/astria-sequencer/src/authority/storage/snapshots/astria_sequencer__authority__storage__values__tests__value_impl_validator_info_v1.snap
  crates/astria-sequencer/src/authority/storage/values.rs
  system-tests/aspen_upgrade_checks.py
  system-tests/helpers/astria_cli.py
  system-tests/helpers/sequencer_controller.py
  system-tests/sequencer_upgrade_test.py
Due: sequencer

use grpc instead of grpc query
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mock_sequencer.rs
  crates/astria-composer/tests/blackbox/helper/mock_grpc_sequencer.rs
  crates/astria-conductor/tests/blackbox/helpers/mock_grpc.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1.serde.rs
  crates/astria-sequencer-relayer/tests/blackbox/helpers/mock_sequencer_server.rs
  crates/astria-sequencer/src/authority/mod.rs
  crates/astria-sequencer/src/authority/query.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/service/info/mod.rs
  proto/sequencerblockapis/astria/sequencerblock/v1/service.proto
  system-tests/helpers/sequencer_controller.py
Due: conductor, composer, sequencer, sequencer-relayer

update chart.lock
  charts/evm-stack/Chart.lock
Due: none

changelog
  crates/astria-sequencer/CHANGELOG.md
Due: sequencer

Update crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/CHANGELOG.md
Due: sequencer

fix: tendermint-rs 0.40.3 (#2099)
  Cargo.lock
  Cargo.toml
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/Cargo.toml
Due: sequencer

release: sequencer release 2.0.1
  Cargo.lock
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/Cargo.toml
Due: sequencer

requested changes
  charts/evm-rollup/values.yaml
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor/inner.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/state.rs
  crates/astria-core/CHANGELOG.md
  crates/astria-core/src/execution/v2/mod.rs
  crates/astria-core/src/generated/astria.execution.v2.rs
  proto/executionapis/astria/execution/v2/execution_session_parameters.proto
Due: conductor, common

chart update
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/_helpers.tpl
Due: none

fix changes from merge
  crates/astria-conductor/src/conductor/inner.rs
  crates/astria-core/src/execution/v2/mod.rs
Due: conductor, common

add to upgrade chart file
  charts/sequencer/files/upgrades/custom.upgrades.json
Due: none

release: sequencer release 2.0.1 (#2100)
  Cargo.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/_helpers.tpl
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/Cargo.toml
Due: sequencer

minor fixes around IbcAcknowledgementFailureChange
  crates/astria-core/src/upgrades/test_utils.rs
  crates/astria-core/src/upgrades/v1/aspen.rs
  crates/astria-core/src/upgrades/v1/snapshots/astria_core__upgrades__v1__aspen__tests__ibc_acknowledgement_failure_change.snap
Due: common

update generated protos
  crates/astria-core/src/generated/astria.upgrades.v1.rs
Due: none

requested changes
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor/inner.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/state.rs
Due: conductor

Suggested change
  crates/astria-conductor/src/executor/mod.rs
Due: conductor

rustfmt
  crates/astria-conductor/src/executor/mod.rs
Due: conductor

WIP
  Cargo.lock
  Cargo.toml
  crates/astria-auctioneer/Cargo.toml
  crates/astria-auctioneer/local.env.example
  crates/astria-auctioneer/src/auctioneer/auction/factory.rs
  crates/astria-auctioneer/src/auctioneer/auction/mod.rs
  crates/astria-auctioneer/src/auctioneer/auction/worker.rs
  crates/astria-auctioneer/src/auctioneer/mod.rs
  crates/astria-auctioneer/src/bid/mod.rs
  crates/astria-auctioneer/src/block/mod.rs
  crates/astria-auctioneer/src/bundle.rs
  crates/astria-auctioneer/src/config.rs
  crates/astria-auctioneer/src/jsonrpc_server/mod.rs
  crates/astria-auctioneer/src/jsonrpc_server/payloads.rs
  crates/astria-auctioneer/src/lib.rs
  crates/astria-auctioneer/src/orderpool/channel.rs
  crates/astria-auctioneer/src/orderpool/mod.rs
  crates/astria-auctioneer/src/rollup_channel.rs
Due: none

upgrade debug log to warn
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

update pre-aspen sequencer version for upgrade test
  system-tests/sequencer_upgrade_test.py
Due: none

separate deploy and wait-for recipes
  charts/just/deploy.just
  charts/just/mod.just
  charts/just/wait-for.just
Due: none

requested changes
  crates/astria-sequencer/src/authority/component.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/authority/storage/keys.rs
  crates/astria-sequencer/src/authority/storage/snapshots/astria_sequencer__authority__storage__keys__tests__validator_key.snap
Due: sequencer

fix changes from merge
  crates/astria-core/src/generated/astria.protocol.transaction.v1.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.serde.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1.rs
Due: none

small fixes
  charts/just/deploy.just
  charts/just/wait-for.just
Due: none

update crossbeam-channel dependency
  Cargo.lock
  crates/astria-conductor/CHANGELOG.md
Due: conductor

fix: update crossbeam-channel dependency (#2106)
  Cargo.lock
  crates/astria-conductor/CHANGELOG.md
Due: conductor

bump evm-stack chart version
  charts/evm-stack/Chart.yaml
Due: none

Squashed commit of the following:
  crates/astria-cli/src/sequencer/sudo/validator_update.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.serde.rs
  crates/astria-core/src/protocol/transaction/v1/action/group/tests.rs
  crates/astria-core/src/protocol/transaction/v1/action/mod.rs
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/action_handler/impls/validator_update.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/authority/mod.rs
  crates/astria-sequencer/src/authority/query.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/authority/storage/keys.rs
  crates/astria-sequencer/src/authority/storage/mod.rs
  crates/astria-sequencer/src/authority/storage/snapshots/astria_sequencer__authority__storage__keys__tests__keys_should_not_change-4.snap
  crates/astria-sequencer/src/authority/storage/snapshots/astria_sequencer__authority__storage__keys__tests__validator_names_prefix.snap
  crates/astria-sequencer/src/authority/storage/values.rs
  crates/astria-sequencer/src/fees/storage/snapshots/astria_sequencer__fees__storage__keys__tests__validator_update_v2_fees_key.snap
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/utils.rs
  proto/protocolapis/astria/protocol/transaction/v1/action.proto
Due: sequencer, cli, common

fix changes from merge
  crates/astria-sequencer/src/action_handler/impls/validator_update.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_execute_every_action.snap
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_app/upgrades.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/app/vote_extension.rs
  crates/astria-sequencer/src/authority/action.rs
Due: sequencer

add validator update changes to aspen upgrade
  crates/astria-core/src/protocol/transaction/v1/action/mod.rs
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/action_handler/impls/validator_update.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_execute_every_action.snap
  crates/astria-sequencer/src/app/state_ext.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_app/upgrades.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/app/vote_extension.rs
  crates/astria-sequencer/src/authority/component.rs
  crates/astria-sequencer/src/authority/query.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/authority/storage/keys.rs
  crates/astria-sequencer/src/authority/storage/mod.rs
  crates/astria-sequencer/src/authority/storage/snapshots/astria_sequencer__authority__storage__keys__tests__validator_count_key.snap
  crates/astria-sequencer/src/authority/storage/snapshots/astria_sequencer__authority__storage__keys__tests__validator_prefix.snap
  crates/astria-sequencer/src/authority/storage/values.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/upgrades/upgrades_handler.rs
Due: sequencer, common

update changelog
  crates/astria-sequencer/CHANGELOG.md
Due: sequencer

update core changelog
  crates/astria-core/CHANGELOG.md
Due: none

remove unused snapshots
  crates/astria-sequencer/src/authority/storage/snapshots/astria_sequencer__authority__storage__keys__tests__keys_should_not_change-4.snap
  crates/astria-sequencer/src/authority/storage/snapshots/astria_sequencer__authority__storage__keys__tests__validator_names_prefix.snap
  crates/astria-sequencer/src/fees/storage/snapshots/astria_sequencer__fees__storage__keys__tests__validator_update_v2_fees_key.snap
Due: sequencer

recompile protos
  crates/astria-core/src/generated/astria.protocol.transaction.v1.serde.rs
Due: none

add validator updates with names to system tests
  charts/just/clean.just
  crates/astria-cli/src/sequencer/sudo/validator_update.rs
  system-tests/README.md
  system-tests/aspen_upgrade_checks.py
  system-tests/helpers/astria_cli.py
  system-tests/helpers/sequencer_controller.py
  system-tests/sequencer_upgrade_test.py
Due: cli

fix clippy
  crates/astria-cli/src/sequencer/sudo/validator_update.rs
Due: cli
