Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

reject storage reads with incorrect addresses
  crates/astria-sequencer/src/accounts/query.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/bridge/query.rs
Due: sequencer

use plain addresses as storage keys, not hex
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/address/mod.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/service/info/mod.rs
Due: sequencer

use plain addresses as storage keys, not hex
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/address/mod.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_genesis_snapshot.snap
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/service/info/mod.rs
Due: sequencer

remove chain id derived address construction
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-core/src/protocol/test_utils.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/mempool.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/transaction/checks.rs
Due: composer, sequencer, cli, common

remove unused dep
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
Due: sequencer

clippy
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
Due: common

clippy
  crates/astria-sequencer/src/address/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/genesis.rs
  crates/astria-sequencer/src/ibc/ibc_relayer_change.rs
Due: sequencer

more clippy
  crates/astria-sequencer/src/genesis.rs
Due: sequencer

wip unit test
  crates/astria-core/src/protocol/bridge/v1alpha1/mod.rs
  crates/astria-sequencer/src/bridge/query.rs
Due: sequencer, common

implement Ics20TransferDepositMemo handling for incoming ics20 transfers
  crates/astria-core/src/bridge.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer, common

clippy and add rollup addr len check
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

address review comments
  charts/sequencer/files/cometbft/config/config.toml
  charts/sequencer/templates/configmaps.yaml
  charts/sequencer/templates/service.yaml
  charts/sequencer/templates/statefulsets.yaml
  charts/sequencer/values.yaml
  dev/values/validators/node1.yml
  dev/values/validators/single.yml
Due: none

fix lint.yml
  .github/workflows/lint.yml
Due: none

fix pull_request_template.md
  .github/pull_request_template.md
Due: none

fix values.yaml
  charts/celestia-node/values.yaml
Due: none

fix values.yaml
  charts/sequencer-faucet/values.yaml
Due: none

fix README.md
  charts/README.md
Due: none

fix README.md
  crates/astria-eyre/README.md
Due: none

make address prefixes configurable on bridge withdrawer
  crates/astria-bridge-withdrawer/local.env.example
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/signer.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
  crates/astria-bridge-withdrawer/src/config.rs
Due: none

make address prefixes configurable on comnposer
  crates/astria-composer/local.env.example
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

make astria-prefix const private
  crates/astria-core/src/crypto.rs
  crates/astria-core/src/primitive/v1/mod.rs
Due: common

make prefix configurable for all astria cli commands that construct addresses
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-cli/src/lib.rs
Due: cli

remove bridge withdrawer dependence on core const
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/test_utils.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
  crates/astria-bridge-withdrawer/src/lib.rs
Due: none

remove sequencer0client dependence on core const
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/tests/http.rs
Due: common

remove sequencer dependence on core const
  crates/astria-sequencer/src/address/mod.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
Due: sequencer

use address bytes without prefix to construct storage keys; provide snapshots
  crates/astria-sequencer/src/accounts/snapshots/astria_sequencer__accounts__state_ext__test__snapshots-2.snap
  crates/astria-sequencer/src/accounts/snapshots/astria_sequencer__accounts__state_ext__test__snapshots.snap
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_genesis_snapshot.snap
  crates/astria-sequencer/src/bridge/snapshots/astria_sequencer__bridge__state_ext__test__snapshots-2.snap
  crates/astria-sequencer/src/bridge/snapshots/astria_sequencer__bridge__state_ext__test__snapshots-3.snap
  crates/astria-sequencer/src/bridge/snapshots/astria_sequencer__bridge__state_ext__test__snapshots-4.snap
  crates/astria-sequencer/src/bridge/snapshots/astria_sequencer__bridge__state_ext__test__snapshots.snap
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/snapshots/astria_sequencer__ibc__state_ext__test__snapshots.snap
  crates/astria-sequencer/src/ibc/state_ext.rs
Due: sequencer

fix tests
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
Due: common

fix racy sequencer address prefix setter
  crates/astria-sequencer/src/address/mod.rs
Due: sequencer

add subcommand to construct bech32m addresses from hex bytes and prefix
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/commands/sequencer.rs
Due: cli

address comments
  crates/astria-core/src/bridge.rs
Due: common

nit: fix spacing
  charts/sequencer/values.yaml
Due: none

lint fixes
  charts/sequencer/values.yaml
Due: none

cleanup
  charts/evm-bridge-withdrawer/Chart.yaml
  charts/evm-bridge-withdrawer/templates/configmaps.yaml
  charts/evm-bridge-withdrawer/templates/deployment.yaml
  charts/evm-bridge-withdrawer/values.yaml
  charts/evm-rollup/templates/configmap.yaml
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer/templates/configmaps.yaml
  crates/astria-bridge-withdrawer/ethereum/README.md
  crates/astria-bridge-withdrawer/ethereum/cluster.env.example
  crates/astria-bridge-withdrawer/ethereum/out/AstriaWithdrawer.sol/AstriaWithdrawer.json
  dev/values/validators/all.yml
  dev/values/withdrawer/values.yaml
Due: none

WIP: update charts
  charts/evm-rollup/templates/configmap.yaml
  charts/sequencer/Chart.yaml
  charts/sequencer/files/cometbft/config/genesis.json
  charts/sequencer/values.yaml
Due: none

bump evm chart
  charts/evm-rollup/Chart.yaml
Due: none

add address prefixes to values.yaml
  charts/sequencer/values.yaml
Due: none

WIP: replace global native asset by state-based one
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/asset/mod.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/sequence/action.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/state_ext.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

fix incorrectly named field in genesis
  charts/sequencer/files/cometbft/config/genesis.json
Due: none

increase geth resources
  charts/evm-rollup/values.yaml
Due: none

fix evm-rollup charts
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/values.yaml
Due: none

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  composer: any of: crates/astria-composer, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  astria-merkle: any of: crates/astria-merkle/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  common: any of: crates/astria-core/src/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
