Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

some changes
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
Due: conductor

feat(conductor, proto)!: update celestia base heights in commitment state
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.serde.rs
  proto/executionapis/astria/execution/v1alpha2/execution.proto
Due: conductor, common

add abci query for allowed fee asset ids
  crates/astria-core/src/generated/astria.protocol.asset.v1alpha1.rs
  crates/astria-core/src/protocol/asset/v1alpha1/mod.rs
  crates/astria-sequencer/src/asset/query.rs
  crates/astria-sequencer/src/service/info/mod.rs
  proto/protocolapis/astria/protocol/asset/v1alpha1/types.proto
Due: sequencer, common

unit tests, sequencer client logic, sequencer client test doesnt work
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/mod.rs
  crates/astria-core/src/generated/astria.protocol.asset.v1alpha1.rs
  crates/astria-core/src/protocol/asset/v1alpha1/mod.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/asset/query.rs
  crates/astria-sequencer/src/service/info/mod.rs
  proto/protocolapis/astria/protocol/asset/v1alpha1/types.proto
Due: sequencer, common

tests
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/tests/blackbox/firm_only.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
  crates/astria-conductor/tests/blackbox/soft_only.rs
Due: conductor

clippy
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
Due: conductor

fmt
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-core/src/execution/v1alpha2/mod.rs
Due: conductor, common

feat(core, proto): add bech32m addresses
  Cargo.lock
  crates/astria-core/Cargo.toml
  crates/astria-core/src/generated/astria.primitive.v1.rs
  crates/astria-core/src/generated/astria.primitive.v1.serde.rs
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-core/src/primitive/v1/snapshots/astria_core__primitive__v1__tests__snapshots.snap
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/snapshots/astria_core__protocol__transaction__v1alpha1__test__signed_transaction_hash.snap
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  proto/primitives/astria/primitive/v1/types.proto
Due: common

ensure proto changes are not breaking (json name)
  crates/astria-core/src/generated/astria.primitive.v1.rs
  crates/astria-core/src/generated/astria.primitive.v1.serde.rs
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-core/src/primitive/v1/snapshots/astria_core__primitive__v1__tests__snapshots.snap
  proto/primitives/astria/primitive/v1/types.proto
Due: common

fix comment
  crates/astria-sequencer-client/src/extension_trait.rs
Due: common

fix(sequencer): unstick wrong sudo signer from mempool
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

add sequencer-relayer doc to specs
  specs/sequencer-relayer.md
Due: none

chore: add `clippy::arithmetic-side-effects` lint and fix resulting warnings (#1081)
  .github/workflows/test.yml
  crates/astria-cli/src/commands/rollup.rs
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-conductor/src/block_cache.rs
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-eyre/src/lib.rs
  crates/astria-grpc-mock-test/src/lib.rs
  crates/astria-grpc-mock/src/lib.rs
  crates/astria-merkle/src/lib.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-relayer/src/relayer/read.rs
  crates/astria-sequencer-relayer/src/relayer/write/conversion.rs
  crates/astria-sequencer-relayer/tests/blackbox/helpers/test_sequencer_relayer.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/mint/action.rs
  crates/astria-sequencer/src/proposal/commitment.rs
Due: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

feat(cli): update for new charts, dusk-7 endpoints (#1103)
  crates/astria-cli/src/cli/mod.rs
  crates/astria-cli/src/cli/rollup.rs
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/rollup.rs
  crates/astria-cli/src/types.rs
Due: cli

sequencer client test doesnt work
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/mod.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/tests/http.rs
Due: common

undo withdrawer changes
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/mod.rs
Due: none

fix test
  crates/astria-sequencer-client/src/tests/http.rs
Due: common

implement ASSET_WITHDRAWAL_DECIMALS in contract and asset_withdrawal_divisor in code
  crates/astria-bridge-withdrawer/ethereum/README.md
  crates/astria-bridge-withdrawer/ethereum/local.env.example
  crates/astria-bridge-withdrawer/ethereum/out/AstriaWithdrawer.sol/AstriaWithdrawer.json
  crates/astria-bridge-withdrawer/ethereum/script/AstriaWithdrawer.s.sol
  crates/astria-bridge-withdrawer/ethereum/src/AstriaWithdrawer.sol
  crates/astria-bridge-withdrawer/src/withdrawer/batch.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/test_utils.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
Due: none

clippy
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
Due: none

unit tests, sequencer client logic, sequencer client test doesnt work
  crates/astria-core/src/generated/astria.protocol.asset.v1alpha1.rs
  crates/astria-core/src/protocol/asset/v1alpha1/mod.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/asset/query.rs
  crates/astria-sequencer/src/service/info/mod.rs
  proto/protocolapis/astria/protocol/asset/v1alpha1/types.proto
Due: sequencer, common

sequencer client test doesnt work
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer-client/src/tests/http.rs
Due: common

clean up comment
  crates/astria-sequencer-client/src/extension_trait.rs
Due: common

line at eof
  proto/protocolapis/astria/protocol/asset/v1alpha1/types.proto
Due: none

satisfy clippy
  crates/astria-core/src/protocol/asset/v1alpha1/mod.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer/src/service/info/mod.rs
Due: sequencer, common

address review comments
  crates/astria-conductor/src/metrics_init.rs
Due: conductor

feat(conductor): add metrics (#1091)
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/celestia/fetch.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-conductor/src/main.rs
  crates/astria-conductor/src/metrics_init.rs
Due: conductor

run tests using foundry into their own job
  .github/workflows/test.yml
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
Due: none

fix nextest
  .github/workflows/test.yml
Due: none

feat(composer): check chain_id against sequencer_chain_id
  crates/astria-composer/src/executor/builder.rs
Due: composer

make smoke test passable
  charts/evm-rollup/values.yaml
Due: none

review feedback
  charts/evm-rollup/Chart.yaml
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.serde.rs
  proto/executionapis/astria/execution/v1alpha2/execution.proto
Due: conductor, common

address comments
  .github/workflows/test.yml
  crates/astria-bridge-withdrawer/ethereum/README.md
  crates/astria-bridge-withdrawer/ethereum/local.env.example
  crates/astria-bridge-withdrawer/local.env.example
  crates/astria-bridge-withdrawer/src/config.rs
  crates/astria-bridge-withdrawer/src/main.rs
  crates/astria-bridge-withdrawer/src/withdrawer/batch.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/test_utils.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/mod.rs
Due: none

clippy
  crates/astria-bridge-withdrawer/src/main.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/withdrawer/mod.rs
Due: none

Save WIP
  argocd/apps/dev/third-party/kubecost/kubecost-application.yaml
  argocd/apps/dev/third-party/kubecost/values.yaml
Due: none

fix lint
  charts/evm-rollup/values.yaml
  crates/astria-conductor/src/celestia/mod.rs
Due: conductor

use u64 for celestia height
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-core/src/execution/v1alpha2/mod.rs
Due: conductor, common

submit sanity check works
  Cargo.lock
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-bridge-withdrawer/src/withdrawer/batch.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/tests.rs
Due: none

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  composer: any of: crates/astria-composer, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  astria-merkle: any of: crates/astria-merkle/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  common: any of: crates/astria-core/src/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
