Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: merkle
      name: astria-merkle
      paths:
        - crates/astria-merkle/**
    - component_id: common
      name: common
      paths:
        - crates/astria-core/src/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-core/src/generated/**'
  - 'crates/astria-build-info/**'
  - 'crates/astria-grpc-mock/**'
  - 'crates/astria-grpc-mock-test/**'
  - 'crates/astria-grpc-mock-test-codegen/**'
  - 'crates/astria-test-utils/**'

faucet-key deployment fix
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/deployments.yaml
Due: none

minor updates to mempool
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/mempool.rs
Due: sequencer

update generated protobuf files
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.serde.rs
Due: none

chore(ci)!: upgrade to v2 buf configs (#1085)
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  buf.lock
  buf.work.yaml
  buf.yaml
  proto/composerapis/buf.yaml
  proto/executionapis/buf.lock
  proto/executionapis/buf.yaml
  proto/primitives/buf.yaml
  proto/protocolapis/buf.lock
  proto/protocolapis/buf.yaml
  proto/sequencerblockapis/buf.lock
  proto/sequencerblockapis/buf.yaml
  proto/vendored/buf.lock
  proto/vendored/buf.yaml
Due: none

fix(charts): faucet deployment fix (#1102)
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/deployments.yaml
Due: none

feat(cli): update for new charts, dusk-6 endpoints
  crates/astria-cli/src/cli/mod.rs
  crates/astria-cli/src/cli/rollup.rs
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/rollup.rs
  crates/astria-cli/src/types.rs
Due: cli

feat(sequencer)!: fees go to sudo poa
  crates/astria-sequencer/src/app/mod.rs
Due: sequencer

update AstriaWithdrawer contract to have separate methods for sequencer and ics20 withdrawals (#1101)
  crates/astria-bridge-withdrawer/ethereum/out/AstriaWithdrawer.sol/AstriaWithdrawer.json
  crates/astria-bridge-withdrawer/ethereum/src/AstriaWithdrawer.sol
  crates/astria-bridge-withdrawer/src/ethereum/watcher.rs
Due: none

update tests so that changing fee recipient breaks snapshot
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_genesis_snapshot.snap
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
Due: sequencer

fix snapshot test
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
Due: sequencer

use increase balance function
  crates/astria-sequencer/src/app/mod.rs
Due: sequencer

determinism issues?
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
Due: sequencer

fix time nondeterminism
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
Due: sequencer

missed print
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
Due: sequencer

feat(sequencer)!: fees go to sudo poa (#1104)
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_genesis_snapshot.snap
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
Due: sequencer

release(sequencer): sequencer 0.13.0
  Cargo.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/values.yaml
  crates/astria-sequencer/Cargo.toml
Due: sequencer

release(sequencer): sequencer 0.13.0 (#1105)
  Cargo.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/values.yaml
  crates/astria-sequencer/Cargo.toml
Due: sequencer

address pr comments
  crates/astria-bridge-withdrawer/local.env.example
  crates/astria-bridge-withdrawer/src/config.rs
  crates/astria-bridge-withdrawer/src/withdrawer/batch.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/mod.rs
Due: none

event conversion to action
  Cargo.lock
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-bridge-withdrawer/src/withdrawer/batch.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
Due: common

fix tests and lint
  crates/astria-bridge-withdrawer/src/withdrawer/batch.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
  crates/astria-core/src/primitive/v1/asset.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
Due: common

add rollup_asset_denom to config
  crates/astria-bridge-withdrawer/local.env.example
  crates/astria-bridge-withdrawer/src/config.rs
  crates/astria-bridge-withdrawer/src/withdrawer/batch.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/withdrawer/mod.rs
Due: none

fix unit tests
  crates/astria-bridge-withdrawer/local.env.example
  crates/astria-bridge-withdrawer/src/withdrawer/batch.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
Due: none

more unit tests
  crates/astria-bridge-withdrawer/src/withdrawer/batch.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
Due: none

fmt
  crates/astria-bridge-withdrawer/src/withdrawer/batch.rs
Due: none

feat(bridge-withdrawer): Bridge withdrawer transaction submission (#1087)
  Cargo.lock
  Cargo.toml
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-bridge-withdrawer/local.env.example
  crates/astria-bridge-withdrawer/src/api.rs
  crates/astria-bridge-withdrawer/src/config.rs
  crates/astria-bridge-withdrawer/src/ethereum/state.rs
  crates/astria-bridge-withdrawer/src/lib.rs
  crates/astria-bridge-withdrawer/src/main.rs
  crates/astria-bridge-withdrawer/src/metrics_init.rs
  crates/astria-bridge-withdrawer/src/withdrawer/batch.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/astria_withdrawer.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/test_utils.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/state.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/signer.rs
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-core/src/primitive/v1/asset.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-sequencer-relayer/Cargo.toml
Due: conductor, composer, sequencer-relayer, common

cleanup
  crates/astria-bridge-withdrawer/build.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
Due: none

ethereum scripts, deploy and call instructions
  crates/astria-bridge-withdrawer/ethereum/README.md
  crates/astria-bridge-withdrawer/ethereum/out/AstriaWithdrawer.sol/AstriaWithdrawer.json
  crates/astria-bridge-withdrawer/ethereum/script/AstriaWithdrawer.s.sol
  crates/astria-bridge-withdrawer/ethereum/src/AstriaWithdrawer.sol
  crates/astria-bridge-withdrawer/src/withdrawer/batch.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
Due: none

add example .env
  crates/astria-bridge-withdrawer/ethereum/local.env.example
Due: none

lint
  crates/astria-bridge-withdrawer/ethereum/README.md
Due: none

feat(conductor): add retries to all execution API RPCs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
Due: conductor

provide newtypes for verification key and signature
  Cargo.lock
  Cargo.toml
  crates/astria-cli/Cargo.toml
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/executor/builder.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-core/Cargo.toml
  crates/astria-core/src/crypto.rs
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-sequencer-client/Cargo.toml
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/mempool.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: conductor, composer, sequencer, cli, common

attempt to fix ci
  .github/workflows/test.yml
  crates/astria-bridge-withdrawer/ethereum/README.md
Due: none

feat(sequencer): query full denomination from asset ID (#1067)
  crates/astria-core/src/generated/astria.protocol.asset.v1alpha1.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/protocol/abci.rs
  crates/astria-core/src/protocol/asset/mod.rs
  crates/astria-core/src/protocol/asset/v1alpha1/mod.rs
  crates/astria-core/src/protocol/mod.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/asset/mod.rs
  crates/astria-sequencer/src/asset/query.rs
  crates/astria-sequencer/src/asset/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/service/info/mod.rs
  proto/protocolapis/astria/protocol/asset/v1alpha1/types.proto
Due: sequencer, common

chore(charts): fix service monitor labels
  charts/evm-rollup/Chart.yaml
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/servicemonitor.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/servicemonitor.yaml
Due: none

comment out ci changes
  .github/workflows/test.yml
Due: none

clippy and lint
  crates/astria-bridge-withdrawer/src/lib.rs
  crates/astria-bridge-withdrawer/src/main.rs
  crates/astria-bridge-withdrawer/src/withdrawer/batch.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/mod.rs
Due: none

ci??
  .github/workflows/test.yml
Due: none
