Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

label shenanigans
  .github/workflows/lint.yml
Due: none

fix(charts): minor version issues (#1683)
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/values.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
Due: none

bump seq-faucet image version
  charts/sequencer-faucet/Chart.yaml
  charts/sequencer-faucet/values.yaml
Due: none

minor updates to relayer doc
  specs/sequencer-relayer.md
Due: none

updates to data verification and inclusion proof specs
  specs/data-flow-and-verification.md
  specs/sequencer-inclusion-proofs.md
Due: none

grpc height hack to fix ibc invalid proof error
  Cargo.lock
  Cargo.toml
Due: none

remove the reserved field in the new protos
  proto/protocolapis/astria/protocol/transaction/v1/action.proto
Due: none

feat(bridge-withdrawer): metric to track total settled funds
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/metrics.rs
Due: none

small changes
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/metrics.rs
Due: none

format
  crates/astria-bridge-withdrawer/src/metrics.rs
Due: none

test for metric name
  crates/astria-bridge-withdrawer/src/metrics.rs
Due: none

update penumbra patch to be built off existing rev
  Cargo.lock
  Cargo.toml
Due: none

update to use v1 apis
  crates/astria-auctioneer/src/auction/bid.rs
  crates/astria-auctioneer/src/auction/driver.rs
  crates/astria-auctioneer/src/block/mod.rs
  crates/astria-auctioneer/src/optimistic_executor/optimistic_block_stream/mod.rs
  crates/astria-auctioneer/src/optimistic_executor/sequencer_client.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1.serde.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.serde.rs
  proto/sequencerblockapis/astria/sequencerblock/v1/optimistic_block.proto
Due: none

update Cargo.lock
  Cargo.lock
Due: none

update actions and queries
  specs/sequencer-app.md
Due: none

version change for sequencer
  specs/sequencer-app.md
Due: none

feat(sequencer-util): get json from transaction base64
  crates/astria-sequencer-utils/src/cli.rs
  crates/astria-sequencer-utils/src/lib.rs
  crates/astria-sequencer-utils/src/main.rs
  crates/astria-sequencer-utils/src/transaction_parser.rs
Due: sequencer

wip - parse TransactionBody from pbjson
  crates/astria-cli/src/sequencer/mod.rs
  crates/astria-cli/src/sequencer/submit.rs
Due: cli

fix return res height
  crates/astria-cli/src/sequencer/submit.rs
Due: cli

wip - parse transaction pbjson
  crates/astria-cli/src/sequencer/submit.rs
Due: cli

sign and submit files
  crates/astria-cli/src/sequencer/mod.rs
  crates/astria-cli/src/sequencer/sign.rs
Due: cli

implement sign
  crates/astria-cli/src/sequencer/sign.rs
Due: cli

clean up sign.rs
  crates/astria-cli/src/sequencer/sign.rs
Due: cli

implement submit
  crates/astria-cli/src/sequencer/submit.rs
Due: cli

remove async from sign fn
  crates/astria-cli/src/sequencer/sign.rs
Due: cli

cargo fmt
  crates/astria-cli/src/sequencer/mod.rs
  crates/astria-cli/src/sequencer/sign.rs
Due: cli

remove await from sign in mod.rs
  crates/astria-cli/src/sequencer/mod.rs
Due: cli

remove --pbjson flag and use primary input
  crates/astria-cli/src/sequencer/sign.rs
  crates/astria-cli/src/sequencer/submit.rs
Due: cli

working v8.0.0-rc.2
  charts/noble-local/containerfiles/noble.Dockerfile
  charts/noble-local/files/init-noble.sh
  charts/noble-local/files/start-noble.sh
  charts/noble-local/values.yaml
Due: none

celestia-app v2.2.0, celestia-node v0.18.2 config changes and version bump
  charts/celestia-local/Chart.yaml
  charts/celestia-local/values.yaml
  charts/celestia-node/Chart.yaml
  charts/celestia-node/files/config.toml
  charts/celestia-node/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

updates to make workflow work
  crates/astria-cli/src/sequencer/threshold/dkg.rs
  crates/astria-cli/src/sequencer/threshold/sign.rs
  crates/astria-cli/src/sequencer/threshold/verify.rs
Due: cli

Update preview env
  dev/argocd/pr-preview-envs/evm-appset.yaml
  dev/argocd/pr-preview-envs/sequencer-appset.yaml
Due: none

remove comment above
  crates/astria-sequencer/src/accounts/query.rs
Due: sequencer

feat(sequencer): make ABCI response for account balances deterministic (#1574)
  crates/astria-core/src/primitive/v1/asset/denom.rs
  crates/astria-core/src/protocol/account/v1/mod.rs
  crates/astria-sequencer/src/accounts/query.rs
Due: sequencer, common

chore(docs): minor updates to relayer doc (#1688)
  specs/sequencer-relayer.md
Due: none

add changelogs
  .github/pull_request_template.md
  .github/workflows/lint.yml
  README.md
  crates/astria-bridge-withdrawer/CHANGELOG.md
  crates/astria-cli/CHANGELOG.md
  crates/astria-composer/CHANGELOG.md
  crates/astria-conductor/CHANGELOG.md
  crates/astria-config/CHANGELOG.md
  crates/astria-core/CHANGELOG.md
  crates/astria-eyre/CHANGELOG.md
  crates/astria-grpc-mock/CHANGELOG.md
  crates/astria-merkle/CHANGELOG.md
  crates/astria-sequencer-relayer/CHANGELOG.md
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-telemetry/CHANGELOG.md
  justfile
Due: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

more unix sign && submit
  Cargo.lock
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-cli/Cargo.toml
  crates/astria-cli/src/sequencer/sign.rs
  crates/astria-cli/src/sequencer/submit.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-core/src/protocol/transaction/v1/mod.rs
  crates/astria-sequencer-client/src/extension_trait.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/service/mempool/mod.rs
  crates/astria-sequencer/src/transaction/query.rs
Due: composer, sequencer, cli, common

provide --force to overwrite target file
  crates/astria-cli/src/sequencer/sign.rs
Due: cli

clarify commends/help messages
  crates/astria-cli/src/sequencer/sign.rs
  crates/astria-cli/src/sequencer/submit.rs
Due: cli

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  composer: any of: crates/astria-composer, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  astria-merkle: any of: crates/astria-merkle/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  common: any of: crates/astria-core/src/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
