Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: merkle
      name: astria-merkle
      paths:
        - crates/astria-merkle/**
    - component_id: common
      name: common
      paths:
        - crates/astria-core/src/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-core/src/generated/**'
  - 'crates/astria-build-info/**'
  - 'crates/astria-grpc-mock/**'
  - 'crates/astria-grpc-mock-test/**'
  - 'crates/astria-grpc-mock-test-codegen/**'
  - 'crates/astria-test-utils/**'

update optimistic block imports
  crates/astria-core/src/sequencerblock/v1alpha1/optimistic_block.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer, common

rebase from pr 1707
  crates/astria-core/src/generated/astria.sequencerblock.v1.optimisticblock.v1alpha1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1.optimisticblock.v1alpha1.serde.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/sequencerblock/v1/optimistic_block.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer, common

update sequencer chart version
  charts/sequencer/Chart.yaml
Due: none

just use Ok while sending data over grpc stream instead of type casting to Result
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer

minor updates
  crates/astria-sequencer/src/app/benchmark_and_test_utils.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

move optimistic block protos to v1
  proto/sequencerblockapis/astria/sequencerblock/optimisticblock/v1alpha1/optimistic_block.proto
Due: none

move optimistic block grpc wrappers to v1
  crates/astria-core/src/sequencerblock/mod.rs
  crates/astria-core/src/sequencerblock/v1/mod.rs
  crates/astria-core/src/sequencerblock/v1/optimistic_block.rs
  crates/astria-core/src/sequencerblock/v1alpha1/mod.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer, common

implement optimistic block apis
  crates/astria-core/src/sequencerblock/mod.rs
  crates/astria-core/src/sequencerblock/v1alpha1/mod.rs
  crates/astria-core/src/sequencerblock/v1alpha1/optimistic_block.rs
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/grpc/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mempool/tests.rs
Due: sequencer, common

move optimistic block protos to v1
  crates/astria-core/src/generated/astria.sequencerblock.v1.optimisticblock.v1alpha1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1.optimisticblock.v1alpha1.serde.rs
Due: none

address review comments
  Cargo.lock
  charts/sequencer/templates/configmaps.yaml
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/app/benchmark_and_test_utils.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mempool/tests.rs
Due: sequencer

minor updates
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer

make task functions free standing
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer

address review comments
  crates/astria-sequencer/src/app/event_bus.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

rebase protos
  crates/astria-core/src/sequencerblock/v1/optimistic_block.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
  proto/sequencerblockapis/astria/sequencerblock/optimistic/v1alpha1/service.proto
  proto/sequencerblockapis/astria/sequencerblock/optimisticblock/v1alpha1/optimistic_block.proto
Due: sequencer, common

minor renaming
  crates/astria-sequencer/src/grpc/optimistic.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

rename optimistic_block to optimistic
  crates/astria-core/src/sequencerblock/v1/mod.rs
  crates/astria-core/src/sequencerblock/v1/optimistic.rs
  crates/astria-sequencer/src/app/event_bus.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer, common

address review comments
  crates/astria-sequencer/src/app/event_bus.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/grpc/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

add a comment
  crates/astria-sequencer/src/grpc/mod.rs
Due: sequencer

lint + fmt
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/sequencerblock/v1/optimistic.rs
  crates/astria-sequencer/src/grpc/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer, common

run fmt + lint
  crates/astria-sequencer/src/app/event_bus.rs
Due: sequencer

fix comment
  crates/astria-sequencer/src/app/event_bus.rs
Due: sequencer

add some comments
  crates/astria-sequencer/src/app/event_bus.rs
Due: sequencer

add documentation to event bus
  crates/astria-sequencer/src/app/event_bus.rs
  crates/astria-sequencer/src/grpc/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer

address review comments - 4
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/app/event_bus.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/grpc/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

use in_scope to emit events under a specific span
  crates/astria-sequencer/src/grpc/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer

only stream new values for the optimistic block and block commitment
  crates/astria-sequencer/src/app/event_bus.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer

save
  crates/astria-sequencer/src/service/mempool/mod.rs
Due: sequencer

run fmt + lint
  crates/astria-sequencer/src/grpc/mod.rs
  crates/astria-sequencer/src/service/mempool/mod.rs
Due: sequencer

feat(core)!: use newtype sequencer block hashes
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/reconstruct.rs
  crates/astria-conductor/src/celestia/reporting.rs
  crates/astria-conductor/src/celestia/verify.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-core/CHANGELOG.md
  crates/astria-core/src/sequencerblock/v1/block.rs
  crates/astria-core/src/sequencerblock/v1/celestia.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/grpc/state_ext.rs
  crates/astria-sequencer/src/grpc/storage/values/block_hash.rs
Due: conductor, sequencer, common

use display fmt for block telemetry, fix typo
  crates/astria-conductor/src/celestia/reporting.rs
  crates/astria-core/src/sequencerblock/v1/block.rs
Due: conductor, common

fmt
  crates/astria-core/src/sequencerblock/v1/block.rs
  crates/astria-sequencer/src/grpc/state_ext.rs
Due: sequencer, common

clippy
  crates/astria-core/src/sequencerblock/v1/block.rs
Due: common

fmt again
  crates/astria-core/src/sequencerblock/v1/block.rs
Due: common

remove Deref on block::Hash
  crates/astria-core/src/sequencerblock/v1/block.rs
  crates/astria-core/src/sequencerblock/v1/celestia.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/grpc/state_ext.rs
  crates/astria-sequencer/src/grpc/storage/values/block_hash.rs
Due: sequencer, common

remove AsRef<[u8]> impl for block::Hash
  crates/astria-conductor/src/celestia/verify.rs
  crates/astria-core/src/sequencerblock/v1/block.rs
  crates/astria-sequencer-utils/src/blob_parser.rs
  crates/astria-sequencer/src/grpc/state_ext.rs
Due: conductor, sequencer, common

fmt
  crates/astria-conductor/src/celestia/verify.rs
  crates/astria-core/src/sequencerblock/v1/block.rs
  crates/astria-core/src/sequencerblock/v1/celestia.rs
  crates/astria-sequencer-utils/src/blob_parser.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/grpc/state_ext.rs
Due: conductor, sequencer, common

feat(core)!: use newtype sequencer block hashes (#1884)
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/reconstruct.rs
  crates/astria-conductor/src/celestia/reporting.rs
  crates/astria-conductor/src/celestia/verify.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-core/CHANGELOG.md
  crates/astria-core/src/sequencerblock/v1/block.rs
  crates/astria-core/src/sequencerblock/v1/celestia.rs
  crates/astria-sequencer-utils/src/blob_parser.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/grpc/state_ext.rs
  crates/astria-sequencer/src/grpc/storage/values/block_hash.rs
Due: conductor, sequencer, common

feat(sequencer, charts)!: support uds for abci
  Cargo.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/files/cometbft/config/config.toml
  charts/sequencer/files/scripts/init-cometbft.sh
  charts/sequencer/templates/_helpers.tpl
  charts/sequencer/templates/configmaps.yaml
  charts/sequencer/templates/statefulsets.yaml
  charts/sequencer/values.yaml
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

chore(sequencer): remove misplaced logs
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

Add docs to 'run_until_stopped'
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer
