Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: merkle
      name: astria-merkle
      paths:
        - crates/astria-merkle/**
    - component_id: common
      name: common
      paths:
        - crates/astria-core/src/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-core/src/generated/**'
  - 'crates/astria-build-info/**'
  - 'crates/astria-grpc-mock/**'
  - 'crates/astria-grpc-mock-test/**'
  - 'crates/astria-grpc-mock-test-codegen/**'
  - 'crates/astria-test-utils/**'

refactor(sequencer): clarify transaction cost estimation (#1908)
  crates/astria-sequencer/src/transaction/checks.rs
Due: sequencer

revert cargo.lock, add extra assertion to sudo address change test
  Cargo.lock
  crates/astria-sequencer/src/action_handler/impls/sudo_address_change.rs
Due: sequencer

feat(charts): snapshot startup for sequencer (#1876)
  charts/sequencer/Chart.yaml
  charts/sequencer/files/scripts/init-cometbft.sh
  charts/sequencer/templates/statefulsets.yaml
  charts/sequencer/values.yaml
Due: none

begin spec
  specs/oracle.md
Due: none

chore(composer): add missing blackbox tests (#1834)
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/tests/blackbox/api.rs
  crates/astria-composer/tests/blackbox/executor.rs
  crates/astria-composer/tests/blackbox/geth_collector.rs
  crates/astria-composer/tests/blackbox/grpc_collector.rs
  crates/astria-composer/tests/blackbox/helper/mock_abci_sequencer.rs
  crates/astria-composer/tests/blackbox/helper/mock_grpc_sequencer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-composer/tests/blackbox/main.rs
Due: composer

commmit changes that weren't pulled from base branch before merging
  crates/astria-composer/tests/blackbox/executor.rs
Due: composer

improve composer test efficiency
  crates/astria-composer/tests/blackbox/executor.rs
  crates/astria-composer/tests/blackbox/geth_collector.rs
  crates/astria-composer/tests/blackbox/grpc_collector.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

lower sleep latency
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

fix typo, shorten lines
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

update sequencer chart version
  charts/sequencer/Chart.yaml
Due: none

run rustfmt with msrv bump
  crates/astria-sequencer/src/action_handler/impls/price_feed.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
Due: sequencer

minor renaming updates
  crates/astria-core/src/generated/astria.sequencerblock.v1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1.serde.rs
  crates/astria-core/src/generated/astria.upgrades.v1.rs
  crates/astria-core/src/generated/astria.upgrades.v1.serde.rs
  crates/astria-core/src/protocol/test_utils.rs
  crates/astria-core/src/sequencerblock/v1/block/mod.rs
  crates/astria-core/src/sequencerblock/v1/block/tests.rs
  crates/astria-core/src/upgrades/v1/change_info.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/tests_app/upgrades.rs
  proto/sequencerblockapis/astria/sequencerblock/v1/block.proto
  proto/sequencerblockapis/astria/sequencerblock/v1/service.proto
  proto/upgrades/astria/upgrades/v1/upgrades.proto
Due: sequencer, common

chore(composer): propagate errors (#1838)
  crates/astria-composer/CHANGELOG.md
  crates/astria-composer/src/composer.rs
  crates/astria-composer/tests/blackbox/executor.rs
Due: composer

make stop block height inclusive
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
  crates/astria-conductor/tests/blackbox/soft_only.rs
Due: conductor

update chart.lock
  charts/evm-stack/Chart.lock
Due: none

bump chart version
  charts/evm-stack/Chart.yaml
Due: none

work on specs
  specs/oracle.md
Due: none

provide UpgradesHandler
  crates/astria-sequencer/src/app/benchmark_and_test_utils.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mempool/tests.rs
  crates/astria-sequencer/src/upgrades/mod.rs
  crates/astria-sequencer/src/upgrades/upgrades_handler.rs
Due: sequencer

chore(sequencer): provide more thorough unit testing for actions (#1916)
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/action_handler/impls/bridge_lock.rs
  crates/astria-sequencer/src/action_handler/impls/bridge_sudo_change.rs
  crates/astria-sequencer/src/action_handler/impls/bridge_unlock.rs
  crates/astria-sequencer/src/action_handler/impls/fee_asset_change.rs
  crates/astria-sequencer/src/action_handler/impls/fee_change.rs
  crates/astria-sequencer/src/action_handler/impls/ibc_relayer_change.rs
  crates/astria-sequencer/src/action_handler/impls/ibc_sudo_change.rs
  crates/astria-sequencer/src/action_handler/impls/ics20_withdrawal.rs
  crates/astria-sequencer/src/action_handler/impls/init_bridge_account.rs
  crates/astria-sequencer/src/action_handler/impls/sudo_address_change.rs
  crates/astria-sequencer/src/action_handler/impls/validator_update.rs
  crates/astria-sequencer/src/action_handler/mod.rs
  crates/astria-sequencer/src/benchmark_and_test_utils.rs
Due: sequencer

remove mark_latest_event_as_seen
  crates/astria-sequencer/src/app/event_bus.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer

mut
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer

bump sequencer chart yaml
  charts/sequencer/Chart.yaml
Due: none

save work
  crates/astria-core/src/generated/astria.protocol.auctioneer.v1.rs
  crates/astria-core/src/generated/astria.protocol.auctioneer.v1.serde.rs
  crates/astria-core/src/generated/astria.protocol.fees.v1.rs
  crates/astria-core/src/generated/astria.protocol.fees.v1.serde.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.serde.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/protocol/auctioneer/mod.rs
  crates/astria-core/src/protocol/auctioneer/v1/mod.rs
  crates/astria-core/src/protocol/fees/v1.rs
  crates/astria-core/src/protocol/mod.rs
  crates/astria-core/src/protocol/transaction/v1/action/group/mod.rs
  crates/astria-core/src/protocol/transaction/v1/action/mod.rs
  crates/astria-sequencer/src/action_handler/impls/enshrine_auctioneer.rs
  crates/astria-sequencer/src/action_handler/impls/fee_change.rs
  crates/astria-sequencer/src/action_handler/impls/mod.rs
  crates/astria-sequencer/src/action_handler/impls/transaction.rs
  crates/astria-sequencer/src/action_handler/impls/unenshrine_auctioneer.rs
  crates/astria-sequencer/src/auctioneer_enshrinement/mod.rs
  crates/astria-sequencer/src/auctioneer_enshrinement/query.rs
  crates/astria-sequencer/src/auctioneer_enshrinement/state_ext.rs
  crates/astria-sequencer/src/auctioneer_enshrinement/storage/keys.rs
  crates/astria-sequencer/src/auctioneer_enshrinement/storage/mod.rs
  crates/astria-sequencer/src/auctioneer_enshrinement/storage/values.rs
  crates/astria-sequencer/src/fees/mod.rs
  crates/astria-sequencer/src/fees/query.rs
  crates/astria-sequencer/src/fees/storage/values.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/transaction/checks.rs
  proto/protocolapis/astria/protocol/auctioneer/v1/types.proto
  proto/protocolapis/astria/protocol/fees/v1/types.proto
  proto/protocolapis/astria/protocol/transaction/v1/action.proto
Due: sequencer, common

fix names, remove aliases
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

chore(sequencer): fix names to conform to Rust naming conventions (#1931)
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

feat(optimistic-execution-proxy): new service
  Cargo.lock
  Cargo.toml
  crates/astria-optimistic-execution-proxy/CHANGELOG.md
  crates/astria-optimistic-execution-proxy/Cargo.toml
  crates/astria-optimistic-execution-proxy/README.md
  crates/astria-optimistic-execution-proxy/build.rs
  crates/astria-optimistic-execution-proxy/justfile
  crates/astria-optimistic-execution-proxy/local.env.example
  crates/astria-optimistic-execution-proxy/src/block/mod.rs
  crates/astria-optimistic-execution-proxy/src/build_info.rs
  crates/astria-optimistic-execution-proxy/src/config.rs
  crates/astria-optimistic-execution-proxy/src/lib.rs
  crates/astria-optimistic-execution-proxy/src/main.rs
  crates/astria-optimistic-execution-proxy/src/metrics.rs
  crates/astria-optimistic-execution-proxy/src/optimistic_execution_proxy/mod.rs
  crates/astria-optimistic-execution-proxy/src/rollup_channel.rs
  crates/astria-optimistic-execution-proxy/src/sequencer_channel.rs
  crates/astria-optimistic-execution-proxy/src/streaming_utils.rs
Due: none

add core types for BridgeTransfer
  crates/astria-core/src/generated/astria.protocol.transaction.v1.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.serde.rs
  crates/astria-core/src/protocol/transaction/v1/action/group/mod.rs
  crates/astria-core/src/protocol/transaction/v1/action/mod.rs
  proto/protocolapis/astria/protocol/transaction/v1/action.proto
Due: common

ci: setup cargo deny
  crates/astria-bridge-contracts/Cargo.toml
  crates/astria-build-info/Cargo.toml
  crates/astria-core-address/Cargo.toml
  crates/astria-core-consts/Cargo.toml
  crates/astria-eyre/Cargo.toml
  crates/astria-grpc-mock-test-codegen/Cargo.toml
  crates/astria-grpc-mock-test/Cargo.toml
  crates/astria-grpc-mock/Cargo.toml
  deny.toml
Due: none

fix typo README.md
  lint/tracing_debug_field/README.md
Due: none

add bridge transfer fee types
  crates/astria-core/src/generated/astria.protocol.fees.v1.rs
  crates/astria-core/src/generated/astria.protocol.fees.v1.serde.rs
  crates/astria-core/src/protocol/fees/v1.rs
  crates/astria-sequencer/src/action_handler/impls/bridge_transfer.rs
  crates/astria-sequencer/src/action_handler/impls/mod.rs
  crates/astria-sequencer/src/action_handler/impls/transaction.rs
  crates/astria-sequencer/src/fees/mod.rs
  crates/astria-sequencer/src/fees/query.rs
  crates/astria-sequencer/src/fees/storage/values.rs
  crates/astria-sequencer/src/transaction/checks.rs
  proto/protocolapis/astria/protocol/fees/v1/types.proto
  proto/protocolapis/astria/protocol/genesis/v1/types.proto
Due: sequencer, common

conductor.md
  specs/conductor.md
Due: none

implement BridgeTransfer logic, start unit tests
  crates/astria-core/src/generated/astria.protocol.genesis.v1.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1.serde.rs
  crates/astria-core/src/protocol/fees/v1.rs
  crates/astria-core/src/protocol/genesis/snapshots/astria_core__protocol__genesis__v1__tests__genesis_state.snap
  crates/astria-core/src/protocol/genesis/v1.rs
  crates/astria-sequencer-utils/src/genesis_example.rs
  crates/astria-sequencer/src/action_handler/impls/bridge_lock.rs
  crates/astria-sequencer/src/action_handler/impls/bridge_transfer.rs
  crates/astria-sequencer/src/action_handler/impls/bridge_unlock.rs
  crates/astria-sequencer/src/action_handler/impls/mod.rs
  crates/astria-sequencer/src/app/benchmark_and_test_utils.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_at_genesis.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_execute_every_action.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_finalize_block.snap
  crates/astria-sequencer/src/fees/mod.rs
  crates/astria-sequencer/src/fees/query.rs
  crates/astria-sequencer/src/fees/storage/values.rs
  crates/astria-sequencer/src/service/info/mod.rs
  proto/protocolapis/astria/protocol/genesis/v1/types.proto
Due: sequencer, common

add more tests, update changelog
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/action_handler/impls/bridge_transfer.rs
  proto/protocolapis/astria/protocol/transaction/v1/action.proto
Due: sequencer

clippy
  crates/astria-sequencer/src/action_handler/impls/bridge_transfer.rs
Due: sequencer

genesis file, public image and composer
  charts/chat-rollup/Chart.lock
  charts/chat-rollup/Chart.yaml
  charts/chat-rollup/files/genesis/geth-genesis.json
  charts/chat-rollup/files/scripts/init-geth.sh
  charts/chat-rollup/templates/_helpers.tpl
  charts/chat-rollup/templates/configmap.yaml
  charts/chat-rollup/templates/statefulsets.yaml
  charts/chat-rollup/values.yaml
  dev/values/rollup/chat-dev.yaml
  dev/values/rollup/dev.yaml
  dev/values/validators/all.yml
Due: none

chore(ci): update CODEOWNERS
  CODEOWNERS
Due: none

chore(ci): update CODEOWNERS (#1935)
  CODEOWNERS
Due: none

Update LICENSE-MIT
  LICENSE-MIT
Due: none

switch from aws cli to rclone
  charts/evm-rollup/files/scripts/create-snapshot.sh
  charts/evm-rollup/files/scripts/restore-snapshot.sh
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/templates/cronjobs.yaml
  charts/evm-rollup/templates/secretproviderclass.yaml
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
Due: none
