Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: merkle
      name: astria-merkle
      paths:
        - crates/astria-merkle/**
    - component_id: common
      name: common
      paths:
        - crates/astria-core/src/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-core/src/generated/**'
  - 'crates/astria-build-info/**'
  - 'crates/astria-grpc-mock/**'
  - 'crates/astria-grpc-mock-test/**'
  - 'crates/astria-grpc-mock-test-codegen/**'
  - 'crates/astria-test-utils/**'

update genesis file for cometbft chart
  charts/sequencer/files/cometbft/config/genesis.json
Due: none

bump chart version
  charts/sequencer/Chart.yaml
Due: none

feat(sequencer)!: add fees to genesis state (#1055)
  charts/sequencer/Chart.yaml
  charts/sequencer/files/cometbft/config/genesis.json
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/bridge/component.rs
  crates/astria-sequencer/src/genesis.rs
  crates/astria-sequencer/src/ibc/component.rs
  crates/astria-sequencer/src/sequence/component.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/test-genesis-app-state.json
Due: sequencer

add transaction_bytes to SignedTransaction
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
Due: common

lint
  charts/evm-rollup/Chart.yaml
Due: none

added compression info and entry count to output
  crates/astria-sequencer-utils/src/blob_parser.rs
  crates/astria-sequencer-utils/tests/resources/parse_blob/batched_metadata/expected_brief_output.json
  crates/astria-sequencer-utils/tests/resources/parse_blob/batched_metadata/expected_brief_output.txt
  crates/astria-sequencer-utils/tests/resources/parse_blob/batched_metadata/expected_verbose_output.json
  crates/astria-sequencer-utils/tests/resources/parse_blob/batched_metadata/expected_verbose_output.txt
  crates/astria-sequencer-utils/tests/resources/parse_blob/batched_rollup_data/expected_brief_output.json
  crates/astria-sequencer-utils/tests/resources/parse_blob/batched_rollup_data/expected_brief_output.txt
  crates/astria-sequencer-utils/tests/resources/parse_blob/batched_rollup_data/expected_verbose_output.json
  crates/astria-sequencer-utils/tests/resources/parse_blob/batched_rollup_data/expected_verbose_output.txt
  crates/astria-sequencer-utils/tests/resources/parse_blob/unbatched_metadata/expected_brief_output.json
  crates/astria-sequencer-utils/tests/resources/parse_blob/unbatched_metadata/expected_brief_output.txt
  crates/astria-sequencer-utils/tests/resources/parse_blob/unbatched_metadata/expected_verbose_output.json
  crates/astria-sequencer-utils/tests/resources/parse_blob/unbatched_metadata/expected_verbose_output.txt
  crates/astria-sequencer-utils/tests/resources/parse_blob/unbatched_rollup_data/expected_brief_output.json
  crates/astria-sequencer-utils/tests/resources/parse_blob/unbatched_rollup_data/expected_brief_output.txt
  crates/astria-sequencer-utils/tests/resources/parse_blob/unbatched_rollup_data/expected_verbose_output.json
  crates/astria-sequencer-utils/tests/resources/parse_blob/unbatched_rollup_data/expected_verbose_output.txt
Due: sequencer

update proto to have each oneof be u128
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Due: common

refactor(proto)!: update `SignedTransaction` to contain `Any` for transaction (#1044)
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/snapshots/astria_core__protocol__transaction__v1alpha1__test__signed_transaction_hash.snap
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Due: common

fix merge
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
Due: sequencer

tests(sequencer): add snapshot tests for app hash (#1057)
  Cargo.lock
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_genesis_snapshot.snap
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
Due: sequencer

fix ibc prefix conversion, add unit tests
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

add log for ics20 transfer execution failure so err isnt swallowed
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

clippy
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

fix is_source logic
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

ve init
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/ve/mod.rs
Due: sequencer

parse rollup data
  Cargo.lock
  crates/astria-sequencer-utils/Cargo.toml
  crates/astria-sequencer-utils/src/blob_parser.rs
  crates/astria-sequencer-utils/tests/resources/parse_blob/batched_metadata/expected_brief_output.json
  crates/astria-sequencer-utils/tests/resources/parse_blob/batched_metadata/expected_brief_output.txt
  crates/astria-sequencer-utils/tests/resources/parse_blob/batched_metadata/expected_verbose_output.json
  crates/astria-sequencer-utils/tests/resources/parse_blob/batched_metadata/expected_verbose_output.txt
  crates/astria-sequencer-utils/tests/resources/parse_blob/batched_metadata/input.txt
  crates/astria-sequencer-utils/tests/resources/parse_blob/batched_rollup_data/expected_brief_output.json
  crates/astria-sequencer-utils/tests/resources/parse_blob/batched_rollup_data/expected_brief_output.txt
  crates/astria-sequencer-utils/tests/resources/parse_blob/batched_rollup_data/expected_verbose_output.json
  crates/astria-sequencer-utils/tests/resources/parse_blob/batched_rollup_data/expected_verbose_output.txt
  crates/astria-sequencer-utils/tests/resources/parse_blob/batched_rollup_data/input.txt
  crates/astria-sequencer-utils/tests/resources/parse_blob/unbatched_rollup_data/expected_verbose_output.json
  crates/astria-sequencer-utils/tests/resources/parse_blob/unbatched_rollup_data/expected_verbose_output.txt
Due: sequencer

invert conversion ratio
  crates/astria-sequencer-relayer/src/relayer/write/conversion.rs
Due: sequencer-relayer

reinstate trailing blank line
  crates/astria-sequencer-relayer/src/relayer/write/conversion.rs
Due: sequencer-relayer

add a little colour to the tool's display output
  Cargo.lock
  crates/astria-sequencer-utils/Cargo.toml
  crates/astria-sequencer-utils/src/blob_parser.rs
  crates/astria-sequencer-utils/tests/parse_blob.rs
  crates/astria-sequencer-utils/tests/resources/parse_blob/batched_metadata/expected_brief_output.json
  crates/astria-sequencer-utils/tests/resources/parse_blob/batched_metadata/expected_verbose_output.json
  crates/astria-sequencer-utils/tests/resources/parse_blob/batched_rollup_data/expected_brief_output.json
  crates/astria-sequencer-utils/tests/resources/parse_blob/batched_rollup_data/expected_verbose_output.json
  crates/astria-sequencer-utils/tests/resources/parse_blob/unbatched_metadata/expected_brief_output.json
  crates/astria-sequencer-utils/tests/resources/parse_blob/unbatched_metadata/expected_verbose_output.json
  crates/astria-sequencer-utils/tests/resources/parse_blob/unbatched_rollup_data/expected_brief_output.json
  crates/astria-sequencer-utils/tests/resources/parse_blob/unbatched_rollup_data/expected_verbose_output.json
Due: sequencer

use Cow for denom
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

fmt
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

fix(sequencer): fix ibc prefix conversion (#1065)
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer

implement denom query and proto types
  crates/astria-core/src/generated/astria.protocol.asset.v1alpha1.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/protocol/asset/mod.rs
  crates/astria-core/src/protocol/asset/v1alpha1/mod.rs
  crates/astria-core/src/protocol/mod.rs
  crates/astria-sequencer/src/asset/mod.rs
  crates/astria-sequencer/src/asset/query.rs
  crates/astria-sequencer/src/service/info/mod.rs
  proto/protocolapis/astria/protocol/asset/v1alpha1/types.proto
Due: sequencer, common

lint proto
  proto/protocolapis/astria/protocol/asset/v1alpha1/types.proto
Due: none

nit(sequnecer): address comments from @Fraser999
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
Due: common

feat(sequencer)!: add bridge unlock action
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/mod.rs
  crates/astria-sequencer/src/transaction/mod.rs
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Due: sequencer, common

feat(sequnecer): proto updates
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Due: common

test(sequencer): add BridgeUnlock to breaking change list
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
Due: sequencer

nits
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Due: sequencer

nits
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Due: none

feat(sequencer): remove gating logic and nits
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

nit(sequencer): fix formatting
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
Due: sequencer

nit(sequnecer): address comments from @Fraser999
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
Due: sequencer

nits(sequencer): suggested nits from @noot
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
Due: sequencer

feat(sequencer)!: implement bridge unlock action and derestrict transfers (#1034)
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/mod.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/transaction/mod.rs
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Due: sequencer, common

fix(charts): expose metrics correctly
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/configmap.yaml
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/templates/configmaps.yaml
Due: none

metrics(relayer)!: make per submission gauges into histograms (#1060)
  crates/astria-sequencer-relayer/src/metrics_init.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
Due: sequencer-relayer

feat(telemetry): register metrics via callback (#1062)
  crates/astria-composer/src/main.rs
  crates/astria-conductor/src/main.rs
  crates/astria-sequencer-relayer/src/main.rs
  crates/astria-sequencer/src/main.rs
  crates/astria-telemetry/src/lib.rs
Due: conductor, composer, sequencer, sequencer-relayer, common

typo
  charts/sequencer/Chart.yaml
Due: none
