Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: merkle
      name: astria-merkle
      paths:
        - crates/astria-merkle/**
    - component_id: common
      name: common
      paths:
        - crates/astria-core/src/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-core/src/generated/**'
  - 'crates/astria-build-info/**'
  - 'crates/astria-grpc-mock/**'
  - 'crates/astria-grpc-mock-test/**'
  - 'crates/astria-grpc-mock-test-codegen/**'
  - 'crates/astria-test-utils/**'

fix frostParticipantEndpoints
  charts/evm-bridge-withdrawer/values.yaml
Due: none

use 1-1 for protos
  crates/astria-bridge-withdrawer/CHANGELOG.md
  crates/astria-core/src/generated/astria.signer.v1.rs
  proto/signerapis/astria/signer/v1/commitment_with_identifier.proto
  proto/signerapis/astria/signer/v1/frost.proto
  proto/signerapis/astria/signer/v1/frost_participant_service.proto
  proto/signerapis/astria/signer/v1/get_verifying_share_request.proto
  proto/signerapis/astria/signer/v1/get_verifying_share_response.proto
  proto/signerapis/astria/signer/v1/round_one_request.proto
  proto/signerapis/astria/signer/v1/round_one_response.proto
  proto/signerapis/astria/signer/v1/round_two_request.proto
  proto/signerapis/astria/signer/v1/round_two_response.proto
Due: none

feat(conductor)!: include sequencer block hash
  crates/astria-conductor/CHANGELOG.md
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-core/src/execution/v1/mod.rs
  crates/astria-core/src/generated/astria.execution.v1.rs
  crates/astria-core/src/generated/astria.execution.v1.serde.rs
  crates/astria-core/src/generated/astria.execution.v2.rs
  crates/astria-core/src/generated/astria.execution.v2.serde.rs
  dev/values/rollup/dev.yaml
  proto/executionapis/astria/execution/v1/execution.proto
  proto/executionapis/astria/execution/v2/execute_block_request.proto
  proto/executionapis/astria/execution/v2/executed_block_metadata.proto
  specs/execution-api.md
Due: conductor, common

fix(sequencer): rebalance mempool after state committed
  crates/astria-sequencer/src/app/mod.rs
Due: sequencer

use pr tag
  dev/values/rollup/dev.yaml
Due: none

use exponential backoff for RPC calls
  crates/astria-sequencer-relayer/src/relayer/celestia_client/mod.rs
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
Due: sequencer-relayer

use block commit event to send block commitment over stream
  crates/astria-sequencer/src/app/event_bus.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
Due: sequencer

refactor address base prefix checks
  crates/astria-sequencer/src/action_handler/impls/bridge_lock.rs
  crates/astria-sequencer/src/action_handler/impls/bridge_sudo_change.rs
  crates/astria-sequencer/src/action_handler/impls/bridge_unlock.rs
  crates/astria-sequencer/src/action_handler/impls/ibc_relayer_change.rs
  crates/astria-sequencer/src/action_handler/impls/ibc_sudo_change.rs
  crates/astria-sequencer/src/action_handler/impls/ics20_withdrawal.rs
  crates/astria-sequencer/src/action_handler/impls/init_bridge_account.rs
  crates/astria-sequencer/src/action_handler/impls/sudo_address_change.rs
  crates/astria-sequencer/src/action_handler/impls/transaction.rs
  crates/astria-sequencer/src/action_handler/mod.rs
  crates/astria-sequencer/src/address/address_check.rs
  crates/astria-sequencer/src/address/mod.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
Due: sequencer

add to flame dev
  dev/values/rollup/dev.yaml
  dev/values/rollup/flame-dev.yaml
Due: none

review updates
  crates/astria-conductor/CHANGELOG.md
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  proto/executionapis/astria/execution/v1/execution.proto
  proto/executionapis/astria/execution/v2/execute_block_request.proto
  proto/executionapis/astria/execution/v2/executed_block_metadata.proto
Due: conductor

alias trait import
  crates/astria-sequencer/src/address/address_check.rs
Due: sequencer

tests
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-core/src/generated/astria.execution.v1.rs
  crates/astria-core/src/generated/astria.execution.v2.rs
Due: conductor

chore(sequencer): refactor bridge checks (#2010)
  crates/astria-sequencer/src/action_handler/impls/bridge_lock.rs
  crates/astria-sequencer/src/action_handler/impls/bridge_unlock.rs
  crates/astria-sequencer/src/action_handler/mod.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_execute_every_action.snap
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
Due: sequencer

chore(bridge-withdrawer): change batch value metric to a histogram
  crates/astria-bridge-withdrawer/CHANGELOG.md
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/metrics.rs
Due: none

update
  crates/astria-bridge-withdrawer/CHANGELOG.md
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/main.rs
  crates/astria-bridge-withdrawer/src/metrics.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
Due: none

format
  crates/astria-bridge-withdrawer/src/metrics.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
Due: none

feat(conductor): include sequencer block hash (#1999)
  crates/astria-conductor/CHANGELOG.md
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-conductor/src/executor/tests.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-core/src/execution/v1/mod.rs
  crates/astria-core/src/generated/astria.execution.v1.rs
  crates/astria-core/src/generated/astria.execution.v1.serde.rs
  crates/astria-core/src/generated/astria.execution.v2.rs
  crates/astria-core/src/generated/astria.execution.v2.serde.rs
  dev/values/rollup/dev.yaml
  dev/values/rollup/flame-dev.yaml
  proto/executionapis/astria/execution/v1/execution.proto
  proto/executionapis/astria/execution/v2/execute_block_request.proto
  proto/executionapis/astria/execution/v2/executed_block_metadata.proto
  specs/execution-api.md
Due: conductor, common

fix(sequencer): mempool pending nonce calcuations
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

fixes for cargo audit warnings
  .cargo/audit.toml
  Cargo.lock
Due: none

fix(sequencer): mempool pending nonce calcuations (#2012)
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

update charts
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/sequencer/Chart.yaml
  charts/sequencer/values.yaml
Due: none

fix: update `ring` dependency and update audit ignore list (#2021)
  .cargo/audit.toml
  Cargo.lock
Due: none

chore(charts): update for latest geth releases
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/flame-rollup/Chart.yaml
  charts/flame-rollup/values.yaml
  dev/values/rollup/dev.yaml
  dev/values/rollup/flame-dev.yaml
Due: none

chore: cut releases
  Cargo.lock
  crates/astria-bridge-withdrawer/CHANGELOG.md
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-cli/CHANGELOG.md
  crates/astria-cli/Cargo.toml
  crates/astria-composer/CHANGELOG.md
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/CHANGELOG.md
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/CHANGELOG.md
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/Cargo.toml
Due: conductor, composer, sequencer, sequencer-relayer, cli

update
  Cargo.lock
  crates/astria-bridge-withdrawer/CHANGELOG.md
  crates/astria-cli/CHANGELOG.md
  crates/astria-composer/CHANGELOG.md
  crates/astria-conductor/CHANGELOG.md
  crates/astria-sequencer-relayer/CHANGELOG.md
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/Cargo.toml
Due: conductor, composer, sequencer, sequencer-relayer, cli

chore(charts): update for latest geth releases (#2023)
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/flame-rollup/Chart.yaml
  charts/flame-rollup/values.yaml
  dev/values/rollup/dev.yaml
  dev/values/rollup/flame-dev.yaml
Due: none

fix
  crates/astria-sequencer/CHANGELOG.md
Due: sequencer

feat(chart): external ingress (#1967)
  charts/external-ingress/Chart.yaml
  charts/external-ingress/templates/_helpers.tpl
  charts/external-ingress/templates/ingress.yaml
  charts/external-ingress/templates/services.yaml
  charts/external-ingress/values.yaml
Due: none

feat(charts)!: sequencer defaults for networks
  charts/deploy.just
  charts/ibc-test.just
  charts/sequencer-relayer/Chart.yaml
  charts/sequencer-relayer/templates/_helpers.tpl
  charts/sequencer-relayer/templates/configmaps.yaml
  charts/sequencer-relayer/values.yaml
  charts/sequencer/Chart.lock
  charts/sequencer/Chart.yaml
  charts/sequencer/files/cometbft/config/config.toml
  charts/sequencer/files/cometbft/config/custom.genesis.json
  charts/sequencer/files/cometbft/config/dawn-1.genesis.json
  charts/sequencer/files/cometbft/config/dusk-11.genesis.json
  charts/sequencer/files/cometbft/config/mainnet.genesis.json
  charts/sequencer/templates/_helpers.tpl
  charts/sequencer/templates/configmaps.yaml
  charts/sequencer/values.yaml
  dev/argocd/pr-preview-envs/sequencer-appset.yaml
  dev/values/validators/mainnet.yml
Due: none

fix markdown
  crates/astria-sequencer/CHANGELOG.md
Due: sequencer

changelog fix
  crates/astria-bridge-withdrawer/CHANGELOG.md
Due: none

use the lazylock
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
Due: none

fix(sequencer): add more fields to fingerprint
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
Due: sequencer

chore: cut releases (#2017)
  Cargo.lock
  crates/astria-bridge-withdrawer/CHANGELOG.md
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-cli/CHANGELOG.md
  crates/astria-cli/Cargo.toml
  crates/astria-composer/CHANGELOG.md
  crates/astria-composer/Cargo.toml
  crates/astria-conductor/CHANGELOG.md
  crates/astria-conductor/Cargo.toml
  crates/astria-sequencer-relayer/CHANGELOG.md
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/Cargo.toml
Due: conductor, composer, sequencer, sequencer-relayer, cli

fixes for cargo audit warnings
  .cargo/audit.toml
Due: none

change decimals to be u8 natively
  crates/astria-core/src/connect/market_map.rs
  crates/astria-core/src/protocol/connect.rs
  crates/astria-core/src/sequencerblock/v1/block.rs
  crates/astria-sequencer-utils/src/blob_parser.rs
  crates/astria-sequencer/src/connect/market_map/storage/values/market_map.rs
  crates/astria-sequencer/src/grpc/connect.rs
Due: sequencer, common

provide system test for sequencer upgrade
  .gitignore
  charts/deploy.just
  charts/sequencer/files/cometbft/config/genesis.json
  charts/sequencer/files/scripts/markets.json
  charts/sequencer/files/upgrades/upgrades.json
  charts/sequencer/templates/configmaps.yaml
  charts/sequencer/templates/ingress.yaml
  charts/sequencer/values.yaml
  containerfiles/Dockerfile
  crates/astria-sequencer/src/upgrades/upgrades_handler.rs
  dev/values/validators/all.yml
  dev/values/validators/node0.yml
  dev/values/validators/node2.yml
  dev/values/validators/node3.yml
  dev/values/validators/node4.yml
  justfile
  system-tests/README.md
  system-tests/helpers/__init__.py
  system-tests/helpers/astria_cli.py
  system-tests/helpers/evm_controller.py
  system-tests/helpers/proto/README.md
  system-tests/helpers/proto/generated/service_pb2.py
  system-tests/helpers/proto/generated/service_pb2.pyi
  system-tests/helpers/proto/generated/service_pb2_grpc.py
  system-tests/helpers/proto/service.proto
  system-tests/helpers/sequencer_controller.py
  system-tests/helpers/utils.py
  system-tests/sequencer_upgrade_1_checks.py
  system-tests/sequencer_upgrade_test.py
Due: sequencer

update all-without-native chart values
  dev/values/validators/all-without-native.yml
Due: none

replace humantime crate with jiff
  Cargo.lock
  Cargo.toml
  crates/astria-auctioneer/Cargo.toml
  crates/astria-auctioneer/src/auctioneer/auction/worker.rs
  crates/astria-auctioneer/src/auctioneer/mod.rs
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-cli/Cargo.toml
  crates/astria-cli/src/bridge/collect.rs
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/celestia/fetch.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/verify.rs
  crates/astria-conductor/src/conductor/inner.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/sequencer/client.rs
  crates/astria-conductor/src/sequencer/mod.rs
  crates/astria-sequencer-client/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/read.rs
  crates/astria-sequencer-relayer/src/relayer/submission.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
  crates/astria-telemetry/Cargo.toml
  crates/astria-telemetry/src/display.rs
Due: conductor, composer, sequencer-relayer, cli, common
