Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: merkle
      name: astria-merkle
      paths:
        - crates/astria-merkle/**
    - component_id: common
      name: common
      paths:
        - crates/astria-core/src/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-core/src/generated/**'
  - 'crates/astria-build-info/**'
  - 'crates/astria-grpc-mock/**'
  - 'crates/astria-grpc-mock-test/**'
  - 'crates/astria-grpc-mock-test-codegen/**'
  - 'crates/astria-test-utils/**'

run fmt and lint
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-core/src/composer/mod.rs
  crates/astria-core/src/composer/v1alpha1/mod.rs
Due: conductor, common

execution api updates for trusted builder
  charts/evm-rollup/values.yaml
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-core/src/composer/mod.rs
  crates/astria-core/src/composer/v1alpha1/mod.rs
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.serde.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/lib.rs
  proto/composerapis/astria/composer/v1alpha1/trusted_builder.proto
  proto/executionapis/astria/execution/v1alpha2/execution.proto
Due: conductor, common

cover deposits case
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/executor/client.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/simulator.rs
  crates/astria-core/src/composer/v1alpha1/mod.rs
  crates/astria-core/src/lib.rs
Due: composer, common

initial version of trusted builder mvp
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-composer/justfile
  crates/astria-composer/local.env.example
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/client.rs
  crates/astria-composer/src/executor/mock_grpc.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/simulator.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/metrics.rs
  crates/astria-composer/tests/blackbox/api.rs
  crates/astria-composer/tests/blackbox/geth_collector.rs
  crates/astria-composer/tests/blackbox/grpc_collector.rs
  crates/astria-composer/tests/blackbox/helper/mock_grpc.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mock_grpc.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-core/src/composer/v1alpha1/mod.rs
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/protocol/mod.rs
  crates/astria-core/src/protocol/test_utils.rs
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  crates/astria-sequencer/src/proposal/commitment.rs
Due: conductor, composer, sequencer, common

update charts for trusted builder
  charts/composer/templates/configmap.yaml
  charts/evm-rollup/templates/service.yaml
  charts/evm-rollup/values.yaml
  dev/values/rollup/dev.yaml
Due: none

save
  charts/composer/values.yaml
  charts/evm-rollup/templates/service.yaml
  charts/evm-rollup/values.yaml
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/simulator.rs
  crates/astria-composer/src/executor/tests.rs
Due: composer

submit bundle only when new block is created
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/client.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/simulator.rs
Due: composer

use soft block hash instead of parent hash
  crates/astria-composer/src/executor/simulator.rs
  crates/astria-composer/src/executor/tests.rs
Due: composer

clean ups
  charts/sequencer/values.yaml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/client.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/simulator.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/metrics.rs
  crates/astria-composer/src/mock_grpc.rs
  crates/astria-composer/tests/blackbox/api.rs
  crates/astria-composer/tests/blackbox/geth_collector.rs
  crates/astria-composer/tests/blackbox/grpc_collector.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-core/src/composer/v1alpha1/mod.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.serde.rs
  crates/astria-grpc-mock/src/matcher.rs
  proto/composerapis/astria/composer/v1alpha1/trusted_builder.proto
Due: composer, common

add message hash to proto
  crates/astria-composer/src/executor/mod.rs
  crates/astria-core/src/composer/v1alpha1/mod.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.serde.rs
  proto/composerapis/astria/composer/v1alpha1/trusted_builder.proto
Due: composer, common

use bytes
  crates/astria-composer/src/executor/mod.rs
  crates/astria-core/src/composer/v1alpha1/mod.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.serde.rs
  proto/composerapis/astria/composer/v1alpha1/trusted_builder.proto
Due: composer, common

use string for message_hash
  crates/astria-composer/src/executor/mod.rs
  crates/astria-core/src/composer/v1alpha1/mod.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.serde.rs
  proto/composerapis/astria/composer/v1alpha1/trusted_builder.proto
Due: composer, common

remove message hash
  crates/astria-composer/src/executor/mod.rs
  crates/astria-core/src/composer/v1alpha1/mod.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.serde.rs
  proto/composerapis/astria/composer/v1alpha1/trusted_builder.proto
Due: composer, common

fix warnings
  crates/astria-composer/local.env.example
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/mock_grpc.rs
  crates/astria-composer/tests/blackbox/geth_collector.rs
  crates/astria-composer/tests/blackbox/grpc_collector.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mock_grpc.rs
  crates/astria-core/src/composer/v1alpha1/mod.rs
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-grpc-mock/src/matcher.rs
  crates/astria-sequencer/src/app/tests_app.rs
Due: conductor, composer, sequencer, common

final additions
  charts/composer/templates/configmap.yaml
  charts/composer/values.yaml
  charts/evm-rollup/values.yaml
  charts/sequencer/values.yaml
  crates/astria-composer/local.env.example
  crates/astria-composer/src/executor/client.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/simulator.rs
  crates/astria-composer/src/metrics.rs
  crates/astria-sequencer/src/app/tests_app.rs
  proto/composerapis/astria/composer/v1alpha1/trusted_builder.proto
Due: composer, sequencer

fix tests
  crates/astria-composer/src/executor/tests.rs
Due: composer

handle bundle pushing error using wrap_err
  crates/astria-composer/src/executor/mod.rs
Due: composer

run fmt
  crates/astria-composer/tests/blackbox/grpc_collector.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

minor fixes
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/tests/blackbox/geth_collector.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

revert dev.yaml changes
  dev/values/rollup/dev.yaml
Due: none

run just fmt
  crates/astria-composer/src/executor/mod.rs
  crates/astria-core/src/composer/v1alpha1/mod.rs
Due: composer, common

use Bytes instead of Vec<u8>
  crates/astria-composer/src/executor/mod.rs
  crates/astria-core/src/composer/v1alpha1/mod.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
Due: composer, common

save
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.serde.rs
  proto/composerapis/astria/composer/v1alpha1/grpc_collector.proto
Due: none

add sequencer hooks
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/grpc.rs
  crates/astria-composer/src/lib.rs
  crates/astria-composer/src/sequencer_hooks.rs
Due: composer

setup sequencer to composer communication
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/sequencer_hooks.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.serde.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/client.rs
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
  proto/composerapis/astria/composer/v1alpha1/grpc_collector.proto
Due: composer, sequencer

it compiles
  charts/composer/templates/configmap.yaml
  charts/sequencer/templates/configmaps.yaml
  charts/sequencer/values.yaml
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/simulator.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/client.rs
  crates/astria-sequencer/src/service/consensus.rs
  dev/values/rollup/dev.yaml
Due: composer, sequencer

trusted builder iteration 2
  Cargo.lock
  charts/deploy.just
  charts/evm-rollup/values.yaml
  charts/sequencer/templates/configmaps.yaml
  charts/sequencer/values.yaml
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/simulator.rs
  crates/astria-composer/src/grpc.rs
  crates/astria-composer/src/sequencer_hooks.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.serde.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/client.rs
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/sequencer.rs
  dev/values/rollup/dev.yaml
  dev/values/validators/all.yml
  dev/values/validators/node0.yml
  dev/values/validators/node1.yml
  dev/values/validators/node2.yml
  proto/composerapis/astria/composer/v1alpha1/grpc_collector.proto
Due: composer, sequencer

chart changes
  charts/sequencer/values.yaml
Due: none

overrideTag
  charts/evm-rollup/templates/_helpers.tpl
Due: none

fmt + lint
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/grpc.rs
  crates/astria-composer/src/sequencer_hooks.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/client.rs
Due: composer, sequencer

some clean ups
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/simulator.rs
  crates/astria-composer/src/grpc.rs
  crates/astria-composer/src/sequencer_hooks.rs
  crates/astria-sequencer/src/app/mod.rs
Due: composer, sequencer

update astria-geth image name
  charts/evm-rollup/templates/_helpers.tpl
  dev/values/rollup/dev.yaml
Due: none

use release namespace
  charts/sequencer/templates/configmaps.yaml
Due: none

some minor changes
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/simulator.rs
Due: composer

update tests
  crates/astria-composer/src/executor/tests.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: composer, sequencer

expose composer grpc port in an ingress
  charts/composer/templates/configmap.yaml
  charts/composer/templates/ingress.yaml
  charts/composer/values.yaml
Due: none

save
  charts/celestia-node/values.yaml
  charts/composer/values.yaml
  charts/evm-rollup/values.yaml
  dev/values/rollup/dev.yaml
  dev/values/validators/node0.yml
  dev/values/validators/node1.yml
  dev/values/validators/node2.yml
Due: none

update charts
  charts/deploy.just
  charts/evm-stack/values.yaml
  charts/sequencer/files/cometbft/config/genesis.json
  charts/sequencer/values.yaml
  dev/values/rollup/dev.yaml
  dev/values/validators/node0.yml
  dev/values/validators/node1.yml
  dev/values/validators/node2.yml
Due: none

save
  charts/composer/values.yaml
  charts/evm-rollup/values.yaml
  crates/astria-sequencer/src/app/mod.rs
Due: sequencer
