Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: merkle
      name: astria-merkle
      paths:
        - crates/astria-merkle/**
    - component_id: common
      name: common
      paths:
        - crates/astria-core/src/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-core/src/generated/**'
  - 'crates/astria-build-info/**'
  - 'crates/astria-grpc-mock/**'
  - 'crates/astria-grpc-mock-test/**'
  - 'crates/astria-grpc-mock-test-codegen/**'
  - 'crates/astria-test-utils/**'

test(cli): add smoke test for cli commands
  charts/cli-test.just
  charts/deploy.just
Due: none

evm-bridge-withdrawer
  charts/composer/templates/_helpers.tpl
  charts/evm-bridge-withdrawer/templates/_helpers.tpl
  charts/evm-bridge-withdrawer/templates/prometheusrule.yaml
  charts/evm-bridge-withdrawer/templates/service.yaml
  charts/evm-bridge-withdrawer/templates/servicemonitor.yaml
  charts/evm-bridge-withdrawer/values.yaml
Due: none

update metric name
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/metrics.rs
Due: sequencer

add validator update with name
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.serde.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/authority/mod.rs
  crates/astria-sequencer/src/authority/query.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Due: sequencer, common

make empty transaction invalid
  crates/astria-core/src/protocol/transaction/v1alpha1/action_group/mod.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action_group/tests.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
Due: common

changes from merge
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action_group/mod.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
Due: sequencer, common

fix(ci): code freeze action fix
  .github/workflows/code-freeze.yml
Due: none

test with multiple broken
  crates/astria-conductor/src/block_cache.rs
  crates/astria-conductor/src/build_info.rs
Due: conductor

attempt fix
  .github/workflows/code-freeze.yml
Due: none

remove breaking changes
  crates/astria-conductor/src/block_cache.rs
  crates/astria-conductor/src/build_info.rs
Due: conductor

back to target
  .github/workflows/code-freeze.yml
Due: none

add abci query test
  crates/astria-sequencer/src/authority/query.rs
Due: sequencer

fix(ci): code freeze action fix (#1610)
  .github/workflows/code-freeze.yml
Due: none

address remaining comments
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/vote_extension.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/slinky/marketmap/component.rs
Due: sequencer

rustfmt
  crates/astria-sequencer/src/app/tests_block_fees.rs
Due: sequencer

Add more abci tests
  crates/astria-sequencer/src/authority/query.rs
Due: sequencer

minor changes
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
Due: common

move bridgSenderAdress
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  dev/values/rollup/dev.yaml
Due: none

chore(charts): genesis template to support latest changes (#1594)
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  dev/values/rollup/dev.yaml
Due: none

feat(charts): astrotrek chart (#1513)
  charts/astrotrek/Chart.yaml
  charts/astrotrek/templates/_helpers.tpl
  charts/astrotrek/templates/configmap.yaml
  charts/astrotrek/templates/deployment.yaml
  charts/astrotrek/templates/ingress.yaml
  charts/astrotrek/templates/service.yaml
  charts/astrotrek/templates/servicemonitor.yaml
  charts/astrotrek/templates/statefulsets.yaml
  charts/astrotrek/templates/storageclasses.yaml
  charts/astrotrek/templates/volumes.yaml
  charts/astrotrek/values.yaml
  charts/deploy.just
Due: none

rename Command -> SubCommand, Args -> Command
  crates/astria-cli/src/sequencer/account.rs
  crates/astria-cli/src/sequencer/address.rs
  crates/astria-cli/src/sequencer/balance.rs
  crates/astria-cli/src/sequencer/block_height.rs
  crates/astria-cli/src/sequencer/bridge_lock.rs
  crates/astria-cli/src/sequencer/init_bridge_account.rs
  crates/astria-cli/src/sequencer/mod.rs
  crates/astria-cli/src/sequencer/sudo/fee_asset.rs
  crates/astria-cli/src/sequencer/sudo/ibc_relayer.rs
  crates/astria-cli/src/sequencer/sudo/mod.rs
  crates/astria-cli/src/sequencer/sudo/sudo_address_change.rs
  crates/astria-cli/src/sequencer/sudo/validator_update.rs
  crates/astria-cli/src/sequencer/transfer.rs
Due: cli

overlooked renames
  crates/astria-cli/src/bridge/collect.rs
  crates/astria-cli/src/bridge/mod.rs
  crates/astria-cli/src/bridge/submit.rs
  crates/astria-cli/src/lib.rs
  crates/astria-cli/src/sequencer/mod.rs
Due: cli

refactor(cli): merge argument parsing and command execution
  crates/astria-cli/src/bridge/collect.rs
  crates/astria-cli/src/bridge/mod.rs
  crates/astria-cli/src/bridge/submit.rs
  crates/astria-cli/src/cli/mod.rs
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/bridge/mod.rs
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/lib.rs
  crates/astria-cli/src/main.rs
  crates/astria-cli/src/sequencer/account.rs
  crates/astria-cli/src/sequencer/address.rs
  crates/astria-cli/src/sequencer/balance.rs
  crates/astria-cli/src/sequencer/block_height.rs
  crates/astria-cli/src/sequencer/bridge_lock.rs
  crates/astria-cli/src/sequencer/init_bridge_account.rs
  crates/astria-cli/src/sequencer/mod.rs
  crates/astria-cli/src/sequencer/sudo/fee_asset.rs
  crates/astria-cli/src/sequencer/sudo/ibc_relayer.rs
  crates/astria-cli/src/sequencer/sudo/mod.rs
  crates/astria-cli/src/sequencer/sudo/sudo_address_change.rs
  crates/astria-cli/src/sequencer/sudo/validator_update.rs
  crates/astria-cli/src/sequencer/transfer.rs
  crates/astria-cli/src/utils.rs
Due: cli

have the bridge subcmd match the rest
  crates/astria-cli/src/bridge/collect.rs
  crates/astria-cli/src/bridge/mod.rs
  crates/astria-cli/src/bridge/submit.rs
Due: cli

don't propagate version, don't introduce new features
  crates/astria-cli/src/lib.rs
Due: cli

fix after rebase
  crates/astria-cli/src/utils.rs
Due: cli

refactor(cli): merge argument parsing and command execution (#1568)
  crates/astria-cli/src/bridge/collect.rs
  crates/astria-cli/src/bridge/mod.rs
  crates/astria-cli/src/bridge/submit.rs
  crates/astria-cli/src/cli/mod.rs
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/bridge/mod.rs
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/lib.rs
  crates/astria-cli/src/main.rs
  crates/astria-cli/src/sequencer/account.rs
  crates/astria-cli/src/sequencer/address.rs
  crates/astria-cli/src/sequencer/balance.rs
  crates/astria-cli/src/sequencer/block_height.rs
  crates/astria-cli/src/sequencer/bridge_lock.rs
  crates/astria-cli/src/sequencer/init_bridge_account.rs
  crates/astria-cli/src/sequencer/mod.rs
  crates/astria-cli/src/sequencer/sudo/fee_asset.rs
  crates/astria-cli/src/sequencer/sudo/ibc_relayer.rs
  crates/astria-cli/src/sequencer/sudo/mod.rs
  crates/astria-cli/src/sequencer/sudo/sudo_address_change.rs
  crates/astria-cli/src/sequencer/sudo/validator_update.rs
  crates/astria-cli/src/sequencer/transfer.rs
  crates/astria-cli/src/utils.rs
Due: cli

bridge sudo change command
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/commands/sequencer.rs
Due: cli

requested changes
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/app/action_handler.rs
  crates/astria-sequencer/src/app/fee_handler.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_block_fees.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/assets/state_ext.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/init_bridge_account_action.rs
  crates/astria-sequencer/src/bridge/mod.rs
  crates/astria-sequencer/src/fee_asset_change.rs
  crates/astria-sequencer/src/fees/mod.rs
  crates/astria-sequencer/src/fees/state_ext.rs
  crates/astria-sequencer/src/ibc/ibc_relayer_change.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/sequence/action.rs
  crates/astria-sequencer/src/sequence/mod.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

query bridge info, smoke test
  charts/deploy.just
  crates/astria-cli/src/cli/mod.rs
  crates/astria-cli/src/cli/sequencer.rs
  crates/astria-cli/src/commands/mod.rs
  crates/astria-cli/src/commands/sequencer.rs
Due: cli

chore(sequencer): simplify boolean expressions in `transaction container` (#1595)
  crates/astria-sequencer/src/mempool/transactions_container.rs
Due: sequencer

add comment
  crates/astria-sequencer/src/mempool/mod.rs
Due: sequencer

bridgeSudoChange, bridgeAccountInfo
  charts/deploy.just
  crates/astria-cli/src/sequencer/bridge_account.rs
  crates/astria-cli/src/sequencer/bridge_sudo_change.rs
  crates/astria-cli/src/sequencer/mod.rs
Due: cli

Separate test utils and shared utils
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/app/benchmark_and_test_utils.rs
  crates/astria-sequencer/src/app/benchmarks.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app/mempool.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_block_fees.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/benchmark_and_test_utils.rs
  crates/astria-sequencer/src/benchmark_utils.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/grpc/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/lib.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/mempool/mempool_state.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/test_utils.rs
  crates/astria-sequencer/src/transaction/checks.rs
Due: sequencer

fix error message
  crates/astria-sequencer/src/service/mempool/mod.rs
Due: sequencer

improve error message
  crates/astria-core/src/protocol/transaction/v1alpha1/action_group/mod.rs
Due: common

name cleanup
  crates/astria-core/src/generated/astria.bundle.v1alpha1.rs
  crates/astria-core/src/generated/astria.bundle.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.rs
  crates/astria-core/src/generated/astria.sequencerblock.v1alpha1.serde.rs
  proto/executionapis/astria/bundle/v1alpha1/bundle.proto
  proto/sequencerblockapis/astria/sequencerblock/v1alpha1/optimistic_block.proto
Due: none

split optimistic execution to separate file
  crates/astria-core/src/generated/astria.bundle.v1alpha1.rs
  proto/executionapis/astria/bundle/v1alpha1/bundle.proto
  proto/executionapis/astria/bundle/v1alpha1/optimistic_execution.proto
Due: none
