Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: merkle
      name: astria-merkle
      paths:
        - crates/astria-merkle/**
    - component_id: common
      name: common
      paths:
        - crates/astria-core/src/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-core/src/generated/**'
  - 'crates/astria-build-info/**'
  - 'crates/astria-grpc-mock/**'
  - 'crates/astria-grpc-mock-test/**'
  - 'crates/astria-grpc-mock-test-codegen/**'
  - 'crates/astria-test-utils/**'

Requested changes from Fraser
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/celestia/reconstruct.rs
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/sequencer/snapshots/astria_conductor__sequencer__reporting__tests__snapshots.snap
  crates/astria-core/src/primitive/v1/mod.rs
  crates/astria-core/src/protocol/bridge/v1alpha1/mod.rs
  crates/astria-core/src/protocol/mod.rs
  crates/astria-core/src/protocol/test_utils.rs
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  crates/astria-core/src/sequencerblock/v1alpha1/celestia.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/proposal/commitment.rs
Due: conductor, sequencer, common

Update snapshot
  crates/astria-conductor/src/sequencer/snapshots/astria_conductor__sequencer__reporting__tests__snapshots-2.snap
Due: conductor

fix(sequencer)!: take funds from bridge address if ics20 withdrawal is signed by withdrawer
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
Due: sequencer

allow putting a transaction into the mempool if its nonce is ahead
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/service/mempool.rs
  crates/astria-sequencer/src/transaction/mod.rs
Due: sequencer

test that future nonce transactions make it into the mempool
  crates/astria-sequencer/src/service/mempool/mod.rs
  crates/astria-sequencer/src/service/mempool/tests.rs
Due: sequencer

test that a valid nonce makes it into the mempool
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/service/mempool/tests.rs
Due: sequencer

unit tests for invalid nonce error
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-sequencer/src/transaction/tests.rs
Due: sequencer

define genesis app state in protobuf
  crates/astria-core/src/generated/astria.protocol.genesis.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1alpha1.serde.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/protocol/genesis/mod.rs
  crates/astria-core/src/protocol/genesis/v1alpha1.rs
  crates/astria-core/src/protocol/mod.rs
  proto/protocolapis/astria/protocol/genesis/v1alpha1/types.proto
Due: common

clippy
  crates/astria-core/src/crypto.rs
Due: common

replace all app state by new genesis app state
  crates/astria-core/src/generated/astria.protocol.genesis.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1alpha1.serde.rs
  crates/astria-core/src/lib.rs
  crates/astria-core/src/protocol/genesis/v1alpha1.rs
  crates/astria-sequencer/src/accounts/component.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/bridge/component.rs
  crates/astria-sequencer/src/ibc/component.rs
  crates/astria-sequencer/src/sequence/component.rs
  crates/astria-sequencer/src/service/consensus.rs
  proto/protocolapis/astria/protocol/genesis/v1alpha1/types.proto
Due: sequencer, common

fix all tests
  crates/astria-core/src/crypto.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1alpha1.rs
  crates/astria-core/src/primitive/v1/u128.rs
  crates/astria-core/src/protocol/genesis/v1alpha1.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/service/consensus.rs
  tools/protobuf-compiler/src/main.rs
Due: sequencer, common

remove serdejson from toml
  Cargo.lock
  crates/astria-core/Cargo.toml
Due: none

fix proto formatting
  proto/protocolapis/astria/protocol/genesis/v1alpha1/types.proto
Due: none

snapshot
  crates/astria-core/src/protocol/genesis/snapshots/astria_core__protocol__genesis__v1alpha1__tests__genesis_state_is_unchanged.snap
Due: common

update sequencer utils
  crates/astria-sequencer-utils/src/genesis_example.rs
Due: sequencer

upgrade genesis state tests
  Cargo.lock
  crates/astria-core/Cargo.toml
  crates/astria-core/src/lib.rs
  crates/astria-core/src/protocol/genesis/snapshots/astria_core__protocol__genesis__v1alpha1__tests__genesis_state_is_unchanged.snap.new
  crates/astria-core/src/protocol/genesis/v1alpha1.rs
  crates/astria-core/src/sequencer.rs
Due: common

update genesis in sequencer chart
  charts/sequencer/files/cometbft/config/genesis.json
  charts/sequencer/templates/_helpers.tpl
Due: none

bump chart
  charts/sequencer/Chart.yaml
Due: none

also construct balances in the correct way
  charts/sequencer/files/cometbft/config/genesis.json
Due: none

add chain ID to genesis state
  crates/astria-core/src/generated/astria.protocol.genesis.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1alpha1.serde.rs
  crates/astria-core/src/protocol/genesis/snapshots/astria_core__protocol__genesis__v1alpha1__tests__genesis_state_is_unchanged.snap
  crates/astria-core/src/protocol/genesis/v1alpha1.rs
  crates/astria-sequencer-utils/src/genesis_example.rs
  crates/astria-sequencer/src/app/test_utils.rs
  proto/protocolapis/astria/protocol/genesis/v1alpha1/types.proto
Due: sequencer, common

refactor(ci): execute ics20 test from statefulset celestia container (#1302)
  .github/workflows/docker-build.yml
  charts/celestia-local/Chart.yaml
  charts/celestia-local/templates/statefulsets.yaml
  charts/deploy.just
  charts/ibc-test.just
  justfile
Due: none

various updates to mempool
  Cargo.lock
  crates/astria-sequencer/.gitignore
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/service/mempool.rs
Due: sequencer

cover deposits case
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/executor/client.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/simulator.rs
  crates/astria-core/src/composer/v1alpha1/mod.rs
  crates/astria-core/src/lib.rs
Due: composer, common

initial version of trusted builder mvp
  Cargo.lock
  crates/astria-composer/Cargo.toml
  crates/astria-composer/justfile
  crates/astria-composer/local.env.example
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/config.rs
  crates/astria-composer/src/executor/client.rs
  crates/astria-composer/src/executor/mock_grpc.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/simulator.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/metrics.rs
  crates/astria-composer/tests/blackbox/api.rs
  crates/astria-composer/tests/blackbox/geth_collector.rs
  crates/astria-composer/tests/blackbox/grpc_collector.rs
  crates/astria-composer/tests/blackbox/helper/mock_grpc.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mock_grpc.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-core/src/composer/v1alpha1/mod.rs
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/protocol/mod.rs
  crates/astria-core/src/protocol/test_utils.rs
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  crates/astria-sequencer/src/proposal/commitment.rs
Due: conductor, composer, sequencer, common

run fmt and lint
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-core/src/composer/mod.rs
  crates/astria-core/src/composer/v1alpha1/mod.rs
Due: conductor, common

execution api updates for trusted builder
  charts/evm-rollup/values.yaml
  crates/astria-conductor/src/executor/client.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-core/src/composer/mod.rs
  crates/astria-core/src/composer/v1alpha1/mod.rs
  crates/astria-core/src/execution/v1alpha2/mod.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.rs
  crates/astria-core/src/generated/astria.composer.v1alpha1.serde.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.rs
  crates/astria-core/src/generated/astria.execution.v1alpha2.serde.rs
  crates/astria-core/src/generated/mod.rs
  crates/astria-core/src/lib.rs
  proto/composerapis/astria/composer/v1alpha1/trusted_builder.proto
  proto/executionapis/astria/execution/v1alpha2/execution.proto
Due: conductor, common

dont log just command
  charts/ibc-test.just
Due: none

remove helper just commands no longer needed
  charts/ibc-test.just
Due: none

cleanup just variable usage
  charts/ibc-test.just
Due: none

updates after celestia-appd now ran via kubectl
  .gitignore
  charts/README.md
Due: none

can use "latest" tag for withdrawer
  charts/evm-bridge-withdrawer/values.yaml
Due: none

add _default command to kubetail module
  dev/kubetail.just
Due: none

update charts for trusted builder
  charts/composer/templates/configmap.yaml
  charts/composer/values.yaml
  charts/evm-rollup/templates/service.yaml
  charts/evm-rollup/values.yaml
  dev/values/rollup/dev.yaml
Due: none

celestia-node as evm-stack dependency
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
  charts/evm-stack/values.yaml
Due: none

remove rollup-evm celestia-node
  charts/evm-rollup/templates/configmap.yaml
Due: none

test celestia-node-url
  charts/evm-rollup/templates/configmap.yaml
Due: none

test tpl
  charts/evm-stack/values.yaml
Due: none

test tpl
  charts/evm-rollup/templates/configmap.yaml
Due: none

test tpl
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-stack/values.yaml
Due: none

test celestia service values
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/values.yaml
Due: none
