Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: merkle
      name: astria-merkle
      paths:
        - crates/astria-merkle/**
    - component_id: common
      name: common
      paths:
        - crates/astria-core/src/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-core/src/generated/**'
  - 'crates/astria-build-info/**'
  - 'crates/astria-grpc-mock/**'
  - 'crates/astria-grpc-mock-test/**'
  - 'crates/astria-grpc-mock-test-codegen/**'
  - 'crates/astria-test-utils/**'

allow deadcode
  lint/tracing_debug_field/ui/main.rs
Due: none

chore(ci): bump rust toolchain to 1.81 (#1523)
  .github/workflows/lint.yml
  .github/workflows/reusable-build.yml
  .github/workflows/test.yml
  Cargo.lock
  containerfiles/Dockerfile
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-conductor/src/block_cache.rs
  crates/astria-conductor/src/lib.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  justfile
  lint/tracing_debug_field/Cargo.toml
  lint/tracing_debug_field/rust-toolchain
  lint/tracing_debug_field/ui/main.rs
  rust-toolchain.toml
Due: conductor, sequencer

address comments from @noot
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-core/src/protocol/test_utils.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action_group.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app/mempool.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_block_fees.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/benchmark_utils.rs
Due: composer, sequencer, common

feat(sequencer)!: Add IBC sudo change action (#1509)
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.rs
  crates/astria-core/src/generated/astria.protocol.transactions.v1alpha1.serde.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/transaction/checks.rs
  crates/astria-sequencer/src/transaction/mod.rs
  proto/protocolapis/astria/protocol/transactions/v1alpha1/types.proto
Due: sequencer, common

Remove clippy exception from test
  .github/workflows/test.yml
Due: none

Requested changes
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-grpc-mock/src/mock.rs
  crates/astria-grpc-mock/src/mounted_mock.rs
  crates/astria-grpc-mock/src/response.rs
Due: conductor

Requested changes
  crates/astria-core/src/primitive/v1/asset/denom.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
Due: sequencer, common

use block hash within storage key for deposits
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
Due: sequencer

typo fix
  crates/astria-core/src/primitive/v1/asset/denom.rs
Due: common

chore(sequencer)!: change `Deposit` byte length calculation (#1507)
  crates/astria-core/src/primitive/v1/asset/denom.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/app/tests_block_fees.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/mod.rs
  crates/astria-sequencer/src/transaction/checks.rs
Due: sequencer, common

Requested changes
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
  crates/astria-grpc-mock/src/response.rs
Due: conductor

nit: swap allow for expect
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
Due: conductor

ci(cli): astria-cli image for smoke tests (#1504)
  .github/workflows/docker-build.yml
  charts/deploy.just
  charts/ibc-test.just
  justfile
Due: none

fix(ci): workflow file issue
  .github/workflows/reusable-build.yml
Due: none

respond to all comments by @SuperFluffy except builder pattern
  crates/astria-core/src/protocol/transaction/v1alpha1/action_group.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action_group/mod.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action_group/tests.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app/mempool.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_block_fees.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/benchmark_utils.rs
Due: sequencer, common

fix(ci): workflow file issue (#1560)
  .github/workflows/reusable-build.yml
Due: none

clean up and fix unit tests
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app/mempool.rs
  crates/astria-sequencer/src/sequencer.rs
  crates/astria-sequencer/src/service/consensus.rs
Due: sequencer

cleanup
  crates/astria-sequencer/src/app/mod.rs
Due: sequencer

Requested changes
  Cargo.lock
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/src/celestia/builder.rs
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor/inner.rs
  crates/astria-conductor/src/sequencer/mod.rs
Due: conductor

tapl fmt
  crates/astria-conductor/Cargo.toml
Due: conductor

Chart bumps
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

serviceMonitor
  charts/hermes/Chart.yaml
  charts/hermes/templates/deployment.yaml
  charts/hermes/templates/service.yaml
  charts/hermes/templates/servicemonitor.yaml
  charts/hermes/values.yaml
Due: none

composer
  charts/composer/templates/_helpers.tpl
  charts/composer/templates/deployment.yaml
  charts/composer/templates/prometheusrule.yaml
  charts/composer/templates/service.yaml
  charts/composer/templates/servicemonitor.yaml
  charts/composer/values.yaml
Due: none

initial refactor, blockheight and nonce commands
  Cargo.lock
  crates/astria-cli/Cargo.toml
  crates/astria-cli/src/config.rs
  crates/astria-cli/src/lib.rs
  crates/astria-cli/src/main.rs
  crates/astria-cli/src/query/blockheight.rs
  crates/astria-cli/src/query/mod.rs
  crates/astria-cli/src/query/nonce.rs
  justfile
Due: cli

switch to combined builder for UnsignedTransaction and TransactionParams
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-cli/src/commands/bridge/submit.rs
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/executor/bundle_factory/tests.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-core/src/protocol/test_utils.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/mod.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app/mempool.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_block_fees.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/benchmark_utils.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/consensus.rs
  crates/astria-sequencer/src/transaction/checks.rs
Due: composer, sequencer, cli, common

add IbcSudo action pieces
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action_group/mod.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
Due: sequencer, common

cleanup
  crates/astria-composer/src/executor/bundle_factory/tests.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action_group/mod.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action_group/tests.rs
Due: composer, common

chore(sequencer)!: put blocks and deposits to non-verified storage (ENG-812) (#1525)
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_finalize_block_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_genesis_snapshot.snap
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/assets/state_ext.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/utils.rs
Due: sequencer

update breaking test
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
Due: sequencer

Update crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_execute_transaction_with_every_action_snapshot.snap
Due: sequencer

json-rpc ingress
  charts/graph-node/templates/ingress.yaml
  charts/graph-node/values.yaml
Due: none

fix(conductor): fix flaky soft_and_firm test (#1472)
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
  crates/astria-grpc-mock/src/mock.rs
  crates/astria-grpc-mock/src/mock_server.rs
  crates/astria-grpc-mock/src/mock_set.rs
  crates/astria-grpc-mock/src/mounted_mock.rs
  crates/astria-grpc-mock/src/response.rs
Due: conductor

ipfs ingress
  charts/graph-node/templates/ingress.yaml
  charts/graph-node/values.yaml
Due: none

feat(docker): use $TARGETBINARY as the executable name
  containerfiles/Dockerfile
Due: none

bump msrv of crates and make according changes
  crates/astria-bridge-contracts/Cargo.toml
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/ethereum.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mock_sequencer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mod.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-build-info/Cargo.toml
  crates/astria-cli/Cargo.toml
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/executor/mod.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-config/Cargo.toml
  crates/astria-core/Cargo.toml
  crates/astria-core/src/protocol/abci.rs
  crates/astria-core/src/protocol/genesis/v1alpha1.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-core/src/sequencerblock/v1alpha1/block.rs
  crates/astria-eyre/Cargo.toml
  crates/astria-grpc-mock-test/Cargo.toml
  crates/astria-grpc-mock/Cargo.toml
  crates/astria-merkle/Cargo.toml
  crates/astria-merkle/benches/benchmark.rs
  crates/astria-sequencer-client/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/tests/blackbox/main.rs
  crates/astria-sequencer-utils/Cargo.toml
  crates/astria-sequencer-utils/src/blob_parser.rs
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_app/mempool.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/bridge/query.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
  crates/astria-sequencer/src/test_utils.rs
  crates/astria-sequencer/src/transaction/mod.rs
  crates/astria-telemetry/Cargo.toml
  crates/astria-test-utils/Cargo.toml
  crates/astria-test-utils/src/mock/geth.rs
Due: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

Make asset balance sorted for query
  crates/astria-sequencer/src/accounts/query.rs
Due: sequencer

comment dockerfile oddity
  containerfiles/Dockerfile
Due: none

fix test
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
Due: conductor

Migrate to `LazyLock`
  Cargo.lock
  Cargo.toml
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-composer/Cargo.toml
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/src/rollup.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-conductor/Cargo.toml
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-config/Cargo.toml
  crates/astria-config/src/tests.rs
  crates/astria-sequencer-relayer/Cargo.toml
  crates/astria-sequencer-relayer/tests/blackbox/helpers/test_sequencer_relayer.rs
Due: conductor, composer, sequencer-relayer
