Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: merkle
      name: astria-merkle
      paths:
        - crates/astria-merkle/**
    - component_id: common
      name: common
      paths:
        - crates/astria-core/src/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-core/src/generated/**'
  - 'crates/astria-build-info/**'
  - 'crates/astria-grpc-mock/**'
  - 'crates/astria-grpc-mock-test/**'
  - 'crates/astria-grpc-mock-test-codegen/**'
  - 'crates/astria-test-utils/**'

Add fee reporting from sequencer
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/sequence/action.rs
  crates/astria-sequencer/src/state_ext.rs
Due: sequencer, common

fix typo README.md
  charts/README.md
Due: none

fix typo README.md
  crates/astria-eyre/README.md
Due: none

fix typo README.md
  crates/astria-sequencer-utils/README.md
Due: sequencer

test
  charts/evm-rollup/templates/configmap.yaml
Due: none

test
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-stack/Chart.yaml
Due: none

test
  charts/evm-stack/Chart.lock
Due: none

test
  charts/evm-faucet/templates/deployment.yaml
Due: none

test
  charts/evm-bridge-withdrawer/templates/servicemonitor.yaml
Due: none

test
  charts/composer/templates/secretproviderclass.yaml
Due: none

test
  charts/composer/templates/deployment.yaml
Due: none

test
  charts/composer/templates/configmap.yaml
  charts/composer/templates/deployment.yaml
Due: none

test
  charts/evm-faucet/templates/deployment.yaml
  charts/evm-faucet/templates/secretproviderclass.yaml
Due: none

test
  charts/evm-faucet/templates/secretproviderclass.yaml
Due: none

remove celestia-node dependency
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

use dict to pass templates
  charts/evm-rollup/templates/configmap.yaml
Due: none

clean up instrumentation and tracing, remove new trace events from long lived tasks
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
Due: none

remove unecessary scoping from nonce-fetch
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mock_sequencer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/main.rs
Due: none

rm bad import
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mock_sequencer.rs
Due: none

address clippy
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
Due: none

streamline expected<>actual action assertion
  crates/astria-bridge-withdrawer/tests/blackbox/main.rs
Due: none

import trait as _
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
Due: none

more clippy
  crates/astria-bridge-withdrawer/tests/blackbox/main.rs
Due: none

test(bridge withdrawer): remove unit tests and add blackbox tests (#1232)
  Cargo.lock
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/ethereum.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mock_cometbft.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mock_sequencer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/mod.rs
  crates/astria-bridge-withdrawer/tests/blackbox/helpers/test_bridge_withdrawer.rs
  crates/astria-bridge-withdrawer/tests/blackbox/main.rs
Due: none

Apply suggestions from Fraser code review
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-sequencer/src/state_ext.rs
Due: sequencer, common

Use prost::Name
  crates/astria-core/src/lib.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/sequence/action.rs
  crates/astria-sequencer/src/state_ext.rs
Due: sequencer, common

Minor changes
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
Due: sequencer, common

Minor changes
  crates/astria-core/src/lib.rs
Due: common

Apply suggestions from code review
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
Due: none

Implement protobuf
  crates/astria-composer/src/executor/bundle_factory/mod.rs
  crates/astria-composer/src/test_utils.rs
  crates/astria-core/src/lib.rs
  crates/astria-core/src/protocol/transaction/v1alpha1/action.rs
  crates/astria-sequencer/src/accounts/action.rs
  crates/astria-sequencer/src/sequence/action.rs
Due: composer, sequencer, common
