Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: merkle
      name: astria-merkle
      paths:
        - crates/astria-merkle/**
    - component_id: common
      name: common
      paths:
        - crates/astria-core/src/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-core/src/generated/**'
  - 'crates/astria-build-info/**'
  - 'crates/astria-grpc-mock/**'
  - 'crates/astria-grpc-mock-test/**'
  - 'crates/astria-grpc-mock-test-codegen/**'
  - 'crates/astria-test-utils/**'

address review comments - 4
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/app/event_bus.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/grpc/mod.rs
  crates/astria-sequencer/src/grpc/optimistic.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

stop height of 0 means do not stop
  crates/astria-conductor/src/executor/mod.rs
Due: conductor

charts updates
  charts/evm-rollup/Chart.yaml
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

remove num_removed_currency_pairs as we don't need it
  crates/astria-core/src/connect/oracle.rs
  crates/astria-core/src/protocol/genesis/v1.rs
  crates/astria-sequencer/src/action_handler/impls/add_currency_pairs.rs
  crates/astria-sequencer/src/app/vote_extension.rs
  crates/astria-sequencer/src/connect/oracle/state_ext.rs
  crates/astria-sequencer/src/connect/oracle/storage/values/currency_pair_state.rs
Due: sequencer, common

fix charts
  charts/evm-rollup/files/genesis/geth-genesis.json
  dev/values/rollup/dev.yaml
Due: none

Fix values
  charts/evm-rollup/values.yaml
Due: none

fix clippy
  crates/astria-core/src/connect/oracle.rs
  crates/astria-sequencer/src/action_handler/impls/add_currency_pairs.rs
  crates/astria-sequencer/src/app/benchmark_and_test_utils.rs
  crates/astria-sequencer/src/connect/oracle/state_ext.rs
  crates/astria-sequencer/src/grpc/connect.rs
Due: sequencer, common

unit tests
  crates/astria-core/src/protocol/transaction/v1/action/mod.rs
  crates/astria-sequencer/src/app/benchmark_and_test_utils.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_at_genesis.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_execute_every_action.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_finalize_block.snap
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/fees/component.rs
  crates/astria-sequencer/src/service/mempool/tests.rs
Due: sequencer, common

update snapshots
  crates/astria-core/src/protocol/genesis/snapshots/astria_core__protocol__genesis__v1__tests__genesis_state.snap
Due: common

fix tests
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_at_genesis.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_execute_every_action.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_finalize_block.snap
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
Due: sequencer

requested changes and fix ibc tests
  crates/astria-conductor/src/celestia/mod.rs
  crates/astria-conductor/src/conductor/inner.rs
  crates/astria-conductor/src/executor/mod.rs
  crates/astria-conductor/src/executor/state.rs
  crates/astria-core/src/execution/v1/mod.rs
  dev/values/rollup/ibc-bridge-test.yaml
Due: conductor, common

genesis improvements, new smoke test
  .github/workflows/docker-build.yml
  charts/deploy.just
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-rollup/values.yaml
  dev/values/rollup/dev.yaml
  dev/values/rollup/ibc-bridge-test.yaml
Due: none

fix values.yaml
  dev/values/rollup/ibc-bridge-test.yaml
Due: none

add values
  dev/values/rollup/evm-restart-test.yaml
Due: none

fix import
  crates/astria-sequencer/src/action_handler/impls/ics20_withdrawal.rs
Due: sequencer

fix devTag
  charts/evm-rollup/values.yaml
Due: none

chore(ci): update rust lint workflows and `just` recipes (#1871)
  .github/workflows/lint.yml
  .github/workflows/test.yml
  justfile
Due: none

deploy chat-rollup instead of geth-node
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/templates/service.yaml
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/values.yaml
  charts/evm-stack/values.yaml
  dev/values/rollup/dev.yaml
Due: none

bump chart versions
  charts/celestia-local/Chart.yaml
  charts/celestia-node/Chart.yaml
  charts/evm-stack/Chart.yaml
  charts/hermes/Chart.yaml
  charts/sequencer/Chart.yaml
Due: none

fix charts
  charts/evm-stack/Chart.yaml
Due: none

update Chart.lock
  charts/evm-stack/Chart.lock
Due: none

bump chart versions
  charts/celestia-local/Chart.yaml
  charts/evm-stack/Chart.yaml
Due: none

bump chart versions
  charts/evm-stack/Chart.yaml
Due: none

maybe fix yaml lint
  charts/sequencer/values.yaml
Due: none

chore(sequencer-relayer): change blob submitter to use boxed blocks (#1863)
  crates/astria-sequencer-relayer/src/relayer/mod.rs
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
Due: sequencer-relayer

fix(sequencer)!: fix fungible token packet data import (#1880)
  crates/astria-sequencer/src/action_handler/impls/ics20_withdrawal.rs
Due: sequencer

feat(sequencer): use uds for abci
  Cargo.lock
  charts/sequencer/files/cometbft/config/config.toml
  charts/sequencer/templates/_helpers.tpl
  charts/sequencer/templates/configmaps.yaml
  charts/sequencer/templates/statefulsets.yaml
  charts/sequencer/values.yaml
  crates/astria-sequencer/Cargo.toml
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/sequencer.rs
  dev/values/validators/single.yml
Due: sequencer

revert values ovverride
  dev/values/validators/single.yml
Due: none

change config var name when replacing
  charts/sequencer/templates/configmaps.yaml
  crates/astria-sequencer/local.env.example
  crates/astria-sequencer/src/config.rs
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

minors
  charts/sequencer/Chart.yaml
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

comments
  crates/astria-sequencer/src/sequencer.rs
Due: sequencer

security context stuff
  charts/sequencer/files/scripts/init-cometbft.sh
  charts/sequencer/templates/statefulsets.yaml
  charts/sequencer/values.yaml
Due: none

update genesis chart
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-rollup/values.yaml
  charts/sequencer/values.yaml
Due: none

add market map actions
  crates/astria-core/src/generated/astria.protocol.fees.v1.rs
  crates/astria-core/src/generated/astria.protocol.fees.v1.serde.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1.rs
  crates/astria-core/src/generated/astria.protocol.genesis.v1.serde.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.serde.rs
  crates/astria-core/src/protocol/fees/v1.rs
  crates/astria-core/src/protocol/genesis/v1.rs
  crates/astria-core/src/protocol/transaction/v1/action/group/mod.rs
  crates/astria-core/src/protocol/transaction/v1/action/mod.rs
  crates/astria-sequencer-utils/src/genesis_example.rs
  crates/astria-sequencer/src/action_handler/impls/create_markets.rs
  crates/astria-sequencer/src/action_handler/impls/fee_change.rs
  crates/astria-sequencer/src/action_handler/impls/mod.rs
  crates/astria-sequencer/src/action_handler/impls/remove_market_authorities.rs
  crates/astria-sequencer/src/action_handler/impls/remove_markets.rs
  crates/astria-sequencer/src/action_handler/impls/transaction.rs
  crates/astria-sequencer/src/action_handler/impls/update_markets.rs
  crates/astria-sequencer/src/action_handler/impls/update_params.rs
  crates/astria-sequencer/src/action_handler/impls/upsert_markets.rs
  crates/astria-sequencer/src/app/benchmark_and_test_utils.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_at_genesis.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_execute_every_action.snap
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_finalize_block.snap
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/connect/market_map/component.rs
  crates/astria-sequencer/src/fees/component.rs
  crates/astria-sequencer/src/fees/mod.rs
  crates/astria-sequencer/src/fees/query.rs
  crates/astria-sequencer/src/fees/storage/values.rs
  crates/astria-sequencer/src/test_utils.rs
  crates/astria-sequencer/src/transaction/checks.rs
  proto/protocolapis/astria/protocol/fees/v1/types.proto
  proto/protocolapis/astria/protocol/genesis/v1/types.proto
  proto/protocolapis/astria/protocol/transaction/v1/action.proto
Due: sequencer, common

add better comments, new test, fix snapshot
  crates/astria-core/src/protocol/genesis/snapshots/astria_core__protocol__genesis__v1__tests__genesis_state.snap
  crates/astria-core/src/protocol/transaction/v1/action/mod.rs
  crates/astria-sequencer/src/action_handler/impls/remove_markets.rs
  crates/astria-sequencer/src/app/test_utils.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/test_utils.rs
Due: sequencer, common

add fee change tests
  crates/astria-core/src/protocol/transaction/v1/action/mod.rs
  crates/astria-sequencer/src/action_handler/impls/fee_change.rs
Due: sequencer, common

fix custom lints
  .github/workflows/test.yml
  lint/tracing_debug_field/rust-toolchain
Due: none

bump versions, remove expect attribute
  .github/workflows/test.yml
  Cargo.lock
  crates/astria-sequencer-relayer/src/relayer/write/mod.rs
  lint/tracing_debug_field/Cargo.toml
Due: sequencer-relayer

bump docker version, add dep
  containerfiles/Dockerfile
  lint/tracing_debug_field/rust-toolchain
Due: none
