Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

minor updates
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/tests/blackbox/helper/mock_sequencer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

minor changes
  crates/astria-composer/src/executor/tests.rs
Due: composer

config updates, use script for job, configmap
  charts/bridge-test/files/scripts/test-ibc-transfer.sh
  charts/bridge-test/templates/configmap.yaml
  charts/bridge-test/templates/job.yaml
  charts/bridge-test/values.yaml
  charts/celestia-local/templates/ingress.yaml
  charts/deploy.just
  charts/sequencer/values.yaml
  dev/bridgetester.just
  dev/values/hermes/local.yml
Due: none

bech32
  charts/bridge-test/files/scripts/test-ibc-transfer.sh
  charts/bridge-test/templates/configmap.yaml
  charts/bridge-test/values.yaml
  charts/deploy.just
  dev/bridgetester.just
  dev/values/hermes/local.yaml
Due: none

add error messages
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/withdrawer/submitter/signer.rs
Due: none

more docs
  specs/bridge.md
Due: none

action details
  specs/bridge.md
Due: none

fix
  specs/bridge.md
Due: none

add details
  specs/bridge.md
Due: none

line length
  specs/bridge.md
Due: none

lint
  specs/bridge.md
Due: none

fix service name
  crates/astria-bridge-withdrawer/src/lib.rs
  crates/astria-bridge-withdrawer/src/main.rs
  crates/astria-bridge-withdrawer/src/withdrawer/mod.rs
Due: none

chore: remove unused dependencies (#1174)
  Cargo.lock
  crates/astria-bridge-withdrawer/Cargo.toml
  crates/astria-conductor/Cargo.toml
  crates/astria-core/Cargo.toml
  crates/astria-sequencer-relayer/Cargo.toml
Due: conductor, sequencer-relayer

update chart versions
  charts/sequencer/Chart.yaml
Due: none

Chore(charts): update sequencer faucet chart (#1140)
  charts/sequencer-faucet/Chart.yaml
  charts/sequencer-faucet/templates/configmap.yaml
  charts/sequencer-faucet/templates/deployment.yaml
  charts/sequencer-faucet/values.yaml
  charts/sequencer/Chart.yaml
  charts/sequencer/values.yaml
Due: none

Chore(charts): enable cometbft values configurations
  charts/sequencer/files/cometbft/config/config.toml
  charts/sequencer/values.yaml
Due: none

add benchmarks for merkle tree
  Cargo.lock
  Cargo.toml
  crates/astria-conductor/src/celestia/block_verifier.rs
  crates/astria-core/src/sequencerblock/v1alpha1/celestia.rs
  crates/astria-merkle/Cargo.toml
  crates/astria-merkle/benches/benchmark.rs
  crates/astria-merkle/src/lib.rs
Due: conductor, astria-merkle, common

some stuff
  charts/deploy.just
  crates/astria-cli/src/commands/sequencer.rs
  dev/values/rollup/dev.yaml
  dev/values/validators/all.yml
Due: cli

tx deposit working again
  charts/deploy.just
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-rollup/values.yaml
  dev/values/rollup/dev.yaml
Due: none

update address field
  dev/values/rollup/dev.yaml
Due: none

cargo format
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/tests/blackbox/helper/mock_sequencer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

refactor(core): parse ics20 denoms
  Cargo.lock
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/withdrawer/mod.rs
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-core/Cargo.toml
  crates/astria-core/src/primitive/v1/asset.rs
  crates/astria-core/src/primitive/v1/asset/denom.rs
  crates/astria-core/src/primitive/v1/asset/mod.rs
  crates/astria-core/src/protocol/asset/v1alpha1/mod.rs
  crates/astria-sequencer-client/src/tests/http.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/api_state_ext.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/asset/query.rs
  crates/astria-sequencer/src/asset/state_ext.rs
  crates/astria-sequencer/src/bridge/bridge_lock_action.rs
  crates/astria-sequencer/src/bridge/bridge_sudo_change_action.rs
  crates/astria-sequencer/src/bridge/bridge_unlock_action.rs
  crates/astria-sequencer/src/bridge/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
  crates/astria-sequencer/src/ibc/state_ext.rs
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/state_ext.rs
Due: sequencer, cli, common

fmt
  crates/astria-cli/src/commands/sequencer.rs
  crates/astria-core/src/protocol/asset/v1alpha1/mod.rs
  crates/astria-sequencer-client/src/tests/http.rs
Due: cli, common

Add cometbft value configurations
  charts/sequencer/Chart.lock
  charts/sequencer/files/cometbft/config/config.toml
  charts/sequencer/files/cometbft/config/genesis.json
  charts/sequencer/values.yaml
Due: none

fix name
  crates/astria-bridge-withdrawer/src/withdrawer/ethereum/watcher.rs
Due: none

fix renaming
  crates/astria-bridge-withdrawer/build.rs
  crates/astria-bridge-withdrawer/src/api.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/batch.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/convert.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/generated/astria_bridgeable_erc20.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/generated/astria_withdrawer.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/generated/astria_withdrawer_interface.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/generated/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/test_utils.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/state.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/signer.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/tests.rs
  crates/astria-bridge-withdrawer/src/lib.rs
Due: none

consistent naming for Denom::unwrap* methods
  crates/astria-core/src/primitive/v1/asset/denom.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
Due: sequencer, common

make build function sync, remove status mock guard, ad-hoc json creation
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/executor/builder.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/tests/blackbox/helper/mock_sequencer.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
Due: composer

move response json inside mount, move chain_id check out of run_until_stopped
  crates/astria-composer/src/composer.rs
  crates/astria-composer/src/executor/mod.rs
  crates/astria-composer/src/executor/tests.rs
  crates/astria-composer/tests/blackbox/helper/mock_sequencer.rs
Due: composer

fix chart error
  charts/evm-rollup/templates/storageclasses.yaml
Due: none

Add option to purge geth mempool on startup
  charts/evm-rollup/Chart.yaml
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/values.yaml
Due: none

revert unintended change
  charts/evm-rollup/values.yaml
Due: none

specs: add native bridging protocol doc (#1177)
  specs/bridge.md
Due: none

replace exact prefix test with just prefix check
  crates/astria-core/src/primitive/v1/asset/denom.rs
  crates/astria-sequencer/src/ibc/ics20_transfer.rs
  crates/astria-sequencer/src/ibc/ics20_withdrawal.rs
Due: sequencer, common

add serde-transparent attribute on asset::Id
  crates/astria-core/src/primitive/v1/asset/mod.rs
Due: common

remove old TODO
  crates/astria-sequencer/src/accounts/state_ext.rs
Due: sequencer

clippy
  crates/astria-core/src/primitive/v1/asset/denom.rs
Due: common

human-readable prefix updates to geth
  charts/bridge-test/templates/job.yaml
  charts/evm-rollup/files/genesis/geth-genesis.json
  charts/evm-rollup/values.yaml
  dev/bridgetester.just
  dev/values/rollup/ibc-bridge-test.yaml
Due: none

startup refactor no tests
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/ethereum/watcher.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/startup.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/builder.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/mod.rs
  crates/astria-bridge-withdrawer/src/bridge_withdrawer/submitter/signer.rs
Due: none

Path conditions:
  conductor: any of: crates/astria-conductor/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  composer: any of: crates/astria-composer, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer: any of: crates/astria-sequencer/**, crates/astria-sequencer-utils/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  sequencer-relayer: any of: crates/astria-sequencer-relayer/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  cli: any of: crates/astria-cli/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  astria-merkle: any of: crates/astria-merkle/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
  common: any of: crates/astria-core/src/**, crates/astria-sequencer-validation/**, crates/astria-telemetry/**, crates/astria-sequencer-client/**, but not: crates/astria-core/src/generated/**, crates/astria-build-info/**, crates/astria-grpc-mock/**, crates/astria-grpc-mock-test/**, crates/astria-grpc-mock-test-codegen/**, crates/astria-test-utils/**
