Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: merkle
      name: astria-merkle
      paths:
        - crates/astria-merkle/**
    - component_id: common
      name: common
      paths:
        - crates/astria-core/src/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-core/src/generated/**'
  - 'crates/astria-build-info/**'
  - 'crates/astria-grpc-mock/**'
  - 'crates/astria-grpc-mock-test/**'
  - 'crates/astria-grpc-mock-test-codegen/**'
  - 'crates/astria-test-utils/**'

chart bump
  charts/evm-rollup/Chart.yaml
Due: none

wrong dir
  charts/evm-rollup/files/scripts/init-geth.sh
Due: none

revert changes to benchmarks temporarily
  crates/astria-sequencer/src/app/benchmarks.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/mempool/benchmarks.rs
Due: sequencer

add serviceAccountName for composer deployment
  charts/composer/Chart.yaml
  charts/composer/templates/deployment.yaml
Due: none

bump evm-stack
  charts/evm-stack/Chart.lock
  charts/evm-stack/Chart.yaml
Due: none

requested changes
  .github/workflows/docker-build.yml
  charts/just/run/mod.just
  system-tests/helpers/astria_cli.py
  system-tests/helpers/defaults.py
  system-tests/helpers/evm_controller.py
  system-tests/helpers/sequencer_controller.py
  system-tests/smoke_test.py
Due: none

fix helm args in upgrade test
  system-tests/helpers/sequencer_controller.py
Due: none

set nodeport
  charts/evm-rollup/templates/service.yaml
Due: none

don't need this
  charts/evm-rollup/templates/service.yaml
Due: none

apply several minor cleanups to sequencer
  crates/astria-core/src/protocol/mod.rs
  crates/astria-core/src/protocol/test_utils.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/tests_app/mempool.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/checked_actions/bridge_lock.rs
  crates/astria-sequencer/src/checked_actions/checked_action.rs
  crates/astria-sequencer/src/checked_actions/error.rs
  crates/astria-sequencer/src/checked_actions/fee_asset_change.rs
  crates/astria-sequencer/src/checked_actions/ibc_relayer_change.rs
  crates/astria-sequencer/src/checked_actions/ics20_withdrawal.rs
  crates/astria-sequencer/src/checked_actions/init_bridge_account.rs
  crates/astria-sequencer/src/checked_actions/markets_change.rs
  crates/astria-sequencer/src/checked_actions/mod.rs
  crates/astria-sequencer/src/checked_transaction/mod.rs
  crates/astria-sequencer/src/checked_transaction/tests.rs
  crates/astria-sequencer/src/mempool/transactions_container.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/service/mempool/mod.rs
  crates/astria-sequencer/src/test_utils/chain_initializer.rs
  crates/astria-sequencer/src/test_utils/ics20_withdrawal_builder.rs
  crates/astria-sequencer/src/test_utils/mod.rs
Due: sequencer, common

provide helper method in sequencer test fixture
  crates/astria-sequencer/src/app/tests_app/mempool.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_block_ordering.rs
  crates/astria-sequencer/src/test_utils/fixture.rs
Due: sequencer

fix changes from merge
  crates/astria-conductor/tests/blackbox/firm_only.rs
  crates/astria-conductor/tests/blackbox/helpers/macros.rs
  crates/astria-conductor/tests/blackbox/helpers/mod.rs
  crates/astria-conductor/tests/blackbox/soft_and_firm.rs
  crates/astria-conductor/tests/blackbox/soft_only.rs
Due: conductor

provide InsufficientFunds error type
  crates/astria-sequencer/src/accounts/mod.rs
  crates/astria-sequencer/src/accounts/state_ext.rs
  crates/astria-sequencer/src/checked_actions/checked_action.rs
Due: sequencer

add a headless p2p service
  charts/evm-rollup/templates/service.yaml
Due: none

move bridge actions to own submodule
  crates/astria-sequencer/src/checked_actions/bridge/bridge_lock.rs
  crates/astria-sequencer/src/checked_actions/bridge/bridge_transfer.rs
  crates/astria-sequencer/src/checked_actions/bridge/bridge_unlock.rs
  crates/astria-sequencer/src/checked_actions/bridge/mod.rs
  crates/astria-sequencer/src/checked_actions/mod.rs
Due: sequencer

update test fixture to use checked action for initializing bridge account
  crates/astria-sequencer/src/checked_actions/bridge/bridge_lock.rs
  crates/astria-sequencer/src/checked_actions/bridge/bridge_transfer.rs
  crates/astria-sequencer/src/checked_actions/bridge/bridge_unlock.rs
  crates/astria-sequencer/src/test_utils/bridge_initializer.rs
Due: sequencer

requested changes
  crates/astria-core/src/generated/astria.mempool.v1.rs
  crates/astria-core/src/generated/astria.mempool.v1.serde.rs
  crates/astria-sequencer/src/grpc/mempool.rs
  crates/astria-sequencer/src/grpc/mod.rs
  proto/mempoolapis/astria/mempool/v1/submit_transaction_response.proto
  proto/mempoolapis/astria/mempool/v1/transaction_service.proto
  proto/mempoolapis/astria/mempool/v1/transaction_status.proto
Due: sequencer

static nodes
  charts/evm-rollup/files/scripts/init-geth.sh
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/values.yaml
Due: none

static nodes
  charts/evm-rollup/files/scripts/init-geth.sh
Due: none

allow custom geth config toml
  charts/evm-rollup/files/scripts/init-geth.sh
  charts/evm-rollup/templates/configmap.yaml
  charts/evm-rollup/templates/statefulsets.yaml
  charts/evm-rollup/values.yaml
Due: none

allow tpl
  charts/evm-rollup/templates/configmap.yaml
Due: none

comments + clarity
  charts/evm-rollup/templates/service.yaml
  charts/evm-rollup/values.yaml
Due: none

handle shutdown
  crates/astria-account-monitor/src/main.rs
Due: none

typo
  crates/astria-account-monitor/src/main.rs
Due: none

lint
  crates/astria-account-monitor/src/main.rs
Due: none

requested changes
  charts/just/defaults.just
  charts/just/init.just
  charts/just/run/ibc-test.just
  charts/just/run/mod.just
  system-tests/helpers/evm_controller.py
  system-tests/helpers/sequencer_controller.py
  system-tests/helpers/utils.py
  system-tests/sequencer_upgrade_test.py
  system-tests/smoke_test.py
Due: none

check tx nonce earlier in flow and pay fees before executing
  crates/astria-sequencer/src/checked_actions/checked_action.rs
  crates/astria-sequencer/src/checked_transaction/error.rs
  crates/astria-sequencer/src/checked_transaction/mod.rs
  crates/astria-sequencer/src/fees/tests.rs
  crates/astria-sequencer/src/service/mempool/mod.rs
  crates/astria-sequencer/src/test_utils/bridge_initializer.rs
Due: sequencer

use variadic parameters for flags
  .github/workflows/docker-build.yml
  charts/just/defaults.just
  charts/just/run/mod.just
Due: none

revert change to 'cli_url'
  charts/just/defaults.just
  charts/just/init.just
  charts/just/run/ibc-test.just
  charts/just/run/mod.just
Due: none

update readme
  charts/just/deploy.just
  charts/just/run/mod.just
  system-tests/README.md
Due: none

remove geth flag
  .github/workflows/docker-build.yml
  system-tests/smoke_test.py
Due: none

fix(bridge-withdrawer): inverted comments for `no_frost_threshold_signing` in Astria Bridge Withdrawer (#2051)
  crates/astria-bridge-withdrawer/local.env.example
  crates/astria-bridge-withdrawer/src/config.rs
Due: none

fix(sequencer): remove failed promotable instead of inserted tx (#2135)
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/mempool/mod.rs
  crates/astria-sequencer/src/service/mempool/mod.rs
Due: sequencer

requested changes
  .github/workflows/docker-build.yml
  system-tests/helpers/evm_controller.py
  system-tests/helpers/image_controller.py
  system-tests/helpers/sequencer_controller.py
  system-tests/helpers/utils.py
  system-tests/smoke_test.py
Due: none

update comment
  system-tests/helpers/image_controller.py
Due: none

fix upgrade test
  system-tests/sequencer_upgrade_test.py
Due: none

update geth image
  charts/evm-rollup/templates/_helpers.tpl
Due: none

address review
  crates/astria-account-monitor/src/config.rs
  crates/astria-account-monitor/src/main.rs
Due: none

account monitor chart
  charts/account-monitor/Chart.yaml
  charts/account-monitor/templates/_helpers.tpl
  charts/account-monitor/templates/configmap.yaml
  charts/account-monitor/templates/deployment.yaml
  charts/account-monitor/templates/prometheusrule.yaml
  charts/account-monitor/templates/service.yaml
  charts/account-monitor/templates/servicemonitor.yaml
  charts/account-monitor/values.yaml
  charts/just/delete.just
  charts/just/deploy.just
  dev/values/monitor/values.yaml
Due: none
