Repository astriaorg/astria: changes, and which Codecov flags are due for each by the changed paths.
All: conductor, composer, sequencer, sequencer-relayer, cli, astria-merkle, common

codecov.yml:

comment:
  layout: "reach, diff, files, components"

coverage:
  status:
    patch: off
    project:
      default:
        target: auto
        threshold: 0%
        informational: true

component_management:
  individual_components:
    - component_id: conductor
      name: conductor
      paths:
        - crates/astria-conductor/**
    - component_id: composer
      name: composer
      paths:
        - crates/astria-composer
    - component_id: sequencer
      name: sequencer
      paths:
        - crates/astria-sequencer/**
        - crates/astria-sequencer-utils/**
    - component_id: sequencer-relayer
      name: sequencer-relayer
      paths:
        - crates/astria-sequencer-relayer/**
    - component_id: cli
      name: cli
      paths:
        - crates/astria-cli/**
    - component_id: merkle
      name: astria-merkle
      paths:
        - crates/astria-merkle/**
    - component_id: common
      name: common
      paths:
        - crates/astria-core/src/**
        - crates/astria-sequencer-validation/**
        - crates/astria-telemetry/**
        - crates/astria-sequencer-client/**

ignore:
  - 'crates/astria-core/src/generated/**'
  - 'crates/astria-build-info/**'
  - 'crates/astria-grpc-mock/**'
  - 'crates/astria-grpc-mock-test/**'
  - 'crates/astria-grpc-mock-test-codegen/**'
  - 'crates/astria-test-utils/**'

attempt adding as a ci test
  .github/workflows/docker-build.yml
Due: none

@SuperFluffy changelog suggestion
  crates/astria-cli/CHANGELOG.md
Due: cli

rename files
  charts/sequencer/files/upgrades/dawn-1.upgrades.json
  charts/sequencer/files/upgrades/dusk-11.upgrades.json
  charts/sequencer/files/upgrades/mainnet.upgrades.json
Due: none

replace system-tests protobuf files with uncommitted buf-generated ones
  charts/deploy.just
  system-tests/.gitignore
  system-tests/README.md
  system-tests/buf.gen.yaml
  system-tests/helpers/proto/README.md
  system-tests/helpers/proto/generated/service_pb2.py
  system-tests/helpers/proto/generated/service_pb2.pyi
  system-tests/helpers/proto/generated/service_pb2_grpc.py
  system-tests/helpers/proto/service.proto
  system-tests/helpers/sequencer_controller.py
  system-tests/requirements.txt
Due: none

add buf to ci for upgrade test
  .github/workflows/docker-build.yml
Due: none

add bridge signer to default members, fix lints
  Cargo.toml
  crates/astria-bridge-signer/src/bridge_signer.rs
  crates/astria-bridge-signer/src/main.rs
Due: none

requested changes
  crates/astria-cli/src/sequencer/init_bridge_account.rs
Due: cli

give example address
  crates/astria-cli/src/sequencer/init_bridge_account.rs
Due: cli

add snapshot tests and other minor updates
  .markdownlint-cli2.jsonc
  crates/astria-core/src/oracles/price_feed/mod.rs
  crates/astria-core/src/oracles/price_feed/snapshots/astria_core__oracles__price_feed__tests__price_feed_genesis.snap
  crates/astria-core/src/upgrades/v1/snapshots/astria_core__upgrades__v1__upgrade1__tests__price_feed_change.snap
  crates/astria-core/src/upgrades/v1/snapshots/astria_core__upgrades__v1__upgrade1__tests__validator_update_action_change.snap
  crates/astria-core/src/upgrades/v1/upgrade1.rs
  crates/astria-sequencer/src/grpc/sequencer.rs
  proto/sequencerblockapis/astria/sequencerblock/v1/block.proto
Due: sequencer, common

regenerate protos
  crates/astria-core/src/generated/astria.sequencerblock.v1.rs
Due: none

minor updates to just docs/comments
  charts/just/clean.just
  charts/just/delete.just
  charts/just/deploy.just
  charts/just/evm.just
  charts/just/init.just
  charts/just/mod.just
  charts/just/run/ibc-test.just
  charts/just/run/mod.just
  justfile
Due: none

fix just recipe name
  charts/just/deploy.just
Due: none

fix pathing in deploy.just
  charts/just/deploy.just
  charts/just/run/mod.just
  system-tests/README.md
Due: none

reapply waits to smoke-cli test
  charts/just/deploy.just
  charts/just/run/ibc-test.just
Due: none

fix incorrect grpc endpoint format in local.env.example
  crates/astria-bridge-signer/local.env.example
Due: none

reapply waits to smoke-cli test
  charts/just/deploy.just
Due: none

fix wait-for-celestia-local
  charts/just/deploy.just
Due: none

fix(ci): wait for readiness in smoke CLI deployment (#2075)
  charts/just/deploy.just
Due: none

fix: update cargo audit ignore list (#2027)
  .cargo/audit.toml
Due: none

chore(sequencer): fix signing key comments (#2056)
  crates/astria-sequencer/src/app/test_utils.rs
Due: sequencer

lint
  charts/evm-stack/Chart.yaml
  charts/sequencer/templates/configmaps.yaml
  charts/sequencer/values.yaml
Due: none

lint
  charts/bridge-signer/values.yaml
  charts/evm-bridge-withdrawer/values.yaml
Due: none

maintainers
  charts/bridge-signer/Chart.yaml
Due: none

configure verifying getter correctly
  crates/astria-bridge-signer/src/verifier.rs
Due: none

provide metrics for price feed oracle info
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/metrics.rs
Due: sequencer

don't compare timeout times in ics20 withdrawals
  crates/astria-bridge-signer/src/verifier.rs
Due: none

rename upgrade1 to aspen
  charts/just/run/mod.just
  charts/sequencer/files/upgrades/custom.upgrades.json
  charts/sequencer/values.yaml
  crates/astria-core/src/generated/astria.upgrades.v1.rs
  crates/astria-core/src/generated/astria.upgrades.v1.serde.rs
  crates/astria-core/src/protocol/test_utils.rs
  crates/astria-core/src/sequencerblock/v1/block/mod.rs
  crates/astria-core/src/upgrades/test_utils.rs
  crates/astria-core/src/upgrades/v1/aspen.rs
  crates/astria-core/src/upgrades/v1/mod.rs
  crates/astria-core/src/upgrades/v1/snapshots/astria_core__upgrades__v1__aspen__tests__price_feed_change.snap
  crates/astria-core/src/upgrades/v1/snapshots/astria_core__upgrades__v1__aspen__tests__validator_update_action_change.snap
  crates/astria-core/src/upgrades/v1/upgrade.rs
  crates/astria-core/src/upgrades/v1/upgrades.rs
  crates/astria-sequencer/src/app/mod.rs
  crates/astria-sequencer/src/app/tests_app/upgrades.rs
  crates/astria-sequencer/src/grpc/state_ext.rs
  crates/astria-sequencer/src/proposal/commitment.rs
  crates/astria-sequencer/src/upgrades/storage/keys.rs
  crates/astria-sequencer/src/upgrades/storage/snapshots/astria_sequencer__upgrades__storage__keys__tests__keys_should_not_change.snap
  crates/astria-sequencer/src/upgrades/upgrades_handler.rs
  dev/values/validators/all-without-native.yml
  dev/values/validators/aspen.upgrades.yml
  proto/upgrades/astria/upgrades/v1/upgrades.proto
  system-tests/README.md
  system-tests/aspen_upgrade_checks.py
  system-tests/sequencer_upgrade_test.py
Due: sequencer, common

Add blackbox tests for bridge signer
  Cargo.lock
  crates/astria-bridge-signer/Cargo.toml
  crates/astria-bridge-signer/tests/blackbox/helpers/key-package/test_secret_key_package.json
  crates/astria-bridge-signer/tests/blackbox/helpers/key-package/test_secret_key_package_generation.json.rs
  crates/astria-bridge-signer/tests/blackbox/helpers/mock_rollup.rs
  crates/astria-bridge-signer/tests/blackbox/helpers/mod.rs
  crates/astria-bridge-signer/tests/blackbox/helpers/test_bridge_signer.rs
  crates/astria-bridge-signer/tests/blackbox/main.rs
Due: none

taplo fmt, move dependency to dev dependencies
  crates/astria-bridge-signer/Cargo.toml
Due: none

rename 'test_secret_key_package_generation.rs
  crates/astria-bridge-signer/tests/blackbox/helpers/key-package/test_secret_key_package_generation.rs
Due: none

fix expect messages, mod definitions
  crates/astria-bridge-signer/tests/blackbox/helpers/test_bridge_signer.rs
  crates/astria-bridge-signer/tests/blackbox/main.rs
Due: none

Create .APRILFOOL
  .APRILFOOL
Due: none

use penumbra rev which includes packet_acknowledgements fix
  Cargo.lock
  Cargo.toml
  crates/astria-sequencer/Cargo.toml
Due: sequencer

update changelogs
  crates/astria-conductor/CHANGELOG.md
  crates/astria-core/CHANGELOG.md
  crates/astria-sequencer/CHANGELOG.md
Due: conductor, sequencer

composer get current pending transactions on startup
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-composer/tests/blackbox/api.rs
  crates/astria-composer/tests/blackbox/executor.rs
  crates/astria-composer/tests/blackbox/geth_collector.rs
  crates/astria-composer/tests/blackbox/grpc_collector.rs
  crates/astria-composer/tests/blackbox/helper/mod.rs
  crates/astria-test-utils/src/mock/geth.rs
Due: composer

update changelog
  crates/astria-composer/CHANGELOG.md
Due: composer

sort txs by nonce, fix docs
  crates/astria-composer/src/collectors/geth.rs
  crates/astria-test-utils/src/mock/geth.rs
Due: composer

Squashed commit of the following:
  crates/astria-cli/src/sequencer/sudo/validator_update.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.rs
  crates/astria-core/src/generated/astria.protocol.transaction.v1.serde.rs
  crates/astria-core/src/protocol/transaction/v1/action/group/tests.rs
  crates/astria-core/src/protocol/transaction/v1/action/mod.rs
  crates/astria-sequencer/CHANGELOG.md
  crates/astria-sequencer/src/action_handler/impls/validator_update.rs
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_breaking_changes.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/authority/action.rs
  crates/astria-sequencer/src/authority/mod.rs
  crates/astria-sequencer/src/authority/query.rs
  crates/astria-sequencer/src/authority/state_ext.rs
  crates/astria-sequencer/src/authority/storage/keys.rs
  crates/astria-sequencer/src/authority/storage/mod.rs
  crates/astria-sequencer/src/authority/storage/snapshots/astria_sequencer__authority__storage__keys__tests__keys_should_not_change-4.snap
  crates/astria-sequencer/src/authority/storage/snapshots/astria_sequencer__authority__storage__keys__tests__validator_names_prefix.snap
  crates/astria-sequencer/src/authority/storage/values.rs
  crates/astria-sequencer/src/fees/storage/snapshots/astria_sequencer__fees__storage__keys__tests__validator_update_v2_fees_key.snap
  crates/astria-sequencer/src/service/info/mod.rs
  crates/astria-sequencer/src/utils.rs
  proto/protocolapis/astria/protocol/transaction/v1/action.proto
Due: sequencer, cli, common

fix changes from merge
  crates/astria-sequencer/src/action_handler/impls/validator_update.rs
  crates/astria-sequencer/src/app/snapshots/astria_sequencer__app__tests_breaking_changes__app_hash_execute_every_action.snap
  crates/astria-sequencer/src/app/tests_app/mod.rs
  crates/astria-sequencer/src/app/tests_app/upgrades.rs
  crates/astria-sequencer/src/app/tests_execute_transaction.rs
  crates/astria-sequencer/src/app/vote_extension.rs
  crates/astria-sequencer/src/authority/action.rs
Due: sequencer

chore(ci): update argo manifests to use github app creds
  dev/argocd/pr-preview-envs/evm-appset.yaml
  dev/argocd/pr-preview-envs/sequencer-appset.yaml
Due: none
